//
// Documentation stylesheet setup
//

$font_family_body : system-ui, sans-serif;
$font_family_headings : system-ui, sans-serif;

$content_width    : 1200px;
$nav_item_padding : .5em;

$color_header_bg : #1a1a10;
$color_logo      : #fff;

$color_sidebar_bg  : #fff;
$color_sidebar_txt : #1a1a10;
$color_sidebar_bd  : rgba( #1a1a10, .15 );

$color_nav_active_bg  : #fbf7f0;
$color_nav_active_txt : #1a1a10;

$color_intro_bg  : #fbf7f0;
$color_intro_txt : #1a1a10;

$color_content_txt     : #6a6a60;
$color_content_bd      : rgba( #6a6a60, .15 );
$color_content_heading : #1a1a10;

$color_figure_bg : #fff;

$color_anatomy_heading      : #0e0e0f;
$color_anatomy_bd           : #dededf;
$color_anatomy_active_bg    : #ce1e0f;
$color_anatomy_active_txt   : #fff;
$color_anatomy_inactive_bg  : #dededf;
$color_anatomy_inactive_txt : #2e2e2f;

$color_footer_bg  : $color_header_bg;
$color_footer_txt : #9e9d9a;
$color_footer_lnk : $color_logo;
