+sub_section( 'Block Based Content', 'block-areas' )
	p <strong>#{config.name}</strong> lets you design your site footer and error 404 page content and add a content to site header with full power of block editor. No more theme layouts or sidebars and widgets - <strong>you are in full creative control now</strong>!

	p Go to #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Content' )] and follow instructions to set up custom content for each block area theme provides. <br>(By default the theme displays reusable block posts in these block areas. You can go ahead and create a few of them first in #[+mark( 'nav', 'Tools', 'All Reusable blocks' )] so you can assign them in the theme options immediately.)

	+tip( 'Useful block patterns', 'h4' )
		p The theme also provide useful predesigned block patterns for these block areas. You can find them listed under "Site" category in block patterns selector in editor.
