+sub_section( 'Featured Posts', 'posts-featured' )
	p This theme contains a built in featured posts functionality. Once you assign posts to your featured post tag, 3 most recent featured posts will be displayed above posts list on your blog page (as can be seen in <a href="https://themedemos.webmandesign.eu/francesca/articles/">theme demo website</a>).

	p Check out article about <a href="https://themedemos.webmandesign.eu/francesca/featured-posts/">how to set up featured posts</a> in Francesca theme.
