+tip( 'But do you even need a widget area?' )
	p Did you know this theme allows you to create your site footer and add additional site header content with block editor? So why bother using widgets for these? Check out <a href="#block-areas">info about block areas</a>.
	p Using block areas gives you complete creative freedom in oppose to using sidebars and widgets.
