dt
	| "Page builder"
	br
	| "Page builder with inverted header"
dd
	p These 2 templates prepare content area for use with a page builder plugin. You can specify the correct content area layout for these templates in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Page builders' )], depending on what page builder plugin you use.

	p Using these templates will remove page intro title section and there will be no <code>h1</code> heading tag added by the theme into the page. (This is the same behavior as with "No intro" page template.)

	p Use the inverted header variation if your page content colors requires such site header variant. (This is the same behavior as with "Inverted header" page template.)

	p <em>These templates work with every public post type.</em>

	+tip( 'Automatic selection', 'h4' )
		p If you are using Beaver Builder or Elementor page builder plugin, you don't even have to select this template when editing a page with the plugin. The theme will recognize them and applies the "Page builder" template layout automatically for you.

	+tip( 'Theme builders!', 'h4' )
		p With help of <a href="https://wordpress.org/plugins/integration-for-beaver-themer/">Integration for Beaver Themer</a> or <a href="https://wordpress.org/plugins/integration-for-elementor-theme-builder/">Integration for Elementor Theme Builder</a> plugin you can use a specific theme builder plugin with <strong>#{config.name}</strong> theme and open limitless possibilities!
