dt "Inverted header"
dd
	p Use this template when you need to display site header with inverted colors due to your page content colors. The theme's site header covers/overlays the page content, so depending on your content colors you may need to use this template to adjust site header color appropriately. (The colors of site header variants can be set in <a href="#customizer">theme options</a>.)

	p Using this template will remove page intro title section and there will be no <code>h1</code> heading tag added by the theme into the page. (This is the same behavior as with "No intro" page template.)

	p <em>It works with every public post type.</em>
