- title   = '<abbr title="Frequently Asked Questions">FAQ</abbr> & Tips';
- id      = 'tips';
- nav[id] = title;

+section( title, id )
	block faq
		include _content.pug

//- @TODO make Q&A configurable
