ol.list-table-of-contents
	block faq/topics/list
		li <a href="#seo"><em><strong>SEO</strong> - Search Engine Optimization</em></a>

		li <a href="#any-page-builder"><em>How to use <strong>any page builder</strong> plugin?</em></a>

		li <a href="#css-classes"><em>How to restyle elements with ease? <small>Using special predefined <strong>CSS classes</strong>.</small></em></a>

		li <a href="#fonts"><em>How to set up and use a <strong>custom font</strong>? <small>Google Fonts or Typekit setup.</small></em></a>

		li <a href="#icons"><em>How to set up custom <strong>icons</strong> set?</em></a>

		li <a href="#cookies"><em>How to set up <strong>cookies notification</strong>?</em></a>

		li <a href="#error404"><em>How to customize <strong>error 404</strong> page?</em></a>

		li <a href="#admin"><em>How to customize WordPress <strong>admin</strong>?</em></a>

		li <a href="#breadcrumbs"><em>How to set up <strong>breadcrumbs</strong>?</em></a>

		li <a href="#image-sizes"><em>My <strong>images</strong> are blurry/small/of bad quality, what can I do?</em></a>

		li <a href="#custom-fields"><em>What are <strong>custom fields</strong> and how to use them?</em></a>

		li <a href="#speed"><em>How to <strong>speed</strong> up the website?</em></a>

		li <a href="#css"><em>How to <strong>edit CSS</strong> or add your own?</em></a>
