block customizer/about
	p <strong>#{config.name}</strong> seamlessly integrates its options into <a href="https://www.wpbeginner.com/beginners-guide/how-to-use-wordpress-theme-customizer/">live preview customizer</a>. You can set up your site's title, tagline and logo, <a href="#pages">home and blog page</a>, manage <a href="#navigation">menus</a> and widgets, customize colors, layout, typography and others.

	p Customizer can be accessed at #[+mark( 'nav', 'Appearance', 'Customize' )]. All the changes you make in Customizer will be immediately displayed in the preview, but they will be made live only after you press the #[+mark( 'btn', 'Publish' )] button.

	p At #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options' )] panel you'll find theme-specific options. Check them out to get familiar with theme customization capabilities.
