/* FILE: content/classes/_lists.scss */

.list {

	&-default {

		dt {
			margin: ( $golden +em ) 0 ( $golden_major +em );

			&:not(:first-child) {
				padding-top: ( $golden +em );
				border-top-width: 1px;
				border-top-style: dashed;
			}

		}

		dd {
			margin-bottom: $golden +em;
		}

	}

	&-featured {

		dt {
			margin: calc( var(--white_space) / 2 ) 0 2rem;
			font-size: var(--typography_heading_size_3);

			&:not(:first-child) {
				padding-top: calc( var(--white_space) / 2 );
				border-top-width: 1px;
				border-top-style: dashed;
			}

		}

		dd {
			margin-bottom: calc( var(--white_space) / 2 );

			.alert {
				margin-top: 2em;
				margin-bottom: 2em;
			}

		}

	}

	&-table-of-contents {

	}

}

.entry-navigation,
.entry-plugins,
.entry-sidebars {

	dt {
		quotes: '“' '”' '‘' '’';

		&::before {
			content: open-quote;
		}

		&::after {
			content: close-quote;
		}

	}

}
