mixin mark( type = 'nav', ...content )
	case type
		when 'nav'
		when 'path'
			mark.nav-path&attributes( attributes )
				each item, index in content
					span.nav-path-item
						if 0 < index
							span.nav-path-arrow
								include ../../assets/images/icons/arrow-right.svg
							| &nbsp;
						| !{item}
					| !{' '}
		when 'btn'
		when 'button'
			kbd.button.dummy&attributes( attributes )!= content
		default
			mark&attributes( attributes )!= content
