mixin sub_section( title, id, class_heading )
	section.entry-section( id=id  )&attributes( attributes )
		if id
			h3( class=class_heading )
				a.heading-anchor( href="#"+id )!= title
		else
			h3( class=class_heading )= title
		block
