p Social icons linked to your social network profiles can be displayed anywhere on the website. But beforehand you must <a href="#menu">create and set up a social links menu</a>:

ol
	li Go to #[+mark( 'nav', 'Appearance', 'Menus' )] in the WordPress admin.
	li Click <em>create a new menu</em> link.
	li Give the menu a name, such as "Social Menu".
	li Click #[+mark( 'btn', 'Create Menu' )] button.
	li Click the <em>Custom Links</em> header on the left side of the page.
	li Type a link (such as <code>#{config.url.facebook}</code>) in the <em>URL</em> field.
	li Give the link a label by typing in the <em>Link Text</em> field. (This label text will be accessibly hidden.)
	li Click #[+mark( 'btn', 'Add to Menu' )].
	li Repeat the above steps for additional social links.
	li In the <em>Menu Settings</em> section at the bottom, check the "Social Links" box for <em>Theme locations</em>.
	li Click #[+mark( 'btn', 'Save Menu' )] button.

p Adding your social links as a custom menu allows you to sort your profiles and add as many as you want.

p
	| The theme currently supports following icons:
	| <em>Codepen</em>,
	| <em>Digg</em>,
	| <em>Dribbble</em>,
	| <em>Dropbox</em>,
	| <em>Facebook</em>,
	| <em>Flickr</em>,
	| <em>Foursquare</em>,
	| <em>Github</em>,
	| <em>Google Plus</em>,
	| <em>Instagram</em>,
	| <em>LinkedIn</em>,
	| <em>Pinterest</em>,
	| <em>Pocket</em>,
	| <em>Polldaddy</em>,
	| <em>Reddit</em>,
	| <em>RSS</em>,
	| <em>Skype</em>,
	| <em>Spotify</em>,
	| <em>StumbleUpon</em>,
	| <em>Tumblr</em>,
	| <em>Twitch</em>,
	| <em>Twitter</em>,
	| <em>Vimeo</em>,
	| <em>WordPress</em>,
	| <em>Youtube</em>.

p For links starting with <code>mailto:</code> an <em>envelope</em> icon is applied. For unrecognized links a <em>globe</em> icon is used.

+tip( 'Can I use a custom social icon?' )
	p Yes. Please read a <a href="https://support.webmandesign.eu/how-to-set-a-custom-social-icon/">dedicated knowledge base article</a> for how to set up custom social icons.
