+sub_section( 'Page Options', 'page-options' )

	p Each page displays an intro heading section above the page content, with page title and featured image (if set) as a background. You can disable this section in page options.

	p Just click "Settings" tab in page options metabox and you will be able to set several different page options, such as disabling intro heading and setting up header and footer layout.

	+image( 'http://easycaptures.com/fs/uploaded/922/1399985585.png', 'Page options' )
