:root {
  --color_accent: #0aac8e;
  --color_accent_text: #fff;
  --color_mark: rgba(10, 172, 142, 0.1);
  --color_button_background: #0aac8e;
  --color_button_text: #fff;
  --color_header_background: #fff;
  --color_header_text: #242323;
  --color_intro_background: #dadcde;
  --color_intro_text: #242323;
  --color_nav_background: #242323;
  --color_nav_text: #d4d3d3;
  --color_nav_border: rgba(212, 211, 211, var(--border_opacity));
  --color_content_background: #f8fafc;
  --color_content_headings: #242323;
  --color_content_text: #6f6e6e;
  --color_content_border: rgba(111, 110, 110, var(--border_opacity));
}

.intro {
  z-index: 1;
}
.intro::before, .intro::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 61.8%;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.intro::before {
  background: url("includes/pier.jpg");
  background-position: 50% 100%;
  background-size: cover;
  mix-blend-mode: luminosity;
  opacity: 0.15;
}
.intro::after {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--color_intro_background)), color-stop(38.2%, rgba(218, 220, 222, 0)));
  background: linear-gradient(to bottom, var(--color_intro_background), rgba(218, 220, 222, 0) 38.2%);
}