/* FILE: content/modifiers/_others.scss */

// Lists

	.has-inside-list-style-position {
		list-style-position: inside;
	}

	.has-disc-list-style-type {
		list-style-type: disc;
	}

	.has-square-list-style-type {
		list-style-type: square;
	}
