/* FILE: content/modifiers/_typography.scss */

// Font size

	.has-xs-font-size,
	.has-extra-small-font-size {
		font-size: var(--typography_font_size_XS_em);
	}

	.has-s-font-size,
	.has-small-font-size {
		font-size: var(--typography_font_size_S_em);
	}

	.has-m-font-size,
	.has-regular-font-size,
	.has-normal-font-size {
		font-size: 1em;
	}

	.has-l-font-size,
	.has-large-font-size {
		font-size: var(--typography_font_size_L_em);
	}

	.has-xl-font-size,
	.has-extra-large-font-size {
		font-size: var(--typography_font_size_XL_em);
	}

	.has-xxl-font-size,
	.has-huge-font-size {
		font-size: var(--typography_font_size_XXL_em);
	}

	.has-xxxl-font-size,
	.has-gigantic-font-size {
		font-size: var(--typography_font_size_XXXL_em);
	}

// Font style

	.has-italic-font-style {
		font-style: italic;
	}

	.has-normal-font-style {
		font-style: normal;
	}

// Font weight

	// @link  https://developer.mozilla.org/en/docs/Web/CSS/font-weight
	@for $i from 1 through 9 {
		.has-#{ $i * 100 }-font-weight {
			font-weight: $i * 100;
		}
	}

// Line height

	.has-1-line-height {
		line-height: 1;
	}

	.has-xs-line-height,
	.has-extra-small-line-height {
		line-height: ( 1 + $ratio_min / 2 );
	}

	.has-s-line-height,
	.has-small-line-height {
		line-height: ( 1 + $ratio_min );
	}

	.has-m-line-height,
	.has-regular-line-height,
	.has-medium-line-height {
		line-height: var(--typography_line_height);
	}

// Text transform

	.has-uppercase-text-transform {
		text-transform: uppercase;
	}
