/* FILE: content/elements/_base.scss */

body {
	background: var(--color_content_background);
	color: var(--color_content_text);
	border-color: var(--color_content_border);
}

p > [title],
li > [title],
abbr[title],
acronym[title],
dfn {
	cursor: help;
	text-decoration: none;
	border-bottom: 1px dashed;
}

	a[title] {
		cursor: pointer;
	}

mark,
ins {
	padding: .15em .3em;
	margin: 0 .25em;
	box-decoration-break: clone;
	background: var(--color_mark);

	&.nav-path {
		font-size: .9em;
		font-weight: 600;
		font-style: italic;
		border-radius: var(--border_radius)
	}

	&.is-path-featured {
		display: block;
		padding: 1em;
		margin: 0 0 2em;
		border: 2px dotted;
		border-color: inherit;

		* + & {
			margin-top: 2em;
		}

		+ .is-path-featured {
			margin-top: -$ratio + em;
		}
	}
}

s,
del {
	text-decoration: line-through;
	color: inherit;
}

audio,
embed,
iframe,
img,
object,
video {
	max-width: 100%;
	vertical-align: middle;
}

pre {
	position: relative;
	padding: 1em;
	font-size: var(--typography_font_size_S_em);
	overflow: auto;
	tab-size: 2;
	border-width: 1px;
	border-style: solid;
}

hr,
.alert hr {
	margin-block: $ratio + em;
}
