+plugin_link( 'https://wordpress.org/plugins/wp-term-colors/' )

p This plugin allows you to assign colors to Categories. Once the color is assigned, the theme will colorize the category link in navigational menu and category archive page and posts (and pages) assigned to such category.
