+plugin_link( 'https://wordpress.org/plugins/wp-term-images/' )

p This plugin allows you to assign images to Categories. Once the image is assigned, the theme will display the image in page intro section on category archive page.
