dt <a href="https://wordpress.org/plugins/woocommerce/">WooCommerce</a>
dd A flexible, open-source eCommerce solution. If you decide to use this plugin with the theme, you can add additional layer of theme compatibility using <a href="https://wordpress.org/plugins/wc-theme-integration/"><strong>Integration for WooCommerce</strong> plugin</a>.
