+plugin_link( 'https://wordpress.org/plugins/add-category-to-pages/' )

p This plugin allows you to assign pages to Categories. That way you can create topic dedicated sections for your website consisting from both pages and posts. Pages will be displayed above posts list on category archive page.
