dt Footer 1, Footer 2
dd
	p Displays 2 rows of widgets in footer area of the website. This is actually your main footer section. Footer 1 widget area has a different styling that can be <a href="#customizer">customized in theme options</a>.
