extends ../../0app/_index.pug

block append styles
	include ../assets/css/style.css

//-----------------------------------------------

block append posts
	include posts-featured.pug
	include blog-layout.pug

block prepend pages/templates/about
	include templates.pug
block pages/templates/list
	include template-content-only.pug
	include template-no-intro.pug
	include template-overlaid-header.pug
	include template-with-sidebar.pug

block append menu/fse
	include menu-image.pug

block prepend customizer/fse/theme-options
	include custom-background.pug

block append site-editor/styles/colors/bottom
	include colors.pug

block append plugins/recommended/woocommerce
	include plugin-wc.pug

block faq/answer/page-builder
	include faq-answer-page-builder.pug
block append faq/questions/list
	include faq-question-mobile-header.pug
	include faq-question-progress-bar.pug
	include faq-question-space.pug
	include faq-question-wc-cart-checkout.pug
	include faq-question-wc-layout-product.pug
	include faq-question-wc-shop-page.pug
block append faq/answers/list
	include faq-answer-mobile-header.pug
	include faq-answer-progress-bar.pug
	include faq-answer-space.pug
	include faq-answer-wc-cart-checkout.pug
	include faq-answer-wc-layout-product.pug
	include faq-answer-wc-shop-page.pug

block append sidebars/fse/display
	include sidebar-block.pug
