li
	+answer( '<strong>WooCommerce</strong>: Shop page layout', 'wc-shop-page' )

		p You can enable shop page sidebar in #[+mark( 'nav', 'Appearance', 'Customize', 'WooCommerce', 'Product Catalog' )]. Shop page sidebar content can be set by editing "WooCommerce: Shop sidebar" <a href="#site-editor-template-parts">template part</a>.

		p When you <strong>set up shop page content</strong>, the default shop page intro is removed. <strong>Your custom shop content will be displayed instead.</strong> Use this feature to build some cool shop page intro (don't forget to provde <code>H1</code> heading).

		+tip( 'Shop page content pattern', 'h4' )
			p The theme provides "Page content: Shop page" <a href="#block-patterns">block pattern</a> under "Shop" patterns category for you.

		p This custom shop page intro (content) is used on first, non-paginated page of the shop page. Once the paginated page is displayed (pagination can be found below products list), the default WooCommerce shop page intro is displayed.
