li
	+answer( 'How to modify mobile header', 'mobile-header' )

		ol.is-steps
			li Open "Header" (and "Header: Overlaid header template") <a href="#site-editor-template-parts">template part</a> for editing.

			li Narrow down the viewport until the mobile header is displayed. (Point #1 in the image below.)

			li Now you can edit the mobile header blocks/elements to your needs.

		+image( 'mobile-header.jpg', 'Displaying mobile header for editing' )

		+tip( 'Responsive block styles', 'h4' )
			p Notice the "Only on small screens" <a href="#block-styles">block style</a> applied on the header container <a href="https://wordpress.org/documentation/article/group-block/">Group block</a> - point #2 in the image.
			p Similarly, there is "Hide on small screens" block style applied on desktop header container.
