dt "Overlaid header"
dd
	p Removes page intro title section (no <code>h1</code> heading tag) and overlays site header over page content area. Creates an effect of site header blending into page content.
	p Don't forget to set sufficient top padding for the first block in such page content (such as Cover block) to mitigate for overlaid site header.

	p <em>It works with every public post type.</em>
