+sub_section( 'Archive Page Title' )
	p By default WordPress displays a caption in the archive page title (such as <em>"Category:"</em> in front of a category name). Use <a href="https://wordpress.org/plugins/archive-title/"><strong>Archive Title</strong></a> plugin to hide these labels.
