- var theme_name = 'Themename';
- var theme_slug = 'themeslug';
- var nav = {};
-
	var css = [
		'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css',
		'css/docs.css',
	];

//- // -
//- // 	var nav = {
//- // 		'wordpress'     : 'WordPress',
//- // 		'installation'  : 'Theme Installation',
//- // 		'update'        : 'Theme Update',
//- // 		'demo-content'  : 'Demo Content',

//- // 		'anatomy'       : 'Anatomy',

//- // 		'plugins'       : 'Plugins',

//- // 		'pages'         : 'Pages',
//- // 		'posts'         : 'Posts',
//- // 		'products'      : 'WooCommerce Products',
//- // 		'portfolio'     : 'Jetpack Portfolio',
//- // 		'testimonials'  : 'Jetpack Testimonials',

//- // 		'navigation'    : 'Navigation Menu',
//- // 		'social-links'  : 'Social Links',

//- // 		'sidebars'      : 'Widgetized Areas',
//- // 		'widgets'       : 'Widgets',

//- // 		'customizer'    : 'Customizer',

//- // 		'localization'  : 'Localization',
//- // 		'accessibility' : 'Accessibility',

//- // 		'child-theme'   : 'Theme Modifications',

//- // 		'tips'          : '<abbr title="Frequently Asked Questions">FAQ</abbr> &amp; Tips',

//- // 		'credits'       : 'Credits',
//- // 	};
