@import '_core/assets/sass/content/reset/normalize';

:root {
	--gap: clamp( 10px, 1.5vw, 20px );

	--color-bg: #191919;
	--color-bg-shade: #232323;
	--color-txt: #fff;

	--color-bg-item: #292929;
}

html {
	box-sizing: border-box;
	overflow-y: scroll;
	scroll-behavior: smooth;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size: 20px;
	font-size: clamp( 16px, 1.5vw, 20px );
	line-height: 1.25;
	background: var(--color-bg);
	color: var(--color-txt);

	background:
		radial-gradient( circle, transparent 20%, var(--color-bg) 20%, var(--color-bg) 80%, transparent 80%, transparent ),
		radial-gradient( circle, transparent 20%, var(--color-bg) 20%, var(--color-bg) 80%, transparent 80%, transparent ) 25px 25px,
		linear-gradient( var(--color-bg-shade) 2px, transparent 2px ) 0 -1px,
		linear-gradient( 90deg, var(--color-bg-shade) 2px, var(--color-bg) 2px ) -1px 0;
	background-size:
		50px 50px,
		50px 50px,
		25px 25px,
		25px 25px;

	@media (prefers-reduced-motion: reduce) {
		scroll-behavior: auto;
	}

}

* {
	border-color: inherit;

	&,
	&::before,
	&::after {
		box-sizing: inherit;
	}

}

h1, h2 {
	color: inherit;
}

h1 {
	padding: 1em 2%;
	margin: 0;
	font-size: 1.5em;
	font-weight: 300;
	text-align: center;

	a {
		font-weight: 700;
	}

}

h2 {
	margin: 0 0 1.25em;
	font-size: 1em;
	font-weight: 700;
}

a {
	color: inherit;
	text-decoration: none;
}

small {
	display: block;
	margin-top: .5em;
	font-size: .618em;
	font-weight: 400;
	text-transform: uppercase;
	opacity: .66;
}

figure {
	--radius: 4px;
	--bezel: 5px;
	--monitor: clamp( 10px, 2vw, 20px );
	--bezel-color: #020202;
	--monitor-color: #444;

	position: relative;
	padding-bottom: var(--monitor);
	margin: auto 0 var(--monitor);
	background: var(--monitor-color);
	border-radius: var(--radius);
	transform:
		scale(.9)
		translateX(25%)
		translateY(-5%)
		perspective(800px)
		rotateY(-20deg);
	transform-origin: 50% 75%;
	transition: transform .3s;
	will-change: transform;

	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 22.5%;
		height: var(--monitor);
		left: 50%;
		bottom: calc( -1 * var(--monitor) );
		background-color: var(--monitor-color);
		background-image:
			linear-gradient(
				to bottom,
				rgba( #000, .25 ),
				rgba( #000, 0 ) 50%,
				rgba( #000, 0 ) 75%,
				rgba( #000, .25 )
			);
		transform: translateX(-50%);
	}

	&::before {
		clip-path:
			polygon(
				0 100%,
				100% 100%,
				95% 0,
				5% 0,
			);
	}

	&::after {
		width: 27.5%;
		height: 3px;
		margin-top: calc( var(--monitor) - 3px );
		background-image:
			linear-gradient(
				to bottom,
				rgba( #000, .25 ),
				rgba( #000, .25 )
			);
		border-radius: 2px;
	}

}

img {
	position: relative;
	max-width: 100%;
	vertical-align: top;
	background: var(--bezel-color);
	border: var(--bezel) solid var(--bezel-color);
	border-radius: var(--radius) var(--radius) 0 0;
	box-shadow: inset 0 0 1px 1px var(--bezel-color);
}

section {
	display: flex;
	gap: var(--gap);
	flex-wrap: wrap;
	justify-content: center;
	padding: 2%;
	margin: 0 auto;
	list-style: none;
	pointer-events: none;
}

article {
	--shadow-blur: 5px;

	position: relative;
	width: 40vw;
	max-width: 12em;
	background: var(--color-bg-item);
	// box-shadow:
	// 	0   0   2px 0 rgba( #000, .3 ),
	// 	2px 2px 0   0 var(--color-bg-item),
	// 	2px 2px 2px 0 rgba( #000, .3 ),
	// 	4px 4px 0   0 var(--color-bg-item),
	// 	4px 4px var(--shadow-blur) 0 rgba( #000, .15 );
	box-shadow:
		0   0   3px 0 rgba( #000, .8 ),
		3px 3px 0   0 var(--color-bg-item),
		3px 3px var(--shadow-blur) 0 rgba( #000, .5 );
	overflow: hidden;
	pointer-events: auto;
	transition:
		background .3s,
		color .3s,
		box-shadow .3s,
		transform .3s;
	will-change:
		background,
		color,
		box-shadow,
		transform;

	&:hover,
	&:focus-within {
		--shadow-blur: 20px;

		transform: translateY(-.2em);
		z-index: 99;

		figure {
			transform: none;
		}

	}

	a {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		padding: var(--gap);
		overflow: hidden;
	}

}
