p <strong>TIP:</strong> <a href="http://www.wpbeginner.com/wp-tutorials/how-to-install-wordpress-in-other-languages/">How to Install WordPress in Other Languages &raquo;</a>

p Every WordPress theme contains some texts that need to be translated into your language if you are building a non-English website. This theme if fully translation ready (and supports even Right-To-Left languages) and is also translated into multiple languages out of the box. (For reference of pre-packed language packs please check the list of translation files within <code>#{config.slug}/languages</code> folder of the theme.)

p To enable your language on your website, please <a href="https://codex.wordpress.org/Installing_WordPress_in_Your_Language">switch WordPress into the desired language localization</a>.

include instructions.pug
include plugins.pug
include help.pug
