block localization/about
	+tip( 'Adding languages into WordPress' )
		p How to <a href="https://www.wpbeginner.com/wp-tutorials/how-to-install-wordpress-in-other-languages/">install WordPress in your language</a>?

	p Every WordPress theme contains some texts that need to be translated into your language if you are building a non-English website. This theme if fully translation ready (and supports even <abbr title="Right-To-Left">RTL</abbr> languages).

	p To enable your language on your website, please <a href="https://wordpress.org/support/article/installing-wordpress-in-your-language/">switch WordPress into the desired language localization</a>.
