+sub_section( 'Help us with translations' )
	if true === config.is_free && 'wporg' === config.source
		p Please make your translation available for everyone by submitting it to <a href="https://translate.wordpress.org/projects/wp-themes/#{config.slug}">WordPress translations repository</a>. Thank you!
	else
		p If you would like to help out translating the theme, please contribute at <a href="https://support.webmandesign.eu/forum/#{config.slug}">WebMan Design support forum</a> by submitting your <code>.po</code> and <code>.mo</code> files in a zipped attachment to your support ticket. Thank you!
