+sub_section( 'Help With Your Translation' )
	if true === config.is_free && 'wporg' === config.source
		p.has-large-font-size Please make your translations available for everyone by submitting them to <a href="https://translate.wordpress.org/projects/wp-themes/#{config.slug}">WordPress translations repository</a>. Thank you!
	else
		p.has-large-font-size If you would like to help out translating the theme, please contribute your translations at <a href="https://support.webmandesign.eu/forum/#{config.slug}">WebMan Design support forum</a> by submitting a ZIP package of your <code>.po</code> and <code>.mo</code> translation files in a new support ticket attachment. Thank you!
