+sub_section( 'Don\'t forget to translate your plugins too!' )
	p WordPress website is built from WordPress system itself, a theme and plugin(s). There is a very high probability that <a href="https://codex.wordpress.org/Installing_WordPress_in_Your_Language">WordPress system is already translated into your language</a>, so, you don't have to do it on your own. You have also learned how to translate the theme into your language above. But what about plugins and their texts?

	p If you are lucky, your plugin contains your language localization files already and you don't have to do anything. But if you need to translate the plugin into your language, the best advice is to check the plugin's documentation for instructions (you can <a href="https://github.com/webmandesign/webman-amplifier/blob/master/languages/readme.md">check the instructions for WebMan Amplifier plugin localization</a> procedure).

	p Alternatively you can also use <a href="https://wordpress.org/plugins/loco-translate/"><strong>Loco Translate</strong> plugin</a> (again) to translate your plugins directly in your WordPress dashboard.
