extends ../../0app/_index.pug

//-
	Use this special block to create custom content sections.
	Check for `article` value to display correct custom content then.
block content/article
	include cpt-wmamp.pug

//-
	Section have predefined `{section}` and `{section}/about` content blocks.
	These content blocks contain entire and basic about contents for the section.
	You can either completely overwrite them, or prepend/append to them.
	@link  https://pugjs.org/language/inheritance.html

block append styles
	include style.css

block demo/starter_content
	//- Empty as this theme does not contain starter content.

block append pages
	include page-intro.pug
block pages/templates/list
	include templates.pug

block append posts
	include post-toc.pug
	include post-formats.pug

block append menu
	include menu-addon.pug
block menu/list
	include menus.pug

block sidebars/list
	include sidebars.pug
block append sidebars
	include widgets.pug

block append faq/questions/list
	include faq-question-breadcrumbs.pug
	include faq-question-font.pug
	include faq-question-icons.pug
	include faq-question-custom-fields.pug
	include faq-question-demo.pug
block append faq/answers/list
	include faq-answer-breadcrumbs.pug
	include faq-answer-font.pug
	include faq-answer-icons.pug
	include faq-answer-custom-fields.pug
	include faq-answer-demo.pug

block accessibility/headings/site_title
	include accessibility-site-title.pug

block append plugins/others/list
	include plugins-others.pug
block plugins/recommended/list/item
	case id
		when 'advanced-custom-fields' : include plugin-advanced-custom-fields.pug
