- title   = prefix.content + 'Staff';
- id      = 'staff';
- nav[id] = title;

+section( title, id )
	p This custom post type is provided via <a href="#webman-amplifier"><strong>WebMan Amplifier</strong></a> plugin.

	p With staff custom post you can easily manage your clinic, hospital or company team info.

	p You can either set a short basic information about your team members using the "Excerpt" field only (the excerpt is displayed only if you set <code>info-card</code> class on the page builder module when displaying Staff posts), or display a full profile information when you set up a post content.

	p Organize your Staff posts with dedicated tags, departments, set a team member position and specialties. All of these information can be used to <a href="#staff-filter">filter the Staff posts</a> on your website and thus provide a "find a doctor" functionality.

	p To display all staff posts on your site, you can use a staff <a href="#navigation">archive page link in the navigation</a>.

	+tip( 'Display with <a href="#beaver-builder">Beaver Builder</a>' )
		p Use <em>"<strong>WM Posts (custom posts)</strong>"</em> module in <a href="#beaver-builder">Beaver Builder</a> page builder and set the "Post type" option to "Staff".

	+tip( 'Renaming the post type' )
		p If you would like to rename this post type, use the <a href="https://wordpress.org/plugins/cpt-editor/"><strong>Custom Post Type Editor</strong></a> plugin. To rename the custom taxonomies related to this post type, use the <a href="https://wordpress.org/plugins/rename-taxonomies/"><strong>Rename Taxonomies</strong></a> plugin.

	+tip( 'Custom posts order' )
		p For custom posts order you can use a plugin, such as <a href="https://wordpress.org/plugins/intuitive-custom-post-order/"><strong>Intuitive Custom Post Order</strong></a>.
