li
	+answer( 'Custom fonts', 'fonts' )

		p Instead of restricting you to using either Google Fonts or Typekit fonts (or any other fonts provider) built within the theme, you have the <strong>luxury of choosing your own preferred fonts provider</strong> (or using <a href="https://en.wikipedia.org/wiki/Web_typography#Web-safe_fonts">web safe fonts</a>) with the Monument Valley WordPress theme.

		p There are multiple different custom fonts plugins you can use, such as <a href="https://wordpress.org/plugins/easy-google-fonts/"><strong>Easy Google Fonts</strong></a>, <a href="https://wordpress.org/plugins/typekit-fonts-for-wordpress/"><strong>Typekit Fonts for WordPress</strong></a> or <a href="https://wordpress.org/plugins/font-squirrel/"><strong>Font Squirrel (unofficial)</strong></a>.

		p All the information regarding the theme typography and fonts setup can be found in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Typography' )].

		+tip( 'More advanced but flexible procedures', 'h4' )
			p For more thorough and flexible procedure you can watch a video on how to <a href="https://www.youtube.com/watch?v=a40a1e2lTY0">change any font on any WordPress website</a>.

			p For using a <a href="#child-theme">child theme</a> to add custom fonts, please read/watch <a href="http://www.wpbeginner.com/wp-themes/how-to-add-custom-fonts-in-wordpress/">How to Add Custom Fonts in WordPress</a>.
