li
	+answer( 'Demo website homepage effects', 'demo-effects' )

		p On the <a href="#{ config.url.demo }">homepage of theme demo website</a> there is a nice "Ken Burns" and rounded column effect applied on the page intro section. Please read the <a href="https://support.webmandesign.eu/polyclinic-demo-website-custom-styles/">knowledge base article</a> for how you can add this effect to your site.
