dt Primary
dd
	p This is the main navigation in the header of the website.
	p Menu in this location can be nested and hierarchically organized (up to 4 levels deep) and you can also use a <a href="#megamenu">simple megamenu functionality</a> here.
	p It is also mobile-ready menu.


dt Mobile Bar (max 4 links)
dd
	p This theme approaches a mobile navigation in a unique way. You can set up a static mobile navigation bar for your website.

	p Please set the links carefully as the navigation bar space is limited (it usually takes 4 or 5 links, including the "More" link toggling the mobile Primary menu).

	+image( 'https://www.dropbox.com/s/v49ok7sudk34dbw/mobile-bar.jpg', 'Mobile bar navigation', { 'class' : 'has-50vh-max-height' } )


dt Social Links
dd
	p Please read the <a href="#social-links">"Social Links" documentation section</a> below for more info.
