+sub_section( 'Menu Item Button', 'menu-button' )

	p If you want to style a primary menu item as a button, just set a <code>button</code> class on the menu item (enable menu item classes in "Screen Options" tab in the upper right corner of the #[+mark( 'nav', 'Appearance', 'Menus' )] screen).

	+image( 'https://easycaptures.com/fs/uploaded/1005/5144923322.png', 'Setting up a menu item button' )


+sub_section( 'Menu Item Icon', 'menu-icon' )

	p To set up menu icons please use a HTML directly in the menu "Navigation Label" such as <code class="wrap">&lt;span class="icon-class" aria-hidden="true">&lt;/span> Menu label</code> (icon class/HTML code can be found in #[+mark( 'nav', 'Appearance', 'Icon Font' )] screen - you need to have <a href="#webman-amplifier">WebMan Amplifier plugin</a> active first).

	+image( 'https://easycaptures.com/fs/uploaded/1021/3849696617.png', 'Setting up a menu item icon' )
