+sub_section( 'Page Intro Title', 'page-intro' )

	p By default the page title is displayed with the custom background image set via #[+mark( 'nav', 'Appearance', 'Header' )] (you can even set multiple images that will be randomized with each page reload).

	p You can override this background image when setting up a custom featured image for a page.

	p If you would like to remove this intro title area (and set up your own one with page builder, for example), use a <a href="#page-templates">"<strong>No title</strong>" page template</a> or set up the <a href="#custom-fields">specific custom field</a> (for pages it is recommended to use the page template, though).
