dt Sidebar
dd
	p This widget area is displayed on all posts. If you want to display a sidebar on a page, use a <a href="#page-templates">"With sidebar" page template</a>.


dt Header Info Widgets
dd
	p Use this widget area to display information below the website header.


dt Footer Info Widgets
dd
	p Use this to display information at the top of the website footer.


dt Footer Widgets
dd
	p Displays widgets in footer area of the website. This is the main website footer content. You can set up the number of footer columns in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Layout', 'Footer', '"Number of columns"' )].
