+sub_section( 'Block Based Content', 'editor-content' )
	p <strong>#{config.name}</strong> lets you design your site footer and error 404 page content with full power of block editor. No more theme layouts here - you are in control now!

	p Go to #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Others' )] and follow instructions for Content section to set up custom site footer and error 404 page content.
