+sub_section( 'Spacer Block Dynamic Height', 'editor-spacer' )
	p When applying a minimal height <a href="#css-classes">modifier CSS class</a> on <a href="https://wordpress.org/documentation/article/spacer-block/">Spacer block</a>, this gets labeled in block editor to notify you visually about the modification.

	+image( 'https://easycaptures.com/fs/uploaded/1387/1028718582.jpg', 'Indicating min height altering CSS class in use for the Spacer block' )
