+sub_section( 'Block Based Site Footer', 'editor-footer' )
	p <strong>#{config.name}</strong> lets you design your site footer with full power of block editor. No more predefined widget layouts - you are in control now!

	p Go to #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Others' )] and follow instructions for "Footer content" theme option to set up custom site footer content.
