dt Sidebar
dd This widget area is displayed on all posts, archive and search results pages, unless you leave it empty, with no widgets in it. If you want to display a sidebar on a page, use a <a href="#page-templates">"With sidebar" page template</a>. If you want to remove a sidebar from certain page(s) only, use <a href="#content-aware-sidebars">Content Aware Sidebars plugin</a> for that.
