:root {

	--color_accent: #6340a7;
	/* https://www.colorhexa.com/f5df4d */
	--color_mark: rgba( 245, 223, 77, .33 );

	--color_button_background: #f5df4d;
	--color_button_text: #030507;

	--color_header_background: #f3f5f7;
	--color_header_text: #030507;

	--color_nav_background: #232527;
	--color_nav_text: #fff;
	--color_nav_background_active: var(--color_button_background);
	--color_nav_text_active: var(--color_button_text);
	--color_nav_border: rgba( 255,255,255, var(--border_opacity) );

	--color_intro_background: var(--color_button_background);
	--color_intro_text: var(--color_button_text);

	--color_content_background: #fff;
	--color_content_text: #434547;
	--color_content_headings: #030507;
	/* https://www.colorhexa.com/434547 */
	--color_content_border: rgba( 67, 69, 71, var(--border_opacity) );

	--color_footer_background: var(--color_header_background);
	--color_footer_text: var(--color_header_text);

}
