dt
	| Overlay header (light)
	br
	| Overlay header (dark)
dd
	p These 2 templates moves the top edge of content area up to the very top of the page, allowing site header to overlay/overlap the content area. Templates work best with full-screen cover imagery.

	p The "light" and "dark" represent colors of text in overlaid header. Such overlaid header has no background.

	p <em>These templates work with every public post type.</em>
