dt.
	With sidebar
	<a href="https://themedemos.webmandesign.eu/#{config.slug}/theme-features/template-sidebar/" class="alignright btn btn-default">Demo</a>

dd
	p By default, there is no sidebar displayed on pages. However, if you would like to display a sidebar on a page, use this page template with it.
