//-
//- Configuration object:
//-
-
	var config = {
		//- Theme attributes:
		name          : 'Auberge',
		slug          : 'auberge',
		screenshot    : 'https://themedemos.webmandesign.eu/auberge/wp-content/themes/auberge/screenshot.jpg',
		is_free       : false,
		source        : 'other', //- Available values: wporg/envato/github/other
		compatibility : {
			accessibility  : false,
			theme_builder  : false,
			block_patterns : false,
			block_styles   : false,
			rtl            : false,
		},
		version : {
			wp  : '4.8',
			php : '5.6',
		},

		//- Content sections:
		//- For custom content see below.
		content : [
			//- For the list of core contents refer to `0app/includes/content.pug`.
			//- Basically, these match sub-folder names in `0app/includes/content`.
			//- Reorder these how you please.
			'wordpress',
			'install',
			'update',
			'demo',
			'pages',
			'posts',
			'restaurant',
			'menu',
			'social',
			'sidebars',
			'customizer',
			'localization',
			'plugins',
			'faq',
			'mods',
			'references',
		],

		//- Recommended plugins list:
		//- For custom content see below.
		plugins : {
			//- For the list of core recommended plugin refer to `0app/includes/content.pug`.
			//- Reorder these how you please.
			'beaver-builder'        : 'Beaver Builder',
			'classic-widgets'       : 'Classic Widgets',
			'jetpack'               : 'Jetpack',
			'one-click-demo-import' : 'One Click Demo Import',
			'webman-amplifier'      : 'WebMan Amplifier',
		},
		tgmpa : true,

		//- Default FAQ list:
		faq : {
			// 'any-page-builder' : 'How to use a page builder',
			// 'css-classes'      : 'How to modify element appearance',
			'image-sizes' : 'Why are uploaded images blurry or small',
			'seo'         : 'SEO - Search Engine Optimization',
			'speed'       : 'How to speed up a website',
			'css'         : 'How to add custom CSS',
		},
	};

//-
//- Custom content:
//- This has to be here, after all the above variables declarations.
//-
include includes/_custom-content.pug
