p Shop products are added to your website with <a href="#woocommerce"><strong>WooCommerce</strong> e-commerce plugin</a>. You can sell anything from physical goods, downloadable content, services to external/affiliate products.

p Please refer to WooCommerce documentation for how to <a href="https://docs.woocommerce.com/document/managing-products/?aff=6509&cid=588078">create and manage your online shop products</a>.

+tip( 'How to display products in page builder?' )
	p Use <a href="https://docs.woocommerce.com/document/woocommerce-shortcodes/#section-6">WooCommerce products shortcodes</a> to display products in your page builder layout.

+tip( 'Custom products order' )
	p For custom posts order you can use a plugin, such as <a href="https://wordpress.org/plugins/intuitive-custom-post-order/"><strong>Intuitive Custom Post Order</strong></a>.
