
<h3>What Are They and How to Use Them</h3>

<div class="col-sm-12 col-md-4">

	<p class="uppercase">Shop products are added to your website when you are using a <a href="#woocommerce"><strong>WooCommerce</strong> e-commerce plugin</a>.</p>

	<p>You can sell anything on your website: physical goods, downloadable content, services or external/affiliate products.</p>
	<p>Please refer to <a href="https://docs.woocommerce.com/document/managing-products/?aff=6509&cid=588078">WooCommerce documentation for how to create and manage your online shop products</a>.</p>

</div>

<div class="col-sm-12 col-md-8">

	<div class="alert alert-info mt0">
		This custom post type is provided via <a href="#woocommerce"><strong>WooCommerce</strong></a> plugin.
	</div>

	<div class="alert alert-success">
		Use <a href="https://docs.woocommerce.com/document/woocommerce-shortcodes/#section-6">WooCommerce products shortcodes</a> to display products in your page builder layout.
	</div>

	<div class="alert alert-warning">
		Before using <a href="#beaver-builder"><strong>Beaver Builder</strong> (or other) page builder</a> with this custom post type you need to enable it in your page builder's settings first.<br>
		Navigate to #[+mark( 'nav', 'Settings', 'Page Builder', 'Post Types' )].
	</div>

	<div class="alert alert-info">
		Since WordPress 4.7 you can set a custom <a href="#page-templates">post type page template</a> for these posts. It supports "With intro widgets" and "No intro" page templates.
	</div>

	<div class="alert alert-info">
		<strong>TIP:</strong> For custom posts order you can use a plugin, such as <a href="https://wordpress.org/plugins/intuitive-custom-post-order/"><strong>Intuitive Custom Post Order</strong></a>.
	</div>

</div>

