- title   = 'Installing Demo Content';
- id      = 'demo-content';
- nav[id] = title;

+section( title, id )

<h2 id="demo-content">Installing Demo Content</h2>

	<div class="section indented mt">

		<div class="alert alert-danger">
			<h3>Warning</h3>
			<ol>
				<li>It is recommended to install the theme demo content into an <strong>empty, fresh WordPress site</strong> only. Otherwise it might mess up your existing content!</li>
				<li>Please note that the theme demo contains a lot of pages. You will certainly end up not using most of them. In that case it is highly recommended to <strong>delete the pages, posts, custom posts and media that you no longer need</strong> on your website. It improves your website <a href="#seo">SEO</a>, <a href="#speed">speed</a> and relevance.</li>
			</ol>
		</div>

		<div class="alert alert-info">
			<h3>Demo Images and Other Media Quality</h3>
			<p>Please understand that <strong>demo images, audio and video files are <em>low</em> quality</strong> due to copyright protection and you should replace them with your own, <a href="#credits">properly licensed images</a>.</p>
		</div>

		<div class="alert alert-warning">
			<h3>Demo Content Import Issues</h3>
			<p>Please note that there <em>might</em> occur some connection issues when downloading demo attachments (media files) from demo content servers during the demo content import process.</p>
			<p>These, however, are just demo attachments (images, videos, audio files) and you are perfectly fine (actually, you should) replacing them with your own assets.</p>
			<p>Other demo content (posts, pages and custom posts content) will be imported without any issues.</p>
		</div>

	</div>

	<div class="section indented">

		<div class="row">

			<div class="col-sm-12 col-md-6">

				<h3 class="mt-s">One-click Installation</h3>

				<p>For more info on automatic one-click demo content installation please read <a href="https://github.com/webmandesign/demo-content/blob/master/#{theme_slug}/readme.md#what-is-this" target="_blank">instructions in theme demo content GitHub repository</a>.</p>

			</div>

			<div class="col-sm-12 col-md-6">

				<h3 class="mt-s">Manual Installation</h3>

				<p>For detailed instructions regarding each demo content file installation and download, please visit the <strong><a href="https://github.com/webmandesign/demo-content/tree/master/#{theme_slug}/" target="_blank">theme demo files repository</a></strong> at Github.</p>

				<p>You can use this procedure in case the One-click Installation procedure fails. In that case it is recommended to delete (permanently) the imported media files from your media library and run the database <a href="https://wordpress.org/plugins/search/reset/" target="_blank">reset with a plugin</a>.</p>

				<p>Please check WordPress codex for <a href="https://codex.wordpress.org/FAQ_Working_with_WordPress#How_do_I_Import_a_WordPress_WXR_file_when_it_says_it_is_too_large_to_import.3F" target="_blank">information about manual demo XML file import issues</a>.</p>

			</div>

		</div>

		<h3>Starter Content</h3>

			<p>This theme supports and contains its own <a href="https://make.wordpress.org/core/2016/11/30/starter-content-for-themes-in-4-7/" target="_blank">WordPress starter content</a> for easy and fast small website deployment.</p>
			<p>The starter content is displayed in the <a href="#customizer">theme customizer</a> <strong>on clear WordPress installation only</strong>. Once you save the customizer settings, the starter content will be ported into your website automatically then.</p>
			<p>If you have already created some posts or pages beforehand, you will not see the theme starter content in theme customizer.</p>
			<p>Please note that <strong>this is only a very basic starter content</strong> suitable for small websites and if you want a more robust solution, install the full theme demo content instead.</p>

	</div>
