//-
//- Configuration object:
//-
-
	var config = {
		//- Theme attributes:
		name          : 'Gwyneth',
		slug          : 'gwyneth',
		screenshot    : 'https://themedemos.webmandesign.eu/gwyneth/wp-content/themes/gwyneth/screenshot.jpg',
		is_free       : false,
		source        : 'envato', //- Available values: wporg/envato/github/other
		compatibility : {
			fse                   : true,
			hybrid                : true,
			no_demo               : true,
			block_patterns        : true,
			block_styles          : true,
			megamenu_disable_link : true,
			accessibility         : true,
		},
		version : {
			wp  : '6.2',
			php : '7.0',
		},

		url : {
			'info' : 'https://1.envato.market/gwyneth',
		},

		//- Content sections:
		//- For custom content see below.
		content : [
			//- For the list of core contents refer to `0app/includes/content.pug`.
			//- Basically, these match sub-folder names in `0app/includes/content`.
			//- Reorder these how you please.
			'wordpress',
			'install',
			'update',
			'demo',
			'pages',
			'posts',
			'editor',
			'menu',
			'sidebars',
			'customizer',
			'site-editor',
			'localization',
			'accessibility',
			'plugins',
			'faq',
			'mods',
			'references',
		],

		//- Core FAQ object keys:
		faq : [
			'any-page-builder',
			'image-sizes',
			// 'css-classes',
			'seo',
			'speed',
			'css',
		],

		//- Recommended plugins list:
		//- For custom content see below.
		plugins : {
			//- For the list of core recommended plugin refer to `0app/includes/content/plugins/recommend`.
			//- Reorder these how you please.
			'abs'            : 'Additional Block Styles',
			'envato-market'  : 'Envato Market',
			'woocommerce'    : 'WooCommerce',
			'integration-wc' : 'Theme Integration for WooCommerce',
		},
		tgmpa : true,

		//- Core image overrides:
		images : {
			'https://easycaptures.com/fs/uploaded/1625/7456394390.jpg' : 'megamenu.png',
		}
	};

//-
//- Custom content:
//- This has to be here, after all the above variables declarations.
//-
include includes/_custom-content.pug
