p
	a( href="#top" title="Back to top of the page")
		img( src=config.url.logo alt="Back to top of the page")

p
	| Once again, thank you for using #{config.name} WordPress theme!
	br
	| &copy; <a href="https://www.webmandesign.eu">WebMan Design</a>
	| &bull; <a href="#top">Back to top &uarr;</a>
