p
	a( href="#top" title="Back to top of the page")
		img( src=config.url.logo alt="Back to top of the page")

p
	small
		em Please also note that images in this documentation might be illustrational only and might not 100% apply to your theme. They were created to provide preview of the procedures themselves. Although the interface may look a bit different in your website, the steps shown in the images are the same. Thank you for understanding.

p
	| Once again, thank you for using #{config.name} WordPress theme!
	br
	| &copy; <a href="https://www.webmandesign.eu">WebMan Design</a>
	| &bull; <a href="#top">Back to top &uarr;</a>
