footer( class="footer" )
	div( class="container-fluid" )

		p
			| Once again, thank you for using #{config.name} WordPress theme!
			br
			| If you have any questions that are beyond the scope of this user manual, please join <a href="https://www.webmandesign.eu/reference/#links-support">WebMan Design Support Center</a>.
			br
			| If you like this theme, please rate it on the website where you've obtained the theme from. Thank you!

		p
			| &copy; <a href="https://www.webmandesign.eu">WebMan Design</a>
			| &bull; <a href="#">Back to top &uarr;</a>
