h3#anatomy-shop.counter-reset-numbers <strong>Shop</strong> content

- var topic_href = "anatomy-shop"
- var index = 0;

p You need <a href="#woocommerce"><strong>WooCommerce</strong> plugin</a> to enable this functionality.

// http://www.image-map.net/
+map( 'https://www.dropbox.com/s/pecnuz8r4fbxq6p/shop.jpg', 'Theme anatomy: Shop content' )
	area( href="#"+topic_href+"-1"  coords="1,1,255,86"       title="1. Intro section" )
	area( href="#"+topic_href+"-2"  coords="387,77,258,2"     title="2. Intro background image" )
	area( href="#"+topic_href+"-3"  coords="67,105,234,278"   title="3. Shop page content" )
	area( href="#"+topic_href+"-4"  coords="70,285,233,414"   title="4. Product categories list" )
	area( href="#"+topic_href+"-5"  coords="11,415,237,455"   title="5. Before products list" )
	area( href="#"+topic_href+"-7"  coords="29,539,151,460"   title="7. Featured image" )
	area( href="#"+topic_href+"-6"  coords="233,461,72,726"   title="6. Products list" )
	area( href="#"+topic_href+"-8"  coords="241,103,379,557"  title="8. Shop Sidebar" )
	area( href="#"+topic_href+"-9"  coords="414,370,625,300"  title="9. Product gallery" )
	area( href="#"+topic_href+"-10" coords="624,210,784,362"  title="10. Product short description" )
	area( href="#"+topic_href+"-11" coords="414,147,622,194"  title="11. Sharing buttons" )
	area( href="#"+topic_href+"-12" coords="414,408,782,559"  title="12. Product description" )
	area( href="#"+topic_href+"-13" coords="796,374,403,406"  title="13. Product tabs" )
	area( href="#"+topic_href+"-14" coords="400,562,790,640"  title="14. Product widget area" )
	area( href="#"+topic_href+"-15" coords="403,645,796,756"  title="15. Related products" )
	area( href="#"+topic_href+"-16" coords="817,95,1191,153"  title="16. Checkout guide" )
	area( href="#"+topic_href+"-17" coords="811,178,1196,374" title="17. Cart and Checkout page" )
	area( href="#"+topic_href+"-18" coords="805,557,1197,792" title="18. My Account page" )
	area( href="#"+topic_href+"-1"  coords="410,25,696,145"   title="1. Intro section" )
	area( href="#"+topic_href+"-2"  coords="700,29,788,186"   title="2. Intro background image" )
	area( href="#"+topic_href+"-7"  coords="412,207,623,300"  title="7. Featured image" )
	area( href="#"+topic_href+"-16" coords="810,382,1196,438" title="16. Checkout guide" )

p <small>(Click the item below to reveal more info. Click the image to preview a bigger size.)</small>

+details( 'Intro section', topic_href+'-'+(++index) )
	p <a href="https://docs.woocommerce.com/document/woocommerce-pages/"><strong>Shop page</strong></a> intro section displays your shop page title (and <a href="https://wordpress.org/plugins/wp-subtitle/">subtitle</a>) and <a href="#page-excerpt">page excerpt</a>.
	p On <strong>product archive pages</strong> (such as a product category page) there is an archive title and description displayed.
	p <strong>Single product page</strong> intro section contains shop breadcrumbs navigation, product title, product price, product rating and optional <a href="https://jetpack.com/support/sharing/">sharing buttons</a>. Intro section on single product pages can be disabled globally in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Shop' )] or per product basis using a <a href="#page-templates">post type page template</a>.
	p If you would like to display subtitles for products, use <a href="https://wordpress.org/plugins/wp-subtitle/"><strong>WP Subtitle</strong> plugin</a>.
	+back_to( 'image', topic_href )

+details( 'Intro background image', topic_href+'-'+(++index) )
	p On both shop and product archives pages there is a default header image (#[+mark( 'nav', 'Appearance', 'Customize', 'Header' )]) displayed as an intro section background.
	p You can set up a custom intro section background image on single product page by setting up a dedicated <a href="#custom-fields">custom field</a>.
	+back_to( 'image', topic_href )

+details( 'Shop page content', topic_href+'-'+(++index) )
	p You can set a custom content for your <a href="https://docs.woocommerce.com/document/woocommerce-pages/">shop page</a>. The content will be displayed above the products list on main products archive page then.
	+back_to( 'image', topic_href )

+details( 'Product categories list', topic_href+'-'+(++index) )
	p The theme conveniently separates categories from products list (which is a WooCommerce default display) for you.
	p Please note that you need to have a <em>"Show categories & products"</em> set for <strong>Shop Page Displays</strong> (and <em>"Show subcategories & products"</em> set for <strong>Default Category Display</strong>) in your <a href="https://docs.woocommerce.com/document/configuring-woocommerce-settings/">WooCommerce products display settings</a> for this feature to be enabled.
	+back_to( 'image', topic_href )

+details( 'Before products list', topic_href+'-'+(++index) )
	p A <a href="#sidebars">widget area</a>, its content can be set in #[+mark( 'nav', 'Appearance', 'Customize', 'Widgets' )].
	p This widget area is best suited to display <a href="https://docs.woocommerce.com/document/woocommerce-widgets/">WooCommerce filter widgets</a>, such as "WooCommerce Layered Nav", "WooCommerce Price Filter" and/or "WooCommerce Product Categories".
	+back_to( 'image', topic_href )

+details( 'Products list', topic_href+'-'+(++index) )
	p The layout of products list can be set on your <a href="https://docs.woocommerce.com/document/woocommerce-pages/">shop page</a>.
	p If you use a <a href="#page-templates">"With sidebar" page template</a> for your shop page, there will a sidebar displayed on your product archive pages.
	p You can also set a special stretched layout for the shop page (set a dedicated <a href="#custom-fields"><code>layout_stretched</code> custom field</a> when editing your shop page), which will widen the content area fullwidth, making space for more products. You can still use a sidebar in this layout too.
	+back_to( 'image', topic_href )

+details( 'Featured image', topic_href+'-'+(++index) )
	p Product featured image is displayed in products list, as well as on single product page. It is the main image displaying your product, so please make sure you always set it up.
	p Please see FAQ section for more <a href="#image-sizes">information on image sizes</a>.
	p WooCommerce comes shipped with lightbox image zooming effect. We recommend disabling this in your <a href="https://docs.woocommerce.com/document/configuring-woocommerce-settings/">WooCommerce products display settings</a> and using a dedicated lightbox plugin (such as <a href="#plugins-others">WP Featherlight</a>) throughout your whole website for consistency.
	+back_to( 'image', topic_href )

+details( 'Shop Sidebar', topic_href+'-'+(++index) )
	p The sidebar is displayed on product archive pages only if you set the <a href="#page-templates">"With sidebar" page template</a> for your <a href="https://docs.woocommerce.com/document/woocommerce-pages/">shop page</a>.
	p There is no sidebar displayed on single product page to reduce a clutter and focus visitor on the product details and purchase action.
	p Shop Sidebar is a <a href="#sidebars">widget area</a>, its content can be set in #[+mark( 'nav', 'Appearance', 'Customize', 'Widgets' )].
	p If you would like to replace Shop Sidebar on your shop pages with a different one or just remove it, use <a href="#manage-sidebars"><strong>Content Aware Sidebars</strong> plugin</a>. It is a great way to control and alter your website layout.
	+back_to( 'image', topic_href )

+details( 'Product gallery', topic_href+'-'+(++index) )
	p If you would like to display more images of the product, use a <a href="https://docs.woocommerce.com/document/adding-product-images-and-galleries/">product image gallery</a>.
	p Please see FAQ section for more <a href="#image-sizes">information on image sizes</a>.
	p WooCommerce comes shipped with lightbox image zooming effect. We recommend disabling this in your <a href="https://docs.woocommerce.com/document/configuring-woocommerce-settings/">WooCommerce products display settings</a> and using a dedicated lightbox plugin (such as <a href="#plugins-others">WP Featherlight</a>) throughout your whole website for consistency.
	p The theme is also compatible with <a href="https://wordpress.org/plugins/woocommerce-product-image-flipper/"><strong>WooCommerce Product Image Flipper</strong> plugin</a> which displays the additional (first image from product image gallery) image when hovering a product in products listing. The theme changes the hover effect of the plugin to a custom one, though.
	+back_to( 'image', topic_href )

+details( 'Product short description', topic_href+'-'+(++index) )
	p Set this on your product edit screen. Please see <a href="https://docs.woocommerce.com/document/managing-products/">WooCommerce documentation</a> for more info.
	+back_to( 'image', topic_href )

+details( 'Sharing buttons', topic_href+'-'+(++index) )
	p To enable product sharing buttons, please use <a href="#jetpack"><strong>Jetpack</strong></a> plugin's <a href="https://jetpack.com/support/sharing/">sharing module</a>.
	+back_to( 'image', topic_href )

+details( 'Product description', topic_href+'-'+(++index) )
	p Set this on your product edit screen. Please see <a href="https://docs.woocommerce.com/document/managing-products/">WooCommerce documentation</a> for more info.
	p Please note that the product description width is set for best readability. If you would like to override this, use a page builder to build the product description content.
	p For creating a more complex product description layouts please use a (<a href="#any-page-builder">any</a>) page builder plugin (we recommend using powerful, optimized and easy to use <a href="#beaver-builder"><strong>Beaver Builder</strong> page builder plugin</a>).
	p Please note that you will probably need to <strong>enable the product post type in your page builder settings</strong> first! (For Beaver Builder go to #[+mark( 'nav', 'Settings', 'Page Builder', 'Post Types' )].)
	+back_to( 'image', topic_href )

+details( 'Product tabs', topic_href+'-'+(++index) )
	p Set this on your product edit screen. Please see <a href="https://docs.woocommerce.com/document/managing-products/">WooCommerce documentation</a> for more info.
	+back_to( 'image', topic_href )

+details( 'Product widget area', topic_href+'-'+(++index) )
	p A <a href="#sidebars">widget area</a>, its content can be set in #[+mark( 'nav', 'Appearance', 'Customize', 'Widgets' )].
	p This widget area is best suited to display a general featured information about your shop, such as shipping info, newsletter subscription form or similar.
	+back_to( 'image', topic_href )

+details( 'Related products', topic_href+'-'+(++index) )
	p Set this on your product edit screen. Please see <a href="https://docs.woocommerce.com/document/related-products-up-sells-and-cross-sells/">WooCommerce documentation</a> for more info.
	+back_to( 'image', topic_href )

+details( 'Checkout guide', topic_href+'-'+(++index) )
	p The theme provides a convenient checkout guide displaying steps of purchase process on a <a href="https://docs.woocommerce.com/document/woocommerce-pages/">cart page, checkout page</a> and order received page.
	p You can enable or disable it in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Shop' )].
	+back_to( 'image', topic_href )

+details( 'Cart and Checkout page', topic_href+'-'+(++index) )
	p Once you set these pages according to <a href="https://docs.woocommerce.com/document/woocommerce-pages/">WooCommerce documentation</a>, there will also be a compact shopping cart displayed in the website header which can be disabled in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Shop' )] subsequently.
	p You can treat the cart and checkout page the same way as <a href="#pages">other WordPress pages</a>.
	+back_to( 'image', topic_href )

+details( 'My Account page', topic_href+'-'+(++index) )
	p Please see <a href="https://docs.woocommerce.com/document/woocommerce-pages/">WooCommerce documentation</a> for more info on how to set up this page.
	+back_to( 'image', topic_href )

+back_to( 'topics', '#anatomy' )
