+plugin_link( 'https://wordpress.org/plugins/advanced-custom-fields/' )

p Use this plugin to create <a href="#custom-fields">advanced page/post options metaboxes</a> automatically for better user experience and easier setup of page/post options.
