:root {
  --color_accent: #9d693f;
  --color_accent_text: #fff;
  --color_mark: rgba(157, 105, 63, 0.1);
  --color_button_background: #9d693f;
  --color_button_text: #fff;
  --color_header_background: #fff;
  --color_header_text: #131313;
  --color_nav_background: #232323;
  --color_nav_text: #e3e3e3;
  --color_nav_border: rgba(227, 227, 227, var(--border_opacity));
  --color_content_background: #fcfcfc;
  --color_content_headings: #131313;
  --color_content_text: #737373;
  --color_content_border: rgba(115, 115, 115, var(--border_opacity));
}

.intro {
  isolation: isolate;
}
.intro::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("includes/monument-valley.jpg");
  background-position: 50% 50%;
  background-size: cover;
  mix-blend-mode: luminosity;
  opacity: 0.2;
  z-index: -1;
}