+sub_section( 'Widgets', 'widgets-enhancements' )
	p This theme enhances some native WordPress widgets with custom functionality and/or layout:

	h4 "Recent Posts" widget
	p The theme only restyles the display of the post date to special, more pleasing format. To preview this change you need to enable the <em>"Display post date?"</em> widget option.
