- title   = 'Accessibility';
- id      = 'accessibility';
- nav[id] = title;

+section( title, id )

<h2 id="accessibility">Accessibility</h2>
<div class="section indented">

	<h3>What is accessibility</h3>

	<div class="row">

		<div class="col-sm-12 col-md-8">

			<p><strong>Accessibility</strong> in web design means creating web pages that everyone can use, regardless of hardware, software, or any sensory or physical impairment.</p>

			<p>While this is a <em>complex process that includes a website content strategy</em>, the <strong>#{theme_name}</strong> theme helps you with being accessibility ready. It complies to and surpasses the <a href="https://make.wordpress.org/themes/handbook/review/accessibility/" target="_blank">WordPress accessibility requirements</a> and was built to pass the <a href="http://webaim.org/standards/wcag/checklist" target="_blank">WCAG 2.0 level AA</a> and <a href="http://webaim.org/standards/508/checklist" target="_blank">Section 508</a> requirements.</p>

			<p>The theme itself contains and applies <strong>proper headings structure</strong>, uses <strong>ARIA landmark roles</strong> and attributes, adds <strong>informative "read more" links</strong>, <strong>keyboard accessible navigation</strong> (applied also on mobile navigation), <strong>skip links</strong>, the <strong>default color scheme complies to WCAG 2.0 level AA color contrast ratio</strong>, and others.</p>

			<p>Please note that to make your website fully accessible, <strong>you need to apply accessibility guidelines also to your website content</strong>. For further information please read <a href="https://codex.wordpress.org/Accessibility" target="_blank">WordPress Codex on accessibility</a>.</p>

		</div>

		<div class="col-sm-12 col-md-4">

			<div class="alert alert-info mt0">
				<h4>Helpful resources</h4>
				<p>For more information on accessibility please have a look at this selection of websites:</p>
				<ul>
					<li><a href="https://codex.wordpress.org/Accessibility" target="_blank">WordPress Codex on accessibility</a></li>
					<li><a href="https://en.wikipedia.org/wiki/Accessibility" target="_blank">Accessibility explained on Wikipedia</a></li>
					<li><a href="https://wordpress.tv/tag/accessibility/" target="_blank">WordPress.tv videos about accessibility</a></li>
					<li><a href="https://www.w3.org/WAI/gettingstarted/Overview.html" target="_blank">Getting started with web accessibility by W3.org</a></li>
					<li><a href="http://webaim.org/" target="_blank">WebAIM: Web Accessibility In Mind</a></li>
				</ul>
			</div>

		</div>

	</div>

	<h3>Focus on Readability</h3>

		<p style="max-width: 70ch;">The single post page (and the actual default page layout) was designed very carefully to provide <strong>the best reading experience</strong> for your visitors. The <strong title="Depending on the text font, text size, browser window width and your website content width setup." style="border-bottom: 1px dotted; cursor: help;">maximum line width is around 70 characters</strong> with properly set line height and spacing around elements to provide great readability of your content.</p>

	<h3>Accessibility compliant headings structure</h3>

	<div class="row">

		<div class="col-sm-12 col-md-6">

			<p>To comply to best accessibility guidelines, the theme follows this headings structure:</p>

			<dl class="list">

				<dt>
					<strong>Only one <code>h1</code> on the page</strong>
				</dt>
				<dd>
					<p>The theme outputs only one first-level heading (HTML tag <code>&lt;h1></code>) on each page. This is set up for the main page/post/archive title in the main content area of the page.</p>

					<div class="alert alert-danger">
					<p>Please read more about exception when using certain <a href="#page-templates">page templates</a>.</p>
					</div>

					<div class="alert alert-info">
						<p>On some pages the main <code>h1</code> heading might be hidden from the view with <code>.screen-reader-text</code> class, which is perfectly accessible, though.</p>
					</div>

				</dd>

				<dt>
					<strong>Site title heading</strong>
				</dt>
				<dd>
					<p>Page's HTML body title (the site title set in <strong><em>Settings &rarr; General</em></strong>) is outputted with <code>h2</code> heading size or even <code>p</code> tag, leaving the <code>h1</code> size for the main page/post/archive title in the actual website main content area.</p>
				</dd>

				<dt>
					<strong>Headings hierarchy</strong>
				</dt>
				<dd>
					<p>The theme follows the best practice by hierarchically organizing heading levels, not skipping any of them. For example, <code>h3</code> headings can be found only in a section titled with level <code>h2</code> heading (and not <code>h1</code>). This rule is applied also in <a href="#demo-content">the theme demo content</a> and <strong>you should do the same in your website content</strong> too.</p>

					<div class="alert alert-warning">
						<p>To comply to this rule when using <a href="#beaver-builder">page builder elements</a> (or shortcodes), and when you need to override the default element (shortcode) heading level, you need to set up the proper heading HTML tag for the element.</p>
						<p>You can find this option usually under <em>"Others"</em> tab of the element settings (or set the <code>heading_tag</code> shortcode attribute).</p>
						<p><em><small>Check the image at right</small></em></p>
					</div>

					<div class="alert alert-info">
						<p>In case you would like to test your website headings hierarchy, there is a great Chrome browser extension for this called <a href="https://chrome.google.com/webstore/detail/headingsmap/flbjommegcjonpdmenkdiocclhjacmbi" target="_blank"><strong>HeadingsMap</strong></a>.</p>
					</div>
				</dd>

				<dt>
					<strong>Decorative headings</strong>
				</dt>
				<dd>
					<p>You should never use heading levels to style the text for decorative purposes! In case this is required, please <a href="#formats">use helper CSS classes</a> such as <code>.h1</code>, <code>.h2</code>, <code>.h3</code> or <code>.display-1</code>, <code>.display-2</code>, <code>.display-3</code>, <code>.display-4</code> to override any HTML heading or paragraph default styling.</p>
				</dd>

			</dl>

		</div>

		<div class="col-sm-12 col-md-6">

			<figure>
				<a href="http://easycaptures.com/fs/uploaded/1021/2411753356.png" target="_blank">
					<img src="http://easycaptures.com/fs/uploaded/1021/2411753356.png" alt="Changing the heading level (HTML tag) in a page builder element" title="Changing the heading level (HTML tag) in a page builder element" />
				</a>
				<figcaption>Changing the heading level (HTML tag) for the "WM Posts (custom posts)" page builder element</figcaption>
			</figure>

			<div class="alert alert-info">
				<h4>Page builder elements default heading levels</h4>
				<p>Below you can find a list of default heading levels used in page builder elements (shortcodes):</p>
				<dl class="list">
					<dt><strong>WM Accordion</strong> and <strong>WM Tabs item</strong></dt>
					<dd>Default accordion item title heading level is set to <code>h3</code>. The tabs items are also titled with heading level <code>h3</code>, though the heading is visible for screen readers only (it is hidden with <code>.screen-reader-text</code> CSS class).
					<br><br>
					(Please note that WM Accordion and WM Tabs are not accessible elements currently and are not recommended for use on accessible websites. They can be replaced with <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details">HTML <code>&lt;details></code> tag</a>. Please <a href="https://support.webmandesign.eu/accessibility/">test your accessible websites</a> thoroughly.)</dd>

					<dt><strong>WM Call to action</strong></dt>
					<dd>Default call to action caption heading level is set to <code>h2</code>.</dd>

					<dt><strong>WM Content Module</strong></dt>
					<dd>Default Content Module post title heading level is set to <code>h2</code>.</dd>

					<dt><strong>WM Message</strong></dt>
					<dd>Default message box caption heading level is set to <code>h3</code>.</dd>

					<dt><strong>WM Posts (custom posts)</strong></dt>
					<dd>Default post and Staff post title heading level is set to <code>h2</code>.</dd>

					<dt><strong>WM Testimonials</strong></dt>
					<dd>Default Testimonial post title heading level is set to <code>h2</code>. The title of the Testimonial post won't be displayed as it is accessibly hidden with <code>.screen-reader-text</code> CSS class.</dd>
				</dl>
			</div>

		</div>

	</div>

</div>
