//-
//- Configuration object:
//-
-
	var config = {
		//- Theme attributes:
		name          : 'Deborah',
		slug          : 'deborah',
		screenshot    : 'https://themedemos.webmandesign.eu/deborah/wp-content/themes/deborah/screenshot.png',
		is_free       : false,
		source        : 'envato', //- Available values: wporg/envato/github/other
		compatibility : {
			accessibility      : true,
			theme_builder      : true,
			block_patterns     : false,
			block_styles       : false,
			megamenu_fullwidth : true,
		},
		version : {
			wp  : '5.2',
			php : '7.0',
		},

		url : {
			'info'        : 'https://1.envato.market/deborah',
			'css_classes' : 'https://themedemos.webmandesign.eu/deborah/helper-css-classes/',
		},

		//- Content sections:
		//- For custom content see below.
		content : [
			//- For the list of core contents refer to `0app/includes/content.pug`.
			//- Basically, these match sub-folder names in `0app/includes/content`.
			//- Reorder these how you please.
			'wordpress',
			'install',
			'update',
			'demo',
			'pages',
			'posts',
			'cpt/church',
			'editor',
			'menu',
			'social',
			'sidebars',
			'customizer',
			'localization',
			'accessibility',
			'plugins',
			'faq',
			'mods',
			'references',
		],

		//- Recommended plugins list:
		//- For custom content see below.
		plugins : {
			//- For the list of core recommended plugin refer to `0app/includes/content.pug`.
			//- Reorder these how you please.
			'abs'                   : 'Additional Block Styles',
			'beaver-builder'        : 'Beaver Builder',
			'church-content'        : 'Church Content',
			'classic-widgets'       : 'Classic Widgets',
			'manage-sidebars'       : 'Content Aware Sidebars',
			'envato-market'         : 'Envato Market',
			'improve-search'        : 'Improve Search Form Accessibility',
			'one-click-demo-import' : 'One Click Demo Import',
		},
		tgmpa : true,

		imageNote : 'core'
	};

//-
//- Custom content:
//- This has to be here, after all the above variables declarations.
//-
include includes/_custom-content.pug
