- title   = 'Sources and Credits';
- id      = 'credits';
- nav[id] = title;

+section( title, id )

	p For sources and credits related to theme code and assets, please check the <code>readme.txt</code> file within your theme folder.

	//- Sub sections:
	include images.pug
