- var nav = {};

-
	var icon = {
		accessibility : '<svg class="svg-icon" aria-hidden="true" xmlns="https://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 256 256"><path fill="currentColor" d="M160 40a32 32 0 1 0-32 32a32 32 0 0 0 32-32m-32 16a16 16 0 1 1 16-16a16 16 0 0 1-16 16m103.5 31.71A19.62 19.62 0 0 0 212 72H44a20 20 0 0 0-8.38 38.16h.13l50.75 22.35l-21 79.72A20 20 0 0 0 102 228.8l26-44.87l26 44.87a20 20 0 0 0 36.4-16.52l-21-79.72l50.75-22.35h.13a19.64 19.64 0 0 0 11.22-22.5m-17.8 7.9l-56.93 25.06a8 8 0 0 0-4.51 9.36L175.13 217a7 7 0 0 0 .49 1.35a4 4 0 0 1-5 5.45a4 4 0 0 1-2.25-2.07a6.31 6.31 0 0 0-.34-.63L134.92 164a8 8 0 0 0-13.84 0L88 221.05a6.31 6.31 0 0 0-.34.63a4 4 0 0 1-2.25 2.07a4 4 0 0 1-5-5.45a7 7 0 0 0 .49-1.35L103.74 130a8 8 0 0 0-4.51-9.36L42.3 95.61A4 4 0 0 1 44 88h168a4 4 0 0 1 1.73 7.61Z"/></svg>',
		anatomy : '<svg class="svg-icon" aria-hidden="true" xmlns="https://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 256 256"><path fill="currentColor" d="M216 40H40a16 16 0 0 0-16 16v144a16 16 0 0 0 16 16h176a16 16 0 0 0 16-16V56a16 16 0 0 0-16-16m0 16v40H40V56ZM40 112h56v88H40Zm176 88H112v-88h104z"/></svg>',
		content : '<svg class="svg-icon" aria-hidden="true" xmlns="https://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 256 256"><path fill="currentColor" d="m227.31 73.37l-44.68-44.69a16 16 0 0 0-22.63 0L36.69 152A15.86 15.86 0 0 0 32 163.31V208a16 16 0 0 0 16 16h44.69a15.86 15.86 0 0 0 11.31-4.69L227.31 96a16 16 0 0 0 0-22.63M51.31 160L136 75.31L152.69 92L68 176.68ZM48 179.31L76.69 208H48Zm48 25.38L79.31 188L164 103.31L180.69 120Zm96-96L147.31 64l24-24L216 84.68Z"/></svg>',
		customizing : '<svg class="svg-icon" aria-hidden="true" xmlns="https://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 256 256"><path fill="currentColor" d="M64 105V40a8 8 0 0 0-16 0v65a32 32 0 0 0 0 62v49a8 8 0 0 0 16 0v-49a32 32 0 0 0 0-62m-8 47a16 16 0 1 1 16-16a16 16 0 0 1-16 16m80-95V40a8 8 0 0 0-16 0v17a32 32 0 0 0 0 62v97a8 8 0 0 0 16 0v-97a32 32 0 0 0 0-62m-8 47a16 16 0 1 1 16-16a16 16 0 0 1-16 16m104 64a32.06 32.06 0 0 0-24-31V40a8 8 0 0 0-16 0v97a32 32 0 0 0 0 62v17a8 8 0 0 0 16 0v-17a32.06 32.06 0 0 0 24-31m-32 16a16 16 0 1 1 16-16a16 16 0 0 1-16 16"/></svg>',
		installation : '<svg class="svg-icon" aria-hidden="true" xmlns="https://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 256 256"><path fill="currentColor" d="M50.34 117.66a8 8 0 0 1 11.32-11.32L120 164.69V32a8 8 0 0 1 16 0v132.69l58.34-58.35a8 8 0 0 1 11.32 11.32l-72 72a8 8 0 0 1-11.32 0ZM216 208H40a8 8 0 0 0 0 16h176a8 8 0 0 0 0-16"/></svg>',
		localization : '<svg class="svg-icon" aria-hidden="true" xmlns="https://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 256 256"><path fill="currentColor" d="m239.15 212.42l-56-112a8 8 0 0 0-14.31 0l-21.71 43.43A88 88 0 0 1 100 126.93A103.65 103.65 0 0 0 127.69 64H152a8 8 0 0 0 0-16H96V32a8 8 0 0 0-16 0v16H24a8 8 0 0 0 0 16h87.63A87.76 87.76 0 0 1 88 116.35a87.74 87.74 0 0 1-19-31a8 8 0 1 0-15.08 5.34A103.63 103.63 0 0 0 76 127a87.55 87.55 0 0 1-52 17a8 8 0 0 0 0 16a103.46 103.46 0 0 0 64-22.08a104.18 104.18 0 0 0 51.44 21.31l-26.6 53.19a8 8 0 0 0 14.31 7.16L140.94 192h70.11l13.79 27.58A8 8 0 0 0 232 224a8 8 0 0 0 7.15-11.58M148.94 176L176 121.89L203.05 176Z"/></svg>',
		plugins : '<svg class="svg-icon" aria-hidden="true" xmlns="https://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 256 256"><path fill="currentColor" d="M237.66 66.34a8 8 0 0 0-11.32 0L192 100.69L155.31 64l34.35-34.34a8 8 0 1 0-11.32-11.32L144 52.69l-26.34-26.35a8 8 0 0 0-11.32 11.32l6.35 6.34l-53 53a40 40 0 0 0 0 56.57l15.71 15.71l-49.06 49.06a8 8 0 0 0 11.32 11.32l49.09-49.09l15.71 15.71a40 40 0 0 0 56.57 0l53-53l6.34 6.35a8 8 0 0 0 11.32-11.32L203.31 112l34.35-34.34a8 8 0 0 0 0-11.32M147.72 185a24 24 0 0 1-33.95 0L71 142.23a24 24 0 0 1 0-33.95l53-53L200.69 132Z"/></svg>',
		question : '<svg class="svg-icon" aria-hidden="true" xmlns="https://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 256 256"><path fill="currentColor" d="M140 180a12 12 0 1 1-12-12a12 12 0 0 1 12 12M128 72c-22.06 0-40 16.15-40 36v4a8 8 0 0 0 16 0v-4c0-11 10.77-20 24-20s24 9 24 20s-10.77 20-24 20a8 8 0 0 0-8 8v8a8 8 0 0 0 16 0v-.72c18.24-3.35 32-17.9 32-35.28c0-19.85-17.94-36-40-36m104 56A104 104 0 1 1 128 24a104.11 104.11 0 0 1 104 104m-16 0a88 88 0 1 0-88 88a88.1 88.1 0 0 0 88-88"/></svg>',
		updates : '<svg class="svg-icon" aria-hidden="true" xmlns="https://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 256 256"><path fill="currentColor" d="M240 56v48a8 8 0 0 1-8 8h-48a8 8 0 0 1 0-16h27.4l-26.59-24.36l-.25-.24a80 80 0 1 0-1.67 114.78a8 8 0 0 1 11 11.63A95.44 95.44 0 0 1 128 224h-1.32a96 96 0 1 1 69.07-164L224 85.8V56a8 8 0 1 1 16 0"/></svg>',
		wordpress : '<svg class="svg-icon" aria-hidden="true" xmlns="https://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2C6.49 2 2 6.49 2 12s4.49 10 10 10s10-4.49 10-10S17.51 2 12 2M3.01 12c0-1.3.28-2.54.78-3.66l4.29 11.75c-3-1.46-5.07-4.53-5.07-8.09M12 20.99c-.88 0-1.73-.13-2.54-.37l2.7-7.84l2.76 7.57c.02.04.04.09.06.12c-.93.34-1.93.52-2.98.52m1.24-13.21c.54-.03 1.03-.09 1.03-.09c.48-.06.43-.77-.06-.74c0 0-1.46.11-2.4.11c-.88 0-2.37-.11-2.37-.11c-.48-.02-.54.72-.05.75c0 0 .46.06.94.09l1.4 3.84l-1.97 5.9l-3.27-9.75c.54-.02 1.03-.08 1.03-.08c.48-.06.43-.77-.06-.74c0 0-1.46.11-2.4.11c-.17 0-.37 0-.58-.01C6.1 4.62 8.86 3.01 12 3.01c2.34 0 4.47.89 6.07 2.36c-.04 0-.08-.01-.12-.01c-.88 0-1.51.77-1.51 1.6c0 .74.43 1.37.88 2.11c.34.6.74 1.37.74 2.48c0 .77-.3 1.66-.68 2.91l-.9 3zm6.65-.09a8.988 8.988 0 0 1-3.37 12.08l2.75-7.94c.51-1.28.68-2.31.68-3.22c0-.33-.02-.64-.06-.92"/></svg>',
	}

-
	var prefix = {
		content     : '<strong class="prefix-content" title="Content">' + icon.content + '<span class="screen-reader-text">Content: </span></strong>',
		customizing : '<strong class="prefix-customizing" title="Customization">' + icon.customizing + '<span class="screen-reader-text">Customization: </span></strong>',
	}

-
	var index = {
		map : 0,
	}

-
	var url_global = {
		accessibility : 'https://support.webmandesign.eu/accessibility/',
		author        : 'https://www.webmandesign.eu',
		themes        : 'https://www.webmandesign.eu/project-type/themes/',
		child_theme   : 'https://github.com/webmandesign/child-theme',
		child_plugin  : 'https://github.com/webmandesign/child-theme',
		css_classes   : 'https://themedemos.webmandesign.eu/' + config.slug + '/css-classes/',
		demo          : 'https://themedemos.webmandesign.eu/' + config.slug + '/',
		facebook      : 'https://www.facebook.com/webmandesigneu/',
		info          : 'https://www.webmandesign.eu/portfolio/' + config.slug + '-wordpress-theme/',
		logo          : 'https://www.webmandesign.eu/system/wp-content/uploads/cropped-webman-design.png',
		modifications : 'https://support.webmandesign.eu/modifications/',
		support       : 'https://support.webmandesign.eu/forums/forum/' + config.slug + '/',
		testing       : 'https://support.webmandesign.eu/testing-a-theme-on-your-computer/',
		themeforest   : 'https://themeforest.net/user/webmandesign/portfolio',
		twitter       : 'https://www.twitter.com/webmandesigneu/',
		videos        : 'https://vimeo.com/webmandesigneu/videos',
		wporg_plugins : 'https://profiles.wordpress.org/webmandesign/#content-plugins',
		wporg_themes  : 'https://profiles.wordpress.org/webmandesign#content-themes',
		review        : {
			'wporg'  : 'https://wordpress.org/support/theme/' + config.slug + '/reviews/?filter=5',
			'envato' : 'https://themeforest.net/downloads', //- https://easycaptures.com/fs/uploaded/1095/2900439960.jpg
		},
	};

if ! config.url
	- config.url = url_global
else
	each value, key in url_global
		if ! config.url[ key ]
			- config.url[ key ] = value

-
	var faq_global = {
		'any-page-builder' : 'How to use a <strong>page builder</strong>',
		'image-sizes'      : 'Why are uploaded <strong>images blurry</strong> or small',
		'css-classes'      : 'How to <strong>modify element</strong> appearance',
		'seo'              : '<strong>SEO</strong> - Search Engine Optimization',
		'font'             : 'How to set up <strong>custom fonts</strong>',
		'speed'            : 'How to <strong>speed up</strong> a website',
		'css'              : 'How to add <strong>custom CSS</strong>',
		'margin'           : 'How to <strong>remove gap</strong> between sections/elements',
	};

if ! config.faq
	- config.faq = faq_global
else
	-
		// Display only specific core FAQs based on array of FAQ keys.
		if ( Array.isArray( config.faq ) ) {
			// @link  https://masteringjs.io/tutorials/fundamentals/filter-key
			config.faq = Object.fromEntries(
				Object.entries( faq_global )
					.filter( ( [ key ] ) => config.faq.includes( key ) )
			);
		}

if config.imageNote && 'core' === config.imageNote
	- config.imageNote = '<svg class="svg-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 256 256"><path fill="currentColor" d="M128 24a104 104 0 1 0 104 104A104.11 104.11 0 0 0 128 24m0 192a88 88 0 1 1 88-88a88.1 88.1 0 0 1-88 88m16-40a8 8 0 0 1-8 8a16 16 0 0 1-16-16v-40a8 8 0 0 1 0-16a16 16 0 0 1 16 16v40a8 8 0 0 1 8 8m-32-92a12 12 0 1 1 12 12a12 12 0 0 1-12-12"/></svg> Illustration image. May not display this actual theme.';

-
	var image_notes = {
		'core/demo/01.png' : '',
		'core/demo/02.png' : '',
		'core/fse/styles-book.png' : '',
		'core/fse/template-parts-all.png' : '',
		'core/fse/template-parts.png' : '',
		'core/fse/templates-all.png' : '',
		'core/pages/templates.png' : '',
		'core/posts/excerpt.png' : '',
		'core/sidebars/edit-template-part.png' : '',
		'https://easycaptures.com/fs/uploaded/1839/9200486017.png' : '',
	};

if ! config.imageNotes
	- config.imageNotes = image_notes
else
	each value, key in image_notes
		if ! config.imageNotes[ key ]
			- config.imageNotes[ key ] = value
