- var nav = {};

-
	var index = {
		map : 0,
	}

-
	var url_global = {
		accessibility : 'https://support.webmandesign.eu/accessibility/',
		author        : 'https://www.webmandesign.eu',
		themes        : 'https://www.webmandesign.eu/project-type/themes/',
		child_theme   : 'https://github.com/webmandesign/child-theme',
		child_plugin  : 'https://github.com/webmandesign/child-theme',
		css_classes   : 'https://themedemos.webmandesign.eu/' + config.slug + '/css-classes/',
		demo          : 'https://themedemos.webmandesign.eu/' + config.slug + '/',
		facebook      : 'https://www.facebook.com/webmandesigneu/',
		info          : 'https://www.webmandesign.eu/portfolio/' + config.slug + '-wordpress-theme/',
		logo          : 'https://www.webmandesign.eu/system/wp-content/uploads/cropped-webman-design.png',
		modifications : 'https://support.webmandesign.eu/modifications/',
		support       : 'https://support.webmandesign.eu/forums/forum/' + config.slug + '/',
		testing       : 'https://support.webmandesign.eu/testing-a-theme-on-your-computer/',
		themeforest   : 'https://themeforest.net/user/webmandesign/portfolio',
		twitter       : 'https://www.twitter.com/webmandesigneu/',
		videos        : 'https://vimeo.com/webmandesigneu/videos',
		wporg_plugins : 'https://profiles.wordpress.org/webmandesign/#content-plugins',
		wporg_themes  : 'https://profiles.wordpress.org/webmandesign#content-themes',
		review        : {
			'wporg'  : 'https://wordpress.org/support/theme/' + config.slug + '/reviews/?filter=5',
			'envato' : 'https://themeforest.net/downloads', //- https://easycaptures.com/fs/uploaded/1095/2900439960.jpg
		},
	};

if ! config.url
	- config.url = url_global
else
	each value, key in url_global
		if ! config.url[ key ]
			- config.url[ key ] = value

-
	var faq_global = {
		'any-page-builder' : 'How to use a <strong>page builder</strong>',
		'image-sizes'      : 'Why are uploaded <strong>images blurry</strong> or small',
		'css-classes'      : 'How to <strong>modify element</strong> appearance',
		'seo'              : '<strong>SEO</strong> - Search Engine Optimization',
		'speed'            : 'How to <strong>speed up</strong> a website',
		'css'              : 'How to add <strong>custom CSS</strong>',
	};

if ! config.faq
	- config.faq = faq_global
else
	-
		// Display only specific core FAQs based on array of FAQ keys.
		if ( Array.isArray( config.faq ) ) {
			// @link  https://masteringjs.io/tutorials/fundamentals/filter-key
			config.faq = Object.fromEntries(
				Object.entries( faq_global )
					.filter( ( [ key ] ) => config.faq.includes( key ) )
			);
		}
