head
	meta( charset="utf-8" )
	meta(
		name="viewport"
		content="width=device-width, initial-scale=1"
	)

	title #{config.name} WordPress Theme Documentation

	if true === debug
		link( rel="stylesheet" href="../0app/assets/css/style.css" )
		style
			block styles
	else
		style
			block styles
				include ../assets/css/style.css
