+sub_section( 'Free Images' )

	p.
		You can get free images for your website at these sources:
		<a href="https://www.pexels.com">Pexels</a>,
		<a href="https://unsplash.com">Unsplash</a>,
		<a href="https://stocksnap.io/">StockSnap</a>,
		<a href="https://www.canva.com/">Canva</a>&hellip;

	p Also check out <a href="https://make.wordpress.org/themes/handbook/review/resources/#recommended-websites-for-images">WordPress resources</a> for free, 100% GPL license compatible image sources.
