/* FILE: content/header/_base.scss */

.site-header {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 6vmax 6vw;
	background: var(--color_header_background);
	color: var(--color_header_text);
	border-bottom: 1px solid var(--color_header_border);
	box-shadow: var(--drop_shadow_header);
	z-index: 1;

	a {
		color: inherit;
	}

	ul {
		list-style: none;
		margin: 0;

		@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
			display: flex;
			justify-content: space-between;
		}

	}

	li {
		margin-top: $ratio_maj +em;

		@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
			margin-left: 2em;
			margin-top: 0;
		}

	}

}
