/* FILE: content/header/_branding.scss */

.site-branding {
	font-size: $ratio +em;
}

.site-title {
	display: block;
	margin-bottom: $ratio_maj +em;

	@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
		display: inline;
		margin: 0;
		margin-left: $ratio +em;
	}

}

.custom-logo-link {
	position: relative;
	display: inline-block;
	margin: 50px 25px;
	line-height: 1;

	@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
		margin: 0;
	}

	&::before {
		content: '';
		position: absolute;
		width: 96px;
		height: 96px;
		left: 50%;
		top: 50%;
		background: var(--color_brand);
		border-radius: 16px;
		transform: translateX( -50% ) translateY( -50% ) rotate( 15deg );
	}

	img {
		position: relative;
		max-height: 35px;
		vertical-align: middle;
	}

}
