/* FILE: content/header/_branding.scss */

.site-branding {
	font-size: $golden +em;

	img {
		display: block;
		margin-bottom: 1rem;

		@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
			display: inline;
			margin-right: 1em;
			margin-bottom: 0;
		}

	}

}
