/* FILE: content/elements/_base.scss */

body {
	background: var(--color_content_background);
	color: var(--color_content_text);
	border-color: var(--color_content_border);
}

abbr[title],
acronym[title],
dfn {
	cursor: help;
	text-decoration: none;
	border-bottom: 1px dashed;
}

mark,
ins {
	padding: .15em .3em;
	margin: 0 .25em;
	box-decoration-break: clone;
	background: var(--color_mark);

	&.nav-path {
		font-size: .9em;
		font-weight: 600;
		font-style: italic;
		border-radius: var(--border_radius)
	}

}

s,
del {
	text-decoration: line-through;
	color: inherit;
}

audio,
embed,
iframe,
img,
object,
video {
	max-width: 100%;
	vertical-align: middle;
}

figure {
	@extend %shaded_background;
	position: relative;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	border: 2em solid transparent;
	border-radius: var(--border_radius);

	body &::before {
		left: -2em;
		right: -2em;
		top: -2em;
		bottom: -2em;
	}

	img {
		border-radius: var(--border_radius);
		box-shadow: var(--drop_shadow_alert);
	}

}

figcaption {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	padding: 1em;
	font-size: .9em;
	font-style: italic;
	text-align: center;
	background: rgba( #000, .75 );
	color: #fff;
	border-radius: var(--border_radius);
	backdrop-filter: blur( 10px );
}

img {
	height: auto;
	font-style: italic;
}

pre {
	position: relative;
	padding: 1em;
	font-size: var(--typography_font_size_small);
	overflow: auto;
	tab-size: 2;
	border-width: 1px;
	border-style: solid;
}
