/* FILE: content/elements/_links.scss */

a {
	// From @link  https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
	overflow-wrap: break-word;
	word-wrap: break-word;
	text-underline-offset: .15em;
	color: var(--color_accent);

	&:hover,
	&:active {
		outline: none;
	}

	&:hover {
		text-decoration-style: dotted;
		text-decoration-skip-ink: none;
	}

	&:focus {
		text-decoration: none;
	}

}

.heading-anchor {
	position: relative;
	color: inherit; // Required for `dt`.

	&::before {
		content: '#';
		position: absolute;
		width: 2rem;
		#{$right}: 100%;
		top: .15em;
		text-align: center;
		opacity: 0;
		transition: opacity .3s;
	}

	&:hover,
	&:focus,
	&:active {

		&::before {
			opacity: 1;
		}

	}

}
