/* FILE: content/elements/_lists.scss */

menu,
ul,
ol {
	padding: 0;
}

	ul,
	ol {
		margin-left: 1em;

		@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
			margin-left: 0;
		}

	}

	ul {
		list-style: disc;
	}

	li {

		p,
		ul, ol {

			&:not(:last-child) {
				margin-bottom: 1em;
			}

		}

	}

	li > ul,
	li > ol {
		margin-bottom: 0;
	}

	ol li + li {
		margin-top: $golden +em;

		@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
			margin-top: 1em;
		}

	}

dl {
	margin-top: 0;
}

dt {
	position: relative;
	margin-top: 1em;
	font-size: 1.15em;
	font-weight: 600;
	color: var(--color_content_headings);

	&:first-child {
		margin-top: 0;
	}

	@include media( map_get( $breakpoint, 'm' ) ) {
		left: -1rem; // `margin-left` doesn't work here and I'm not sure why.
	}

}

dd {
	margin-left: 0;
	margin-bottom: $golden +em;

	p,
	ul, ol {

		&:not(:last-child) {
			margin-bottom: 1rem;
		}

	}

}
