dt Secondary
dd
	p The secondary navigation area displays on the right side of the header. Can be nested and hierarchically organized (up to 2 levels deep).
	p It is only a secondary, complementary navigation to primary menu and will be displayed as is on mobile device.
	p Ideal for displaying your e-shop cart (using <a href="https://wordpress.org/plugins/woocommerce-menu-bar-cart/"><strong>WooCommerce Menu Cart</strong></a> plugin, for example).

	+tip( 'Display icons in menu items' )
		p
			| You can display images in menu items (such as icons) and hide the menu item text (label) on mobile devices if needed. Use this HTML code in <em>"Navigation Label"</em> field of the menu item:<br>
			| <code class="wrap">&lt;img src="ICON_IMAGE_URL_HERE" width="13" alt="" aria-hidden="true">&lt;span class="hide-on-mobile"> TEXT_HERE&lt;/span></code></a>.
