+sub_section( 'Page Intro Section', 'page-intro' )
	p Page intro is basically a main title area of the page, post or archive page. By default it displays <strong>page title</strong> and <strong>page excerpt</strong>:</p>

	dt Page excerpt
	dd
		p
			| <strong>Page Excerpt</strong> content depends on a page you are viewing. If it is an actual WordPress Page or Post or any custom post type, you can set the <a href="#post-excerpt"><em>"Excerpt"</em> field</a>.<br>
			| On taxonomy archive pages it displays the taxonomy (such as post category or tag) term description which you can set for any/all taxonomy terms in WordPress.<br>
			| If you want to display some description text for the custom post type archive page too, you need to <a href="https://wordpress.org/plugins/post-type-archive-descriptions/">use a plugin for that</a>.</p>
