dt <a href="https://wordpress.org/plugins/widget-css-classes/">Widget CSS Classes</a>
dd As the theme uses CSS flexbox in its horizontal widgets areas you can control the width of the widget with <a href="https://developer.mozilla.org/en/docs/Web/CSS/flex-grow"><code>set-flex-grow-#</code></a> CSS classes. The plugin allows you to set CSS classes for your widgets.
