:root {

	--color_accent: #aa5a00;
	--color_mark: #{ rgba( #aa5a00, .1 ) };
	--color_button_background: #aa5a00;
	--color_button_text: #fff;

	--color_header_background: #fff;
	--color_header_text: #0a0a00;

	--color_nav_background: #2a2a20;
	--color_nav_text: #fff;
	--color_nav_border: #{ rgba( #fff, var(--border_opacity) ) };

	--color_content_background: #fbf7f0;
	--color_content_headings: #0a0a00;
	--color_content_text: #6a6a60;
	--color_content_border: #{ rgba( #6a6a60, var(--border_opacity) ) };

}
