block plugins/classic-menu-in-navigation-block/tip
	if true === config.compatibility.fse
		+tip( 'Multilingual Navigation block' )
			p If you are building a multilingual website and having issues making the Navigation block multilingual, try using <a href="https://github.com/webmandesign/classic-menu-in-navigation-block/releases"><strong>Classic Menu in Navigation Block</strong> plugin</a>. It allows you to display classic menus in Navigation block which should resolve the issues.
			p The plugin was tested and working well with popular <em>Polylang</em> and <em>WPML</em> multilingual plugins.
