+sub_section( 'Useful Plugins', 'plugins-others' )
	p With this theme you can use whatever plugins you like (check out <a href="#plugins">compatibility info</a> above). Here is a selection of additional useful plugins:

	dl.list-default.has-quoted-terms
		block plugins/others/list

			dt <a href="https://wordpress.org/plugins/archive-title/">Archive Title</a>
			dd Removes archive page title labels.

			dt <a href="https://wordpress.org/plugins/block-visibility/">Block Visibility</a>
			dd Conditional visibility control for the block editor blocks.

			dt <a href="https://wordpress.org/plugins/breadcrumb-navxt/">Breadcrumbs NavXT</a>
			dd Create a perfect <abbr title="Search Engine Optimization">SEO</abbr> friendly and flexible <a href="https://en.wikipedia.org/wiki/Breadcrumb_navigation">breadcrumbs navigation</a>.

			dt <a href="https://wordpress.org/plugins/cpt-editor/">Custom Post Type Editor</a>
			dd Allows you to rename any post type.

			dt <a href="https://wordpress.org/plugins/disable-comments/">Disable Comments</a>
			dd Disables comments site-wide per post type.

			if true === config.compatibility.fse
				dt <a href="https://wordpress.org/plugins/dynamic-year-block/">Dynamic Year Block</a>
				dd Display a copyright notice in your footer with the current year.

			dt <a href="https://wordpress.org/plugins/imsanity/">Imsanity</a>
			dd Automatically downsizes huge images during upload.

			dt <a href="https://wordpress.org/plugins/intuitive-custom-post-order/">Intuitive Custom Post Order</a>
			dd For easier posts (and other post types) order management.

			dt <a href="https://wordpress.org/plugins/better-wp-security/">iThemes Security</a>
			dd Enhances your website security.

			dt <a href="https://wordpress.org/plugins/wp-nested-pages/">Nested Pages</a>
			dd Provides drag and drop interface for managing pages and posts.

			dt <a href="https://wordpress.org/plugins/ninja-forms/">Ninja Forms</a>
			dd For creating forms.

			dt <a href="https://wordpress.org/plugins/page-links-to/">Page Links To</a>
			dd Allows you to redirect a post or a page to a custom URL.

			dt <a href="https://wordpress.org/plugins/polylang/">Polylang</a>
			dd Easy to use plugin for creating multilingual websites.

			dt <a href="https://wordpress.org/plugins/post-type-archive-descriptions/">Post Type Archive Descriptions</a>
			dd Manages description (displayed on archive pages) for any post type.

			dt <a href="https://wordpress.org/plugins/rename-taxonomies/">Rename Taxonomies</a>
			dd Allows to rename taxonomies, such as "Tags" to "Topics", for example.

			dt <a href="https://wordpress.org/plugins/wck-custom-fields-and-custom-post-types-creator/">WordPress Creation Kit</a>
			dd Consists of three tools that help you create custom post types, custom taxonomies and custom fields.

			dt <a href="https://wordpress.org/plugins/insert-headers-and-footers/">WPCode</a>
			dd Insert custom code snippets to your site.

			dt <a href="https://wordpress.org/plugins/wpforms-lite/">WPForms</a>
			dd For creating forms.
