+danger( 'This theme is deprecated!' )
	p I'm sorry, but this theme was deprecated. It is <strong>no longer recommended to use this theme</strong>. I don't provide support for this theme any longer.
	p Please feel free to check a <a href="https://www.webmandesign.eu/project-type/themes/">newer theme from my portfolio</a>.
	hr
	p You can find legacy, deprecated themes at <a href="https://github.com/webmandesign/legacy/tree/master/themes">GitHub repository</a>. There are <em>new theme updates (critical only)</em> available in this repository. You can install a theme update following the manual theme update procedure below.
