block pages/excerpt
	+sub_section( 'Page Excerpt', 'page-excerpt' )
		p The theme adds support for excerpts also to WordPress pages. This functionality basically matches post excerpt &rarr; check more <a href="#posts-excerpt">info about excerpts</a>.
