block pages/templates
	+sub_section( 'Templates', 'page-templates' )
		block pages/templates/about
			p <strong>#{config.name}</strong> theme supports <a href="https://developer.wordpress.org/themes/template-files-section/page-template-files/">WordPress page/post templates functionality</a> and contains selection of predefined templates for you (see the list below).

			+image( 'core/pages/templates.png', 'Setting up template in editor' )

			+video( 'https://vimeo.com/766481653' ) How to assign a template

		dl.list-default
			block pages/templates/list
