+sub_section( 'Accessibility theme options' )

	+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Accessibility' ).is-path-featured

	p You can tweak some accessibility related options in theme <a href="#cusotmizer">customizer</a>, such as enabling/disabling <a href="#mobile-nav">fixed mobile navigation toggle button</a>, and improving mobile navigation accessibility.
