+sub_section( 'Blog Layout', 'blog-layout' )
	p In #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Posts' )] you can choose between predefined blog page layouts:

	ul
		li Columns without sidebar (default) → <em><a href="#{config.url.demo}blog/">Preview</a></em>
		li Alternative columns layout → <em><a href="#{config.url.demo}blog/?mod=l.alt">Preview</a></em>
		li List with sidebar → <em><a href="#{config.url.demo}blog/?mod=l.sidebar">Preview</a></em>

	+image( 'blog-layout.webp', 'Preview of blog layouts (2 or 3 columns, and with a sidebar)' ).is-plain

	p Alternatively, create completely custom layout modifying <em>"Template content: Blog"</em> <a href="#site-editor-template-parts">template part in Site Editor</a>.
