+info( 'Version changelog', 'h3' )
	p You can check the theme version changelog in your WordPress admin at the bottom of #[+mark( 'nav', 'Appearance', 'Welcome' )] page. (Or click the <em>"(version changelog)"</em> link next to theme name in the title of the page.)
