+sub_section( 'Boxed site container', 'boxed' )

	+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Layout', '"Enable boxed site layout"' ).is-path-featured

	p The theme can be set to either <strong>boxed</strong> or <strong>fullwidth</strong> layout. Default layout is <strong>boxed</strong>, meaning it creates a space surrounding the site container on large screens (wider than 1280px).

	p Boxed/fullwidth layout can be toggled with #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Layout', '"Enable boxed site layout"' )] theme option.

	p Once the boxed layout is being used, you can furthermore set the surrounds background color and image in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Colors & Background' )].

	+image( 'boxed.webp', 'Preview of boxed and fullwidth layouts' ).is-plain
