li
	+answer( 'How to customize buttons', 'customize-button' )

		p The theme styles button elements in more advanced way, which WordPress does not provide options for (yet). The basic button colors can be tweaked using #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Colors & Background', 'Button colors' )] theme options.

		p Alternatively you cat set button colors in #[+mark( 'nav', 'Appearance', 'Editor', 'Styles', 'Colors', 'Button' )]. These options override the colors set via theme options (have <em>higher styling priority</em>). Styles section of Site Editor also provides options to set up button typography at #[+mark( 'nav', 'Appearance', 'Editor', 'Styles', 'Typography', 'Elements', 'Buttons' )].

		p And finally, the most advanced custom button styling can be achieved via #[+mark( 'nav', 'Appearance', 'Editor', 'Styles', 'Blocks', 'Button' )]. These options override all of the above options (have the <em>highest styling priority</em>).

		+info( 'Site Editor button preview', 'h5' )
			p Depending on combination of aforementioned options, the button preview in Site Editor may not match the actual button design on front-end of your website. Please use only one styling priority level for designing buttons.
