li
	+answer( 'How to display related posts', 'related-posts' )

		p <a href="https://support.webmandesign.eu/forums/topic/show-latest-posts-from-the-same-category-in-the-single-template/#post-33090">@todo</a>
