li
	+answer( '<strong>WooCommerce</strong>: Shop page layout', 'wc-shop-page' )

		p You can enable shop page sidebar in #[+mark( 'nav', 'Appearance', 'Customize', 'WooCommerce', 'Product Catalog' )]. Shop page sidebar content can be set by editing "WooCommerce: Shop sidebar" <a href="#site-editor-template-parts">template part</a>.
