li
	+answer( 'How to change decorative border radius', 'decorative-radius' )

		p The theme provides 3 decorative border radius presets for blocks (<em>"Decorative: Small/Medium/Large"</em>). This border radius is applied in one corner on multiple elements/blocks, creating interesting visual effect.

		+image( 'decorative-radius.webp', 'Example of decorative border radius applied on post intro' )

		p In case you want to remove or edit the size of this decorative border, you can do so directly by editing affected block in your <a href="#pages">page</a>, <a href="#posts">post</a>, <a href="#site-editor-template-parts">template part</a> or <a href="#site-editor-templates">template</a> content. This is useful for specific border radius modifications.

		p For global decorative border radius modification the theme provides useful #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Layout', 'Others', '"Decorative border radius (medium)"' )] option. This option sets border radius value for <em>"Decorative: Medium"</em> preset, and <em>"Decorative: Small"</em> and <em>"Decorative: Large"</em> presets will be calculated accordingly.
