li
	+answer( 'How to set text background', 'text-bg' )

		p The theme provides useful <a href="#block-styles">block style</a> for <a href="https://wordpress.org/documentation/article/paragraph-block/">Paragraph</a> and <a href="https://wordpress.org/documentation/article/heading-block/">Heading block</a> to clip their background (image or gradient) into the text letters shape. Here is how you can apply this block style easily:

		ol.is-steps
			li Insert some text into page/post content using <a href="https://wordpress.org/documentation/article/paragraph-block/">Paragraph</a> or <a href="https://wordpress.org/documentation/article/heading-block/">Heading block</a>. <br><small>(Point <strong>#1</strong> in the screenshot below, using Paragraph block.)</small>

			li In block settings, click the "<strong>Text background</strong>" <a href="#block-variations">block variation</a> button. <br><small>(Point <strong>#2</strong>, <strong>#3</strong>, and <strong>#4</strong> in the screenshot below.)</small>

			li Adapt the background image (or use background gradient instead) and typography options to your needs. <br><small>(Point <strong>#5</strong> in the screenshot below.)</small>

		+image( 'text-background.webp', 'Setting up text background' ).is-plain
