+sub_section( 'Menu item image', 'menu-image' )
	p If you want to display an image in the menu item (useful in <a href="#megamenu">megamenu</a>), insert it as an inline image into the menu item label, and set "<strong>Is image</strong>" (or "<strong>Is image icon</strong>", or "<strong>Is image icon, large</strong>") block style for the menu item:

	ol
		li Select the menu item where you want to insert an image.

		li Optionally set the menu item label text, and (re)set the cursor to the beginning of the label text input field.

		li
			p Click the "<strong>More</strong>" dropdown button from the block toolbar options and select "<strong>Inline image</strong>".

			+image( 'menu-image-1.webp', 'Inserting inline image into menu item' ).is-plain

		li Choose the image to insert into the menu item.

		li
			p Apply the "<strong>Is image</strong>" block style onto the menu item. It will adapt the image width in the menu and will properly style the menu label text.

			+image( 'menu-image-2.webp', 'Applying "Is image" menu item block style' ).is-plain
