dt "Content only"
dd
	p Displays only page content and so it's best suited for creating landing pages, or used for no-distraction eshop checkout page. There is no site header, no page intro title section (no <code>h1</code> heading tag), and no site footer on this template.

	p <em>It works with every public post type.</em>
