dt "Overlaid header"
dd
	p Removes page intro title section (no <code>h1</code> heading tag) and overlays site header over the page content area. Creates an effect of site header blending into the page content.
	p Don't forget to set sufficient top padding for the first block/section in such page content (such as Cover block) to mitigate for the overlaid site header.

	p <em>It works with every public post type.</em>
