p <strong>Accessibility</strong> in web design means creating a web site that everybody can use, regardless of hardware, software, or sensory, or physical impairment.

p While creating accessible website is a <em>complex process that includes a website content strategy</em>, <strong>#{config.name}</strong> theme helps you with being accessibility ready. It complies to and surpasses <a href="https://make.wordpress.org/themes/handbook/review/accessibility/">WordPress accessibility requirements</a> and was built to help create websites that pass <a href="https://webaim.org/standards/wcag/checklist">WCAG 2.1 level AA</a> requirements.

p Among other features the theme itself applies <em>proper headings structure</em>, uses <em>ARIA attributes</em> where needed, adds <em>informative "read more" links</em>, makes your website navigation <em>keyboard accessible</em>, creates <em>skip links</em> for you and provides <em>default color scheme that complies to WCAG level AA color contrast ratio</em>.

p However, please understand that creating an accessible website is not just about theme. You need to apply accessibility guidelines also to your website content and be cautious when using plugins. For further information please read <a href="https://codex.wordpress.org/Accessibility">WordPress Codex on accessibility</a>.

p And for even more information about web accessibility please check this selection of websites:

ul
	li <a href="#{config.url.accessibility}">How to evaluate your website accessibility?</a>
	li <a href="https://en.wikipedia.org/wiki/Accessibility">Accessibility explained on Wikipedia</a>
	li <a href="https://wordpress.tv/tag/accessibility/">WordPress.tv videos about accessibility</a>
	li <a href="https://www.w3.org/WAI/gettingstarted/Overview.html">Getting started with web accessibility by W3.org</a>
	li <a href="https://webaim.org/">WebAIM: Web Accessibility In Mind</a>
