+sub_section( 'What is accessibility' )
	p <strong>Accessibility</strong> in web design means creating web pages that everyone can use, regardless of hardware, software, or any sensory or physical impairment.

	p While this is a <em>complex process that includes a website content strategy</em>, the <strong>#{config.name}</strong> theme helps you with being accessibility ready. It complies to and surpasses the <a href="https://make.wordpress.org/themes/handbook/review/accessibility/">WordPress accessibility requirements</a> and was built to pass the <a href="http://webaim.org/standards/wcag/checklist">WCAG 2.0 level AA</a> and <a href="http://webaim.org/standards/508/checklist">Section 508</a> requirements.

	p The theme itself contains and applies <strong>proper headings structure</strong>, uses <strong>ARIA landmark roles</strong> and attributes, adds <strong>informative "read more" links</strong>, <strong>keyboard accessible navigation</strong> (applied also on mobile navigation), <strong>skip links</strong>, the <strong>default color scheme complies to WCAG 2.0 level AA color contrast ratio</strong>, and others.

	p Please note that to make your website fully accessible, <strong>you need to apply accessibility guidelines also to your website content</strong>. For further information please read <a href="https://codex.wordpress.org/Accessibility">WordPress Codex on accessibility</a>.


	h4 Helpful resources

	p For more information on accessibility please have a look at this selection of websites:

	ul
		li <a href="https://codex.wordpress.org/Accessibility">WordPress Codex on accessibility</a>
		li <a href="https://en.wikipedia.org/wiki/Accessibility">Accessibility explained on Wikipedia</a>
		li <a href="https://wordpress.tv/tag/accessibility/">WordPress.tv videos about accessibility</a>
		li <a href="https://www.w3.org/WAI/gettingstarted/Overview.html">Getting started with web accessibility by W3.org</a>
		li <a href="https://webaim.org/">WebAIM: Web Accessibility In Mind</a>
		li <a href="https://support.webmandesign.eu/accessibility/">Accessibility website evaluation</a>
