+sub_section( 'Headings Hierarchy' )
	p To comply with accessibility guidelines, the theme follows this headings structure:

	dl
		dt Max one <code>h1</code> on any given page
		dd
			p Theme outputs only one first-level heading (HTML tag <code>&lt;h1></code>) on each page. This is reserved for a page main title.

			+important( 'Exceptions in templates' )
				p Read more about exception from this rule applied with certain <a href="#page-templates">templates</a>. For example, you can remove the <code>h1</code> title altogether and create your own custom one in a page content.

		dt Site title heading
		dd
			p Site title (logo) is displayed as <code>h1</code> only on homepage. On other pages the <code>h1</code> tag is reserved for the actual main page title.

		dt Hierarchy
		dd
			p Theme follows the best practice by hierarchically organizing heading levels, not skipping any of them. For example, <code>h3</code> headings can be found only in a section titled with level <code>h2</code> (and not <code>h1</code>). This rule is applied also in <a href="#demo-content">the theme demo content</a> and <strong>you should do the same when building your site content</strong> too.

			+tip( 'Test it out!')
				p In case you would like to test a page headings hierarchy, there is a great browser extension for this called <a href="https://github.com/dzc34/headingsMap"><strong>HeadingsMap</strong></a>.
