+sub_section( 'Focus on Readability' )
	p The single post page (and the actual default page layout) was designed very carefully to provide <strong>the best reading experience</strong> for your visitors. The <strong title="Depending on the text font, text size, browser window width and your website content width setup." style="border-bottom: 1px dotted; cursor: help;">maximum line width is around 70 characters</strong> with properly set line height and spacing around elements to provide great readability of your content.
