+sub_section( 'Focus on Readability' )
	p Content area of this theme was designed carefully to provide <strong>the best reading experience</strong> for your visitors. The maximum line width is set to roughly 70 characters by default (can be tweaked in theme options). With properly set line height and spacing around elements it is easier for users to digest your website content.
