block editor/about
	<strong>#{config.name}</strong> theme is compatible with WordPress block editor (Gutenberg). It supports wide alignment, custom color palettes, font sizes, and others. Using block editor allows you to create beautiful and performant websites with intriguing page layouts even without a page builder plugin. Have a look at <a href="#{config.url.demo}">theme demo website</a> for inspiration.
