+sub_section( 'Additional Block Styles plugin' )
	p You can further change block appearance with suplemental block styles provided by <a href="https://wordpress.org/plugins/additional-block-styles/"><strong>Additional Block Styles</strong> plugin</a>. Simply choose your preferred style from block options and you are done.

	+image( 'https://easycaptures.com/fs/uploaded/1625/8112352924.jpg', 'Choosing a block style' )

	+video( 'https://vimeo.com/517486265' ) How to use block styles
