+sub_section( 'Block Patterns', 'block-patterns' )
	p This theme contains a library of predesigned block patterns to help you create a custom website with ease and in no time. Using block patterns allow you to <strong>create your very own website</strong> with no clutter (as oppose to importing the whole demo content data, for example).

	+video( 'https://vimeo.com/517486255' ) How to use block patterns library quickly

	+video( 'https://wordpress.com/support/block-pattern/' ) WordPress.com block patterns tutorial

	+tip( 'More patterns' )
		p You can get more block patterns at official <a href="https://wordpress.org/patterns/">WordPress pattern directory</a>.
