+sub_section( 'Block Patterns', 'block-patterns' )
	p This theme contains a library of predesigned block patterns to help you create a custom website with ease and in no time. Using block patterns allow you to <strong>create your very own website</strong> with no clutter (as oppose to importing the whole demo content data, for example).

	+image( 'https://easycaptures.com/fs/uploaded/1625/1354777711.jpg', 'Adding block pattern to page content' )

	+video( 'https://vimeo.com/517486255' ) How to use block patterns library quickly

	+video( 'https://wordpress.com/support/block-pattern/' ) WordPress.com block patterns tutorial

	+tip( 'More patterns', 'h4' )
		p You can get more block patterns at official <a href="https://wordpress.org/patterns/">WordPress pattern directory</a>. (Get <a href="https://wordpress.org/patterns/author/webmandesign/">free patterns I provided for you</a>.)
