+sub_section( 'Block Patterns' )
	p This theme contains a library of predesigned block patterns to help you create a custom website with ease and in no time.

	+video( 'https://vimeo.com/517486255' ) How to use block patterns?
