+sub_section( 'Block Styles' )
	p With <strong>#{config.name}</strong> you can change a block appearance with ease with provided additional styles integrated directly into block editor. Simply choose your preferred block style from block options and you are done.

	+video( 'https://vimeo.com/517486265' ) How to use block styles?

	+tip( 'Modification CSS classes' )
		p For further customization of blocks appearance check information about additional <a href="#css-classes">modification CSS classes</a>.
