- title   = 'Customizer';
- id      = 'customizer';
- nav[id] = title;

+section( title, id )

<h2 id="customizer">Customizer</h2>
	<div class="section indented row">

		<h3>What is Customizer and How to Use It</h3>

		<div class="col-sm-12 col-md-6">

			<p>The theme seamlessly integrates its options into the <strong>WordPress Customizer</strong>.</p>
			<p>You can access it navigating to <strong><em>Appearance &rarr; Customize</em></strong>. All the changes you make in Customizer will be immediately displayed in the theme preview. However, these changes will not be saved until you press the <strong>[Publish]</strong> button.</p>

		</div>

		<div class="col-sm-12 col-md-6">

			<p>You can set up your site's title, tagline and logo, header images and video, manage <a href="#navigation">navigational menu locations</a> and <a href="#sidebars">widget areas</a>, set up a <a href="#pages">homepage and blog page</a>, theme colors, layout, predefined texts and typography.</p>
			<p>All the custom theme options can be found under <strong><em>Appearance &rarr; Customize &rarr; Theme Options</em></strong> section.</p>

		</div>

	</div>
