/* FILE: content/entry/_content.scss */

.entry {
	padding: calc( var(--white_space) / 2 ) 0;
	margin: var(--white_space) auto;
	margin-right: 0;

	@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
		max-width: var(--content_width);
	}

	&::after {
		content: '';
		clear: both;
		display: table;
		table-layout: fixed;
	}

	&:focus {
		outline: 0;
	}

	&-title {
		padding: 2rem var(--content_padding);
		margin-left: calc( -1 * var(--content_padding) );
		margin-right: calc( -1 * var(--content_padding) );
		margin-bottom: var(--white_space);
		background: var(--color_heading_entry_background);
		color: var(--color_heading_entry_text);
		border-width: 1px;
		border-style: solid;

		@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
			padding-left: 2rem;
			padding-right: 2rem;
			margin-left: -2rem;
			margin-right: -4vw;
			border-radius: var(--border_radius);
			border-top-#{right}-radius: 0;
			border-bottom-#{right}-radius: 0;
		}

		+ .entry-section {
			padding-top: 0;
		}

	}

	&-section {
		padding-top: calc( var(--white_space) / 2 );
		margin-top: calc( var(--white_space) / 2 );
	}

}
