block sidebars/about
	+tip( 'Classic widgets interface' )
		p WordPress 5.8 introduced a new block-based interface to widgets and sidebars management screen. As this may be confusing and possibly even cause incompatibility issues in some cases, you can consider reverting back the interface with <a href="https://wordpress.org/plugins/classic-widgets/"><strong>Classic Widgets</strong> plugin</a>.

	+sub_section( 'Predefined Widget Areas' )
		p The content of widget areas (sidebars) can be customized in #[+mark( 'nav', 'Appearance', 'Widgets' )] or #[+mark( 'nav', 'Appearance', 'Customize', 'Widgets' )]. The theme predefines these widget areas:

		dl.list-default.has-quoted-terms
			block sidebars/list
				dt &mdash; no areas found &mdash;
				dd It seems your theme does not support sidebars and widgets.
