dt Primary Menu
dd
	p This is the main navigation in the header of the website.
	p Menu in this location can be nested and hierarchically organized and you can also use a <a href="#megamenu">simple megamenu functionality</a> here.
	p It is also mobile-ready menu.


dt Footer Menu
dd
	p Displayed in the footer of your website.


dt Social Links Menu
dd
	p Please read the <a href="#social-links">"Social Links" documentation section</a> below for more info.
