h3#anatomy-archives.counter-reset-numbers <strong>Blog</strong>, archives, search results

- var topic_href = "anatomy-archives"
- var index = 0;

// https://www.image-map.net/
+map( 'https://www.dropbox.com/s/gkkkiije1k009yf/blog-archives-search-results.jpg', 'Theme anatomy: Blog, archives, search results' )
	area( href="#"+topic_href+"-1" coords="3,1,124,120"      title="1. Blog page" )
	area( href="#"+topic_href+"-2" coords="129,116,389,209"  title="2. Archive page title" )
	area( href="#"+topic_href+"-3" coords="150,269,457,420"  title="3. Featured media" )
	area( href="#"+topic_href+"-4" coords="57,403,461,465"   title="4. Post title and subtitle" )
	area( href="#"+topic_href+"-5" coords="61,468,241,539"   title="5. Post meta" )
	area( href="#"+topic_href+"-6" coords="256,467,467,544"  title="6. Post excerpt" )
	area( href="#"+topic_href+"-7" coords="480,246,709,660"  title="7. Sidebar" )
	area( href="#"+topic_href+"-8" coords="805,222,1593,809" title="8. Search results" )
	area( href="#"+topic_href+"-2" coords="928,113,1209,212" title="2. Archive page title" )

p <small>(Click the item below to reveal more info. Click the image to preview a bigger size.)</small>

+details( 'Blog page', topic_href+'-'+(++index) )
	p By default <a href="#wordpress">WordPress</a> displays blog posts listing on your website homepage. If you would like to set up a static homepage and use a different page for a blog posts listing, set it up in <a href="#pages">#[+mark( 'nav', 'Appearance', 'Customize', 'Static Front Page' )]</a> settings (or in #[+mark( 'nav', 'Settings', 'Reading' )]).
	p The style of blog and archive page posts listing can be set in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Blog' )].
	+back_to( 'image', topic_href )

+details( 'Archive page title', topic_href+'-'+(++index) )
	p Intro section on archive pages display the archive title and archive description (a taxonomy term description, such as category description, or author biographical info, if it is an author archive).
	p You can customize the archive title using <a href="https://wordpress.org/plugins/archive-title/">Archive Title</a> plugin.
	+back_to( 'image', topic_href )

+details( 'Featured media', topic_href+'-'+(++index) )
	p By default all posts display a post featured image.
	p Please see FAQ section for more <a href="#image-sizes">information on image sizes</a>.
	+back_to( 'image', topic_href )

+details( 'Post title and subtitle', topic_href+'-'+(++index) )
	p Title of the post.
	p If you would like to display subtitles, use <a href="https://wordpress.org/plugins/wp-subtitle/"><strong>WP Subtitle</strong> plugin</a>.
	+back_to( 'image', topic_href )

+details( 'Post meta', topic_href+'-'+(++index) )
	p Such as post publish date, post author name, number of comments...
	+back_to( 'image', topic_href )

+details( 'Post excerpt', topic_href+'-'+(++index) )
	p Automatic WordPress <a href="#posts">post excerpt</a> can be overridden per post basis.
	+back_to( 'image', topic_href )

+details( 'Sidebar', topic_href+'-'+(++index) )
	p The theme displays sidebar on each single post page, single custom post type page, blog page, archive page and search results page.
	p Sidebar is a <a href="#sidebars">widgetized area</a>, its content can be set in #[+mark( 'nav', 'Appearance', 'Customize', 'Widgets' )].
	p If you would like to replace sidebar on a specific page with a different one or just remove it, use <a href="#manage-sidebars"><strong>Content Aware Sidebars</strong> plugin</a>. It is a great way to control and alter your website layout.
	+back_to( 'image', topic_href )

+details( 'Search results', topic_href+'-'+(++index) )
	p This page has a special layout, different from post archive pages (depending on the blog style you have chosen, actually), to allow for easier scanning.
	p In case you need to refine your search, there is a search form conveniently displayed on top of search results listing.
	p Each post type displays differently in search results page.
	+back_to( 'image', topic_href )

+back_to( 'topics', '#anatomy' )
