+sub_section( 'Boxed site container', 'boxed' )

	+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Colors & Background', '"Site container"' ).is-path-featured

	p The theme can be set to "boxed" layout, meaning it will create a margin around site container on large screens (wider than 1600px). This can be done by setting up the "<strong>Site container</strong>" color in theme options.

	p If you leave (set) the color value empty, site container will stretch the full width of the browser window, removing the boxed margin.

	+image( 'boxed.jpg', 'Setting empty value for site container background color' )
