block accessibility/about
	p <strong>Accessibility</strong> in web development means creating a web site that everybody can use regardless of one's hardware, software, or sensory, or physical impairment. It is about building a barrier-less web.

	p While creating accessible website is a <em>complex process that includes a content strategy</em>, <strong>#{config.name}</strong> theme helps you with being <em>accessibility ready</em> out of the box. It complies to <a href="https://make.wordpress.org/themes/handbook/review/accessibility/">WordPress accessibility requirements</a> and was built to help you create a website that passes <a href="https://webaim.org/standards/wcag/checklist">WCAG 2.2 level AA</a> requirements.

	p Among other features the theme itself applies <em>proper headings structure</em>, uses <em>ARIA attributes and landmarks</em> where needed, adds <em>informative "read more" links</em>, makes your website navigation <em>keyboard accessible</em>, creates <em>skip links</em> for you and provides sufficient <em>color contrast in default color scheme</em>.

	p However, please understand that creating an accessible website is not just about a theme. You need to apply accessibility principles also to your website content and be cautious when using plugins. For further information please read <a href="https://make.wordpress.org/accessibility/handbook/">WordPress documentation about accessibility</a>.

	p And for even more information about accessibility please check:

	ul
		li <a href="#{config.url.accessibility}">How to evaluate your website accessibility</a>
		li <a href="https://en.wikipedia.org/wiki/Accessibility">Accessibility explained on Wikipedia</a>
		li <a href="https://wordpress.tv/tag/accessibility/">WordPress.tv videos about accessibility</a>
		li <a href="https://www.w3.org/WAI/gettingstarted/Overview.html">Getting started with web accessibility by W3.org</a>
		li <a href="https://webaim.org/">WebAIM: Web Accessibility In Mind</a>
		li <a href="https://www.w3.org/TR/WCAG22/">W3C Web Content Accessibility Guidelines (WCAG) 2.2</a>
		li <a href="https://www.w3.org/WAI/WCAG22/Understanding/">Understanding WCAG</a> (and a version from <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/understanding-wcag">GOV.UK</a>)
		li <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">WCAG overview</a>
