+sub_section( 'Focus on Readability' )
	p Content area of this theme was designed carefully to provide <strong>the best reading experience</strong> for your visitors. Maximum line width is set to roughly 70 characters (can be tweaked in theme options). With proper line height and spacing around elements it is easier for visitors to digest your website content.
