+sub_section( 'Archive Page Title' )
	p By default WordPress displays a caption in archive page titles (such as <em>"Category:"</em> in front of a category name). Use an <a href="https://wordpress.org/plugins/archive-title/">Archive Title</a> plugin to hide these labels.
