+sub_section( 'Archive Page Title' )
	p By default WordPress adds some general caption to the archive page title (such as <em>"Category:"</em> in front of a category name on category archive page). You can disable these using <a href="https://wordpress.org/plugins/archive-title/">Archive Title</a> plugin.
