+sub_section( 'Post Excerpt' )
	p Post excerpt will be displayed in posts list. If no excerpt is set, a portion of post content will take its place in posts list (if set, until <a href="https://codex.wordpress.org/Customizing_the_Read_More">more tag</a>).

	p If you set the <a href="https://codex.wordpress.org/Customizing_the_Read_More">more tag</a> inside the post content and you also set a post excerpt, first the post excerpt followed with post content (until more tag) will be displayed in posts list.
