+sub_section( 'Excerpt', 'posts-excerpt' )
	p Excerpt will be displayed in posts list. If no excerpt is set, a portion of post content will take its place. If you set a <a href="https://codex.wordpress.org/Customizing_the_Read_More">more tag</a> inside the post content and you also set a post excerpt, first the post excerpt followed with post content (until more tag) will be displayed in posts list.

	+video( 'https://vimeo.com/523023144' ) How to set up excerpt?
