+sub_section( 'Excerpt', 'posts-excerpt' )
	p Excerpt will be displayed in posts list. If no excerpt is set, a portion of post content will take its place.

	p If you set a custom excerpt text for a post or page, this will be also displayed in page intro section (main title area) unless you hide it with a <a href="#page-templates">template</a>.

	+image( 'https://easycaptures.com/fs/uploaded/1661/8982486191.png', 'Adding/editing excerpt field' )

	+video( 'https://vimeo.com/523023144' ) How to set up custom excerpt
