extends ../_core/_index.pug

//-
	Every content section has predefined `{section}` content block.
	This content block contains main section content. You can either
	completely overwrite it, or prepend/append to it.

	@link  https://pugjs.org/language/inheritance.html

//-
	Some additional partial content blocks for more flexibility:

block append styles
	include includes/style.css
//- block scripts

//- block demo/starter_content

//- block pages/intro
//- block pages/intro/info
//- block pages/intro/list

//- block pages/templates
//- block pages/templates/info
block pages/templates/list
	include includes/template-content-only.pug
	include includes/template-no-intro.pug
	include includes/template-header-overlaid.pug
	include includes/template-page-builder.pug

//- block plugins/recommended/list
//- block plugins/others/list

block menu/list
	include includes/menu-primary.pug

//- block sidebars/list

//- block faq/questions/list
//- block faq/answers/list
