//-
//- Configuration object:
//-
-
	var config = {
		//- Theme attributes:
		name          : 'Michelle',
		slug          : 'michelle',
		screenshot    : 'https://themedemos.webmandesign.eu/michelle/wp-content/themes/michelle/screenshot.png',
		is_free       : true,
		source        : 'wporg', //- Available values: wporg/envato/github/other
		compatibility : {
			accessibility  : true,
			theme_builder  : true,
			block_patterns : true,
			block_styles   : true,
		},
		version : {
			wp  : '5.5',
			php : '7.0',
		},

		//- Content sections:
		//- For custom content see below.
		content : [
			//- For the list of core contents refer to `0app/includes/content.pug`.
			//- Basically, these match sub-folder names in `0app/includes/content`.
			//- Reorder these how you please.
			'wordpress',
			'install',
			'update',
			'demo',
			'pages',
			'posts',
			'editor',
			'menu',
			'customizer',
			'localization',
			'accessibility',
			'plugins',
			'faq',
			'mods',
			'references',
		],

		//- Recommended plugins list:
		//- For custom content see below.
		plugins : {
			//- For the list of core recommended plugin refer to `0app/includes/content.pug`.
			//- Reorder these how you please.
			'abs'                   : 'Additional Block Styles',
			'beaver-builder'        : 'Beaver Builder',
			'improve-search'        : 'Improve Search Form Accessibility',
			'one-click-demo-import' : 'One Click Demo Import',
			'woocommerce'           : 'WooCommerce',
			'integration-wc'        : 'Integration for WooCommerce',
		},
		tgmpa : false,

		imageNote : 'core'
	};

//-
//- Custom content:
//- This has to be here, after all the above variables declarations.
//-
include includes/_custom-content.pug
