

	<h3 id="admin">
		How to customize WordPress admin?
		<a href="#faq" class="btn alignright">Back to FAQ list &uarr;</a>
		<span class="badge alignleft"></span>
	</h3>

		<p>If you are building a website for a client using WordPress (and #{config.name} theme), you might want to adapt the WordPress admin area a bit to remove unnecessary things and maybe even rename some post types. In this case we provide some useful resources you would want to check out:</p>

		<ul>
			<li><a href="https://webdesign.tutsplus.com/courses/wordpress-admin-customization"><strong>WordPress Admin Customization</strong></a> video course</li>
			<li>Use <a href="https://wordpress.org/plugins/cpt-editor/"><strong>Custom Post Type Editor</strong></a> plugin to rename any post type</li>
			<li>Use <a href="https://wordpress.org/plugins/rename-taxonomies/"><strong>Rename Taxonomies</strong></a> plugin to rename any taxonomy</li>
			<li>For easier pages/post advanced settings use <a href="https://wordpress.org/plugins/advanced-custom-fields/"><strong>Advanced Custom Fields</strong></a> plugin. Once you activate this plugin, the theme will automatically create metaboxes for all the <a href="#custom-fields">custom fields</a> it uses for you.</li>
		</ul>
