
	<h3 id="breadcrumbs">
		How to set up breadcrumbs?
		<a href="#faq" class="btn alignright">Back to FAQ list &uarr;</a>
		<span class="badge alignleft"></span>
	</h3>

		<p>The theme supports <a href="https://wordpress.org/plugins/breadcrumb-navxt/"><strong>Breadcrumb NavXT</strong></a> plugin that allows very flexible set up and display of breadcrumbs navigation on your website. After you install and activate the plugin, the theme displays the breadcrumbs navigation in preset location (you can change this in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Layout' )]).</p>
		<p>If you would like to display breadcrumbs navigation the same way it is displayed on the theme demo website, please use these settings (feel free to set up all the other breadcrumbs settings to your needs):</p>
		<dl>
			<dt>
				#[+mark( 'nav', 'Settings', 'Breadcrumb NavXT', 'General' )] <em>"Breadcrumbs Separator"</em>
			</dt>
			<dd>
				Set to <code>&lt;span class="sep"> / &lt;/span></code>.
			</dd>

			<dt>
				#[+mark( 'nav', 'Settings', 'Breadcrumb NavXT', 'General' )] <em>"Home Template"</em><br>
				#[+mark( 'nav', 'Settings', 'Breadcrumb NavXT', 'General' )] <em>"Home Template (Unlinked)"</em>
			</dt>
			<dd>
				Prepend the existing text with <code class="wrap">&lt;a href="#page" class="back-to-top animated">Back to top &uarr;&lt;/a> &lt;span class="breadcrumbs-title">You are here: &lt;/span>...</code>.

				<div class="alert alert-info">
					The "Back to top" link above will only be displayed in breadcrumbs navigation below the page/post content.
				</div>
			</dd>
		</dl>
