+answer( 'How to add custom CSS?', 'css' )
	p If you need to apply custom CSS styles, you can add your code into #[+mark( 'nav', 'Appearance', 'Customize', 'Additional CSS' )], or alternatively into your <a href="#child-theme" >child theme's</a> <code>style.css</code> file.

