
	<h3 id="error404">
		How to customize error 404 page?
		<a href="#faq" class="btn alignright">Back to FAQ list &uarr;</a>
		<span class="badge alignleft"></span>
	</h3>

		<p>In case you would like to customize the theme's <a href="https://codex.wordpress.org/Creating_an_Error_404_Page">error 404 page</a> and you do not want to touch a line of code, you can do so easily with a help of a <a href="https://wordpress.org/plugins/404page/"><strong>404page</strong> plugin</a>. Or, you can use <a href="#beaver-themer"><strong>Beaver Themer</strong></a> plugin too.</p>
