
	<h3 id="css-classes">
		How to restyle elements with ease? <small>Using special predefined CSS classes.</small>
		<a href="#faq" class="btn alignright">Back to FAQ list &uarr;</a>
		<span class="badge alignleft"></span>
	</h3>

		<div class="row">

			<div class="col-sm-12 col-md-6">

				<p>Yes, this theme predefines some useful CSS classes for you so you can use them <a href="https://vimeo.com/manage/videos/523023071">in the block editor</a>, in your page builder, or directly in the HTML. These custom special CSS classes will modify the appearance of your website elements.</p>
				<p>For full, up-to-date list of these classes and instructions on how to use them, please, refer to the <a href="https://themedemos.webmandesign.eu/#{config.slug}/theme-features/css-classes/">"Helper CSS classes" page on the theme demo website</a>.</p>

				<p>All of these classes are integrated with <a href="#beaver-builder">Beaver Builder page builder</a> CSS field for easier usage.</p>

				<a href="https://themedemos.webmandesign.eu/#{config.slug}/theme-features/css-classes/" class="btn btn-primary btn-lg mt-s"><strong>List of CSS classes</strong> you can use &raquo;</a>

			</div>

			<div class="col-sm-12 col-md-6">

				<a href="https://www.dropbox.com/s/8u4k9jciim63d83/beaver-builder-class.jpg">
					<img src="https://www.dropbox.com/s/8u4k9jciim63d83/beaver-builder-class.jpg?dl=1" alt="Selecting custom predefined CSS class easily in Beaver Builder page builder" title="Selecting custom predefined CSS class easily in Beaver Builder page builder" class="frame" />
				</a>

			</div>

		</div>
