+answer( 'How to modify element appearance?', 'css-classes' )
	p This theme predefines some useful modifier CSS classes for you. You can use them <a href="https://vimeo.com/manage/videos/523023071">in block editor</a> or in your page builder. The classes will modify appearance of your website elements and blocks.

	p For full, up-to-date list of these helper modifier CSS classes and instructions on how to use them refer to the <a href="https://themedemos.webmandesign.eu/#{config.slug}/">theme demo website</a>.
