+answer( 'Why are uploaded images blurry or small?', 'image-sizes' )
	p The theme requires certain minimal image dimensions for optimal display. Info about recommended image sizes setup can be found at #[+mark( 'nav', 'Settings', 'Media' )].

	+info( 'Regenerate images', 'h4' )
		p Once you set correct image sizes, all your newly uploaded images will get processed with new settings. But for the images already uploaded to your website you need to use additional plugin to refresh their sizes. <a href="https://wordpress.org/plugins/regenerate-thumbnails/">Regenerate Thumbnails</a> plugin (or similar) will do the trick.

	+tip( 'File size optimization', 'h4' )
		p It is recommended to use an <a href="https://wordpress.org/plugins/search/image+optimization/">image optimization plugin</a> to keep the file size of images uploaded to your server under control.
