block faq/answer/images
	+mark( 'nav', 'Settings', 'Media', '"Recommended image sizes" info' ).is-path-featured

	p The theme requires certain minimal image dimensions for optimal display. Info about recommended image size setup can be found at #[+mark( 'nav', 'Settings', 'Media' )].

	+tip( 'Regenerate images', 'h4' )
		p Once you set correct image sizes, all your newly uploaded images will get processed with new settings. But for the images already uploaded to your website you need to use additional plugin to refresh their sizes. <a href="https://wordpress.org/plugins/regenerate-thumbnails/">Regenerate Thumbnails</a> plugin (or similar) will do the trick.

		+video( 'https://wordpress.tv/2021/09/28/regenerate-thumbnails/' ) How to regenerate thumbnails

	+tip( 'File size optimization', 'h4' )
		p It is recommended to use an <a href="https://wordpress.org/plugins/search/image+optimization/">image optimization plugin</a> to keep the file size of images uploaded to your server under control.
