+answer( 'Why are uploaded images blurry or small?', 'image-sizes' )
	p For optimal display, the theme requires certain minimal image dimensions. Information about recommended image sizes can be found in #[+mark( 'nav', 'Settings', 'Media' )].

	p Once you set correct image sizes, all your newly uploaded images will look OK. But for the images already uploaded to your website you need to use additional plugin to refresh their sizes. Use <a href="https://wordpress.org/plugins/regenerate-thumbnails/">Regenerate Thumbnails</a> plugin (or similar) for such task.

	+tip( 'Image file size optimization' )
		p It is recommended to use an <a href="https://wordpress.org/plugins/search/image+optimization/">image optimization plugin</a> to keep the file size of the uploaded images on your server under control.
