block faq/answer/page-builder
	p If you want to build your website with a page builder plugin, you most likely need to select a <a href="#page-templates">"Page builder" template</a> for pages and posts where you want to use your page builder plugin. Check the <a href="#page-templates">template description</a> for more info.

	+warning( 'Demo content compatibility', 'h4' )
		p Please understand that if the <a href="#demo-content">theme demo content</a> was not built with your page builder, you will not be able to use it to edit the imported demo content.
		p → Read <a href="https://support.webmandesign.eu/demo-content-editor/">knowledge base article</a> for more info.
