
	<h3 id="any-page-builder">
		How to use any page builder plugin?
		<a href="#faq" class="btn alignright">Back to FAQ list &uarr;</a>
		<span class="badge alignleft"></span>
	</h3>

		<div class="row">

			<div class="col-sm-12 col-md-8">

				<p>The theme is 100% compatible with <a href="#beaver-builder"><strong>Beaver Builder</strong> page builder</a> plugin (and also <a href="#beaver-themer"><strong>Beaver Themer</strong> plugin</a>). It works wonderfully with this most powerful and easy to use page builder. This is the <em>only</em> page builder plugin in which we <strong>automatically integrate custom theme content elements</strong>. If you are using other page builder, you will need to <a href="#shortcodes">use shortcodes</a>.</p>

				<p>Besides this, the theme is compatible also with <a href="#elementor"><strong>Elementor Pro's</strong> plugin's <strong>Theme Builder</strong></a>! So you can use use either Beaver Themer or Elementor Pro to tweak the theme layouts heavily. Just use whichever you prefer.</a>

				<p>The theme was also tested and is working perfectly fine with other popular page builders (paid and free ones; see "Compatibility" section aside) and should be compatible with <strong>any</strong> decently coded page builder plugin.</p>
				<p>To ensure layout compatibility the theme offers a convenient <strong>"Page builder layout" metabox</strong> (<a href="http://easycaptures.com/fs/uploaded/1021/5112036139.png" title="Metabox to modify a page or post layout. Can be found in the sidebar of page or post edit screen."><em>preview &raquo;</em></a>) where you can set <a href="#custom-fields">special custom fields</a> to prepare the page/post content area layout for use with your page builder. As every page builder works differently, you will need to <strong>set these options to your needs</strong>. Also, please note that when you are using Beaver Builder, this metabox is not available as the plugin works automagically :)</p>
				<p>If you prefer using page templates instead of the custom fields and metaboxes, you can simply assign a <a href="#page-templates"><strong><em>"Page builder"</em> page/post template</strong></a> wherever you want to use your page builder.</p>

				<div class="alert alert-info">
					<h4>Can I use page builder with any post type?</h4>
					<p>To use a page builder on posts or custom post types, you will probably need to <em>enable those post types in your page builder plugin settings</em> first. This is different with every plugin and you should find the information in your plugin's documentation.</p>
					<p>With Beaver Builder you can set these in <strong><em>Settings &rarr; Page Builder &rarr; Post Types</em></strong>.</p>
				</div>

			</div>

			<div class="col-sm-12 col-md-4">

				<div class="alert alert-warning mt0">
					<h4>Compatibility</h4>
					<p>Besides full compatibility with <a href="#beaver-builder"><strong>Beaver Builder</strong></a>, the theme was tested and is working perfectly fine with these page builder plugins:</p>
					<ul>
						<li><a href="https://wordpress.org/plugins/elementor/">Elementor</a></li>
						<li><a href="https://wordpress.org/plugins/forge/">Forge</a></li>
						<li><a href="https://wordpress.org/plugins/page-builder-sandwich/">Sandwich</a></li>
						<li><a href="https://wordpress.org/plugins/siteorigin-panels/">SiteOrigin</a></li>
						<li><a href="https://wordpress.org/plugins/tailor/">Tailor</a></li>
						<li><a href="https://codecanyon.net/item/visual-composer-page-builder-for-wordpress/242431?ref=webmandesign">Visual Composer</a></li>
					</ul>
				</div>

			</div>

		</div>
