

	<h3 id="speed">
		How to speed up the website?
		<a href="#faq" class="btn alignright">Back to FAQ list &uarr;</a>
		<span class="badge alignleft"></span>
	</h3>

		<p>Having a performant, speedy website is a must in todays world. It makes your website more SEO friendly and most importantly pleasing for your visitors. This theme was coded with performance in mind, however, speeding up a website is a complex process that requires some further steps:</p>

		<ul>
			<li>
				<h4><strong>Use a good hosting</strong></h4>
				<p>Having a good host for your website is one of the most important steps you can make towards a speedy website. It should support PHP7 as that alone speeds up your website tremendously. Depending on your location it is also good to use a host that has servers in your country or on the same continent, at least. We recommend using <a href="https://www.siteground.com/go/webmandesign" title="This is an affiliate link.">Siteground</a>, <a href="https://wpengine.com/">WP Engine</a>, <a href="https://pagely.com/">Pagely</a> or <a href="https://wordpress.com/?aff=6509&cid=588078"><strong>WordPress.com</strong> <em>Business</em> plan</a>. You can also check out <a href="https://wordpress.org/hosting/">WordPress hosting recommendation page</a>.</p>
			</li>
			<li>
				<h4><strong>Optimize your images, video, audio files</strong></h4>
				<p>You should always keep the file size of your images, video, audio and other asset files on your website as low as possible. We suggest preparing the images before you upload them to your website: compress them, reduce the dimensions (maybe even crop them). You can also use plugins to keep your image sizes down: <a href="https://wordpress.org/plugins/imsanity/">Imsanity</a> and <a href="https://wordpress.org/plugins/wp-smushit/">WP Smush Image Optimizer</a>, for example.</p>
				<p>In case of video and audio files set the optimal compression and formats before uploading them to your website. Maybe even consider using a 3rd party services such as <a href="https://vimeo.com/">Vimeo</a>, <a href="https://www.youtube.com/">YouTube</a> and <a href="https://soundcloud.com/">SoundCloud</a> to host your video and audio files off your servers.</p>
				<p>Also consider using a <abbr title="Content Deliver Network">CDN</abbr> service such as <a href="https://www.cloudflare.com/">CloudFlare</a>.</p>
			</li>
			<li>
				<h4><strong>Enable caching</strong></h4>
				<p>We recommend at least <a href="https://www.siteground.com/kb/leverage-browser-caching/">enabling the basic browser caching</a> and <a href="https://www.siteground.com/kb/how_to_enable_gzip_compression_for_your_pages/">GZIP compression</a> of your website. However, you get better results using a dedicated caching solution such as <a href="https://wp-rocket.me/">WP Rocket</a> (or try other WordPress caching plugin, like <a href="https://wordpress.org/plugins/wp-super-cache/">WP Super Cache</a>).</p>
				<p>Your hosting provider may actually provide you with a caching solution built directly into the hosting service. Check this with your hosting provider.</p>
				<p>With your caching solution you should also be able to set up a CSS and JavaScript files combining and minification. As minification is a complex process that might cause JavaScript errors on your website we recommend to test it thoroughly and always checking the results before live deploying.</p>
			</li>
		</ul>

		<p>For measuring your website performance and tips on how to improve it try using <a href="https://gtmetrix.com/">GTmetrix</a>, <a href="https://tools.pingdom.com/">Pingdom Tools</a> and <a href="https://www.webpagetest.org/">WebPageTest</a>.</p>
