+answer( 'How to speed up the website?', 'speed' )
	p Having a performant, speedy website is a must. It makes your website more <abbr title="Search Engine Optimization">SEO</abbr> friendly and most importantly pleasing for your visitors, more accessible. This theme was coded with performance in mind but we can always take thing even further:


	h4 <strong>Use a good host</strong>

	p Having a good host for your website is one of the most important steps you can make towards a speedy website. Depending on your location it is also good to use a host that has servers in your country or on the same continent, at least.

	p I recommend using <a href="https://www.siteground.com/go/webmandesign" title="This is an affiliate link.">Siteground</a> from personal experience. Other good choices might be <a href="https://wpengine.com/">WP Engine</a>, <a href="https://pagely.com/">Pagely</a> or <a href="https://wordpress.com/">WordPress.com Business plan</a>. You can also check out <a href="https://wordpress.org/hosting/">WordPress hosting recommendation page</a>.


	h4 <strong>Optimize your images, video and audio files</strong>

	p You should always keep the file size of your images, video, audio and other asset files on your website as low as possible. Prepare the images before you upload them to your website: compress them, reduce the dimensions, maybe even crop them. Use plugins to optimize further more: <a href="https://wordpress.org/plugins/imsanity/">Imsanity</a> and <a href="https://wordpress.org/plugins/wp-smushit/">Smush</a>, for example.

	p In case of video and audio files set the optimal compression and formats before uploading them to your website. Maybe even consider using a 3rd party services such as <a href="https://vimeo.com/">Vimeo</a>, <a href="https://www.youtube.com/">YouTube</a> or <a href="https://soundcloud.com/">SoundCloud</a> to host your video and audio files off your servers.

	p Also consider using a <abbr title="Content Deliver Network">CDN</abbr> service, such as <a href="https://www.cloudflare.com/">CloudFlare</a>.


	h4 <strong>Enable caching</strong>

	p At least <a href="https://www.siteground.com/kb/leverage-browser-caching/">enable the basic browser caching</a> and <a href="https://www.siteground.com/kb/how_to_enable_gzip_compression_for_your_pages/">GZIP compression</a> for your website.

	p But surely, you will get better results using a dedicated solution such as <a href="https://wp-rocket.me/">WP Rocket</a> (or other caching plugin, like <a href="https://wordpress.org/plugins/wp-super-cache/">WP Super Cache</a>). Or maybe your hosting provider applies some sort of caching already?

	p Your caching solution may also provide CSS and JavaScript file combination and minification. Be cautious, though, as these are complex processes and they might cause errors on your website. Test thoroughly!

	+tip( 'Measure performance' )
		p For measuring your website performance and tips on how to improve it try using <a href="https://gtmetrix.com/">GTmetrix</a>, <a href="https://tools.pingdom.com/">Pingdom Tools</a> and <a href="https://www.webpagetest.org/">WebPageTest</a>.
