block faq/answer/performance
	p Having a performant website is a must. It makes your website more <abbr title="Search Engine Optimization">SEO</abbr> friendly and most importantly pleasing for your visitors, more accessible. This theme was coded with performance in mind but we can always take things even further:


	h4 <strong>Use a good host</strong>

	p A good hosting for your website is very important choice you can make towards a speedy website. Depending on your location it is also advised to use a host that has servers in your country or at least on the same continent.

	p Check out <a href="https://www.siteground.com/go/webmandesign" title="This is an affiliate link.">Siteground</a> (a very good personal experience), <a href="https://wpengine.com/">WP Engine</a>, <a href="https://pagely.com/">Pagely</a> or <a href="https://wordpress.com/">WordPress.com Business plan</a>. You can also have a look at <a href="https://wordpress.org/hosting/">WordPress hosting recommendation page</a>.


	h4 <strong>Optimize your images, video and audio files</strong>

	p You should always keep the file size of your images, video, audio and other assets on your website as low as possible. Prepare images before you upload them to your website: compress them, reduce their dimensions, maybe even crop them. Use <a href="https://wordpress.org/plugins/search/image+optimization/">plugins to optimize</a> further more such as <a href="https://wordpress.org/plugins/imsanity/">Imsanity</a> or <a href="https://wordpress.org/plugins/wp-smushit/">Smush</a>.

	p In case of video and audio files set the optimal compression and formats before uploading them to your site. Consider also using services such as <a href="https://vimeo.com/">Vimeo</a>, <a href="https://www.youtube.com/">YouTube</a> or <a href="https://soundcloud.com/">SoundCloud</a> to host your files off your servers.

	p Also consider using a <abbr title="Content Deliver Network">CDN</abbr> service, such as <a href="https://www.cloudflare.com/">CloudFlare</a>.


	h4 <strong>Enable caching</strong>

	p A <a href="https://www.siteground.com/kb/leverage-browser-caching/">basic browser caching</a> and <a href="https://www.siteground.com/kb/how_to_enable_gzip_compression_for_your_pages/">GZIP compression</a> is a must!

	p But you will get better results using a dedicated solutions such as <a href="https://wp-rocket.me/">WP Rocket</a> or <a href="https://wordpress.org/plugins/wp-super-cache/">WP Super Cache</a> or <a href="https://wordpress.org/plugins/sg-cachepress/">SiteGround Optimizer</a>. Or maybe your hosting provider applies some sort of caching already? Check with them.

	+warning( 'Minify & combine', 'h5' )
		p Your caching solution may provide CSS and <abbr title="JavaScript">JS</abbr> files minification and combination. <strong>Be cautious</strong> though: these are complex processes which may cause errors on your website. Test thoroughly!

	+tip( 'Measure performance', 'h4' )
		p For measuring your website performance and tips on how to improve it use services such as <a href="https://gtmetrix.com/">GTmetrix</a>, <a href="https://tools.pingdom.com/">Pingdom Tools</a> and <a href="https://www.webpagetest.org/">WebPageTest</a>.
