+answer( 'SEO - Search Engine Optimization', 'seo' )
	p This theme is coded semantically, with best <abbr title="Search Engine Optimization">SEO</abbr> practices in mind. Actually, the fact that it is accessibility ready means it is best suited for SEO too!

	p You can push your SEO performance further with additional tools such as <a href="https://wordpress.org/plugins/wordpress-seo/">Yoast SEO</a> plugin. You can also integrate support for <a href="https://kinsta.com/blog/schema-markup-wordpress/">Schema JSON-LD microformats</a> using a plugin such as <a href="https://wordpress.org/plugins/schema/">Schema</a>.
