+answer( 'SEO - Search Engine Optimization', 'seo' )
	p The theme is <strong>coded semantically, with best <abbr title="Search Engine Optimization">SEO</abbr> practices in mind</strong>, meaning it is ready to be displayed on top of search results in search engines such as Google.

	p Please note though, that this is just a basic SEO optimization and you will have to push it further to make the real deal with SEO. For such cases I recommend using <a href="http://wordpress.org/extend/plugins/wordpress-seo/"><strong>Yoast SEO</strong></a> plugin.

	p You can furthermore integrate support for <a href="https://kinsta.com/blog/schema-markup-wordpress/">Schema JSON-LD microformats</a> using a plugin such as <a href="https://wordpress.org/plugins/schema/"><strong>Schema</strong></a>. <br><em>(Note that some plugins already contains Schema microformats for their custom post types. Such as WooCommerce plugin, for example.)</em>
