block posts/excerpt
	+sub_section( 'Excerpt', 'posts-excerpt' )
		p Excerpt will be displayed in posts list. If no excerpt is set, a portion of post content will take its place.

		p If you set a custom excerpt text, it can also be displayed in the page intro section (depending on your theme; unless you hide it with a dedicated <a href="#page-templates">template</a>).

		h4 Setting up custom excerpt

		ol
			li On the page/post edit screen open the page/post settings sidebar. <br><small>(Point <strong>#1</strong> and <strong>#2</strong> in the screenshot below.)</small>
			li Click the "Add an excerpt&hellip;" (or "Edit excerpt", respectively) option. <br><small>(Point <strong>#3</strong> in the screenshot below.)</small>
			li Write your custom excerpt text into the text field. <br><small>(Point <strong>#4</strong> in the screenshot below.)</small>
			li Save your settings. <br><small>(Point <strong>#5</strong> in the screenshot below.)</small>

		block posts/excerpt/image
			+image( 'core/posts/excerpt.webp', 'Adding/editing excerpt' )
