.anatomy-content {

	ol {
		counter-reset: anatomy;
		padding-left: 0;
		list-style: none;
	}



	li {
		position: relative;
		padding: 0;
		border-top: 1px solid $color_anatomy_bd;
		border-bottom: 1px solid $color_anatomy_bd;
		cursor: help;

		&:first-child {
			border-top: 0;
		}

		&:last-child {
			border-bottom: 0;
		}

		p {
			font-size: .91em;
			margin: 0;
			height: 0;
			overflow: hidden;
		}

	}



	label {
		display: block;
		padding: 1em 0;
		margin: 0;
		font-weight: inherit;
		cursor: auto;

		&::before {
			counter-increment: anatomy;
			content: counter( anatomy );
			float: left;
			display: inline-block;
			width: 2em;
			margin-right: 1em;
			text-align: center;
			font-weight: 700;
			border-radius: .19em;
			cursor: pointer;
		}

	}

		ol:hover label::before {
			background: $color_anatomy_inactive_bg;
			color: $color_anatomy_inactive_txt;
		}

		label::before,
		li:hover label::before {
			background: $color_anatomy_active_bg;
			color: $color_anatomy_active_txt;
		}



	input {
		clip: rect(1px, 1px, 1px, 1px);
		position: absolute !important;
		height: 1px;
		width: 1px;
		line-height: 1px;
		overflow: hidden;

		&:checked {

			~ p {
				height: auto;
				margin-top: .62em;
			}

			+ h5 {
				margin-bottom: 1em;

				&::after {
					transform: rotate( 45deg );
				}

			}

		}

	}



	h5 {
		padding-right: 2em;
		line-height: 1.38;
		color: $color_anatomy_heading;
		cursor: pointer;
		overflow: hidden;

		&::after {
			content: '+';
			position: absolute;
			width: 1em;
			height: 1em;
			right: 0;
			top: 1em;
			line-height: .81;
			text-align: center;
			font-size: 1.62em;
			font-weight: 400;
			border-radius: 1em;
			box-shadow: inset 0 0 0 1px;
			vertical-align: top;
			transition: transform .3s;
		}

	}

}
