- title   = 'Widgets';
- id      = 'widgets';
- nav[id] = title;

+section( title, id )

<h2 id="widgets">Widgets</h2>
	<div class="section indented">

		<h3>Widgets</h3>

			<p>This theme enhances some native WordPress widgets with custom functionality and/or layout:</p>

			<h4 class="mt">"<strong>Recent Posts</strong>" Widget</h4>

				<p>The theme restyles the display of the post date to special, more pleasing format. To preview this change you need to enable the <em>"Display post date?"</em> widget option.</p>
				<p>The theme also adds an option to narrow the posts display by specific category.</p>

			<h4 class="mt">"<strong>Text</strong>" Widget</h4>

				<p>The theme allows you to set a custom widget icon and widget featured image. You can then use a "Text" widget to display a service or a feature in any widgetized area.</p>
				<p>To <strong>enable the custom icon functionality</strong> you also need some plugin that will load the icons to your website first. You can use any plugin for this, <a href="https://wordpress.org/plugins/ionicons-official/" target="_blank"><strong>Ionicons Official</strong></a> or <a href="https://wordpress.org/plugins/better-font-awesome/" target="_blank"><strong>Better Font Awesome</strong></a> plugin, for example. Then just set up the correct icon CSS class (get those from the <a href="http://ionicons.com/" target="_blank">Ionicons</a> or <a href="http://fontawesome.io/" target="_blank">Font Awesome</a> website, for example) into the widget's <em>"Set icon CSS class"</em> option field and the icon will be displayed correctly.</p>
				<p>If you don't use any icons plugin and no icons are loaded on your website, the fallback <code>?</code> (question mark) will be displayed instead of the unrecognized icon (if the widget's <em>"Set icon CSS class"</em> option field is set).</p>
				<p>Alternatively, the theme actually loads <a href="http://genericons.com/" target="_blank"><strong>Genericons Neue</strong> icons</a> to provide the utility icons set. If you are OK with this limited icons set and want to use one of its icons, then you don't have to load an additional icons to your website via plugin. Just add a proper icon class you can obtain from <a href="http://genericons.com/" target="_blank"><strong>Genericons</strong> website</a>, such as <code>genericons-neue genericons-neue-anchor</code> (<a href="https://www.dropbox.com/s/hsw51n7auavmk4f/genericons-class.png?dl=0" target="_blank">How to get this class?</a>). The <a href="#starter-content">theme starter content</a> actually uses this approach too.</p>

	</div>
