- title   = 'Content: Projects';
- id      = 'projects';
- nav[id] = title;

+section( title, id )
	p This custom post type is provided via <a href="#webman-amplifier"><strong>WebMan Amplifier</strong></a> plugin.

	p Projects custom post can be used to showcase your work. You can place any content into projects and create stunning complex layouts using <a href="#beaver-builder"><strong>Beaver Builder</strong> page builder plugin</a>.

	p Each project can be categorized and tagged and you can use these taxonomies for animated on-page filtering in a dedicated Beaver Builder "Posts (custom posts)" module.

	p You can choose from various styles of projects archive display in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Layout' )]. On Projects archive pages there is a <strong>filter</strong> displayed on top of the posts list from (non-empty) project categories.

	p To display all projects on your site, you can use a projects <a href="#navigation">archive page link in the navigation</a>.

	+tip( 'Renaming the post type' )
		p If you would like to rename this post type, use the <a href="https://wordpress.org/plugins/cpt-editor/"><strong>Custom Post Type Editor</strong></a> plugin. To rename the custom taxonomies related to this post type, use the <a href="https://wordpress.org/plugins/rename-taxonomies/"><strong>Rename Taxonomies</strong></a> plugin.

	+tip( 'Custom posts order' )
		p For custom posts order you can use a plugin, such as <a href="https://wordpress.org/plugins/intuitive-custom-post-order/"><strong>Intuitive Custom Post Order</strong></a>.
