- title   = 'Content: Testimonials';
- id      = 'testimonials';
- nav[id] = title;

+section( title, id )
	p This custom post type is provided via <a href="#webman-amplifier"><strong>WebMan Amplifier</strong></a> plugin.

	p Testimonial posts can be used to display reviews you receive from your clients or customers.

	p To display all testimonials on your site, you can use a testimonials <a href="#navigation">archive page link in the navigation</a>.

	+tip( 'Renaming the post type' )
		p If you would like to rename this post type, use the <a href="https://wordpress.org/plugins/cpt-editor/"><strong>Custom Post Type Editor</strong></a> plugin. To rename the custom taxonomies related to this post type, use the <a href="https://wordpress.org/plugins/rename-taxonomies/"><strong>Rename Taxonomies</strong></a> plugin.

	+tip( 'Custom posts order' )
		p For custom posts order you can use a plugin, such as <a href="https://wordpress.org/plugins/intuitive-custom-post-order/"><strong>Intuitive Custom Post Order</strong></a>.
