+sub_section( 'Website background image', 'custom-background' )

	+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Colors & Background' ).is-path-featured

	p You can set up global website background image in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Colors & Background' )] (or #[+mark( 'nav', 'Appearance', 'Background' )]). Tips:
	ul
		li Use semi-transparent background image over the "Base" color to create interesting website backgrounds. (Check the default theme background.)
		li Use repeating pattern images (such as <a href="https://www.toptal.com/designers/subtlepatterns/">subtle patterns</a>, or <a href="https://heropatterns.com/">hero patterns</a>).

	+important( 'Always set "Base" color' )
		p Don't forget to always set website background color (the <a href="#site-editor-styles-colors">"Base" color</a>) depending on your background image and your needs.
