p <strong>#{config.name}</strong> theme automatically recognizes 2 of the most popular page builders: <a href="https://wordpress.org/plugins/beaver-builder-lite-version/">Beaver Builder</a> and <a href="https://wordpress.org/plugins/elementor/">Elementor</a>. However, <strong>this only works in hybrid mode</strong>, when <a href="#disable-fse">site editor is disabled</a>.

p If you need to tweak a layout for using a page builder plugin, do so in theme options in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Page builders' )].

+tip( 'Page builder with block theme' )
	p If you really need to use a page builder plugin even if full site editing is enabled, and you experience a layout issues, you can <a href="#site-editor-templates">create a custom "Page builder" template</a> to use whenever you need to build a page/post content with your page builder plugin.

