li
	+answer( '"Content padding" block spacing value', 'header-space' )

		p <strong>#{config.name}</strong> theme provides multiple responsive spacing values for blocks (for margin and padding options, for example). There is also a special value of <em>"<strong>Content padding</strong>"</em> useful for setting up padding on "Content" block (when <a href="#site-editor-templates">editing templates</a>).

		p Once this spacing value is set as top padding on a "Content" block, the <em>first</em> block <em>that is also fully aligned</em>, will mitigate for this spacing automatically. The same applies for bottom padding and last block.

		p Feel free to use <em>"<strong>Content padding</strong>"</em> spacing value everywhere it fits your needs. For example when maintaining consistent spacing between blocks in your page/post content.
