li
	+answer( 'How to add an icon in navigation menu', 'menu-icon' )
		p To insert an icon into navigational menu item, use <a href="#menu-image">procedure for inserting an image into menu item</a>. Your image becomes an icon. The only difference is in using "<strong>Is image icon</strong>" or "<strong>Is image icon, large</strong>" block style for the menu item.
