+sub_section( 'Featured Posts', 'posts-featured' )
	p This theme contains a built in featured posts functionality. Once you assign posts to your featured post tag, 3 most recent featured posts will be displayed above posts list on your blog page (as can be seen in <a href="#{config.url.demo}blog/">theme demo website</a>).

	+image( 'featured-posts.jpg', 'Blog page displaying large "Featured posts" section' )

	p You can set featured posts tag in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Blog' )], or have complete control modifying <em>"Posts list: Featured posts"</em> <a href="#site-editor-template-parts">template part in site editor</a>.
