dt "With sidebar"
dd
	p This template is disabled by default and becomes available only after you edit "<strong>Sidebar</strong>" or "<strong>Content: With sidebar</strong>" <a href="#site-editor-template-parts">template parts</a>, or the actual "<strong>With sidebar</strong>" <a href="#site-editor-templates">template</a>.

	p For setting up the actual sidebar content (widgets), edit only the "<strong>Sidebar</strong>" <a href="#site-editor-template-parts">template part</a>.

	p <em>It works with "Page" and "Post" post types.</em>

	include sidebar-block.pug
