dt "Page builder" @TODO FSE
dd
	p This template prepares content area for use with a page builder plugin. You can specify the correct content area layout for these templates in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Page builders' )], depending on what page builder plugin you use.

	p <em>It works with every public post type.</em>

	+tip( 'Automatic selection', 'h4' )
		p @TODO TEST THIS. If you are using Beaver Builder or Elementor page builder plugin, you don't even have to select this template when editing a page with the plugin. The theme will recognize the page builder plugin usage and applies the "Page builder" template layout automatically for you.
