/* FILE: content/menu/_active-menu-item.scss */

.site-menu {

	.is-active {
		position: relative;
		font-weight: 700;
		background: var(--color_nav_background_active);
		color: var(--color_nav_text_active);

		&::before {
			opacity: 1;
		}

	}

}
