block mods/child-theme
	+sub_section( 'Use a Child Theme/Plugin' )

		if true === config.compatibility.fse
			+tip( 'Use plugin with block theme', 'h4' )
				p With block theme it is recommended to <a href="#child-theme-plugin"><strong>use a plugin</strong></a> instead of a child theme. Especially when you've already made changes to <a href="#site-editor">theme template parts and templates</a>.

		p If you need to make coding changes to the theme or WordPress itself, use child theming functionality, or even <em>more flexible</em> <a href="#child-theme-plugin">"child theme" plugin</a> solution.

		p This way you can update the parent (original) <strong>#{config.name}</strong> theme without worrying about your custom code getting overwritten and lost. Your code is kept safe in <em>your</em> child theme/plugin.

		p <strong>Tip</strong>: Read more about <a href="https://developer.wordpress.org/themes/advanced-topics/child-themes/">child themes in WordPress documentation</a>.

		block mods/child-theme/css
			h4#custom-css
				a.heading-anchor( href="#custom-css" ) CSS code

			p
				| Put your custom <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS code</a> into <code>style.css</code> file.
				if true === config.compatibility.fse
					| <br>
					| You can also tweak theme provided CSS and add your own custom CSS code in <a href="#site-editor-styles-others">"Styles" section of site editor</a>.

		block mods/child-theme/php
			h4#custom-php
				a.heading-anchor( href="#custom-php" ) PHP code

			p Modify functionality of the theme and/or WordPress via <code>functions.php</code> file. Use <a href="#hooks">action and filter hooks</a>.

		block mods/child-theme/plugin
			include child-plugin.pug

		block mods/child-theme/sample
			h4#child-theme-sample
				a.heading-anchor( href="#child-theme-sample" ) Sample child theme/plugin

			p Download a free child theme or plugin from <a href="#{config.url.child_theme}">WebMan Design GitHub repository</a>. Don't forget to check the information in the repository for how to set them up.

			if false === config.is_free
				+tip( 'Theme from Envato Market?', 'h5' )
					p If you've obtained the theme from Envato Market, there is a high chance that a dedicated <strong>child theme is already included</strong> in the package you've downloaded from the marketplace.
					p Check out your files. Or download a sample child theme from the aforementioned repository.
