:root {

	// Colors:

		--border_opacity: .25;

		--color_header_background: #f1f1f1;
		--color_header_text: #000;
		--color_header_border: transparent;

		--color_nav_background: #222;
		--color_nav_text: #fff;
		--color_nav_background_active: #fbce2f;
		--color_nav_text_active: #000;
		--color_nav_border: #{ rgba( #fff, var(--border_opacity) ) };

		--color_content_background: #fff;
		--color_content_text: #111;
		--color_content_headings: #000;
		--color_content_border: #{ rgba( #111, var(--border_opacity) ) };

		--color_intro_background: #fbce2f;
		--color_intro_text: #000;

		--color_footer_background: #f1f1f1;
		--color_footer_text: #000;
		--color_footer_border: transparent;

		--color_accent: #4134ae;
		--color_button_background: #fbce2f;
		--color_button_text: #000;
		--color_mark: #{ rgba( #fbce2f, .33 ) };

		@each $color, $value in $colors {
			--color_#{ $color }: #{ $value };
		}

	// Typography:

		--typography_font_global: #{ (
			-apple-system,
			BlinkMacSystemFont,
			'Segoe UI',
			Roboto,
			Oxygen-Sans,
			Ubuntu,
			Cantarell,
			'Helvetica Neue',
			sans-serif,
		) };
		--typography_font_headings: var(--typography_font_global);

		--typography_font_size_base: 16px;
		@include media( map_get( $breakpoint, 'xl' ) ) {
			--typography_font_size_base: 18px;
		}

		--typography_heading_size_multiplier: .85;
		@include media( map_get( $breakpoint, 'l' ) ) {
			--typography_heading_size_multiplier: 1;
		}

		// @link  https://www.modularscale.com/?1&em&1.2
		$heading_sizes : ( 2.488, 1.728, 1.44, 1.2 );
		@each $size in $heading_sizes {
			$value : $size +em;
			@if .98 < ( .85 * $size ) {
				$value : calc( var(--typography_heading_size_multiplier) * #{ $value } );
			}
			--typography_heading_size_#{ index( $heading_sizes, $size ) }: #{ $value };
		}
		@include media( map_get( $breakpoint, 'xl' ) ) {
			--typography_heading_size_1: 3.583em;
		}
		@include media( map_get( $breakpoint, 'xxl' ) ) {
			--typography_heading_size_1: 4.3em;
		}

		--typography_font_size_extra_small: .618em;
		--typography_font_size_small: .75em;
		--typography_font_size_large: var(--typography_heading_size_4);
		--typography_font_size_extra_large: var(--typography_heading_size_3);
		--typography_font_size_huge: var(--typography_heading_size_1);
		--typography_font_size_gigantic: calc( var(--typography_heading_size_multiplier) * 5.61em );

	// Spacing and size:

		--content_width: 36rem;
		--content_padding: 2em;
		@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
			--content_padding: 6vw;
		}
		@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
			--content_padding: 4vw;
		}

		--white_space: 90px;
		@include media( map_get( $breakpoint, 'l' ) ) {
			--white_space: 120px;
		}
		@include media( map_get( $breakpoint, 'xl' ) ) {
			--white_space: 150px;
		}

		--menu_width: 25%;
		@include media( map_get( $breakpoint, 'xl' ) ) {
			--menu_width: 33.33%;
		}
		@include media( map_get( $breakpoint, 'xxl' ) ) {
			--menu_width: 38%;
		}

	// Miscellaneous:

		--pseudo_background_opacity: .075;

		--border_radius: .2rem;

		--box_shadow--small: 0 0 #{ $golden_minor +em } #{ rgba( #000, $golden_minor ) };
		--box_shadow--large: 0 #{ $golden_minor +em } #{ $golden +em } #{ rgba( #000, .15 ) };

		--drop_shadow_header: var(--box_shadow--small);
		--drop_shadow_main: var(--box_shadow--small);
		--drop_shadow_nav: none;
		--drop_shadow_footer: var(--box_shadow--small);
		--drop_shadow_alert: var(--box_shadow--large);
		--drop_shadow_button: var(--box_shadow--large);

}
