+sub_section( 'Tutorials', 'wp-howto' )( class="has-no-margin-top" )
	p Beginner tutorials, resources for <strong>first steps with WordPress</strong>:

	p.has-no-margin-bottom
		strong Websites & Articles:
	ul
		li <a href="https://learn.wordpress.org/">Learn WordPress</a>
		li <a href="https://codex.wordpress.org/Getting_Started_with_WordPress">Getting Started with WordPress</a>
		li <a href="https://wordpress.org/documentation/article/blocks-list/">Blocks information</a>
		li <a href="https://wordpress.org/documentation/customization/">WordPress Customization</a>
		if true === config.compatibility.fse
			li <a href="https://wordpress.org/documentation/article/site-editor/">What is Site Editor</a>
		li <a href="https://www.wpglossary.net/">WordPress glossary</a> and yet <a href="https://www.wpbeginner.com/glossary/">another one</a>

	p.has-no-margin-bottom
		strong Videos:
	ul
		li <a href="https://learn.wordpress.org/tutorials/">Learn WordPress Tutorials</a>
		li <a href="https://www.youtube.com/playlist?list=PL1pJFUVKQ7ERHQC2AWXA4kDLRrIA0bbJb">Beginner WordPress User</a> (by WordPress)
		li <a href="https://videos.wpbeginner.com/">WordPress Beginner Videos - Free WordPress Video Tutorials</a>
		li <a href="https://webdesign.tutsplus.com/courses/a-beginners-guide-to-using-wordpress">A Beginner's Guide to Using WordPress</a>
		li &hellip;or <a href="https://www.youtube.com/results?search_query=wordpress+beginner+tutorial&sp=CAI%253D">search for most recent video tutorials</a> online.
