/* FILE: content/footer/_base.scss */

.site-footer {
	position: relative;
	display: block;
	padding: 8vmax 6vw;
	text-align: center;
	background: var(--color_footer_background);
	color: var(--color_footer_text);
	border-top: 1px solid var(--color_footer_border);
	box-shadow: var(--drop_shadow_footer);
	z-index: 1;

	.custom-logo-link {
		margin-bottom: 35px;
	}

	a {
		color: inherit;
	}

	p {
		max-width: var(--content_width);
		margin-left: auto;
		margin-right: auto;
	}

}
