/* FILE: content/modifiers/_alignment.scss */

// Text

	.has-left-text-align,
	.has-left-content {
		text-align: left;
	}

	.has-center-text-align,
	.has-center-content {
		text-align: center;
	}

	.has-right-text-align,
	.has-right-content {
		@include media( map_get( $breakpoint, 'm' ) ) {
			text-align: right;
		}
	}

// Vertical

	.has-top-vertical-align {
		vertical-align: top;
	}

	.has-middle-vertical-align {
		vertical-align: middle;
	}

	.has-baseline-vertical-align {
		vertical-align: baseline;
	}

	.has-bottom-vertical-align {
		vertical-align: bottom;
	}
