- title   = 'Theme Installation';
- id      = 'installation';
- nav[id] = title;

+section( title, id )

<h2 id="installation">Theme Installation</h2>
	<div class="section indented">

		<h3>How to Install the Theme?</h3>

		<div class="row">

			<div class="col-sm-12 col-md-6">

				<h4><strong>Free theme available via <a href="https://profiles.wordpress.org/webmandesign#content-themes" target="_blank">WordPress.org repository</a></strong></h4>

				<ol>
					<li>Log into your WordPress admin.</li>
					<li>In WordPress admin navigate to <strong><em>Appearance &rarr; Themes</em></strong> and click the <strong>[Add New]</strong> button next to "Themes" page title.</li>
					<li>On "Add Themes" screen use a search field to search for "#{theme_name}".</li>
					<li>Once you've found the theme in the search results list, click the <strong>[Install]</strong> button when hovering over the theme.</li>
					<li>After the theme is installed, activate it by clicking the <strong>"Activate"</strong> link.</li>
					<li>Now you can go to <strong><em>Appearance &rarr; Welcome</em></strong> page for information on how to set up your website (and the theme). Also, please <strong>pay special attention to your <a href="#image-sizes">website image sizes setup</a></strong>.</li>
				</ol>

			</div>

			<div class="col-sm-12 col-md-6">

				<h4><strong>Theme purchased on a marketplace</strong></h4>

				<ol>
					<li>(Re)download the theme package ZIP folder from the marketplace where you've purchased the theme from.</li>
					<li>Log into your WordPress admin.</li>
					<li>In WordPress admin navigate to <strong><em>Appearance &rarr; Themes</em></strong> and click the <strong>[Add New]</strong> button next to "Themes" page title.</li>
					<li>On "Add Themes" screen click the <strong>[Upload Theme]</strong> button next to page title.</li>
					<li>On the next screen choose the theme ZIP package file you've downloaded in step 1 above and click the <strong>[Install Now]</strong> button.</li>
					<li>After the theme is installed, activate it by clicking the <strong>"Activate"</strong> link.</li>
					<li>Now you can go to <strong><em>Appearance &rarr; Welcome</em></strong> page for information on how to set up your website (and the theme). Also, please <strong>pay special attention to your <a href="#image-sizes">website image sizes setup</a></strong>.</li>
				</ol>

			</div>

		</div>

		<div class="alert alert-success">
			<h4>Tip: Welcome page</h4>
			<p>After activating the theme, you can read the theme's welcome page navigating to <strong>Appearance &rarr; Welcome</strong> (you can disable this page in <strong><em>Appearance &rarr; Customize &rarr; Theme Options &rarr; Others</em></strong>).</p>
		</div>

		<div class="alert alert-info">
			<h4>Important: Subscribe for updates</h4>
			<p>It is strongly recommended to follow or subscribe to WebMan on <a href="http://www.facebook.com/webmandesigneu/" target="blank"><strong>Facebook</strong></a> or <a href="http://www.twitter.com/webmandesigneu/" target="blank"><strong>Twitter</strong></a> to get the most recent theme update notices as fast as possible.</p>
			<p><em>You should always keep your WordPress, themes and plugins up to date!</em></p>
		</div>

	</div>
