+danger( 'Theme requirements' )
	p #{config.name} theme requires at least <strong>WordPress version #{config.version.wp}</strong> and <strong>PHP version #{config.version.php}</strong> to work properly. Please make sure to meet the requirements.

include about.pug
