if config.is_free
	include free.pug
else
	include paid.pug

+tip( 'Welcome page' )
	p After activating the theme, you can read the theme's welcome page navigating to #[+mark( 'nav', 'Appearance', 'Welcome' )] (you can disable this page in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Others' )]).

+info( 'Subscribe for update alerts' )
	p It is strongly recommended to follow or subscribe to WebMan on <a href="http://www.facebook.com/webmandesigneu/" target="blank"><strong>Facebook</strong></a> or <a href="http://www.twitter.com/webmandesigneu/" target="blank"><strong>Twitter</strong></a> to get the most recent theme update notices as fast as possible.

	p <em>You should always keep your WordPress, themes and plugins up to date!</em>
