+important( 'Theme requirements' )
	p <strong>#{config.name}</strong> requires at least <strong>WordPress #{config.version.wp}</strong> and <strong>PHP #{config.version.php}</strong> to work properly. Please make sure to meet the requirements.

include about.pug
