block install/about
	if config.is_free
		include free.pug
	else
		include paid.pug

	+tip( 'Welcome page' )
		p After activating the theme please read the theme welcome page under #[+mark( 'nav', 'Appearance', 'Welcome' )].

	+tip( 'Get info about updates' )
		p If you want to get fast information about new theme updates, please subscribe to WebMan Design on <a href="#{config.url.facebook}"><strong>Facebook</strong></a> and/or <a href="#{config.url.twitter}"><strong>Twitter</strong></a>. <em>Don't forget: you should always keep your WordPress, themes and plugins up to date!</em>
