p As you've obtained the theme at <a href="#{config.url.wporg_themes}">WordPress themes repository</a>, use this procedure for installation:

ol
	li Log into your WordPress admin.

	li In WordPress admin navigate to #[+mark( 'nav', 'Appearance', 'Themes' )] and click the #[+mark( 'btn', 'Add New' )] button next to "Themes" page title.

	li On "Add Themes" screen use a search field to search for "#{config.name}".

	li Once you've found the theme in the search results list, click the #[+mark( 'btn', 'Install' )] button when hovering over the theme.

	li After the theme is installed, activate it by clicking the <strong>"Activate"</strong> link.

	if false !== config.compatibility.welcome
		li Now you can go to #[+mark( 'nav', 'Appearance', 'Welcome' )] page for information on how to set up your website (and the theme). Also, please <strong>pay special attention to your <a href="#image-sizes">website image sizes setup</a></strong>.
