h3 <strong>Free theme available via <a href="https://profiles.wordpress.org/webmandesign#content-themes">WordPress.org repository</a></strong>

ol
	li Log into your WordPress admin.

	li In WordPress admin navigate to <strong><em>Appearance &rarr; Themes</em></strong> and click the <strong>[Add New]</strong> button next to "Themes" page title.

	li On "Add Themes" screen use a search field to search for "#{config.name}".

	li Once you've found the theme in the search results list, click the <strong>[Install]</strong> button when hovering over the theme.

	li After the theme is installed, activate it by clicking the <strong>"Activate"</strong> link.

	li Now you can go to <strong><em>Appearance &rarr; Welcome</em></strong> page for information on how to set up your website (and the theme). Also, please <strong>pay special attention to your <a href="#image-sizes">website image sizes setup</a></strong>.
