h3 <strong>Theme purchased on a marketplace</strong>

ol
	li (Re)download the theme package ZIP folder from the marketplace where you've purchased the theme from.

	li Log into your WordPress admin.

	li In WordPress admin navigate to <strong><em>Appearance &rarr; Themes</em></strong> and click the <strong>[Add New]</strong> button next to "Themes" page title.

	li On "Add Themes" screen click the <strong>[Upload Theme]</strong> button next to page title.

	li On the next screen choose the theme ZIP package file you've downloaded in step 1 above and click the <strong>[Install Now]</strong> button.

	li After the theme is installed, activate it by clicking the <strong>"Activate"</strong> link.

	li Now you can go to <strong><em>Appearance &rarr; Welcome</em></strong> page for information on how to set up your website (and the theme). Also, please <strong>pay special attention to your <a href="#image-sizes">website image sizes setup</a></strong>.
