- title   = 'WordPress';
- id      = 'wordpress';
- nav[id] = title;

+section( title, id )

<h2 id="wordpress">Installing, Securing <strong>WordPress</strong> and First Steps</h2>

<div class="section indented row">

	<div class="col-sm-12 col-md-4">

		<h3>What is WordPress?</h3>

		<p><a href="http://wordpress.org" target="_blank">WordPress</a> is a free content management system (CMS) that <a href="https://wordpress.org/showcase/" target="_blank">powers more than quarter of the internet</a>.</p>
		<p>It can scale with your business when you're ready to grow and is easy to learn with many free and low-cost tutorials for beginners. No matter your level of knowledge, there is a WordPress tutorial to help you create, update, and fix your site.</p>

	</div>

	<div class="col-sm-12 col-md-4">

		<h3>What is a theme?</h3>

		<p>A WordPress theme changes the way your site looks and affects the style of the content displayed on it. WordPress themes are built so you can change your site's design without losing content.</p>
		<p>There are themes out there that can lock you into their ecosystem, unfortunately. But we play nice and <strong>#{theme_name}</strong> is not one of them :)</p>

	</div>

	<div class="col-sm-12 col-md-4">

		<h3>What is a plugin?</h3>

		<p>A WordPress plugin adds additional functionality to your site. There are many plugins available for free in the <a href="https://wordpress.org/plugins">plugin directory</a>, along with many premium ones out there to address nearly every site need, from eCommerce to email marketing to user registration.</p>
		<p>You can <a href="#plugins">check the recommended plugins</a> in the appropriate section of this documentation.</p>

	</div>

</div>

<div class="section indented row">

	<div class="col-sm-12 col-md-4">

		<h3>Installing WordPress</h3>

		<p>You can run WordPress <a href="https://support.webmandesign.eu/testing-a-theme-on-your-computer/" target="_blank">locally on your computer</a>, or install and use it <a href="https://codex.wordpress.org/Installing_WordPress" target="_blank">on your web hosting account</a> (what kind of <a href="#speed">web hosting should you use</a>?).</p>

		<div class="alert alert-info">
			<p><strong>#{theme_name}</strong> requires WordPress version 4.7 to work properly.</p>
		</div>

	</div>

	<div class="col-sm-12 col-md-4">

		<h3>Securing WordPress</h3>

		<p>You can improve your WordPress installation security taking these steps:</p>
		<ul>
			<li>Set the <span class="label label-info">Authentication Unique Keys and Salts</span> in <code>wp-config.php</code> file.</li>
			<li>Do not use <code>admin</code> as user name and set strong passwords!</li>
			<li>After installation is done, remove <code>wp-admin/install.php</code> file.</li>
			<li>Keep backups of the database and WordPress files.</li>
			<li>Keep your WordPress installation, plugins and themes up to date!</li>
			<li>You can further strengthen the security of your site by using a specialized plugins and services.</li>
		</ul>

	</div>

	<div class="col-sm-12 col-md-4">

		<h3>First Steps With WordPress</h3>

		<p>Additional resources for WordPress beginners:</p>
		<ul>
			<li><a title="Getting Started with WordPress" href="http://codex.wordpress.org/Getting_Started_with_WordPress" target="_blank">Getting Started with WordPress</a></li>
			<li><a title="WordPress Glossary Terms for Beginners" href="http://www.wpbeginner.com/glossary/" target="_blank">WordPress Glossary Terms for Beginners</a></li>
			<li><a title="Most Frequently Asked Questions by WordPress Beginners" href="http://www.wpbeginner.com/beginners-guide/15-most-frequently-asked-questions-by-wordpress-beginners" target="_blank">Most Frequently Asked Questions by WordPress Beginners</a></li>
			<li>Selection of Video courses:
				<ul>
					<li><a href="https://www.youtube.com/playlist?list=PLfOXCtnURNbZjLUyU_Isp39VdAjqEctNw" target="_blank">WordPress for Beginners</a></li>
					<li><a href="https://www.youtube.com/playlist?list=PLtaXuX0nEZk-rRfsl8lclMY5TncDmAUBm" target="_blank">The WordPress Beginner Tutorial Class</a></li>
					<li><a href="https://thenewboston.com/videos.php?cat=105" target="_blank">WordPress Basics</a></li>
					<li><a href="http://videos.wpbeginner.com/" target="_blank">WordPress Beginner Videos - Free WordPress Video Tutorials</a></li>
					<li><a href="https://webdesign.tutsplus.com/courses/a-beginners-guide-to-using-wordpress" target="_blank">A Beginner's Guide to Using WordPress</a></li>
					<li><a href="https://www.udemy.com/getting-started-with-wordpress-a-beginners-guide/" target="_blank">Getting Started With WordPress - A Beginners Guide</a></li>
					<li><a href="https://www.youtube.com/user/wpbeginner/videos" target="_blank">Useful WordPress tips</a></li>
				</ul>
			</li>
		</ul>

	</div>

</div>
