dt Primary
dd
	p The main navigation area in the header of the website displayed next to site logo. Can be nested and hierarchically organized (up to 4 levels deep) and you can use a <a href="#megamenu">megamenu</a> here. This is mobile-ready main site navigation menu, but you can disable the mobile menu in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Others' )]</strong> if needed.
