:root {

	--color_header_background: #f3f5f7;
	--color_header_text: #030507;

	--color_nav_background: #232527;
	--color_nav_text: #fff;
	--color_nav_background_active: #f5df4d;
	--color_nav_text_active: #030507;
	--color_nav_border: rgba( 255,255,255, var(--border_opacity) );

	--color_content_text: #434547;
	--color_content_headings: #030507;
	--color_content_border: rgba( 67,69,71, var(--border_opacity) );

	--color_intro_background: #f5df4d;
	--color_intro_text: #030507;

	--color_footer_background: #f3f5f7;
	--color_footer_text: #030507;

	--color_accent: #6340a7;
	--color_button_background: #f5df4d;
	--color_button_text: #030507;
	--color_mark: rgba( 245,223,77, .33 );

}
