dt.
	Page builder
	<a href="https://themedemos.webmandesign.eu/#{config.slug}/theme-features/template-page-builder" class="alignright btn btn-default">Demo</a>

dd
	p This is a special page/post template designed for use with a page builder plugin. You can specify the correct content area layout for this page/post template in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Layout', 'Page builders' )] and tweak it for needs of your page builder plugin.

	p (Note that using this page template will remove the page intro area (just like "No intro" page template above), so you need to create it with your page builder then, if needed.)
