dt.
	No intro
	<a href="https://themedemos.webmandesign.eu/#{config.slug}/theme-features/template-no-intro/" class="alignright btn btn-default">Demo</a>

dd
	p Use this page template to remove the page intro title section (when you want to set up your own). Only the page content will be displayed.

	p For standard pages, the title will be <a href="#accessibility">accessibly</a> hidden.

	p On the other hand, if you are using a Beaver Builder page builder, please, <strong>do not forget</strong> to set up your custom <code>H1</code> heading, as it is being completely removed from the page in this case! The same applies for pages that you <a href="#any-page-builder">set to be ready for any other page builder</a>.

	p This page template works best with a <a href="#beaver-builder">page builder</a>.
