dt.
	Blank
	<a href="https://themedemos.webmandesign.eu/#{config.slug}/theme-features/template-blank/" class="alignright btn btn-default">Demo</a>

dd
	p There is no header, no intro section, no H1 heading tag and no footer on this page template. This page template works best with a <a href="#beaver-builder">page builder</a> and is suitable for creating custom <a href="https://en.wikipedia.org/wiki/Landing_page">landing pages</a>.
