block wordpress/about
	p <a href="https://wordpress.org">WordPress</a> is free open source <abbr title="Content Management System">CMS</abbr> software for creating websites. It can scale with your needs when you're ready to grow and is easy to learn with many free and low-cost tutorials. You can learn more about WordPress at <a href="https://wordpress.org">wordpress.org</a>.
