h3 What is WordPress?

p <a href="http://wordpress.org">WordPress</a> is a free content management system (CMS) that <a href="https://wordpress.org/showcase/">powers more than quarter of the internet</a>.

p It can scale with your business when you're ready to grow and is easy to learn with many free and low-cost tutorials for beginners. No matter your level of knowledge, there is a WordPress tutorial to help you create, update, and fix your site.
