+sub_section( 'What is WordPress?' )
	p <a href="https://wordpress.org">WordPress</a> is a free content management system (CMS). It can scale with your business when you're ready to grow and is easy to learn with many free and low-cost tutorials for beginners. Learn more about WordPress at <a href="https://wordpress.org">wordpress.org</a>.
