+sub_section( 'Installing WordPress' )( class="has-no-margin-top" )
	p You can run WordPress <a href="https://support.webmandesign.eu/testing-a-theme-on-your-computer/">locally on your computer</a>, or install and use it <a href="https://codex.wordpress.org/Installing_WordPress">on your web hosting account</a> (what kind of <a href="#speed">web hosting should you use</a>?).
