+sub_section( 'Installing WordPress' )( class="has-no-margin-top" )
	p You can run WordPress <a href="#{config.url.testing}">locally on your computer</a>, or install and use it <a href="https://developer.wordpress.org/advanced-administration/before-install/howto-install/">on your web hosting account</a> (what kind of <a href="#speed">web hosting should you use</a>?).
