+sub_section( 'Installing WordPress' )( class="has-no-margin-top" )
	p You can run WordPress <a href="#{config.url.testing}">locally on your computer</a>, or install and use it <a href="https://wordpress.org/support/article/how-to-install-wordpress/">on your web hosting account</a> (what kind of <a href="#speed">web hosting should you use</a>?).
