+sub_section( 'Securing WordPress' )
	p You can improve your WordPress installation security taking these steps:

	ul
		li Set the <a href="https://wordpress.org/support/article/editing-wp-config-php/#security-keys">security keys</a> in <code>wp-config.php</code> file.

		li Do not use <code>admin</code> as user name and set strong passwords!

		li After installation is done, remove <code>wp-admin/install.php</code> file.

		li Keep backups of the database and WordPress files.

		li Keep your WordPress installation, plugins and themes up to date!

		li You can further strengthen the security of your site by using a <a href="#plugins-others">specialized plugins</a> and services.
