+sub_section( 'Securing WordPress' )( class="has-no-margin-top" )
	p You can improve your WordPress installation security taking these steps:

	ul
		li Set the <a href="https://wordpress.org/support/article/editing-wp-config-php/#security-keys"><strong>security keys</strong></a> in <code>wp-config.php</code> file.

		li Do not use <code>admin</code> as user name and set <strong>strong passwords</strong>!

		li After installation is done, remove <code>wp-admin/install.php</code> file.

		li <strong>Keep backups</strong> of the database and WordPress files.

		li Keep your WordPress installation, plugins and themes <strong>up to date</strong>!

		li Strengthen security further with additional <a href="#plugins-others">specialized plugins</a>.
