h3 What is a theme?

p A WordPress theme changes the way your site looks and affects the style of the content displayed on it. WordPress themes are built so you can change your site's design without losing content.

p There are themes out there that can lock you into their ecosystem, unfortunately. But we play nice and <strong>#{config.name}</strong> is not one of them :)
