+sub_section( 'Tutorials', 'wp-howto' )( class="has-no-margin-top" )
	p Beginner tutorials, resources for <strong>first steps with WordPress</strong>:

	p.has-no-margin-bottom
		strong Articles:
	ul
		li <a href="https://learn.wordpress.org/">Learn WordPress</a>
		li <a href="https://codex.wordpress.org/Getting_Started_with_WordPress">Getting Started with WordPress</a>
		li <a href="https://www.wpglossary.net/">WordPress glossary</a> and yet <a href="https://www.wpbeginner.com/glossary/">another one</a>

	p.has-no-margin-bottom
		strong Videos:
	ul
		li <a href="https://www.youtube.com/playlist?list=PLfOXCtnURNbZjLUyU_Isp39VdAjqEctNw">WordPress for Beginners</a>
		li <a href="https://www.youtube.com/playlist?list=PLtaXuX0nEZk-rRfsl8lclMY5TncDmAUBm">The WordPress Beginner Tutorial Class</a>
		li <a href="https://videos.wpbeginner.com/">WordPress Beginner Videos - Free WordPress Video Tutorials</a>
		li <a href="https://webdesign.tutsplus.com/courses/a-beginners-guide-to-using-wordpress">A Beginner's Guide to Using WordPress</a>
