h3 First Steps With WordPress

p Additional resources for WordPress beginners:

ul
	li <a title="Getting Started with WordPress" href="http://codex.wordpress.org/Getting_Started_with_WordPress">Getting Started with WordPress</a>

	li <a title="WordPress Glossary Terms for Beginners" href="http://www.wpbeginner.com/glossary/">WordPress Glossary Terms for Beginners</a>

	li <a title="Most Frequently Asked Questions by WordPress Beginners" href="http://www.wpbeginner.com/beginners-guide/15-most-frequently-asked-questions-by-wordpress-beginners">Most Frequently Asked Questions by WordPress Beginners</a>

	li Selection of Video courses:
		ul
			li <a href="https://www.youtube.com/playlist?list=PLfOXCtnURNbZjLUyU_Isp39VdAjqEctNw">WordPress for Beginners</a>

			li <a href="https://www.youtube.com/playlist?list=PLtaXuX0nEZk-rRfsl8lclMY5TncDmAUBm">The WordPress Beginner Tutorial Class</a>

			li <a href="https://thenewboston.com/videos.php?cat=105">WordPress Basics</a>

			li <a href="http://videos.wpbeginner.com/">WordPress Beginner Videos - Free WordPress Video Tutorials</a>

			li <a href="https://webdesign.tutsplus.com/courses/a-beginners-guide-to-using-wordpress">A Beginner's Guide to Using WordPress</a>

			li <a href="https://www.udemy.com/getting-started-with-wordpress-a-beginners-guide/">Getting Started With WordPress - A Beginners Guide</a>

			li <a href="https://www.youtube.com/user/wpbeginner/videos">Useful WordPress tips</a>
