+sub_section( 'Tutorials', 'wp-howto' )
	p Additional resources for <strong>first steps with WordPress</strong>:

	h4 Articles

	ul
		li <a href="https://learn.wordpress.org/">Learn WordPress</a>

		li <a href="http://codex.wordpress.org/Getting_Started_with_WordPress">Getting Started with WordPress</a>

		li <a href="https://www.wpglossary.net/">WordPress glossary</a> and yet <a href="http://www.wpbeginner.com/glossary/">another one</a>

	h4 Videos

	ul
		li <a href="https://www.youtube.com/playlist?list=PLfOXCtnURNbZjLUyU_Isp39VdAjqEctNw">WordPress for Beginners</a>

		li <a href="https://www.youtube.com/playlist?list=PLtaXuX0nEZk-rRfsl8lclMY5TncDmAUBm">The WordPress Beginner Tutorial Class</a>

		li <a href="http://videos.wpbeginner.com/">WordPress Beginner Videos - Free WordPress Video Tutorials</a>

		li <a href="https://webdesign.tutsplus.com/courses/a-beginners-guide-to-using-wordpress">A Beginner's Guide to Using WordPress</a>
