block localization/about
	p Every WordPress theme contains some texts that need to be translated into your language if you are building a non-English website. This theme if fully translation ready.

	if false !== config.compatibility.rtl
		p The theme also supports <abbr title="Right-To-Left">RTL</abbr> languages.

	p To enable your language in the WordPress website, please <a href="https://developer.wordpress.org/advanced-administration/before-install/in-your-language/">switch WordPress into the desired language localization</a>.

	+tip( 'Adding languages into WordPress' )
		p Check out tutorial on how to <a href="https://www.wpbeginner.com/wp-tutorials/how-to-install-wordpress-in-other-languages/">install WordPress in your language</a>.
