/* FILE: content/typography/_headings.scss */

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
	clear: both;
	margin-top: 0;
	margin-bottom: $ratio +rem;
	font-family: var(--typography_font_secondary);
	font-weight: 700;
	line-height: var(--typography_line_height_headings);
	word-wrap: break-word;
	color: var(--color_content_headings);

	&:last-child {
		margin-bottom: 0;
	}

	a {
		color: inherit;
	}

}

h2, h3, h4,
.h2, .h3, .h4 {
	margin-top: calc( var(--white_space) / 2 );

	&:first-child {
		margin-top: 0;
	}

}

h4,
.h4 {
	margin-top: 2rem;
}

@for $heading from 1 through 4 {
	h#{ $heading },
	.h#{ $heading } {
		font-size: var(--typography_heading_size_#{ $heading }_em);
	}
}
