block mods/about

	+danger( 'Limited support', 'h3' )
		p This topic is meant <em>for WordPress developers</em> who would like to modify the theme and WordPress functionality.
		p Please understand that <a href="#{config.url.modifications}"><strong>we do not provide support for custom code modifications</strong></a>, though.
