+sub_section( 'Posts List Layout' )

	p In #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Layout' )] you can set up how posts, portfolio projects and testimonials are displayed in lists. Default display is equalizing height of each post in a particular row. However, you can also choose a masonry posts layout.

	p Please note that there is a difference in displaying <a href="#posts-formats">"Gallery" post format</a> in each posts list layout. In equalized height list there is a slideshow displayed for "Gallery" post format. In masonry list there are only images without any slideshow.

	p You can also set up a number of columns displayed in posts lists in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Layout' )]
