+sub_section( 'Setting Up a Post Format', 'posts-formats' )
	p On the post edit screen you can choose a post format supported in the theme:

	dl.list-default

		dt Standard post
		dd
			p This is basic standard blog post layout. Featured image, if set, is displayed above the post content. Post excerpt is displayed below post title both on single post pages and in posts lists.

		dt Audio post
		dd
			p Displays audio player (or playlist) to play your audio files. Could be used for podcasting.
			p <a href="https://codex.wordpress.org/Audio_Shortcode">Insert your audio player (or playlist)</a> (or embed media) anywhere in the post content. The first audio player found will be used in the post media area in posts list. The single post page will display as usual.

		dt Gallery post
		dd
			p <a href="https://codex.wordpress.org/Gallery_Shortcode">Insert a gallery</a> anywhere in the post content. The first 3 gallery images will be used in slideshow in the post media area in posts list. The single post page will display as usual.

		dt Image post
		dd
			p In posts list it displays a featured image, or the first image found in post content, followed with post excerpt. Font sizes in posts list are different than in default standard post format. This post format is also marked with an image icon. The single post page will display as usual.

		dt Link post
		dd
			p It enhances any links in the post content. No post title in posts list and full post content is displayed there.

		dt Quote post
		dd
			p Displays a full post content as a quote, styled with accent colors. Also displays a post featured image if set.
			p You can use a <code>cite</code> HTML tag (inside a <code>blockquote</code> tag) to set the quote source. This way you can use any inline HTML to set the quote source. <br>Alternatively, you can set the quote source as a <code>quote_source</code> custom field, but there is no HTML allowed here. <br>Finally, if none of these are set, the post title is displayed as quote source.

		dt Status post
		dd
			p Status post format displays a whole post content in posts list. It is a short status update, similar to a X/Twitter status update. You can also set a post featured image, or the <a href="https://gravatar.com">post author Gravatar</a> will be displayed instead.

		dt Video post
		dd
			p Displays video player (or playlist) to play your video files. Could be used for video blogging.
			p <a href="https://codex.wordpress.org/Video_Shortcode">Insert your video player (or playlist)</a> (or embed media) anywhere in the post content. The first video player found will be used in the post media area in posts list. The single post page will display as usual.
