:root {

	--color_accent: #00855b;
	--color_accent_text: #fff;
	--color_mark: #{ rgba( #00855b, .1 ) };
	--color_button_background: #00855b;
	--color_button_text: #fff;

	--color_header_background: #fff;
	--color_header_text: #1a1c1e;

	--color_intro_background: #1a1c1e;
	--color_intro_text: #fff;

	--color_nav_background: #1a1c1e;
	--color_nav_text: #fff;
	--color_nav_border: #{ rgba( #fff, var(--border_opacity) ) };

	--color_content_background: #fff;
	--color_content_headings: #1a1c1e;
	--color_content_text: #6a6c6e;
	--color_content_border: #{ rgba( #6a6c6e, var(--border_opacity) ) };

	--color_footer_background: #eaecee;
	--color_footer_text: #5a5c5e;

}

.intro {
	isolation: isolate;

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		background: url('includes/nick-adams-457460.jpg');
		background-position: 50% 50%;
		background-size: cover;
		opacity: .15;
		z-index: -1;
	}

}
