dt "Front page template"
dd
	p This is a special page template designed for your website front page (homepage). It displays <strong>6 most recent portfolio projects</strong>, <strong>6 most recent blog posts</strong>, <strong>page content</strong> (with featured image, if set) and <strong>3 most recent testimonials</strong>.
	p The options of this page template (like sections location, disabling sections, number of posts they display) can be controlled in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Layout' )].


dt "With sidebar"
dd
	p By default, there is no sidebar displayed on pages. However, if you would like to display a sidebar on a page, use this page template with it.
