+sub_section( 'Free media' )( class="has-no-margin-top" )

	p Check out <a href="https://make.wordpress.org/themes/handbook/review/resources/#recommended-websites-for-images">WordPress recommended resources</a> for 100% GPL license compatible media. You can also get free media for your website at these sources:

	+row()

		+column()

			h4 Images, Audio and Video

			ul
				li <a href="https://openverse.org">Openverse</a>
				li <a href="https://www.pexels.com">Pexels</a>
				li <a href="https://unsplash.com">Unsplash</a>
				li <a href="https://stocksnap.io">StockSnap</a>
				li <a href="https://www.rawpixel.com/free-images">rawpixel</a>

		+column()

			h4 Icons, Graphics and others

			ul
				li <a href="https://icon-sets.iconify.design/">Iconify</a>
				li <a href="https://undraw.co/illustrations">unDraw</a>
				li <a href="https://www.opendoodles.com">Open Doodles</a>
				li <a href="https://www.canva.com">Canva</a>
