/* FILE: content/blocks/_alert.scss */

.alert {
	@extend %shaded_background;
	position: relative;
	padding: 1em;
	border: 2px solid;
	border-left-width: 1rem;
	border-color: inherit;
	border-radius: var(--border_radius);
	box-shadow: var(--drop_shadow_alert);

	@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
		padding: 2em;
	}

	* {
		margin-bottom: .5rem;
	}

	h3, h4 {
		margin-bottom: 1rem;
		font-size: 1em;
		line-height: inherit;
		text-transform: uppercase;

		strong {
			padding: .25em .5em;
			margin-left: calc( -1.5rem - 2px );
			margin-right: .5em;
			font-size: .9em;
			text-transform: uppercase;
			background: var(--color_content_background);
			border: 2px solid;
			border-color: inherit;
			border-radius: var(--border_radius);
			box-shadow: var(--drop_shadow_alert);
			vertical-align: super;

			@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
				margin-left: calc( -2.5rem - 2px );
			}

		}

		span {
			display: block;

			@include media( map_get( $breakpoint, 'm' ) ) {
				display: inline;
			}

		}

	}

	:last-child {
		margin-bottom: 0;
	}

	@each $color, $value in $colors {
		&-#{ $color } {
			border-color: var(--color_#{ $color });

			body &::before {
				background: var(--color_#{ $color });
			}
		}
	}

	.entry-section + & {
		margin-top: calc( var(--white_space) / 2 );
	}

}
