/* FILE: content/blocks/_columns.scss */

$gap : $ratio + rem;

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: calc( #{ $gap } / -2 );
	margin-right: calc( #{ $gap } / -2 );
}

.column {
	flex: 1;
	width: calc( 100% - #{ $gap } );
	margin-left: calc( #{ $gap } / 2 );
	margin-right: calc( #{ $gap } / 2 );
}

@for $i from 1 through 12 {
	.span-#{$i} {
		max-width: calc( #{ percentage( math.div( 1, 12 ) * $i ) } - #{ $gap } );
	}
}
