/* FILE: content/blocks/_lists.scss */

.list {

	&-default {

		dt {
			margin: ( $ratio + em ) 0 ( $ratio_maj + em );

			// &:not(:first-child) {
			// 	padding-top: ( $ratio + em );
			// 	border-top-width: 1px;
			// 	border-top-style: dashed;
			// }

		}

		dd {
			margin-bottom: $ratio + em;
		}

	}

	&-featured {

		dt {
			margin: calc( var(--white_space) / 2 ) 0 2rem;
		}

		dd {
			margin-bottom: calc( var(--white_space) / 2 );

			.alert {
				margin-top: 2em;
				margin-bottom: 2em;
			}

		}

	}

	&-questions,
	&-topics {
		@extend %shaded_background;
		position: relative;
		padding: 2em 1em;
		padding-left: 2em;
		margin: 0;
		border-radius: var(--border_radius);

		@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
			padding-left: 3em;
			padding-right: 2em;
		}

		h2 + & {
			margin-top: calc( var(--white_space) * -1 );
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}

	}

	&-topics {
		list-style: upper-roman;

		li {
			padding-left: .5em;
		}

		~ h3 {
			display: list-item;
			// padding-bottom: $ratio + rem;
			// border-bottom-width: 1px;
			// border-bottom-style: solid;
			font-weight: 400;
			list-style: upper-roman;
		}

		li::marker,
		~ h3::marker {
			font-family: Georgia, serif;
			font-size: .8rem;
		}

	}

	&-answers {

		li {
			margin: 0;
		}

	}

}

.has-quoted-terms dt {
	quotes: '“' '”' '‘' '’';

	&::before {
		content: open-quote;
	}

	&::after {
		content: close-quote;
	}

}

.answer {
	padding-top: calc( var(--white_space) / 2 );

	&-title {
		padding-top: calc( var(--white_space) / 2 );
	}

}
