/* FILE: content/blocks/_lists.scss */

.list {

	&-default {

		dt {
			margin: ( $golden +em ) 0 ( $golden_major +em );

			// &:not(:first-child) {
			// 	padding-top: ( $golden +em );
			// 	border-top-width: 1px;
			// 	border-top-style: dashed;
			// }

		}

		dd {
			margin-bottom: $golden +em;
		}

	}

	&-featured {

		dt {
			margin: calc( var(--white_space) / 2 ) 0 2rem;
			// font-size: var(--typography_heading_size_3);

			// &:not(:first-child) {
			// 	padding-top: calc( var(--white_space) / 2 );
			// 	border-top-width: 1px;
			// 	border-top-style: dashed;
			// }

		}

		dd {
			margin-bottom: calc( var(--white_space) / 2 );

			.alert {
				margin-top: 2em;
				margin-bottom: 2em;
			}

		}

	}

	&-questions {
		@extend %shaded_background;
		position: relative;
		padding: 2em 1em;
		margin: 0;
		list-style-position: inside;
		border-radius: var(--border_radius);

		@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
			padding-left: 2em;
			padding-right: 2em;
		}

		h2 + & {
			margin-top: calc( var(--white_space) * -1 );
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}

	}

	&-answers {

		li {
			margin: 0;
		}

	}

}

.has-quoted-terms dt {
	quotes: '“' '”' '‘' '’';

	&::before {
		content: open-quote;
	}

	&::after {
		content: close-quote;
	}

}

.answer {
	padding-top: calc( var(--white_space) / 2 );

	&-title {
		padding-top: calc( var(--white_space) / 2 );
	}

}
