/* FILE: content/blocks/_video.scss */

.link-video {
	padding: 1em 2em;
	border-width: 1px;
	border-style: solid;
	border-radius: var(--border_radius);
	box-shadow: none;
	transition: box-shadow .3s;

	&:hover,
	&:focus-within {
		box-shadow: var(--box_shadow--large);
	}

	.label {
		margin-right: $golden_minor +rem;
		font-size: .8em;
		font-weight: 700;
		text-transform: uppercase;
	}

	a {
		display: block;

		@include media( map_get( $breakpoint, 'm' ) ) {
			display: inline;
		}

	}

}
