/* FILE: content/blocks/_video.scss */

.link-video {
	@extend %shaded_background;
	position: relative;
	padding: 1em;
	background: var(--color_palette_blue);
	color: var(--color_nav_text);
	border: 2px solid;
	border-left-width: 1rem;
	border-color: var(--color_palette_blue);
	border-radius: var(--border_radius);
	box-shadow: none;
	transition: box-shadow .3s;

	@include media( map_get( $breakpoint, 'm' ) ) {
		padding: 1em 2em;
	}

	&:hover,
	&:focus-within {
		box-shadow: var(--box_shadow--large);
	}

	.label {
		margin-right: $ratio_min +rem;
		font-size: .8em;
		font-weight: 700;
		text-transform: uppercase;
	}

	a {
		display: block;
		color: inherit;

		@include media( map_get( $breakpoint, 'm' ) ) {
			display: inline;
		}

	}

}
