extends ../../_core/_index.pug

//-
	Use this special block to create custom content sections.
	Check for `article` value to display correct custom content then.
//- block content/article

//-
	Section have predefined `{section}` and `{section}/about` content blocks.
	These content blocks contain entire and basic about contents for the section.
	You can either completely overwrite them, or prepend/append to them.
	@link  https://pugjs.org/language/inheritance.html

block append styles
	include style.css

block demo/starter_content
	//- Empty to remove the section.

block pages/excerpt
	//- Empty to remove the section.
block pages/templates
	//- Empty to remove the section.

block append posts
	include post-image.pug
	include post-featured.pug
	include post-toc.pug
block posts/excerpt
	//- Empty to remove the section.

block menu/list
	include menus.pug
block menu/megamenu
	//- Empty to remove the section.

block sidebars/list
	include sidebars.pug
block sidebars/manage
	//- Empty to remove the section.
