dt Primary Menu
dd
	p The main navigation area is hidden in the left sidebar. Click the menu hamburger icon on top of the left sidebar area control buttons to reveal the sidebar (and menu) content. The menu in this menu location can be nested and hierarchically organised.


dt Social Links Menu
dd
	p Please read the <a href="#social-links">"Social Links" documentation section</a> below for more info.
