+sub_section( 'Featured Posts', 'posts-featured' )
	p These posts will populate the front page (and blog page) banner slideshow area. To set up featured posts, please install and activate the <a href="https://wordpress.org/plugins/ns-featured-posts/"><strong>NS Featured Posts</strong></a> plugin and easily mark selected posts as featured.
