+sub_section( 'Featured Image', 'featured-image' )
	p Featured images are displayed in posts list and as a background in section on the right side of single post page. To set up featured image follow the <a href="https://codex.wordpress.org/Post_Thumbnails#Setting_a_Post_Thumbnail">instructions in WordPress codex</a>.

	p If there is no featured image set for post or page, a fallback image is used. The fallback image is generated from the header image automatically. You can set up the header image in #[+mark( 'nav', 'Appearance', 'Header' )].

	+tip( 'Image size', 'h4' )
		p For the minimal size of the featured image please refer to <a href="#image-sizes">image sizes information</a>.
