dt Sidebar
dd
	p This is the hidden area on the left of your website. To display the are you need to click the menu hamburger button on top of the left sidebar control buttons area.
	p Widgets are displayed just below the <a href="#navigation">primary navigation menu</a> of your website.


dt Header Widgets
dd
	p Displays widgets in header area of the website right of the website logo.
	p By default this area contains a search form. Once you add a widget to this widget area, the search form is replaced with your widget.
