block plugins/about
	if config.plugins
		p.
			<a href="#plugins-recommended">Recommended plugins</a>
			|
			<a href="#plugins-others">Useful plugins</a>

	p Why do you need to use plugins when you expected the theme to have all the functionality in it? Well, according to WordPress guidelines and generally the best practice: <strong>themes are meant for presentational purpose only</strong>, while <strong>plugins provide website functionality</strong>.

	p The reason is simple: when you decide to update your website looks you simply change a theme without loosing your website content and additional functionality such as eCommerce or portfolio.

	p This theme follows this WordPress philosophy and you can rest assured your site is as future-proof as possible. No lock-in effect with <a href="https://www.webmandesign.eu/">WebMan Design themes</a>!

	+info( 'Compatibility' )
		p The theme does not need any plugin to work properly. It is coded responsibly and flexibly enough so it should handle any decently coded 3rd party plugin you throw at it.

		p However, please understand there are thousands of plugins available for WordPress and it is not humanly possible to test them all. Feel free to use your plugin and in case of an issue <a href="#{config.url.support}">contact support</a> for help.
