p Why do you need to use plugins when you expected the theme to have all the functionality in it? Well, according to WordPress guidelines and generally best practices, <strong>themes are meant for presentational purpose only</strong>, while <strong>plugins provide website functionality</strong>.

p The reason is simple: when you decide to update your website looks you simply change the theme without loosing your website content and additional functionality such as eCommerce or portfolio functionality.

p <strong>This theme follows this basic WordPress philosophy and you can sleep assured your website is as future-proof as possible. No lock-in effect with WebMan Design themes!</strong>

p The theme supports and integrates seamlessly with various plugins. For more info please read below.

+info( 'Compatibility' )
	p The theme <strong>works perfectly fine</strong> on its own - it does not need any plugin to work, not even recommended ones.

	p Also, <strong>#{config.name}</strong> is coded responsibly and flexibly enough so it should handle any decently coded 3rd party plugin you throw at it.

	p However, please understand that there are thousands of plugins available for WordPress and it is not possible for any developer to test them all. Please feel free to use your plugins and in case of any issue, just ask for help at <a href="#{config.url.support}">support forum</a>. I'll assist you to my best ability.
