+sub_section( 'What are Plugins and Why Do I Need Them?' )
	p Do you ask why do you need to use plugins when you expected the theme to have all the functionality in it?

	p According to WordPress guidelines, the <strong>themes are meant for presentational purposes only</strong>, while <strong>plugins provide website functionality</strong>.

	p The reason is simple. When you decide to update your website look in the future, you simply change the theme without loosing your website content and additional functionality such as shortcodes, e-shop or forum functionality among others.

	p <strong>This theme follows this basic WordPress philosophy and you can sleep assured your website is as future-proof as possible!</strong>

	p While you get beautiful look for your website with this theme, it also supports and integrates seamlessly with various plugins. For more info please read on.

	+info( 'Compatibility' )

		p Other plugins than the recommended ones should work with the theme with no issues, though some <em>might</em> require additional tweaks to integrate them 100% with the theme (this is usually the case of more robust plugins such as e-shop or directory plugins).

		p Please understand that there are thousands of plugins available for WordPress and it is not possible for any theme developer to test the theme with all of them. <strong>#{config.name}</strong> was tested with most of the popular plugins. You can install any custom plugin <a href="https://codex.wordpress.org/Managing_Plugins">following the WordPress instructions</a> (or following the plugin documentation).

		p In case of any plugin incompatibility or error, please, <strong>contact the plugin support first</strong> before contacting <a href="https://www.webmandesign.eu/reference/#links-support">WebMan Design Support Center</a>.
