+sub_section( 'Other Useful Plugins', 'plugins-others' )
	p You can use any plugin with the theme. Here are some tested, used and recommended plugins by the <a href="https://www.webmandesign.eu">theme author</a>:

	dl.list-default
		block plugins/other/list

			dt <a href="https://wordpress.org/plugins/archive-title/">Archive Title</a>
			dd Remove archive page title labels completely, or just hide them accessibly.

			dt <a href="https://wordpress.org/plugins/caldera-forms/">Caldera Forms</a>
			dd A great form builder plugin for WordPress.

			dt <a href="https://wordpress.org/plugins/classic-editor/">Classic Editor</a>
			dd In case you can not use WordPress 5+ block editor, you can restore the previous ("classic") editor with this plugin.

			dt <a href="https://wordpress.org/plugins/cpt-editor/">Custom Post Type Editor</a>
			dd Allows you to rename any post type.

			dt <a href="https://wordpress.org/plugins/customizer-export-import/">Customizer Export/Import</a>
			dd Perfect plugin for backing up your theme's <a href="#customizer">customizer</a> settings.

			dt <a href="https://wordpress.org/plugins/disable-comments/">Disable Comments</a>
			dd Disables comments site-wide per post type.

			dt <a href="https://wordpress.org/plugins/editorplus/">Editor Plus</a>
			dd Extends block editor with additional blocks, design controls, typography, icons, and more.

			dt <a href="https://wordpress.org/plugins/improving-search-form-accessibility/">Improve Search Form Accessibility</a>
			dd This plugin fixes common accessibility issue of WordPress search form.

			dt <a href="https://wordpress.org/plugins/imsanity/">Imsanity</a>
			dd Automatically resizes huge image uploads.

			dt <a href="https://wordpress.org/plugins/intuitive-custom-post-order/">Intuitive Custom Post Order</a>
			dd For easy posts ordering.

			dt <a href="https://wordpress.org/plugins/better-wp-security/">iThemes Security</a>
			dd A great plugin to keep your WordPress site secure.

			dt <a href="https://wordpress.org/plugins/my-eyes-are-up-here/">My Eyes Are Up Here</a>
			dd Helps you control how WordPress generates thumbnails.

			dt <a href="https://wordpress.org/plugins/wp-nested-pages/">Nested Pages</a>
			dd Provides a drag & drop interface for managing pages and posts in the WordPress admin, while maintaining quick edit functionality.

			dt <a href="https://wordpress.org/plugins/page-links-to/">Page Links To</a>
			dd Lets you make a WordPress page (or other content type) link to a custom URL of your choosing.

			dt <a href="https://wordpress.org/plugins/polylang/">Polylang</a>
			dd Making your WordPress website multilingual.

			dt <a href="https://wordpress.org/plugins/post-type-archive-descriptions/">Post Type Archive Descriptions</a>
			dd Allows you to add a description to post type archive pages.

			dt <a href="https://wordpress.org/plugins/rename-taxonomies/">Rename Taxonomies</a>
			dd Allows you to rename any taxonomy.

			dt <a href="https://wordpress.org/plugins/wp-featherlight/">WP Featherlight</a>
			dd The best free image lightbox (zooming) plugin that just works!

			dt <a href="https://wordpress.org/plugins/wpforms-lite/">WPForms</a>
			dd A great and easy to use drag & drop form builder for WordPress.
