+sub_section( 'Other Useful Plugins', 'plugins-others' )
	p You can use any plugin with this theme. Here are some more plugins I've personally tested and successfully used:

	dl.list-default
		block plugins/other/list

			dt <a href="https://wordpress.org/plugins/archive-title/">Archive Title</a>
			dd Removes archive page title labels completely, or just hides them accessibly.

			dt <a href="https://wordpress.org/plugins/caldera-forms/">Caldera Forms</a>
			dd A great form builder plugin.

			dt <a href="https://wordpress.org/plugins/cpt-editor/">Custom Post Type Editor</a>
			dd Allows you to rename any post type.

			dt <a href="https://wordpress.org/plugins/customizer-export-import/">Customizer Export/Import</a>
			dd Perfect plugin for backing up your theme's <a href="#customizer">customizer</a> settings.

			dt <a href="https://wordpress.org/plugins/disable-comments/">Disable Comments</a>
			dd Disables comments site-wide per post type.

			dt <a href="https://wordpress.org/plugins/editorplus/">Editor Plus</a>
			dd Extends block editor with additional blocks, design controls, icons, and more.

			dt <a href="https://wordpress.org/plugins/improving-search-form-accessibility/">Improve Search Form Accessibility</a>
			dd Fixes <a href="https://support.webmandesign.eu/accessibility/">common accessibility issue</a> with WordPress search form.

			dt <a href="https://wordpress.org/plugins/imsanity/">Imsanity</a>
			dd Automatically resizes huge image uploads.

			dt <a href="https://wordpress.org/plugins/intuitive-custom-post-order/">Intuitive Custom Post Order</a>
			dd For easier posts (and other post types) order management.

			dt <a href="https://wordpress.org/plugins/better-wp-security/">iThemes Security</a>
			dd Great plugin to keep your WordPress site secure.

			dt <a href="https://wordpress.org/plugins/my-eyes-are-up-here/">My Eyes Are Up Here</a>
			dd Helps you control how WordPress crops thumbnails.

			dt <a href="https://wordpress.org/plugins/wp-nested-pages/">Nested Pages</a>
			dd Provides drag & drop interface for managing pages and posts.

			dt <a href="https://wordpress.org/plugins/page-links-to/">Page Links To</a>
			dd Allows you to redirect a post or a page to a custom URL.

			dt <a href="https://wordpress.org/plugins/polylang/">Polylang</a>
			dd Easy to use plugin for creating multilingual websites.

			dt <a href="https://wordpress.org/plugins/post-type-archive-descriptions/">Post Type Archive Descriptions</a>
			dd Manages description (displayed on archive pages) of any post type.

			dt <a href="https://wordpress.org/plugins/rename-taxonomies/">Rename Taxonomies</a>
			dd Allows you to rename any taxonomy to your needs. ("Tags" &rarr; "Topics", for example.)

			dt <a href="https://wordpress.org/plugins/wp-featherlight/">WP Featherlight</a>
			dd Wonderful image lightbox (zooming) plugin that just works!

			dt <a href="https://wordpress.org/plugins/wpforms-lite/">WPForms</a>
			dd Easy to use drag & drop form builder for WordPress.
