h3( id="plugins-others" ) Other Great Plugins Worth Checking Out

p You can use any plugin with the theme. Here are some tested, used and recommended plugins by the <a href="https://www.webmandesign.eu">theme author</a>:

dl( class="list indented" )
	block plugins/other/list

		dt <a href="https://wordpress.org/plugins/archive-title/"><strong>Archive Title</strong></a>
		dd Remove archive page title labels completely, or just hide them accessibly.

		dt <a href="https://wordpress.org/plugins/business-profile/"><strong>Business Profile</strong></a>
		dd Display your <a href="https://www.youtube.com/watch?v=ndhdTCY-YXE">business's contact details</a> with seo-friendly Schema.org markup.

		dt <a href="https://wordpress.org/plugins/caldera-forms/"><strong>Caldera Forms</strong></a>
		dd A great form builder plugin for WordPress.

		dt <a href="https://wordpress.org/plugins/classic-editor/"><strong>Classic Editor</strong></a>
		dd In case you can not use WordPress 5+ block editor, you can restore the previous ("classic") editor with this plugin.

		dt <a href="https://wordpress.org/plugins/cpt-editor/"><strong>Custom Post Type Editor</strong></a>
		dd Allows you to rename any post type.

		dt <a href="https://wordpress.org/plugins/customizer-export-import/"><strong>Customizer Export/Import</strong></a>
		dd Perfect plugin for backing up your theme's <a href="#customizer">customizer</a> settings.

		dt <a href="https://wordpress.org/plugins/disable-comments/"><strong>Disable Comments</strong></a>
		dd Disables comments site-wide per post type.

		dt <a href="https://wordpress.org/plugins/elementor/"><strong>Elementor Page Builder</strong></a>
		dd Completely free frontend drag & drop page builder.

		dt <a href="https://wordpress.org/plugins/imsanity/"><strong>Imsanity</strong></a>
		dd Automatically resizes huge image uploads.

		dt <a href="https://wordpress.org/plugins/intuitive-custom-post-order/"><strong>Intuitive Custom Post Order</strong></a>
		dd For easy posts ordering.

		dt <a href="https://wordpress.org/plugins/better-wp-security/"><strong>iThemes Security</strong></a>
		dd A great plugin to keep your WordPress site secure.

		dt <a href="https://wordpress.org/plugins/my-eyes-are-up-here/"><strong>My Eyes Are Up Here</strong></a>
		dd Helps you control how WordPress generates thumbnails.

		dt <a href="https://wordpress.org/plugins/wp-nested-pages/"><strong>Nested Pages</strong></a>
		dd Provides a drag & drop interface for managing pages and posts in the WordPress admin, while maintaining quick edit functionality.

		dt <a href="https://wordpress.org/plugins/page-links-to/"><strong>Page Links To</strong></a>
		dd Lets you make a WordPress page (or other content type) link to a custom URL of your choosing.

		dt <a href="https://wordpress.org/plugins/polylang/"><strong>Polylang</strong></a>
		dd Making your WordPress website multilingual.

		dt <a href="https://wordpress.org/plugins/post-type-archive-descriptions/"><strong>Post Type Archive Descriptions</strong></a>
		dd Allows you to add a description to post type archive pages.

		dt <a href="https://wordpress.org/plugins/rename-taxonomies/"><strong>Rename Taxonomies</strong></a>
		dd Allows you to rename any taxonomy.

		dt <a href="https://wordpress.org/plugins/rich-text-excerpts/"><strong>Rich Text Excerpts</strong></a>
		dd Enables rich text editing in excerpts for any post type which supports them.

		dt <a href="https://wordpress.org/plugins/smart-slider-3/"><strong>Smart Slider 3</strong></a>
		dd Great free advanced, layered slider plugin.

		dt <a href="https://wordpress.org/plugins/social-warfare/"><strong>Social Warfare</strong></a>
		dd If you don't want to use <a href="#jetpack">Jeptack</a> plugin's <a href="https://jetpack.com/support/sharing/?aff=6509&cid=588078">social sharing buttons</a>, you may try using this great plugin.

		dt <a href="https://wordpress.org/plugins/theme-check/"><strong>Theme Check</strong></a>
		dd Checks your themes against the latest WordPress theme review standards.

		dt <a href="https://wordpress.org/plugins/widget-css-classes/"><strong>Widget CSS Classes</strong></a>
		dd Add custom classes to your widgets.<br>
		The theme integrates its <a href="#css-classes">predefined CSS classes</a> directly into the plugin's interface automatically. You can just select the predefined class from the dropdown when editing a widget in <strong><em>Appearance &rarr; Widgets</em></strong>.<br>
		As the theme uses CSS flexbox in its horizontal widgets areas you can control the width of the widget with <a href="https://developer.mozilla.org/en/docs/Web/CSS/flex-grow">`set-flex-grow-#` classes</a>.

		dt <a href="https://wordpress.org/plugins/wordfence/"><strong>Wordfence Security</strong></a>
		dd A great plugin to keep your WordPress site secure.

		dt <a href="https://wordpress.org/plugins/wp-featherlight/"><strong>WP Featherlight</strong></a>
		dd The best free image lightbox (zooming) plugin that just works!

		dt <a href="https://wordpress.org/plugins/wpforms-lite/"><strong>WPForms</strong></a>
		dd A great and easy to use drag & drop form builder for WordPress.
