+sub_section( 'Recommended Plugins', 'plugins-recommended' )
	p Theme uses the <a href="http://tgmpluginactivation.com/">TGM Plugin Activation</a> script that prompts you to install recommended plugins after you activate the theme.

	p These recommended plugins are only suggestions (they are definitely <strong>not required</strong>) and the theme works perfectly fine even without them. Please always read the plugin description before installing a plugin and install only those plugins you will use on your website.

	p Here is a list of plugins that were successfully tested with the theme and the theme even provides additional integration layer for them:

	dl.list-featured.has-quoted-terms
		block plugins/recommended/list
			each plugin in config.plugins
				case plugin
					when 'beaver-builder': include recommend/beaver-builder.pug
					when 'breadcrumbs': include recommend/breadcrumbs.pug
					when 'envato-market': include recommend/envato-market.pug
					when 'integration-wc': include recommend/integration-wc.pug
					when 'jetpack': include recommend/jetpack.pug
					when 'manage-sidebars': include recommend/manage-sidebars.pug
					when 'woocommerce': include recommend/woocommerce.pug
					default
						- break
