+sub_section( 'Recommended Plugins', 'plugins-recommended' )
	p Theme provides code and/or design integration for certain plugins. You will find these plugins in recommendations list below. They provide additional functionality for your website or improve your and your visitor's experience.

	p Please note that these are only <strong>recommended, suggested</strong> plugins, they are <strong>not required</strong> for the theme to work. Always read the plugin description before installing a plugin and <em>install only those plugins you will use on your website</em>.

	if config.tgmpa
		+image( 'https://easycaptures.com/fs/uploaded/1625/5223285226.png', 'Plugins recommendation page example: Recommended, not required' )

	+warning( 'Demo content required plugins', 'h4' )
		p List of plugins the theme recommends may differ from plugins that are <em>required</em> when installing <a href="#demo-content">demo content</a>. Check the demo content information for more details.

	p Here is a list of plugins that were successfully tested with the theme and the theme even provides additional integration layer for them:

	dl.list-featured.has-quoted-terms
		block plugins/recommended/list
			each name, id in config.plugins
				+recommend( name, id )
					case id
						when 'abs': include recommend/abs.pug
						when 'beaver-builder': include recommend/beaver-builder.pug
						when 'classic-widgets': include recommend/classic-widgets.pug
						when 'envato-market': include recommend/envato-market.pug
						when 'improve-search': include recommend/improve-search.pug
						when 'integration-wc': include recommend/integration-wc.pug
						when 'jetpack': include recommend/jetpack.pug
						when 'manage-sidebars': include recommend/manage-sidebars.pug
						when 'one-click-demo-import': include recommend/one-click-demo-import.pug
						when 'webman-amplifier': include recommend/webman-amplifier.pug
						when 'woocommerce': include recommend/woocommerce.pug
						default
							block plugins/recommended/list/item
							- break
