//-
//- Configuration object:
//-
-
	var config = {
		name    : 'Themename',
		slug    : 'themeslug',
		is_free : true,
		source  : 'wporg', //- wporg/envato/github/other
		content : [
			// 'wordpress',
			// 'install',
			// 'update',
			// 'demo',
			// 'anatomy',
			// 'plugins',
			// 'pages',
			// 'posts',
			// 'cpt/products',
			// 'cpt/portfolio',
			// 'cpt/testimonials',
			// 'menu',
			// 'social',
			// 'sidebars',
			// 'widgets',
			// 'customizer',
			// 'localization',
			// 'accessibility',
			// 'mods',
			'faq',
			// 'credits',
		],

		plugins : [
			'accessibility',
			// 'acf',
			'beaver-builder',
			// 'beaver-themer',
			// 'integration-bt',
			'breadcrumbs',
			// 'envato-market',
			// 'jetpack',
			// 'manage-sidebars',
			// 'subtitle',
			// 'webman-amplifier',
			// 'webman-templates',
			'woocommerce',
			'integration-wc',
		],
	};

//- STOP EDITING NOW!
include content.pug
