//-
//- Configuration object:
//-
-
	var config = {
		//- Theme attributes:
		name          : 'Michelle',
		slug          : 'michelle',
		is_free       : true,
		source        : 'wporg', //- Available values: wporg/envato/github/other
		compatibility : {
			accessibility : true,
			theme_builder : true,
		},
		version : {
			wp  : '5.5',
			php : '7.0',
		},

		//- URLs:
		url : {
			demo    : 'https://themedemos.webmandesign.eu/michelle/',
			info    : 'https://www.webmandesign.eu/portfolio/michelle-wordpress-theme/',
			support : 'https://support.webmandesign.eu/forum/michelle/',
			//- For other global URLs see `_core/includes/_vars.pug`.
		},

		//- Content sections:
		//- For custom content see below.
		content : [
			//- For the list of core contents refer to `_core/includes/content.pug`.
			//- Basically, these match sub-folder names in `_core/includes/content`.
			//- Reorder these how you please.
			'wordpress',
			'install',
			'update',
			'demo',
			'pages',
			'posts',
			'editor',
			'menu',
			'customizer',
			'localization',
			'accessibility',
			'plugins',
			'faq',
			'mods',
			'credits',
		],

		//- Recommended plugins list:
		//- For custom content see below.
		plugins : [
			//- For the list of core recommended plugin refer to `_core/includes/content.pug`.
			//- Reorder these how you please.
			'beaver-builder',
			'manage-sidebars',
			'woocommerce',
			'integration-wc',
		],
	};

//-
//- Debugging:
//- IMPORTANT: Don't forget to set `false` before deployment!
//-
- var debug = true;

//-
//- Custom content:
//- This has to be here, after all the above variables declarations.
//-
include includes/_custom-content.pug
