p You will be notified in the WordPress admin each time a new updated theme version is available. To install a theme update please follow the steps below.

+tip()
	p If there is a specific procedure required for the theme update, this will be clearly stated on the WebMan's <a href="http://www.facebook.com/webmandesigneu/" target="blank"><strong>Facebook</strong></a> and <a href="http://www.twitter.com/webmandesigneu/" target="blank"><strong>Twitter</strong></a> pages.

+important( 'Back up your website' )
	p It is strongly recommended to back up your theme settings before you update the theme. This is only a precaution procedure and a good practice.

	p For backing up the theme (<a href="#customizer">customizer</a>) settings, please use the <a href="https://wordpress.org/plugins/customizer-export-import/"><strong>Customizer Export/Import</strong> plugin</a>.

include auto.pug
include manual.pug
