p You will be notified in the WordPress admin each time a new updated theme version is available. To install the theme update please follow the steps below.

+tip()
	p If there is a specific procedure required for a particular theme update, this will be clearly stated on the WebMan Design's <a href="https://www.facebook.com/webmandesigneu/"><strong>Facebook</strong></a> and/or <a href="https://www.twitter.com/webmandesigneu/"><strong>Twitter</strong></a> pages.

+important( 'Back up your website' )
	p To keep things safe please consider <a href="https://wordpress.org/plugins/search/backup/">backing up your website</a> and database before doing any updates.
