block update/about
	p You will be notified in the WordPress admin each time a new updated theme version is available. Install the update following instructions below.

	+tip( 'Info on social networks' )
		p If there is a specific procedure required during update, this will be shared on the <a href="#{config.url.facebook}"><strong>Facebook</strong></a> and <a href="#{config.url.twitter}"><strong>Twitter</strong></a> pages.

	+important( 'Back up your website' )
		p To keep things safe please consider <a href="https://wordpress.org/plugins/search/backup/">backing up your website</a> and database before doing any updates to your website.
