- var update_auto_more = false;

if config.is_free
	if 'wporg' === config.source
		+sub_section( 'Automatic Theme Update' )
			include wporg.pug
			- update_auto_more = true;
	else
		+sub_section( 'Automatic Theme Update' )
			include github.pug
			- update_auto_more = true;
else
	if 'envato' === config.source
		+sub_section( 'Automatic Theme Update' )
			include envato.pug
			- update_auto_more = true;
	else
		include other.pug

if update_auto_more
	+tip()
		p If automatic update fails for whatever reason, please update the theme manually &rarr; see below.
