+sub_section( 'Manual Theme Update', 'update-manual' )
	p Download the theme ZIP package from where you've obtained it originally. Then follow the steps below:


	h4 <strong>Updating via WordPress dashboard</strong>

	p A simple way of doing a manual theme update is deleting and reinstalling the theme directly via WordPress dashboard. You can <a href="https://wptheming.com/2016/02/how-to-overwrite-a-theme/">read an article</a> or <a href="https://www.youtube.com/watch?v=W3ntxBYZhg4">watch a video</a> on how to do this.


	h4 <strong>Updating via FTP</strong>

	p This is more advanced manual update procedure and you will need an FTP client (such as <a href="https://filezilla-project.org/">FileZilla</a>) to connect to your server:

	ol
		li Download the newest theme ZIP file from where you've obtained it and unpack the ZIP file on your computer.

		li Now you will need an <a href="https://filezilla-project.org/">FTP client</a> to connect to your server.

		li On your server navigate to <code>WORDPRESS_FOLDER/wp-content/themes/</code> folder.

		li Delete the existing <code>#{config.slug}</code> folder (or create a backup just in case - you can do this simply by renaming the folder name by appending <code>.backup</code> to its name so it becomes <code>#{config.slug}.backup</code>, for example).

		li Copy the unpacked theme <code>#{config.slug}</code> folder from your computer (from step&nbsp;1 above) into <code>WORDPRESS_FOLDER/wp-content/themes/</code> folder on your server.

		li Log into your WordPress admin area and check the version of the theme in #[+mark( 'path', 'Appearance', 'Themes' )]. Your theme should be updated now. (And you can delete the <code>#{config.slug}.backup</code> folder from step&nbsp;4 above.)
