+sub_section( 'Manual Theme Update', 'update-manual' )
	p First you need to <strong>download the theme ZIP package</strong> from where you've obtained the theme.


	h4 <strong>Updating via WordPress dashboard</strong>

	p A simple way of doing a manual is deleting and reinstalling the theme directly via WordPress dashboard. You can <a href="https://wptheming.com/2016/02/how-to-overwrite-a-theme/">read an article</a> or <a href="https://www.youtube.com/watch?v=W3ntxBYZhg4">watch a video</a> on how to do this.


	h4 <strong>Updating via FTP</strong>

	p This is more advanced manual update procedure and you will need an FTP client (such as <a href="https://filezilla-project.org/">FileZilla</a>) to connect to your server:

	ol
		li (Re)download the theme ZIP file from where you've obtained it and unpack the ZIP file on your computer.

		li Now you will need an FTP client to connect to your server.

		li On your server navigate to <code>WORDPRESS_FOLDER/wp-content/themes/</code> folder.

		li Delete the existing <code>#{config.slug}</code> folder (or create a backup just in case - you can do this simply by appending the folder name with a <code>.bak</code>, for example).

		li Copy the unpacked theme <code>#{config.slug}</code> folder from your computer (from step 1 above) into <code>WORDPRESS_FOLDER/wp-content/themes/</code> folder on your server.

		li Log into your WordPress admin area and check the version of the theme in #[+mark( 'path', 'Appearance', 'Themes' )]. Your theme should be updated now.
