+sub_section( 'Blog Layout', 'blog-layout' )
	p In #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Posts' )] you can choose between two predefined blog page layouts:

	ul
		li List of posts with sidebar. (This is default layout.) → <em><a href="#{config.url.demo}blog/">Preview</a></em>
		li Posts in 2 columns with no sidebar. → <em><a href="#{config.url.demo}blog/?layout=columns">Preview</a></em>

	+image( 'blog-layout.jpg', 'Preview of blog layouts (posts list with sidebar, posts list in 2 columns)' )

	p Alternatively, create completely custom layout modifying <em>"Template content: Blog"</em> <a href="#site-editor-template-parts">template part in site editor</a>.
