li
	+answer( 'How to set sticky header', 'sticky-header' )
		p If you need to display the site header on top of the browser window (viewport) even when user scrolls the page, try one of these options:


		h4 Set position option on "Header" template part

		p Set "Sticky" position to all "Header" <a href="https://wordpress.org/documentation/article/template-part-block/">Template Part blocks</a> in <a href="#site-editor-templates">templates</a>. This is a tedious task as you need to edit all (most) of the templates.

		+image( 'sticky-header.jpg', 'Setting sticky header position in Site Editor' )

		+important( 'Only works in full site editing mode', 'h5' ).has-regular-margin-bottom
			p This solution only works when <a href="#site-editor">Site Editor</a> is enabled so you can edit <a href="#site-editor-templates">templates</a>.


		h4 Use a plugin

		p Use a plugin to set sticky position on elements, such as <a href="https://wordpress.org/plugins/sticky-menu-or-anything-on-scroll/"><strong>Sticky Menu & Sticky Header</strong> plugin</a>. This option can be very flexible approach providing conditional control over header sticky positioning (depending on the plugin capabilities).

		+tip( 'Set up the plugin', 'h5' )
			p For setting up sticky header using a plugin use <code>#masthead</code> in plugin options as (theme default) site header selector.
			p Alternatively use <a href="https://support.webmandesign.eu/using-browser-code-inspector/">browser code inspector</a> to determine the selector for your desired sticky element. Or check your plugin documentation for tips.


		h4 Use custom CSS code

		p You can even set the sticky positioning using a <a href="#css">custom CSS code</a>, such as:

		+code #masthead {<br>	position: sticky;<br>	top: var(--wp-admin--admin-bar--height, 0);<br>}
