li
	+answer( 'How to set decorative image', 'decorative-image' )

		p The theme displays a decorative image in site header and footer. It is also used in <a href="#block-patterns">block patterns</a>.

		p By default this image is set to theme's "Fingers" dynamic colors SVG image. You can change it to custom image or choose from other theme predefined images (check out <a href="https://themedemos.webmandesign.eu/zooey/?layout=decoration">theme demo example</a>).

		p The image is taken from <a href="#custom-header"><strong>custom header</strong></a> images.

		+image( 'decorative-image.jpg', 'Preview of decorative image' )

		p Alternatively, you can simply change it in <a href="#site-editor-template-parts">template parts</a> where it is used. (As this would be more tedious work, we recommend setting up <a href="#custom-header">custom header</a> instead.)
