li
	+answer( '<strong>WooCommerce</strong>: Set up product layout', 'wc-layout-product' )

		+mark( 'nav', 'Appearance', 'Customize', 'WooCommerce', 'Others' ).is-path-featured

		p <strong>#{config.name}</strong> theme provides these options to alter default WooCommerce product page layout:

		ul
			li <strong>Product gallery</strong> can be set to display <a href="https://themedemos.webmandesign.eu/ileana/product/product-1/?layout=slideshow">slideshow with thumbnails</a>, or <a href="https://themedemos.webmandesign.eu/ileana/product/product-1/?layout=list">images in list</a>, or <a href="https://themedemos.webmandesign.eu/ileana/product/product-1/">in 2 columns</a>.
			li <strong>Sticky product summary</strong> sticks the product information and "Add to cart" button when scrolling the product page.

		+tip( 'Block editor for products', 'h4' )
			p If you would like to use block editor to create custom layouts for your product description, check out <a href="https://wordpress.org/plugins/block-editor-for-woocommerce/"><strong>Block Editor For WooCommerce</strong> plugin</a>.
