li
	+answer( '<strong>WooCommerce</strong>: Cart & Checkout page', 'wc-cart-checkout' )

		+warning( 'Duplicate cart/checkout form', 'h4' )
			p WooCommerce adds default content to Cart and Checkout page after plugin installation. The actual content depends on whether the theme is a block theme (full site editing theme) or a <a href="#disable-fse">classic theme</a>.
			p This may cause an issue of rendering 2 different cart/checkout forms on such pages. <strong>Read below for the solution:</strong>

		p For improved flexibility, this theme sets Cart and Checkout page default templates to also display the page excerpt and content. Excerpt is displayed before, and content after the page cart/checkout default form.

		p As WooCommerce adds default content to Cart and Checkout page after plugin installation, this may produce displaying of 2 different cart/checkout forms on those pages. (Check the pages on your website front-end after WooCommerce plugin installation.)

		p To resolve this issue and provide only one cart/checkout form:

		ol.is-steps
			li Open "Cart" page for editing and remove its content. (Or you can set custom content using blocks instead. You can also <a href="#posts-excerpt">set page excerpt</a>.)
			li Do the same for "Checkout" page.
			li Check those pages on your website front-end now.

		+tip( 'Alternative: Edit templates', 'h4' )
			p You can directly edit "Cart" and "Checkout" <a href="#site-editor-templates">templates in Site Editor</a> to your needs, which provides more advanced and thorough control over those layouts.
