p
	a( href="#top" title="Back to top of the page" ).custom-logo-link
		img( src=config.url.logo alt="Back to top of the page" )

p.has-small-font-size.has-small-line-height
	| Please note that images used in this documentation are illustrative only.
	| <br>
	| They might not represent the actual theme or WordPress user interface 100%. They were created to provide help visualizing certain procedures.
	| Although the interface may look a bit different in your website, the steps shown in the images should be the same.

p Once again, <strong>thank you for using #{config.name}</strong> WordPress theme!

p
	| &copy; <a href="#{config.url.author}">WebMan Design</a>
	| &bull; <a href="#top">Back to top &uarr;</a>
