- title   = 'Plugins';
- id      = 'plugins';
- nav[id] = title;

+section( title, id )

<h2 id="plugins">Installing Plugins <br><small><a href="#plugins-recommended">Main recommended plugins</a> | <a href="#plugins-others">Other useful plugins</a></small></h2>
	<div class="section indented">

		<h3>What are Plugins and Why Do I Need Them?</h3>

			<p>Do you ask why do you need to use plugins when you expected the theme to have all the functionality in it?</p>
			<p>According to WordPress guidelines, the <strong>themes are meant for presentational purposes only</strong>, while <strong>plugins provide website functionality</strong>.</p>
			<p>The reason is simple. When you decide to update your website look in the future, you simply change the theme without loosing your website content and additional functionality such as shortcodes, e-shop or forum functionality among others.</p>
			<p><strong>This theme follows this basic WordPress philosophy and you can sleep assured your website is as future-proof as possible!</strong></p>
			<p>While you get beautiful look for your website with this theme, it also supports and integrates seamlessly with various plugins. For more info please read on.</p>

		<div class="row">

			<div class="col-sm-12 col-md-6">

				<h3>Installing Recommended Plugins</h3>

				<p>The theme uses the <a href="http://tgmpluginactivation.com/" target="_blank">TGM Plugin Activation</a> script that prompts you to install recommended plugins after you activate the theme.</p>
				<p>The suggested recommended plugins are essential to provide the core functionality the theme relies on and/or to ease out the process of editing your website pages. <strong>You can still use the theme without these plugins, however, its functionality and your user experience would be limited.</strong></p>

			</div>

			<div class="col-sm-12 col-md-6">

				<h3>Plugins Compatibility</h3>

				<p>Other plugins than the recommended ones should work with the theme with no issues, though some <em>might</em> require additional tweaks to integrate them 100% with the theme (this is usually the case of more robust plugins such as e-shop or directory plugins).</p>
				<p>Please understand that there are thousands of plugins available for WordPress and it is not possible for any theme developer to test the theme with all of them. <strong>#{theme_name}</strong> was tested with most of the popular plugins. You can install any custom plugin <a href="https://codex.wordpress.org/Managing_Plugins" target="_blank">following the WordPress instructions</a> (or following the plugin documentation).</p>
				<p>In case of any plugin incompatibility or error, please, <strong>contact the plugin support first</strong> before contacting <a href="https://www.webmandesign.eu/reference/#links-support">WebMan Design Support Center</a>.</p>

			</div>

		</div>

		<h3 id="plugins-recommended">Recommended Plugins <br><small><a href="#plugins-others">Check out the list of other useful plugins too!</a></small></h3>

			<p>Bellow you'll find a list of plugins that were successfully tested with the theme and works with it without any conflicts:</p>

			<div class="section indented plugins">

				<h4 id="webman-amplifier">
					<strong>WebMan Amplifier</strong><br>
					<small>(<a href="https://wordpress.org/plugins/webman-amplifier/" target="_blank">https://wordpress.org/plugins/webman-amplifier/</a>)</small>
				</h4>

					<p class="uppercase">This plugin extends the theme's functionality with additional content types, custom icon font, metaboxes, shortcodes (with page builder compatibility) and custom widgets.</p>
					<p>It also provides seamless integration with <a href="#beaver-builder"><strong>Beaver Builder</strong></a> page builder plugin.</p>
					<p>This is essential plugin to provide advanced functionality for the theme and you will be prompted to install it after theme activation.</p>

					<div class="alert alert-danger">
						<h5>Warning: Inaccessible elements</h5>
						<p>Please note that <strong>WM Accordion</strong> and <strong>WM Tabs</strong> page builder modules/shortcodes provided by WebMan Amplifier plugin are not accessible elements currently and are not recommended for use on accessible websites! They can be replaced with <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details">HTML <code>&lt;details></code> tag</a> if needed.</p>
						<p>Please don't forget to <a href="https://support.webmandesign.eu/accessibility/">test your accessible websites</a> thoroughly.</p>
					</div>

				<h4 id="beaver-builder">
					<strong>Beaver Builder</strong><br>
					<small>(<a href="https://www.wpbeaverbuilder.com?fla=67" target="_blank">https://www.wpbeaverbuilder.com <span class="badge">Pro</span></a>, <a href="https://wordpress.org/plugins/beaver-builder-lite-version/" target="_blank">https://wordpress.org/plugins/beaver-builder-lite-version/ <span class="badge">Free</span></a>)</small>
				</h4>

					<p class="uppercase">If you need a page builder plugin to create complex page layouts with ease with a <strong>front-end drag and drop editor</strong>, I highly recommend using the Beaver Builder plugin. The plugin is available both in free Lite version and payed Pro version. The theme is 100% compatible with this plugin.</p>
					<p>For more info on the plugin please visit the <a href="https://www.wpbeaverbuilder.com?fla=67" target="_blank">Beaver Builder website</a> where you can also find the instructional videos for this page builder plugin.</p>

					<p>When you <a href="#webman-amplifier">install a <strong>WebMan Amplifier</strong> plugin</a>, it will enhance the free (and also the paid) version of Beaver Builder with <strong>custom theme page builder elements</strong>. You can then create the exact same website as <a href="https://themedemos.webmandesign.eu/#{theme_slug}" target="_blank">the theme demo website</a> with a free Beaver Builder only!</p>

					<p><strong>The theme is fully compatible also with <a href="#beaver-themer">Beaver Themer</a> to create your own custom header, footer, post, archive, product,&hellip; layouts!</strong> Check out the <a href="#beaver-themer">plugin information below</a>.</p>

					<div class="alert alert-warning">
						<h5><a href="https://wordpress.org/plugins/webman-templates/" target="_blank"><strong>WebMan Templates</strong></a></h5>
						<p><strong>A set of pre-designed page builder templates</strong></p>
						<p>If you are using Beaver Builder page builder, you can benefit from predefined theme page builder row templates. Just install and activate the <strong>WebMan Templates</strong> plugin and all the predefined templates will be available in Beaver Builder when you edit the page. The plugin automatic installation will be suggested to you after you activate the theme, alternatively you can <a href="https://wordpress.org/plugins/webman-templates/" target="_blank">install the plugin via your WordPress dashboard</a>.</p>
					</div>

					<div class="alert alert-info">
						<h5>Additional resources</h5>
						<ul>
							<li>
								<strong>Tutorials</strong>: If you are new to Beaver Builder page builder, you can <a href="https://vimeo.com/beaverbuilder" target="_blank">watch instructional videos</a> (check out <a href="https://www.wpbeaverbuilder.com/6-beaver-builder-tutorial-videos-awesome-community/?fla=67" target="_blank">alternative courses</a>), or read the plugin's <a href="http://kb.wpbeaverbuilder.com/?fla=67" target="_blank">knowledge base</a>.
							</li>
							<li>
								<strong>Extensions</strong>: If you would like to extend the plugin with some fancy new functionality, check out some of these extensions:
								<ul>
									<li><a href="#beaver-themer"><strong>Beaver Themer</strong>!</a></li>
									<li><a href="https://wordpress.org/plugins/cb-custom-modules/" target="_blank">CB Custom Modules</a></li>
									<li><a href="https://wordpress.org/plugins/ultimate-addons-for-beaver-builder-lite/" target="_blank">Ultimate Addons for Beaver Builder</a></li>
									<li><a href="https://wordpress.org/plugins/wpd-bb-additions/" target="_blank">WPD BB Additions</a></li>
									<li><a href="https://wordpress.org/plugins/expandable-row-for-beaver-builder/" target="_blank">Expandable Row for Beaver Builder</a></li>
									<li><a href="https://wordpress.org/plugins/column-separator-for-beaver-builder/" target="_blank">Column Separator for Beaver Builder</a></li>
									<li>
										<a href="https://wordpress.org/plugins/bb-header-footer/" target="_blank">Beaver Builder Header Footer</a><br>
										<small>Yes, this theme <strong>supports custom headers and footers</strong> with Beaver Builder Header Footer plugin (since plugin version 1.1.3)! However, please note that you may loose the theme header and/or footer related options including predefined navigation styles and mobile navigation. But if you use a custom plugin for your navigation, than just go ahead ;)</small>
									</li>
								</ul>
							</li>
						</ul>
					</div>

				<h4 id="beaver-themer">
					<strong>Beaver Themer</strong><br>
					<small>(<a href="https://www.wpbeaverbuilder.com/beaver-themer/?fla=67" target="_blank">https://www.wpbeaverbuilder.com/beaver-themer/</a>)</small>
				</h4>

					<p class="uppercase">This is a paid add-on for <a href="#beaver-builder">Beaver Builder</a> plugin which lets you <strong>create custom layouts</strong> for <strong>archive</strong> pages, template an entire <strong>post type</strong>, <strong>404</strong> and <strong>search results</strong> pages, and create parts like <strong>headers and footers</strong>. An effective theme builder!</p>
					<p>This theme is <strong>100% compatible</strong> with this flexible, advanced plugin so you can <strong>create any website you like with no coding</strong> at all! Read more about Beaver Themer at <a href="https://www.wpbeaverbuilder.com/beaver-themer/?fla=67" target="_blank">the plugin website</a>.</p>

				<h4 id="webman-tempaltes">
					<strong>WebMan Templates</strong><br>
					<small>(<a href="https://wordpress.org/plugins/webman-templates/" target="_blank">https://wordpress.org/plugins/webman-templates/</a>)</small>
				</h4>

					<p class="uppercase"><strong>If you are using Beaver Builder page builder</strong>, you can also install and activate WebMan Templates plugin which contains a collection of pre-designed row templates for the page builder.</p>
					<p>It allows creating interesting page layouts fast and with ease.</p>

				<h4 id="woocommerce">
					<strong>WooCommerce</strong><br>
					<small>(<a href="https://wordpress.org/plugins/woocommerce/" target="_blank">https://wordpress.org/plugins/woocommerce/</a>, <a href="https://woocommerce.com/?aff=6509&cid=588078" target="_blank">https://woocommerce.com</a>)</small>
				</h4>

					<p class="uppercase">WooCommerce is the world's most favorite eCommerce solution that allows you to sell anything, beautifully.</p>
					<p>This theme is fully compatible with WooCommerce e-commerce plugin out of the box, so you can start selling immediately. Just install, activate and setup the plugin and you are ready to go!</p>
					<p>Once you set up your main shop page, by <a href="#custom-fields">tweaking its options</a> and/or <a href="#pages">setting the page template</a>, you can actually change the layout and appearance of all shop archive pages. Additional shop related settings can be found in <strong><em>Appearance &rarr; Customize &rarr; Theme Options &rarr; Shop</em></strong>.</p>
					<p>Since WordPress 4.7 you can set a custom <a href="#page-templates">post type page template</a> for WooCommerce products. It supports "With intro widgets" and "No intro" page templates.</p>

					<div class="row">

						<div class="col-sm-12 col-md-6">

							<div class="alert alert-warning">
								<h5>Tip: Image sizes</h5>
								<p>Set up these WooCommerce product image sizes for the best compatibility with the theme:<br><br></p>
								<table class="table">
									<tr><th>Catalog Images</th><td>480&nbsp;px &times; Use any custom height<br>Cropped</td></tr>
									<tr><th>Single Product Image</th><td>1200&nbsp;px &times; Use any custom height<br>Cropped</td></tr>
									<tr><th>Product Thumbnails</th><td>120&nbsp;&times;&nbsp;120&nbsp;px<br>Cropped</td></tr>
								</table>
							</div>

						</div>

						<div class="col-sm-12 col-md-6">

							<div class="alert alert-warning">
								<h5>Tip: Custom product intro image</h5>
								<p>If you would like to override the default Intro section background image on a single product page, use an <a href="#custom-fields"><code>intro_image</code> custom field</a> for that.</p>
							</div>

							<div class="alert alert-warning">
								<h5>Tip: Shop stretched layout</h5>
								<p>You can set a special shop stretched layout (when the content of shop archive pages stretches the full width of the website container, and you can still use a sidebar) simply by setting a <a href="#custom-fields"><code>layout_stretched</code> custom field</a> on your shop page edit screen.</p>
							</div>

						</div>

					</div>

					<div class="alert alert-info">
						<h5>Additional resources</h5>
						<ul>
							<li>
								<strong>Tutorials</strong>: If you are new to WooCommerce, you can <a href="https://docs.woocommerce.com/document/woocommerce-101-video-series/?aff=6509&cid=588078" target="_blank">watch instructional <strong>WooCommerce 101 video series</strong></a>, or read the <a href="https://docs.woocommerce.com/documentation/plugins/woocommerce/?aff=6509&cid=588078" target="_blank">plugin's documentation</a>.
							</li>
							<li>
								<strong>Extensions</strong>: If you would like to extend the plugin with some fancy new functionality, check out the <a href="https://woocommerce.com/product-category/woocommerce-extensions/?aff=6509&cid=588078" target="_blank"><strong>official WooCommerce extensions list</strong></a>.<br>
								Here are some free extensions picks for you:
								<ul>
									<li><a href="https://wordpress.org/plugins/woocommerce-cart-tab/" target="_blank">WooCommerce Cart Tab</a></li>
									<li><a href="https://wordpress.org/plugins/woocommerce-product-image-flipper/" target="_blank">WooCommerce Product Image Flipper</a></li>
									<li><a href="https://wordpress.org/plugins/wp-menu-cart/" target="_blank">WP Menu Cart</a></li>
									<li><a href="https://wordpress.org/plugins/woocommerce-products-per-page/" target="_blank">WooCommerce Products Per Page</a></li>
								</ul>
							</li>
						</ul>
					</div>

					<div class="alert alert-warning">
						<h5>Tip: Dynamic WooCommerce page title with page builders</h5>
						<p>When using a <a href="#beaver-builder">page builder</a> and <a href="#page-templates">hiding the default page title</a> on a special WooCommerce pages (such as Cart, Checkout and My Account page), you loose the ability to adapt your custom page title to an actual page being displayed (such as when previewing orders on your "My Account" page, the page title should read "Orders" instead).</p>
						<p>This theme resolves this issue by introducing a special <code>%wc_title%</code> placeholder you can use in page or page builder content to display a dynamic page title.</p>
					</div>

				<h4 id="advanced-custom-fields">
					<strong>Advanced Custom Fields</strong><br>
					<small>(<a href="https://wordpress.org/plugins/advanced-custom-fields/" target="_blank">https://wordpress.org/plugins/advanced-custom-fields/</a>)</small>
				</h4>

					<p>Use this plugin to create <a href="#custom-fields">advanced page/post options metaboxes</a> automatically for better user experience and easier setup of page/post options.</p>

				<h4 id="content-aware-sidebars">
					<strong>Content Aware Sidebars</strong><br>
					<small>(<a href="https://wordpress.org/plugins/content-aware-sidebars/" target="_blank">https://wordpress.org/plugins/content-aware-sidebars/</a>)</small>
				</h4>

					<p class="uppercase">For creating unlimited number of widget areas (sidebars) and using them anywhere on the website.</p>
					<p>This plugin is actually also suitable for <strong>controlling and altering your website layout</strong> with ease. Here are some example usecases:</p>

					<ul>
						<li>
							<p><strong>Want to remove a sidebar from certain page(s)?</strong></p>
							<p>Just create a new custom widget area (let's call it <em>"Empty"</em>) and set it to replace the <a href="#sidebars"><em>"Sidebar"</em> widget area</a> on the specific pages. Once you leave this new widget area empty, with no widgets in it, the sidebar will simply not be displayed on the affected pages.</p>
							<p><strong>Tip:</strong> If you only want to display sidebar on some pages, you can use reverse logic: leave the theme's "Sidebar" empty and create a "Sidebar with widgets" using the plugin and set it to display on the specific pages only.</p>
						</li>
						<li>
							<p><strong>Want to display a different widgets in intro section on certain page?</strong></p>
							<p>Just create a new custom widget area (let's call it <em>"About page intro widgets"</em>, for example) and set it to replace the <a href="#sidebars"><em>"Intro Widgets"</em> widget area</a> on the specific page (the <em>"About"</em>, for example). Then go ahead and add some widgets into the <em>"About page intro widgets"</em> area in <strong><em>Appearance &rarr; Widgets</em></strong>.</p>
						</li>
					</ul>

					<p>Alternatively, you can also <a href="https://wordpress.org/plugins/search/sidebars/">try using a similar plugin</a>.</p>

					<div class="alert alert-info">
						<h5>TIP: Controlling a single widget</h5>
						<p>If you would like to control a single widget display instead of the whole widget area, you can use <a href="https://jetpack.com/support/widget-visibility/?aff=6509&cid=588078" target="_blank"><strong>Jetpack</strong> plugin's "Widget Visibility" feature</a> (or try <a href="https://wordpress.org/plugins/widget-options/" target="_blank"><strong>Widget Options</strong> plugin</a>).</p>
					</div>

				<h4 id="jetpack">
					<strong>Jetpack</strong><br>
					<small>(<a href="https://wordpress.org/plugins/jetpack/" target="_blank">https://wordpress.org/plugins/jetpack/</a>)</small>
				</h4>

					<p class="uppercase">This plugin was built by <a href="http://automattic.com/" target="_blank">Automattic</a> (the company behind the WordPress) and contains a lot of very useful tools for your website.</p>
					<p>To choose some of the features included in this plugin: <strong>tiled galleries</strong>, image lightbox zooming effect, contact form, extra widgets, infinite scroll, better search, <strong>social networks sharing buttons</strong>, <strong>related posts display</strong>, <abbr title="Content Delivery Network">CDN</abbr>, site verification and others.</p>
					<p>Please note that you will need to <a href="https://jetpack.com/support/getting-started-with-jetpack/?aff=6509&cid=588078" target="_blank">connect your Jetpack powered website</a> once the plugin is active to use its features. For more info on the plugin usage and functionality please visit the <a href="http://jetpack.me/" target="_blank"><strong>Jetpack.me</strong></a> website.</p>

					<p>This theme also supports advanced Jetpack features such as <a href="#portfolio"><strong>Portfolio</strong></a> and <a href="testimonials"><strong>Testimonials</strong></a> content types and <a href="http://easycaptures.com/fs/uploaded/1196/7847277416.png" target="_blank">customizer content options</a> (found under <strong><em>Appearance &rarr; Customize &rarr; Content Options</em></strong>).</p>

					<div class="alert alert-warning">
						<h5>Infinite scroll issue</h5>
						<p>If you are using Jetpack's Infinite Scroll feature and also using some post reordering plugin, <a href="https://support.webmandesign.eu/forums/topic/infinite-scroll-problem/" target="_blank">you might experience a compatibility issue</a>. Please note that such issue is related to plugins incompatibility, not a theme. Contact your plugin support for possible solution.</p>
					</div>

				<h4 id="breadcrumbs-navxt">
					<strong>Breadcrumbs NavXT</strong><br>
					<small>(<a href="https://wordpress.org/plugins/breadcrumb-navxt/" target="_blank">https://wordpress.org/plugins/breadcrumb-navxt/</a>)</small>
				</h4>

					<p class="uppercase">With this plugin you can create a perfect <a href="http://en.wikipedia.org/wiki/Breadcrumb_%28navigation%29" target="_blank">breadcrumbs navigation</a>.</p>
					<p>Read the instructions on <a href="#breadcrumbs">custom plugin setup below</a>.</p>

				<h4 id="wp-subtitle">
					<strong>WP Subtitle</strong><br>
					<small>(<a href="https://wordpress.org/plugins/wp-subtitle/" target="_blank">https://wordpress.org/plugins/wp-subtitle/</a>)</small>
				</h4>

					<p>You can easily add posts and pages subtitles with this plugin.</p>

				<h4 id="envato-market">
					<strong>Envato Market</strong><br>
					<small>(<a href="https://envato.com/market-plugin/" target="_blank">https://envato.com/market-plugin/</a>)</small>
				</h4>

					<p>If you <a href="http://themeforest.net/user/webmandesign/portfolio" target="_blank">obtained the theme from ThemeForest</a>, you can use this plugin for easy <a href="#update">automatic theme updates</a>.</p>

			</div>

		<h3 id="plugins-others">Other Great Plugins Worth Checking Out</h3>

			<p>You can use any plugin with this theme. Here are some tested, used and recommended plugins by the <a href="https://www.webmandesign.eu">theme author</a>:</p>

			<dl class="list indented">

				<dt><a href="https://wordpress.org/plugins/archive-title/" target="_blank"><strong>Archive Title</strong></a></dt>
				<dd>Remove archive page title labels completely, or just hide them accessibly.</dd>

				<dt><a href="https://wordpress.org/plugins/business-profile/" target="_blank"><strong>Business Profile</strong></a></dt>
				<dd>Display your <a href="https://www.youtube.com/watch?v=ndhdTCY-YXE" target="_blank">business's contact details</a> with seo-friendly Schema.org markup.</dd>

				<dt><a href="https://wordpress.org/plugins/caldera-forms/" target="_blank"><strong>Caldera Forms</strong></a></dt>
				<dd>A great form builder plugin for WordPress.</dd>

				<dt><a href="https://wordpress.org/plugins/classic-editor/" target="_blank"><strong>Classic Editor</strong></a></dt>
				<dd>In case you can not use WordPress 5+ block editor, you can restore the previous ("classic") editor with this plugin.</dd>

				<dt><a href="https://wordpress.org/plugins/cpt-editor/" target="_blank"><strong>Custom Post Type Editor</strong></a></dt>
				<dd>Allows you to rename any post type.</dd>

				<dt><a href="https://wordpress.org/plugins/customizer-export-import/" target="_blank"><strong>Customizer Export/Import</strong></a></dt>
				<dd>Perfect plugin for backing up your theme's <a href="#customizer">customizer</a> settings.</dd>

				<dt><a href="https://wordpress.org/plugins/disable-comments/" target="_blank"><strong>Disable Comments</strong></a></dt>
				<dd>Disables comments site-wide per post type.</dd>

				<dt><a href="https://wordpress.org/plugins/elementor/" target="_blank"><strong>Elementor Page Builder</strong></a></dt>
				<dd>Completely free frontend drag & drop page builder.</dd>

				<dt><a href="https://wordpress.org/plugins/imsanity/" target="_blank"><strong>Imsanity</strong></a></dt>
				<dd>Automatically resizes huge image uploads.</dd>

				<dt><a href="https://wordpress.org/plugins/intuitive-custom-post-order/" target="_blank"><strong>Intuitive Custom Post Order</strong></a></dt>
				<dd>For easy posts ordering.</dd>

				<dt><a href="https://wordpress.org/plugins/better-wp-security/" target="_blank"><strong>iThemes Security</strong></a></dt>
				<dd>A great plugin to keep your WordPress site secure.</dd>

				<dt><a href="https://wordpress.org/plugins/my-eyes-are-up-here/" target="_blank"><strong>My Eyes Are Up Here</strong></a></dt>
				<dd>Helps you control how WordPress generates thumbnails.</dd>

				<dt><a href="https://wordpress.org/plugins/wp-nested-pages/" target="_blank"><strong>Nested Pages</strong></a></dt>
				<dd>Provides a drag & drop interface for managing pages and posts in the WordPress admin, while maintaining quick edit functionality.</dd>

				<dt><a href="https://wordpress.org/plugins/page-links-to/" target="_blank"><strong>Page Links To</strong></a></dt>
				<dd>Lets you make a WordPress page (or other content type) link to a custom URL of your choosing.</dd>

				<dt><a href="https://wordpress.org/plugins/polylang/" target="_blank"><strong>Polylang</strong></a></dt>
				<dd>Making your WordPress website multilingual.</dd>

				<dt><a href="https://wordpress.org/plugins/post-type-archive-descriptions/" target="_blank"><strong>Post Type Archive Descriptions</strong></a></dt>
				<dd>Allows you to add a description to post type archive pages.</dd>

				<dt><a href="https://wordpress.org/plugins/rename-taxonomies/" target="_blank"><strong>Rename Taxonomies</strong></a></dt>
				<dd>Allows you to rename any taxonomy.</dd>

				<dt><a href="https://wordpress.org/plugins/rich-text-excerpts/" target="_blank"><strong>Rich Text Excerpts</strong></a></dt>
				<dd>Enables rich text editing in excerpts for any post type which supports them.</dd>

				<dt><a href="https://wordpress.org/plugins/smart-slider-3/" target="_blank"><strong>Smart Slider 3</strong></a></dt>
				<dd>Great free advanced, layered slider plugin.</dd>

				<dt><a href="https://wordpress.org/plugins/social-warfare/" target="_blank"><strong>Social Warfare</strong></a></dt>
				<dd>If you don't want to use <a href="#jetpack">Jeptack</a> plugin's <a href="https://jetpack.com/support/sharing/?aff=6509&cid=588078" target="_blank">social sharing buttons</a>, you may try using this great plugin.</dd>

				<dt><a href="https://wordpress.org/plugins/theme-check/" target="_blank"><strong>Theme Check</strong></a></dt>
				<dd>Checks your themes against the latest WordPress theme review standards.</dd>

				<dt><a href="https://wordpress.org/plugins/widget-css-classes/" target="_blank"><strong>Widget CSS Classes</strong></a></dt>
				<dd>Add custom classes to your widgets.<br>
				The theme integrates its <a href="#css-classes">predefined CSS classes</a> directly into the plugin's interface automatically. You can just select the predefined class from the dropdown when editing a widget in <strong><em>Appearance &rarr; Widgets</em></strong>.<br>
				As the theme uses CSS flexbox in its horizontal widgets areas you can control the width of the widget with <a href="https://developer.mozilla.org/en/docs/Web/CSS/flex-grow" target="_blank">`set-flex-grow-#` classes</a>.</dd>

				<dt><a href="https://wordpress.org/plugins/wordfence/" target="_blank"><strong>Wordfence Security</strong></a></dt>
				<dd>A great plugin to keep your WordPress site secure.</dd>

				<dt><a href="https://wordpress.org/plugins/wp-featherlight/" target="_blank"><strong>WP Featherlight</strong></a></dt>
				<dd>The best free image lightbox (zooming) plugin that just works!</dd>

				<dt><a href="https://wordpress.org/plugins/wpforms-lite/" target="_blank"><strong>WPForms</strong></a></dt>
				<dd>A great and easy to use drag & drop form builder for WordPress.</dd>

			</dl>

	</div>
