mixin alert( title = '', context = 'default', tag = 'h3', label = '' )
	- title = '<span>' + title + '</span>';
	div( class="alert alert-" + context )
		if label
			- title = label + ' ' + title;
		if title
			#{tag}!= title
		block
