mixin answer( title, id )
	div.answer
		h3( id=id class="answer-title" )
			a( class="heading-anchor" href="#"+id )!= title
		block
		p <a href="#questions" class="back-to-questions">&uarr; Back to questions list</a>
