mixin mark( type = 'nav', ...content )
	- var output = '';
	case type
		when 'nav'
		when 'path'
			each item in content
				if output
					- output = output + ' → ' + item;
				else
					- output = item;
			mark.nav-path= output
		when 'btn'
		when 'button'
			strong.button.dummy= content
		default
			mark= output
