mixin mark( type = 'nav', ...content )
	- var output = '';
	case type
		when 'nav'
		when 'path'
			each item in content
				if output
					- output = output + ' → ' + item;
				else
					- output = item;
			strong
				em= output
		when 'btn'
		when 'button'
			- output = '[' + content + ']';
			strong= output
		default
			mark= output
