mixin mark( type = 'nav', ...content )
	- var output = '';
	case type
		when 'nav'
		when 'path'
			each item in content
				if output
					- output = output + ' → ' + item;
				else
					- output = item;
			mark.nav-path&attributes( attributes )= output
		when 'btn'
		when 'button'
			kbd.button.dummy&attributes( attributes )= content
		default
			mark&attributes( attributes )= output
