mixin section( title, id, class_container = '' )
	article( id=id class=("entry entry-"+id+" "+class_container).trim() tabindex="-1" )
		h2.entry-title
			a( class="heading-anchor" href="#"+id )!= title
		block
