
<h3>What Are They and How to Use Them?</h3>

<div class="col-sm-12 col-md-4">

	<p class="uppercase">The Testimonial custom post type allows you to add, organize, and display your testimonials.</p>

	<p>First you will need to enable this post type in <a href="#jetpack">Jetpack plugin's</a> options in #[+mark( 'nav', 'Jetpack', 'Settings', 'Writing' )] in order to use it.</p>
	<p>For more information about Jetpack Testimonials please <a href="https://jetpack.com/support/custom-content-types/?aff=6509&cid=588078">visit dedicated information page</a>.</p>

	<p>To display all testimonials on your site, you can use a testimonials <a href="#menu">archive page link in the navigation</a>.</p>

</div>

<div class="col-sm-12 col-md-8">

	<div class="alert alert-info mt0">
		This custom post type is provided via <a href="#jetpack"><strong>Jetpack</strong></a> plugin.
	</div>

	<div class="alert alert-success">
		Use <a href="https://en.support.wordpress.com/testimonials-shortcode/">Jetpack <code>[testimonials]</code> shortcode</a> to display testimonials on your page or in your page builder layout.
	</div>

	<div class="alert alert-info">
		<strong>TIP:</strong> If you would like to rename this post type, use the <a href="https://wordpress.org/plugins/cpt-editor/"><strong>Custom Post Type Editor</strong></a> plugin. To rename the custom taxonomies related to this post type, use the <a href="https://wordpress.org/plugins/rename-taxonomies/"><strong>Rename Taxonomies</strong></a> plugin.
	</div>

	<div class="alert alert-info">
		<strong>TIP:</strong> For custom posts order you can use a plugin, such as <a href="https://wordpress.org/plugins/intuitive-custom-post-order/"><strong>Intuitive Custom Post Order</strong></a>.
	</div>

</div>


