//
// Documentation stylesheet setup
//





$font_family_body : sans-serif;
$font_family_headings : sans-serif;



$content_width    : 1200px;
$nav_item_padding : .38em;

$color_header_bg : #131314;
$color_logo      : #fff;

$color_sidebar_bg  : #2a2c2e;
$color_sidebar_txt : #fafcfe;
$color_sidebar_bd  : #4a4c4e;

$color_nav_active_bg  : $color_sidebar_bd;
$color_nav_active_txt : #fff;

$color_intro_bg  : #1a1c1e;
$color_intro_txt : #fafcfe;

$color_content_txt     : #6a6c6e;
$color_content_bd      : #eaecee;
$color_content_heading : #1a1c1e;

$color_figure_bg : #fff;

$color_anatomy_heading      : #1a1c1e;
$color_anatomy_bd           : #eaecee;
$color_anatomy_active_bg    : #fe0000;
$color_anatomy_active_txt   : #fff;
$color_anatomy_inactive_bg  : #eaecee;
$color_anatomy_inactive_txt : #6a6c6e;

$color_footer_bg  : $color_header_bg;
$color_footer_txt : #9a9c9e;
$color_footer_lnk : $color_logo;
