mixin alert( title = '', context = 'default', tag = 'h3', label = '' )
	- title = '<span>' + title + '</span>';
	.alert( class="alert-" + context )&attributes( attributes )
		if label
			- title = label + ' ' + title;
		if title
			#{tag}!= title
		block
