block sidebars/manage
	+sub_section( 'Custom sidebars & website layout control' )
		p You can create custom widget areas (sidebars) and use them anywhere on the website with a help of <a href="#manage-sidebars">widget areas management plugin</a>. That way you can control even sidebar display, effectively altering the page layout.
