+sub_section( 'Adding Social Network Links and Icons' )
	p Social icons linked to your social network profiles can be displayed anywhere on the website. But beforehand you must <a href="#menu">create and set up a social links menu</a>:

	ol
		li Go to #[+mark( 'nav', 'Appearance', 'Menus' )] in the WordPress admin.
		li Click <em>create a new menu</em> link.
		li Give the menu a name, such as "Social Menu".
		li Click #[+mark( 'btn', 'Create Menu' )] button.
		li Click the <em>Custom Links</em> header on the left side of the page.
		li Type a link (such as <code>https://www.facebook.com/webmandesigneu</code>) in the <em>URL</em> field.
		li Give the link a label by typing in the <em>Link Text</em> field. (This label text will be accessibly hidden.)
		li Click #[+mark( 'btn', 'Add to Menu' )].
		li Repeat the above steps for additional social links.
		li In the <em>Menu Settings</em> section at the bottom, check the "Social Links" box for <em>Theme locations</em>.
		li Click #[+mark( 'btn', 'Save Menu' )] button.

	p Adding your social links as a custom menu allows you to sort your profiles and add as many as you want. Once you assign a social links menu this way, feel free to use a <strong>Navigation Menu</strong> widget to display it in sidebars of your website.

	p The theme displays icons as SVG images. For full list of supported icons please refer to <code>assets/images/svg</code> folder of your theme.

	p For links starting with <code>mailto:</code> an <em>envelope</em> icon is applied. For unrecognized links a <em>link chain</em> icon is used.

include sharing.pug
