+sub_section( 'Social sharing buttons' )
	p If you want to add a social sharing buttons to your website to allow your visitors to share your content, please consider enabling the <a href="https://jetpack.com/support/sharing/?aff=6509&cid=588078">Sharing module</a> of <a href="#jetpack">Jetpack plugin</a>, or use different <a href="https://wordpress.org/plugins/search/share/">dedicated plugin</a>.
