dt "No title"
dd
	p Use this page template to remove the page intro title section (when you want to set up your own). Only the page content will be displayed.

	p Do not forget to set up your custom <code>H1</code> heading in this case.


dt "With sidebar"
dd
	p By default, <a href="#{config.url.demo}theme-features/standard-page/">all the pages take the full width of the website content area</a> and no sidebar is displayed on them. If you would like to display a sidebar on a page, use this page template.


dt "List subpages"
dd
	p Please set this page template <strong>for a parent page only</strong>.

	p It will display a list of subpages below the actual (parent) page content. You can tweak each child page display by <a href="#custom-fields">setting the corresponding page options</a>.

	p To set up a sub-page excerpt please use the "Excerpt" field on page edit screen.

	p If you would like to custom order your child pages, use <a href="https://codex.wordpress.org/Pages_Add_New_Screen">page "Order" attribute</a>. Or you can <a href="#plugins-others">use a plugin</a> for this, such as <em>Nested Pages</em> or <em>Intuitive Custom Post Order</em>.
