//
// Documentation stylesheet setup
//

$font_family_body : sans-serif;
$font_family_headings : sans-serif;

$content_width    : 1200px;
$nav_item_padding : .38em;

$color_header_bg : #111;
$color_logo      : #fff;

$color_sidebar_bg  : #222;
$color_sidebar_txt : #fff;
$color_sidebar_bd  : #333;

$color_nav_active_bg  : $color_sidebar_bd;
$color_nav_active_txt : #fff;

$color_intro_bg  : #333;
$color_intro_txt : #fff;

$color_content_txt     : #666;
$color_content_bd      : #ddd;
$color_content_heading : #000;

$color_figure_bg : #fff;

$color_anatomy_heading      : #131314;
$color_anatomy_bd           : #c3c3c4;
$color_anatomy_active_bg    : #fe0000;
$color_anatomy_active_txt   : #fff;
$color_anatomy_inactive_bg  : #eeeeef;
$color_anatomy_inactive_txt : #666667;

$color_footer_bg  : $color_header_bg;
$color_footer_txt : #999;
$color_footer_lnk : $color_logo;
