li
	+answer( 'Product featured attribute', 'featured-attribute' )

		p The theme allows you to set a featured attribute which will be prominently displayed on product page just below the product title. This functionality is useful for displaying a book author, or a brand of your product, for example.

		+image( 'https://easycaptures.com/fs/uploaded/1503/0471254272.jpg', 'Featured attribute displayed on product page.' )

		p You can set featured attribute in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Shop', '"Featured attribute slug"' )].

		p To set up the attribute you need an attribute slug, which can be obtained from #[+mark( 'nav', 'Products', 'Attributes' )] screen (see screenshot below). The theme picks up the attribute name and uses it as a label in the attribute display.

		+image( 'https://easycaptures.com/fs/uploaded/1503/4435310526.png', 'Obtaining product attribute slug on Products → Attributes screen.' )
