dt Secondary
dd
	p This navigation area is displayed on the right side of the header. Can be nested and hierarchically organized (up to 2 levels deep).
	p It is only a secondary, complementary navigation to primary menu and will be displayed as is on mobile device. Ideal for displaying your e-shop cart (using <a href="https://wordpress.org/plugins/woocommerce-menu-bar-cart/"><strong>WooCommerce Menu Cart</strong></a> plugin, for example).
	p When this menu is not set, social links menu is displayed in the header instead.
