//-
//- @link  https://pugjs.org/api/getting-started.html
//- @link  https://devhints.io/pug
//-

//-
//- Debugging:
//- IMPORTANT: Don't forget to set `false` before deployment!
//-
- var debug = false;

include includes/_vars.pug
include includes/mixins/_index.pug

doctype html

html( lang="en" )
	include includes/head.pug

	body
		a( name="top" )

		nav#skip-links.skip-links(aria-label="Skip links")
			ul
				li
					a.skip-link-site-menu( href="#site-menu" aria-label="Skip to list of topics" )
						include ../_core/assets/images/dashicons/menu-alt.svg
						| #{config.name} User Manual Topics

		header.site-header
			include includes/header.pug

		div.site-content
			main.site-main
				include includes/intro.pug
				include includes/content.pug

			nav#site-menu.site-menu(aria-label=config.name+" user manual topics list")
				include includes/nav.pug

		footer.site-footer
			include includes/footer.pug

		include includes/scripts.pug
