//-
//- @link  https://pugjs.org/api/getting-started.html
//- @link  https://devhints.io/pug
//-

include includes/_vars.pug
include includes/mixins/_index.pug

doctype html

html( lang="en" )
	include includes/head.pug

	body
		a( name="top" )

		header.site-header
			include includes/header.pug

		div.site-content
			main.site-main
				include includes/intro.pug
				include includes/content.pug

			nav#site-menu.site-menu
				include includes/nav.pug

		footer.site-footer
			include includes/footer.pug

		include includes/scripts.pug
