- title   = 'Anatomy <small>or What, Where and How?</small>';
- id      = 'anatomy';
- nav[id] = title;

+section( title, id )

<h2 id="anatomy">Anatomy <small>or What, Where and How?</small></h2>
	<div class="section indented">

		<ol>
			<li><a href="#anatomy-basics"><strong>Basics</strong> <small>(Site container, Header, Intro section, Footer)</small></a></li>
			<li><a href="#anatomy-page"><strong>Page</strong> content</a></li>
			<li><a href="#anatomy-blog"><strong>Blog, archives, search results</strong></a></li>
			<li><a href="#anatomy-post"><strong>Post</strong> content</a></li>
			<li><a href="#anatomy-custom-post-types"><strong>Custom post types</strong></a></li>
			<li><a href="#anatomy-shop"><strong>Shop</strong> content</a></li>
		</ol>

		<div id="anatomy-basics" class="row anatomy-content">

			<h3><strong>Basics</strong> <small>(Site container, Header, Intro section, Footer)</small></h3>

			<div class="col-sm-12 col-md-4">
				<p><em>(Click the item below to reveal more info. Click the image to download a bigger size.)</em></p>
				<p><a href="#anatomy">&uarr; Back to anatomy selection</a></p>
				<ol>
					<li><label><input type="checkbox" />
						<h5>Site layout</h5>
						<p>Can be <a href="#customizer">customized</a> in <strong><em>Appearance &rarr; Customize &rarr; Theme Options &rarr; Layout</em></strong>. You can set boxed or fullwidth layout, set custom website width.</p>
						<p>You can also <a href="#fonts">use any font</a> on the website.</p>
						<p>All the theme related customization options can be found in <a href="#customizer"><strong><em>Appearance &rarr; Customize &rarr; Theme Options</em></strong></a>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Header</h5>
						<p>Colors can be <a href="#customizer">customized</a> in <strong><em>Appearance &rarr; Customize &rarr; Theme Options &rarr; Colors: Header</em></strong>.</p>
						<p>Layout (making it sticky during scrolling up, fullwidth or boxed) can be customized in <strong><em>Appearance &rarr; Customize &rarr; Theme Options &rarr; Layout</em></strong>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Logo</h5>
						<p>Can be <a href="#customizer">customized</a> in <strong><em>Appearance &rarr; Customize &rarr; Site Identity</em></strong>. Don't forget to define your logo image max height.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Primary menu</h5>
						<p>This is a mobile-ready <a href="#navigation">primary menu location</a>.</p>
						<p>Can be <a href="#customizer">customized</a> in <strong><em>Appearance &rarr; Customize &rarr; Menus</em></strong>.</p>
						<p>If you want to disable the mobile menu functionality, you can do so in <strong><em>Appearance &rarr; Customize &rarr; Theme Options &rarr; Others &rarr; "Disable mobile navigation"</em></strong>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Secondary menu</h5>
						<p>This is a <a href="#navigation">secondary menu location</a>.</p>
						<p>Can be <a href="#customizer">customized</a> in <strong><em>Appearance &rarr; Customize &rarr; Menus</em></strong>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Social Links menu</h5>
						<p>This is a <a href="#social-links">social links menu location</a>.</p>
						<p>Can be <a href="#customizer">customized</a> in <strong><em>Appearance &rarr; Customize &rarr; Menus</em></strong>.</p>
						<p>Once you set the social links menu correctly, you can also display social links anywhere on the website using "Navigation Menu" widget.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Header Widgets</h5>
						<p>A <a href="#sidebars">widgetized area</a>, its content can be set in <strong><em>Appearance &rarr; Customize &rarr; Widgets</em></strong>.</p>
						<p>Colors can be <a href="#customizer">customized</a> in <strong><em>Appearance &rarr; Customize &rarr; Theme Options &rarr; Colors: Header</em></strong>.</p>
						<p>You can control the appearance with <a href="#content-aware-sidebars">Content Aware Sidebars plugin</a>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Intro section</h5>
						<p>A specially styled, main, dominant <a href="#page-intro">page title section</a>. You can control its display with <a href="#page-templates">page template</a> or <a href="#custom-fields">custom fields</a>.</p>
						<p>Colors can be <a href="#customizer">customized</a> in <strong><em>Appearance &rarr; Customize &rarr; Theme Options &rarr; Colors: Intro</em></strong>.</p>
						<p>For information about displaying intro image and/or video please read <a href="#page-intro">section about page intro</a>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Page title</h5>
						<p>Displays a page, post, custom post type, archive page, search results page title.</p>
						<p>If you want to disable this title, use a <a href="#page-templates">page template</a> or <a href="#custom-fields">custom fields</a>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Subtitle</h5>
						<p>Please use <a href="#wp-subtitle"><strong>WP Subtitle</strong> plugin</a> to allow this feature.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Excerpt</h5>
						<p>Displays <a href="#posts">post</a> or <a href="#page-excerpt">page excerpt</a> or archive page description (a taxonomy term description, such as category description, or author biographical info, if previewing an author archive).</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Intro Widgets</h5>
						<p>A <a href="#sidebars">widgetized area</a>, its content can be set in <strong><em>Appearance &rarr; Customize &rarr; Widgets</em></strong>.</p>
						<p>Colors can be <a href="#customizer">customized</a> in <strong><em>Appearance &rarr; Customize &rarr; Theme Options &rarr; Colors: Intro</em></strong>.</p>
						<p>You can control the appearance with a <a href="#page-templates">page template</a> or a <a href="#custom-fields">custom field</a> and <a href="#content-aware-sidebars">Content Aware Sidebars plugin</a>.</p>
						<p>You can also enable this widgetized area for archive pages in <strong><em>Appearance &rarr; Customize &rarr; Theme Options &rarr; Layout</em></strong>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Enhanced Text widget</h5>
						<p>The theme <a href="#widgets">enhances Text widget</a> with a custom icon and/or featured image setup fields.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Content</h5>
						<p>A content area - displays page, post and custom post content, page builder content, blog and other posts listings.</p>
						<p>Colors can be <a href="#customizer">customized</a> in <strong><em>Appearance &rarr; Customize &rarr; Theme Options &rarr; Colors: Content</em></strong>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Footer</h5>
						<p>Footer area of the website.</p>
						<p>Colors and background image can be <a href="#customizer">customized</a> in <strong><em>Appearance &rarr; Customize &rarr; Theme Options &rarr; Colors: Footer</em></strong>.</p>
						<p>Layout (making it fullwidth or boxed) can be customized in <strong><em>Appearance &rarr; Customize &rarr; Theme Options &rarr; Layout</em></strong>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Breadcrumbs</h5>
						<p>Use a plugin to display <a href="#breadcrumbs">breadcrumbs navigation</a>.</p>
						<p>If Breadcrumb NavXT plugin is installed and activated, you can control the breadcrumbs display in <strong><em>Appearance &rarr; Customize &rarr; Theme Options &rarr; Layout</em></strong>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Footer menu</h5>
						<p>This is a <a href="#navigation">footer menu location</a>. It displays a search form automatically.</p>
						<p>Can be <a href="#customizer">customized</a> in <strong><em>Appearance &rarr; Customize &rarr; Menus</em></strong>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Footer Secondary Widgets</h5>
						<p>A <a href="#sidebars">widgetized area</a>, its content can be set in <strong><em>Appearance &rarr; Customize &rarr; Widgets</em></strong>.</p>
						<p>Colors can be <a href="#customizer">customized</a> in <strong><em>Appearance &rarr; Customize &rarr; Theme Options &rarr; Colors: Footer</em></strong>.</p>
						<p>You can control the appearance with <a href="#content-aware-sidebars">Content Aware Sidebars plugin</a>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Footer Widgets</h5>
						<p>Main content of footer consist of <a href="#sidebars">Footer Widgets area</a>, where you can add widgets in <strong><em>Appearance &rarr; Customize &rarr; Widgets</em></strong>.</p>
						<p>You can control the appearance with <a href="#content-aware-sidebars">Content Aware Sidebars plugin</a>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Credits</h5>
						<p>Content can be <a href="#customizer">customized</a> in <strong><em>Appearance &rarr; Customize &rarr; Theme Options &rarr; Texts</em></strong>.</p>
					</label></li>
				</ol>
				<p><a href="#anatomy">&uarr; Back to anatomy selection</a></p>
			</div>

			<div class="col-sm-12 col-md-8">
				<a href="https://www.dropbox.com/s/sfohffd2ophphda/anatomy-basics.jpg?dl=1" target="_blank">
					<img src="https://www.dropbox.com/s/sfohffd2ophphda/anatomy-basics.jpg?dl=1" alt="Theme screenshot with marked sections location" class="frame" />
				</a>
			</div>

		</div><!-- /#anatomy-basics -->

		<div id="anatomy-page" class="row anatomy-content">

			<h3><strong>Page</strong> content</h3>

			<div class="col-sm-12 col-md-4">
				<p><em>(Click the item below to reveal more info. Click the image to download a bigger size.)</em></p>
				<p><a href="#anatomy">&uarr; Back to anatomy selection</a></p>
				<ol>
					<li><label><input type="checkbox" />
						<h5>Homepage and Blog page</h5>
						<p>Set up your website <a href="#pages">front and blog page</a> in WordPress <strong><em>Appearance &rarr; Customize &rarr; Homepage Settings</em></strong> settings (or in <strong><em>Settings &rarr; Reading</em></strong>).</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Page featured image</h5>
						<p>Page featured image is displayed in <a href="#page-intro">intro section</a>. On homepage this can be <a href="#page-intro">replaced with video background</a>. Also, please note that homepage displays intro section in different style - <a href="#page-intro">read more in Pages section of this documentation</a>.</p>
						<p>Featured image is also displayed in the list of child pages. Please see <a href="#page-templates">"List child pages" page template</a> for more details.</p>
						<p>Please see FAQ section for more <a href="#image-sizes">information on image sizes</a>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Page excerpt</h5>
						<p>If you set a <a href="#page-excerpt">page excerpt</a>, this will be displayed in intro section of the page.</p>
						<p>Excerpt is also used in a list of child pages. Please see <a href="#page-templates">"List child pages" page template</a> for more details.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Intro Widgets</h5>
						<p>A <a href="#sidebars">widgetized area</a>, its content can be set in <strong><em>Appearance &rarr; Customize &rarr; Widgets</em></strong>.</p>
						<p>Colors can be <a href="#customizer">customized</a> in <strong><em>Appearance &rarr; Customize &rarr; Theme Options &rarr; Colors: Intro</em></strong>.</p>
						<p>You can control the appearance with a <a href="#page-templates">page template</a> or a <a href="#custom-fields">custom field</a> and <a href="#content-aware-sidebars">Content Aware Sidebars plugin</a>.</p>
						<p>You can also enable this widgetized area for archive pages in <strong><em>Appearance &rarr; Customize &rarr; Theme Options &rarr; Layout</em></strong>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Page content</h5>
						<p>For more info please see <a href="#pages">Pages</a> section of this user manual.</p>

						<p class="uppercase"><strong>Page templates</strong></p>
						<p>There are various <a href="#page-templates">page templates</a> available for use with this theme. Such as when you're creating a special landing page and would like to remove header and footer from the page, use the <a href="#page-templates">"Blank" page template</a>.</p>

						<p class="uppercase"><strong>Page builder</strong></p>
						<p>For creating a more complex page layouts please use a (<a href="#page-builder">any</a>) page builder plugin (we recommend using powerful, optimized and easy to use <a href="#beaver-builder"><strong>Beaver Builder</strong> page builder plugin</a>).</p>

						<p class="uppercase"><strong>Sidebar</strong></p>
						<p>You can optionally <a href="#page-templates">display a sidebar on a page</a>, which is a <a href="#sidebars">widgetized area</a> and its content can be set in <strong><em>Appearance &rarr; Customize &rarr; Widgets</em></strong>.</p>
						<p>If you would like to replace sidebar on a specific page with a different one or just remove it, use <a href="#content-aware-sidebars"><strong>Content Aware Sidebars</strong> plugin</a>. It is a great way to control and alter your website layout.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Child pages list</h5>
						<p>Please see <a href="#page-templates">"List child pages" page template</a> for more details.</p>
					</label></li>
				</ol>
				<p><a href="#anatomy">&uarr; Back to anatomy selection</a></p>
			</div>

			<div class="col-sm-12 col-md-8">
				<a href="https://www.dropbox.com/s/28nnnho5ybv4a29/page-content.jpg?dl=1" target="_blank">
					<img src="https://www.dropbox.com/s/28nnnho5ybv4a29/page-content.jpg?dl=1" alt="Theme screenshot with marked sections location" class="frame" />
				</a>
			</div>

		</div><!-- /#anatomy-page -->

		<div id="anatomy-blog" class="row anatomy-content">

			<h3><strong>Blog, archives, search results</strong></h3>

			<div class="col-sm-12 col-md-4">
				<p><em>(Click the item below to reveal more info. Click the image to download a bigger size.)</em></p>
				<p><a href="#anatomy">&uarr; Back to anatomy selection</a></p>
				<ol>
					<li><label><input type="checkbox" />
						<h5>Blog page</h5>
						<p>By default <a href="#wordpress">WordPress</a> displays blog posts listing on your website homepage. If you would like to set up a static homepage and use a different page for a blog posts listing, set it up in <a href="#pages"><strong><em>Appearance &rarr; Customize &rarr; Homepage Settings</em></strong></a> settings (or in <strong><em>Settings &rarr; Reading</em></strong>).</p>
						<p>The style of blog and archive page posts listing can be set in <strong><em>Appearance &rarr; Customize &rarr; Theme Options &rarr; Blog</em></strong>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Archive page title</h5>
						<p>Intro section on archive pages display the archive title and archive description (a taxonomy term description, such as category description, or author biographical info, if it is an author archive).</p>
						<p>You can customize the archive title using <a href="https://wordpress.org/plugins/archive-title/" target="_blank">Archive Title</a> plugin.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Featured media</h5>
						<p>By default all posts display a post featured image.</p>
						<p>Please see FAQ section for more <a href="#image-sizes">information on image sizes</a>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Post title and subtitle</h5>
						<p>Title of the post.</p>
						<p>If you would like to display subtitles, use <a href="#wp-subtitle"><strong>WP Subtitle</strong> plugin</a>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Post meta</h5>
						<p>Such as post publish date, post author name (displayed only on multi-author websites), number of comments...</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Post excerpt</h5>
						<p>Automatic WordPress <a href="#posts">post excerpt</a> can be overridden per post basis.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Sidebar</h5>
						<p>The theme displays sidebar on each single post page, single custom post type page, blog page, archive page and search results page.</p>
						<p>Sidebar is a <a href="#sidebars">widgetized area</a>, its content can be set in <strong><em>Appearance &rarr; Customize &rarr; Widgets</em></strong>.</p>
						<p>If you would like to replace sidebar on a specific page with a different one or just remove it, use <a href="#content-aware-sidebars"><strong>Content Aware Sidebars</strong> plugin</a>. It is a great way to control and alter your website layout.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Search results</h5>
						<p>This page has a special layout, different from post archive pages (depending on the blog style you have chosen, actually), to allow for easier scanning.</p>
						<p>In case you need to refine your search, there is a search form conveniently displayed on top of search results listing.</p>
						<p>Each post type displays differently in search results page.</p>
					</label></li>
				</ol>
				<p><a href="#anatomy">&uarr; Back to anatomy selection</a></p>
			</div>

			<div class="col-sm-12 col-md-8">
				<a href="https://www.dropbox.com/s/z0k7n2142uxew52/archives.jpg?dl=1" target="_blank">
					<img src="https://www.dropbox.com/s/z0k7n2142uxew52/archives.jpg?dl=1" alt="Theme screenshot with marked sections location" class="frame" />
				</a>
			</div>

		</div><!-- /#anatomy-blog -->

		<div id="anatomy-post" class="row anatomy-content">

			<h3><strong>Post</strong> content</h3>

			<div class="col-sm-12 col-md-4">
				<p><em>(Click the item below to reveal more info. Click the image to download a bigger size.)</em></p>
				<p><a href="#anatomy">&uarr; Back to anatomy selection</a></p>
				<ol>
					<li><label><input type="checkbox" />
						<h5>Post title and subtitle</h5>
						<p>Title of the post.</p>
						<p>If you would like to display subtitles, use <a href="#wp-subtitle"><strong>WP Subtitle</strong> plugin</a>.</p>
						<p>You can also display intro widgets here or hide the post intro section altogether using <a href="#page-templates">post templates</a>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Post excerpt</h5>
						<p>If you set a custom <a href="#posts">post excerpt</a>, it will be displayed in posts listing and in intro section on a single post page.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Featured image</h5>
						<p>It is recommended to <a href="https://codex.wordpress.org/Post_Thumbnails#Setting_a_Post_Thumbnail" target="_blank">set up a post featured image</a> for each post.</p>
						<p>A featured image is displayed in posts listing and also in <a href="#page-intro">intro section</a> on a single post page.</p>
						<p>Please see FAQ section for more <a href="#image-sizes">information on image sizes</a>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Post meta</h5>
						<p>Such as post publish date, post author name (displayed only on multi-author websites), number of comments...</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Post content</h5>
						<p>A post content, optimized for readability. You can <a href="#formats">use "Formats" button</a> for some special styles.</p>
						<p>You can also use a <a href="#beaver-builder">page builder</a> to create some interesting post layouts. You can use <a href="#page-builder">any page builder</a> plugin (but we recommend using powerful, optimized and easy to use <a href="#beaver-builder"><strong>Beaver Builder</strong> page builder plugin</a>), but please note that you will probably need to <strong>enable the page builder for WordPress posts</strong> first. (For Beaver Builder go to <strong><em>Settings &rarr; Page Builder &rarr; Post Types</em></strong>.)</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Table of contents</h5>
						<p>If you separate a post into multiple parts, there will be a <a href="#posts">table of contents</a> automatically generated.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Sharing buttons</h5>
						<p>To enable post, custom post and/or WooCommerce products sharing buttons (can be previewed on the <a href="https://themedemos.webmandesign.eu/#{theme_slug}/" target="_blank">theme demo website</a>), please use <a href="#jetpack"><strong>Jetpack</strong></a> plugin's <a href="https://jetpack.com/support/sharing/?aff=6509&cid=588078" target="_blank">sharing module</a>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Content options</h5>
						<p>The theme is compatible with several content options provided by <a href="#jetpack"><strong>Jetpack</strong> plugin</a>. You can hide certain post meta information or display post author biography below post content.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Comments</h5>
						<p>Comments are useful for blog posts to engage discussion with your website visitors. You can set them up in <strong><em>Settings &rarr; Discussion</em></strong> and disable them also per post basis.</p>
						<p>However, if you do not want to use comments for specific post types, we recommend setting up <a href="#plugins-others"><strong>Disable Comments</strong> plugin</a>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Posts navigation</h5>
						<p>Displays links to previous and next post.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Sidebar</h5>
						<p>The theme displays sidebar on each single post page, blog page and archive page.</p>
						<p>Sidebar is a <a href="#sidebars">widgetized area</a>, its content can be set in <strong><em>Appearance &rarr; Customize &rarr; Widgets</em></strong>.</p>
						<p>If you would like to replace sidebar on a specific post with a different one <strong>or just remove it</strong>, use <a href="#content-aware-sidebars"><strong>Content Aware Sidebars</strong> plugin</a>. It is a great way to control and alter your website layout.</p>
					</label></li>
				</ol>
				<p><a href="#anatomy">&uarr; Back to anatomy selection</a></p>
			</div>

			<div class="col-sm-12 col-md-8">
				<a href="https://www.dropbox.com/s/6pqxhj511bb0q8w/post-content.jpg?dl=1" target="_blank">
					<img src="https://www.dropbox.com/s/6pqxhj511bb0q8w/post-content.jpg?dl=1" alt="Theme screenshot with marked sections location" class="frame" />
				</a>
			</div>

		</div><!-- /#anatomy-post -->

		<div id="anatomy-custom-post-types" class="row anatomy-content">

			<h3><strong>Custom post types</strong></h3>

			<div class="col-sm-12 col-md-4">
				<p>You need to install plugins that add a custom post types. For example, you can use  <a href="#jetpack"><strong>Jetpack</strong> plugin</a> to enable <a href="#portfolio">Portfolios</a> and <a href="#testimonials">Testimonials</a> custom post types functionality.</p>
				<p>You need <a href="#webman-amplifier"><strong>WebMan Amplifier</strong> plugin</a> to enable this functionality.</p>
				<p><em>(Click the item below to reveal more info. Click the image to download a bigger size.)</em></p>
				<p><a href="#anatomy">&uarr; Back to anatomy selection</a></p>
				<ol>
					<li><label><input type="checkbox" />
						<h5>Post title</h5>
						<p>If you would like to display subtitles, use <a href="#wp-subtitle"><strong>WP Subtitle</strong> plugin</a>.</p>
						<p>If you would like to remove the intro section for the custom post type, use a <a href="#page-templates">dedicated post type page template</a> or a specific <a href="#custom-fields">custom field</a>.</p>

						<p>By default the Testimonial posts display their title as a cite source. You can override this by setting a custom source, though.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Post excerpt</h5>
						<p>The theme adds support for custom post excerpt for <a href="#portfolio">Jetpack Portfolios</a>. The excerpt is then displayed in intro section on custom post type single page, but not in Portfolio archive pages (list of projects).</p>
						<p>Custom post excerpt is displayed in intro section on all custom post type single pages (except for <a href="#testimonials">Testimonials</a>).</p>
						<p><a href="#staff">Staff</a> post excerpt is displayed also in posts listing, and if the Staff post contains some content, a "Nice to meet you!" button is displayed too. After clicking the button you get to single Staff post page.</p>
						<p><a href="#projects">Project</a> post does not display excerpt in posts listing.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Post featured image</h5>
						<p>It is displayed differently for each custom post type. We suggest to set them for each post.</p>
						<p>You can <a href="#custom-fields">disable it on single post page or use a custom one</a>.</p>
						<p>Please see FAQ section for more <a href="#image-sizes">information on image sizes</a>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Post content</h5>
						<p><a href="#projects">Project</a> or <a href="#staff">Staff</a> post content. You can <a href="#formats">use "Formats" button</a> for some special styles.</p>
						<p>With <a href="#projects">Project</a> post type you can also use a special <a href="#project-templates">"Project layout" post type template</a> to display the project content and media in a specific way.</p>
						<p><a href="#portfolio">Portfolio</a> post content. You can <a href="#formats">use "Formats" button</a> for some special styles.</p>
						<p>You can also use a <a href="#beaver-builder">page builder</a> to create some interesting post layouts. You can use <a href="#page-builder">any page builder</a> plugin (but we recommend using powerful, optimized and easy to use <a href="#beaver-builder"><strong>Beaver Builder</strong> page builder plugin</a>), but please note that you will probably need to <strong>enable the page builder for WordPress posts</strong> first. (For Beaver Builder go to <strong><em>Settings &rarr; Page Builder &rarr; Post Types</em></strong>.)</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Sharing buttons</h5>
						<p>To enable custom post sharing buttons, please use <a href="#jetpack"><strong>Jetpack</strong></a> plugin's <a href="https://jetpack.com/support/sharing/?aff=6509&cid=588078" target="_blank">sharing module</a>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Posts navigation</h5>
						<p>Displays links to previous and next post.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Sidebar</h5>
						<p>The theme displays sidebar on each single custom post type page and archive page.</p>
						<p>Sidebar is a <a href="#sidebars">widgetized area</a>, its content can be set in <strong><em>Appearance &rarr; Customize &rarr; Widgets</em></strong>.</p>
						<p>If you would like to replace sidebar on a specific post with a different one or just remove it, use <a href="#content-aware-sidebars"><strong>Content Aware Sidebars</strong> plugin</a>. It is a great way to control and alter your website layout.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Archive pages</h5>
						<p>The theme is compatible with <a href="#jetpack"><strong>Jetpack</strong></a> plugin's <a href="#portfolio">Portfolios</a> and <a href="#testimonials">Testimonials</a> custom content types and you can display archive pages for these.</p>
						<p>The theme is compatible with <a href="#webman-amplifier"><strong>WebMan Amplifier</strong> plugin</a>, which allows you to use several different custom post types: <a href="#projects">Projects</a>, <a href="#staff">Staff</a>, <a href="#testimonials">Testimonials</a>, <a href="#content-modules">Content Modules</a>.</p>
						<p>While Content Modules is a helper post type with no archive page, the theme can display <a href="#projects">Projects</a>, <a href="#staff">Staff</a> and <a href="#testimonials">Testimonials</a> posts archive pages.</p>
						<p>Projects can be even <a href="#projects">displayed in different style</a>.</p>
						<p>(Other post types can be added by a different plugins. If you want to sell products, please use <a href="#woocommerce"><strong>WooCommerce</strong> plugin</a>.)</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Taxonomy filter</h5>
						<p><a href="#projects">Projects</a> and <a href="#staff">Staff</a> posts display a filter from their taxonomies on archive pages.</p>
						<p>A taxonomy can also display on specific posts in the custom post type posts list. This depends on the custom post type and on the taxonomies you have assigned to it (such as project category, project tags, staff department or specialty).</p>
					</label></li>
				</ol>
				<p><a href="#anatomy">&uarr; Back to anatomy selection</a></p>
			</div>

			<div class="col-sm-12 col-md-8">
				<a href="https://www.dropbox.com/s/k4roibifodvmxxx/custom-post-types.jpg?dl=1" target="_blank">
					<img src="https://www.dropbox.com/s/k4roibifodvmxxx/custom-post-types.jpg?dl=1" alt="Theme screenshot with marked sections location" class="frame" />
				</a>
			</div>

		</div><!-- /#anatomy-custom-post-types -->

		<div id="anatomy-shop" class="row anatomy-content">

			<h3><strong>Shop</strong> content</h3>

			<div class="col-sm-12 col-md-4">
				<p>You need <a href="#woocommerce"><strong>WooCommerce</strong> plugin</a> to enable this functionality.</p>
				<p><em>(Click the item below to reveal more info. Click the image to download a bigger size.)</em></p>
				<p><a href="#anatomy">&uarr; Back to anatomy selection</a></p>
				<ol>
					<li><label><input type="checkbox" />
						<h5>Intro section</h5>
						<p><strong>Product archive pages</strong> (such as a product category page) intro section display is set according to your <a href="https://docs.woocommerce.com/document/woocommerce-pages/?aff=6509&cid=588078" target="_blank"><strong>Shop page</strong></a> setup.</p>
						<p><strong>Single product page</strong> intro section contains shop breadcrumbs navigation, product title, product price. It does not display a product featured image. If you want to display an image in intro section on single product page, you need to use a dedicated <a href="#custom-fields">custom field</a>.</p>
						<p>If you would like to display subtitles for products, use <a href="#wp-subtitle"><strong>WP Subtitle</strong> plugin</a>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Shop page content</h5>
						<p>You can set a custom content for your <a href="https://docs.woocommerce.com/document/woocommerce-pages/?aff=6509&cid=588078" target="_blank">shop page</a>. The content will be displayed above the products list on main products archive page then.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Before products list</h5>
						<p>A <a href="#sidebars">widgetized area</a>, its content can be set in <strong><em>Appearance &rarr; Customize &rarr; Widgets</em></strong>.</p>
						<p>This widget area is best suited to display <a href="https://docs.woocommerce.com/document/woocommerce-widgets/?aff=6509&cid=588078" target="_blank">WooCommerce filter widgets</a>, such as "WooCommerce Layered Nav", "WooCommerce Price Filter" and/or "WooCommerce Product Categories".</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Products list</h5>
						<p>If you set widgets in <a href="#sidebars">"Shop Sidebar"</a> there will be a sidebar displayed on all product archive pages and products will be displayed in 2 columns instead of 3.</p>

						<p class="uppercase"><strong>Product categories list</strong></p>
						<p>If you are displaying product categories, the theme conveniently separates categories from products list (which is a WooCommerce default display) for you, displaying categories first.</p>
						<p>Please note that you need to have a <em>"Show categories & products"</em> set for <strong>Shop Page Displays</strong> (and <em>"Show subcategories & products"</em> set for <strong>Default Category Display</strong>) in your <a href="https://docs.woocommerce.com/document/configuring-woocommerce-settings/?aff=6509&cid=588078" target="_blank">WooCommerce products display settings</a> for this feature to be enabled.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Shop Sidebar</h5>
						<p>The <a href="#sidebars">Shop sidebar</a> is displayed on product archive pages only if you set some widgets in it.</p>
						<p>There is no sidebar displayed on single product page to reduce a clutter and focus visitor on the product details and purchase action.</p>
						<p>Shop Sidebar is a <a href="#sidebars">widgetized area</a>, its content can be set in <strong><em>Appearance &rarr; Customize &rarr; Widgets</em></strong>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Featured image</h5>
						<p>Product featured image is displayed in products list, as well as on single product page. It is the main image displaying your product, so please make sure you always set it up.</p>
						<p>Please see FAQ section for more <a href="#image-sizes">information on image sizes</a>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Product gallery</h5>
						<p>If you would like to display more images of the product, use a <a href="https://docs.woocommerce.com/document/adding-product-images-and-galleries/?aff=6509&cid=588078" target="_blank">product image gallery</a>.</p>
						<p>Please see FAQ section for more <a href="#image-sizes">information on image sizes</a>.</p>
						<p>The theme is also compatible with <a href="https://wordpress.org/plugins/woocommerce-product-image-flipper/" target="_blank"><strong>WooCommerce Product Image Flipper</strong> plugin</a> which displays the additional image (the first one from product image gallery) when hovering a product in products listing. The theme changes the hover effect of the plugin to a custom one, though.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Product short description</h5>
						<p>Set this on your product edit screen. Please see <a href="https://docs.woocommerce.com/document/managing-products/?aff=6509&cid=588078" target="_blank">WooCommerce documentation</a> for more info.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Sharing buttons</h5>
						<p>To enable product sharing buttons, please use <a href="#jetpack"><strong>Jetpack</strong></a> plugin's <a href="https://jetpack.com/support/sharing/?aff=6509&cid=588078" target="_blank">sharing module</a>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Product tabs</h5>
						<p>Set this on your product edit screen. Please see <a href="https://docs.woocommerce.com/document/managing-products/?aff=6509&cid=588078" target="_blank">WooCommerce documentation</a> for more info.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Product description</h5>
						<p>Set this on your product edit screen. Please see <a href="https://docs.woocommerce.com/document/managing-products/?aff=6509&cid=588078" target="_blank">WooCommerce documentation</a> for more info.</p>
						<p>Please note that the product description width is set for best readability. If you would like to override this, use a page builder to build the product description content.</p>
						<p>You can also use a <a href="#beaver-builder">page builder</a> to create some interesting product description layouts. You can use <a href="#page-builder">any page builder</a> plugin (but we recommend using powerful, optimized and easy to use <a href="#beaver-builder"><strong>Beaver Builder</strong> page builder plugin</a>), but please note that you will probably need to <strong>enable the page builder for WordPress posts</strong> first. (For Beaver Builder go to <strong><em>Settings &rarr; Page Builder &rarr; Post Types</em></strong>.) Also, please note that before enabling page builder on the specific product, you <strong>have to add some text to product description (content area) first</strong>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Product widget area</h5>
						<p>A <a href="#sidebars">widgetized area</a>, its content can be set in <strong><em>Appearance &rarr; Customize &rarr; Widgets</em></strong>.</p>
						<p>This widget area is best suited to display a general featured information about your shop, such as shipping info, newsletter subscription form or similar.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Up-sell products</h5>
						<p>Set this on your product edit screen. Please see <a href="https://docs.woocommerce.com/document/related-products-up-sells-and-cross-sells/?aff=6509&cid=588078" target="_blank">WooCommerce documentation</a> for more info.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Related products</h5>
						<p>Set this on your product edit screen. Please see <a href="https://docs.woocommerce.com/document/related-products-up-sells-and-cross-sells/?aff=6509&cid=588078" target="_blank">WooCommerce documentation</a> for more info.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Checkout guide</h5>
						<p>The theme provides a convenient checkout guide displaying steps of purchase process on a <a href="https://docs.woocommerce.com/document/woocommerce-pages/?aff=6509&cid=588078" target="_blank">cart page, checkout page</a> and order received page.</p>
						<p>You can enable or disable it in <strong><em>Appearance &rarr; Customize &rarr; Theme Options &rarr; Shop</em></strong>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>Cart and Checkout page</h5>
						<p>Once you set these pages according to <a href="https://docs.woocommerce.com/document/woocommerce-pages/?aff=6509&cid=588078" target="_blank">WooCommerce documentation</a>, you can treat the cart and checkout page the same way as <a href="#pages">other WordPress pages</a>.</p>
					</label></li>

					<li><label><input type="checkbox" />
						<h5>My Account page</h5>
						<p>Please see <a href="https://docs.woocommerce.com/document/woocommerce-pages/?aff=6509&cid=588078" target="_blank">WooCommerce documentation</a> for more info on how to set up this page.</p>
					</label></li>
				</ol>
				<p><a href="#anatomy">&uarr; Back to anatomy selection</a></p>
			</div>

			<div class="col-sm-12 col-md-8">
				<a href="https://www.dropbox.com/s/pecnuz8r4fbxq6p/shop.jpg?dl=1" target="_blank">
					<img src="https://www.dropbox.com/s/pecnuz8r4fbxq6p/shop.jpg?dl=1" alt="Theme screenshot with marked sections location" class="frame" />
				</a>
			</div>

		</div><!-- /#anatomy-shop -->

	</div>
