+mark( 'nav', 'Appearance', 'Themes', 'Add Theme', 'Upload Theme', 'Install Now', 'Activate' ).is-path-featured

if 'envato' === config.source
	+video( 'https://youtu.be/hb0lxVNL6Uo?t=0' ) Install a theme obtained at ThemeForest

ol
	li Download the <strong title="#{config.slug}.zip">theme ZIP file</strong> from <a href="#{config.url.info}">the marketplace</a>.

	li Log into your WordPress admin.

	li In WordPress dashboard navigate to #[+mark( 'nav', 'Appearance', 'Themes' )] and click the #[+mark( 'btn', 'Add Theme' )] button next to "Themes" page title.

	li On "Add Themes" screen click the #[+mark( 'btn', 'Upload Theme' )] button next to page title.

	li In the displayed form, choose the theme ZIP file you've downloaded in step&nbsp;1 above and click the #[+mark( 'btn', 'Install Now' )] button.

	li When the theme is installed, activate it by clicking the <strong>"Activate"</strong> link.

	if false !== config.compatibility.welcome
		block install/welcome/step
			li Now you can go to #[+mark( 'nav', 'Appearance', 'Welcome' )] page for information on how to set up your website and the theme. <br>Also, please <strong>pay special attention to your <a href="#image-sizes">website image sizes setup</a></strong>.
