/* FILE: _custom-properties/_colors.scss */

:root {

	--color_header_background: #fff;
	--color_header_text: #000;
	--color_header_border: transparent;

	--color_nav_background: #000;
	--color_nav_text: #fff;
	--color_nav_background_active: var(--color_button_background);
	--color_nav_text_active: var(--color_button_text);
	--color_nav_background_hover: var(--color_nav_border);
	--color_nav_text_hover: var(--color_nav_text);
	--color_nav_border: #{ rgba( #fff, var(--border_opacity) ) };

	--color_nav_prefix_content: currentColor;
	--color_nav_prefix_customizing: currentColor;

	--color_content_background: #fff;
	--color_content_text: #000;
	--color_content_headings: #000;
	--color_content_border: #{ rgba( #000, var(--border_opacity) ) };

	--color_heading_entry_background: var(--color_nav_background);
	--color_heading_entry_text: var(--color_nav_text);

	--color_pre_background: #222;
	--color_pre_text: #fff;

	--color_intro_background: var(--color_button_background);
	--color_intro_text: var(--color_button_text);

	--color_footer_background: var(--color_header_background);
	--color_footer_text: var(--color_header_text);
	--color_footer_border: var(--color_header_border);

	--color_brand: #fbce2f;
	--color_accent: #06c;
	--color_mark: #{ rgba( #06c, .1 ) };
	--color_button_background: #fbce2f;
	--color_button_text: #000;

	@each $color, $value in $colors {
		--color_palette_#{ $color }: #{ $value };
	}

}
