block demo/about

	if true === config.compatibility.block_patterns
		+important( 'Do you even need a demo content?' )
			p The theme contains predefined <a href="#block-patterns">block patterns</a> you can drag & drop into your page content in editor.
			p Theme demo content was actually built the same way: just stacking the block patterns to create a full demo website.
			p Using block patterns you can <strong>create your very own website easily</strong> and you won't need to delete obsolete leftover pages and other data from imported demo content.
			p <a href="#block-patterns"><strong>Meet block patterns &rarr;</strong></a>

	p The theme allows you to import a demo content, which matches <a href="#{config.url.demo}">theme demo website</a>. Then you can simply change the imported demo content to your needs and build your website faster that way.

	p Before you import the theme demo content, please check these important notes:

	+tip( 'Delete leftovers' )
		p Theme demo contains a lot of pages. You will certainly end up not using most of them. In that case it is strongly recommended to <strong>delete the leftover demo content you no longer need</strong> from your website. It improves your website performance and relevance.

	+important( 'Install on fresh WordPress' )
		p It is recommended to install demo content on empty, fresh WordPress site. (If you are <a href="#{config.url.testing}">testing the theme on a computer</a> and not your live website, you can always <a href="https://wordpress.org/plugins/search/reset/">reset WordPress</a> to a fresh state.

	+danger( 'Images and media quality' )
		p Please understand that demo images, audio and video files are of <strong>low quality</strong>. This is to prevent any copyright infringement. You should replace them with your own, <a href="#references">properly licensed media</a> that fit your website project.

	if config.content.includes( 'sidebars' )
		+alert( 'Classic widgets interface', 'orange', 'h3', '<strong>Recommended:</strong>' )
			p WordPress 5.8 introduced a new block-based interface to widgets and sidebars management screen. Theme demo content was built using the classic widgets interface, so it is highly recommended to install and activate <a href="https://wordpress.org/plugins/classic-widgets/"><strong>Classic Widgets</strong> plugin</a> to retrieve the classic WordPress widgets interface again.

	+danger( 'Page builder compatibility' )
		p If you want to <a href="#any-page-builder">use a page builder</a>, please understand that if the theme demo content was not built with your page builder, you will not be able to edit the imported demo pages.
		p → Read <a href="https://support.webmandesign.eu/demo-content-editor/">knowledge base article</a> for more info.

	p And now, for detailed instructions about importing theme demo content please visit <strong><a href="https://github.com/webmandesign/demo-content/tree/master/#{config.slug}/">demo content repository at GitHub</a></strong> (where it is kept up to date).
