+sub_section( 'Using Navigational Menus' )
	p You can easily create custom navigational menus in <strong><em>Appearance &rarr; Menus</em></strong>.

	p Menus may contain links to pages, categories, custom links or other content types (use the <a href="https://www.wpbeginner.com/glossary/screen-options/"><strong>"Screen Options"</strong></a> tab to enable menu content types and attributes).

	p You can specify a different navigation label for a menu item as well as other attributes. The theme also supports menu item description text.

include locations.pug
include create.pug
include mega.pug
