+sub_section( 'Using Navigational Menus' )
	p You can easily create custom navigational menus in #[+mark( 'nav', 'Appearance', 'Menus' )].

	p Menus may contain links to pages, categories, custom links or other content types (use the <a href="https://www.wpbeginner.com/glossary/screen-options/"><strong>"Screen Options"</strong></a> tab to enable menu content types and attributes).

	p You can specify a different navigation label for a menu item as well as other attributes. The theme also supports menu item description text.

	p To display menus on your website you need to assign them to a menu location (or use a <strong>Navigation Menu</strong> widget in a sidebar, for example). The theme defines these menu locations for you:

	dl.list-default
		block menu/list
