block menu/about
	p Navigational menus for your website can be created at #[+mark( 'nav', 'Appearance', 'Menus' )]. They may contain links to pages, categories, custom links or other content. You can specify a custom menu item label, as well as other attributes.

	p Display menus on your website by assigning them to a predefined theme menu location. The theme defines these menu locations for you:

	dl.list-default.has-quoted-terms
		block menu/list

	p This theme also supports menu item description text:

	+image( 'https://easycaptures.com/fs/uploaded/1625/2527621325.png', 'Setting up menu item description text.' )
