+sub_section( 'Creating a Menu' )
	p Please follow the <a href="https://codex.wordpress.org/WordPress_Menu_User_Guide">instructions in WordPress codex on how to create a menu</a>.

	+tip( 'Post type archive link' )
		p You can add any custom post type archive page link into the menu. <a href="http://easycaptures.com/fs/uploaded/1023/6040881305.png">Please see the image for the instructions &raquo;</a>
