+sub_section( 'Create a Menu' )
	p Follow the <a href="https://codex.wordpress.org/WordPress_Menu_User_Guide">instructions in WordPress documentation for how to create a menu</a>.

	+tip( 'Add a post type archive link' )
		p You can add any custom post type archive link into your menu:
		+image( 'https://easycaptures.com/fs/uploaded/1023/6040881305.png', 'Adding custom post type archive link to menu.' )
