p To display menus on your website you need to assign them to a menu location (or use a <strong>Navigation Menu</strong> widget in a sidebar, for example). The theme defines these menu locations for you:

dl
	block menu/list
