+sub_section( 'Megamenu', 'megamenu' )
	p With built in simple megamenu functionality you can display child menu (sub-menu) items in columns.

	+image( 'https://easycaptures.com/fs/uploaded/1385/0641221298.jpg', 'Megamenu example preview.' )

	ol
		li
			p Set a <code>megamenu</code> class on the parent menu item (1st level menu item).

			+image( 'https://easycaptures.com/fs/uploaded/1385/0153017896.png', 'Setting up menu item class.' )

		li
			p Then the 2nd level menu items (first child menu items) become captions for megamenu columns.

			+tip( 'Disable link' )
				p Setting <code>disable-link</code> CSS class on these menu items to render its link inactive.

		li
			p Finally, the 3rd level menu items (second child menu items) become column menu items within your megamenu.
