p The theme seamlessly integrates its options into the <strong>WordPress Customizer</strong>.

p You can access it navigating to #[+mark( 'nav', 'Appearance', 'Customize' )]. All the changes you make in Customizer will be immediately displayed in the preview. However, these changes will not be saved until you press the #[+mark( 'btn', 'Publish' )] button.

p You can set up your site's title, tagline and logo, header images and video, manage <a href="#navigation">navigational menu locations</a> and <a href="#sidebars">widget areas</a>, set up a <a href="#pages">homepage and blog page</a>, theme colors, layout, predefined texts and typography.

p All the custom theme options can be found under #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options' )] section.

