+sub_section( 'Theme Options & Customizer' )
	p The theme seamlessly integrates its options into live preview <strong>WordPress Customizer</strong>. You can set up your site's title, tagline and logo, manage <a href="#navigation">navigational menus</a> and <a href="#sidebars">widgets</a>, set up a <a href="#pages">homepage and blog page</a>, customize theme colors, layout, typography and other options.

	p Customizer can be accessed at #[+mark( 'nav', 'Appearance', 'Customize' )]. All the changes you make in Customizer will be immediately displayed in the preview. These changes will be made live only after you press the #[+mark( 'btn', 'Publish' )] button.

	p All the custom theme-specific options can be found under #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options' )] panel. Check them out to get familiar with theme customization capabilities.
