li
	+answer( 'Custom fields', 'custom-fields' )

		p To allow more control over pages and posts appearance, the theme uses some predefined <a href="https://codex.wordpress.org/Custom_Fields">custom fields</a>. Here is the list of the fields explained:

		dl.list-default
			dt <code>food_menu_section</code>
			dd
				p Set this field on "Food menu" page template only to a value of a food menu section ID. Once set, the specific food menu section is displayed on the page instead of the whole menu.

			dt <code>banner_text</code>
			dd
				p Set this on featured posts or on your front page (if you are using static banner instead of slideshow). This text will override the default text displayed in your website front page banner.

			dt #[+plus] <code>quote_source</code>
			dd
				p Set this on Quote post formats only to customizer quote source.
