- title   = 'Content: Food Menu';
- id      = 'food-menu';
- nav[id] = title;

+section( title, id )
	p This custom post type is provided via <a href="#jetpack"><strong>Jetpack</strong></a> plugin.

	p Food Menus custom posts are used to display food menu of your restaurant website.

	p If the food menu item contains any content, the link will direct visitors to view the food menu item page. If you don't set the post content for the food menu item, the link will display full size of the food menu item featured image.

	p Food menu will be displayed without featured images on your website front page and in full, with featured images, on a "Food menu" page template.

	p You can use <strong>nested food menu sections</strong> with this theme (such as create a main section of Drinks and then create a child sections of Cocktails, Beverages,...). However, on your website front page, the food menu will be generated from your main food menu sections. If you would like to display each main section with list of subsections, use a "Food menu" page template and <a href="#custom-fields">specify the food menu section displayed on the page</a>, or link the food menu section archive page(s) in <a href="#navigation">your website navigation</a>.
