+sub_section( 'Front page', 'front-page' )
	p If you set up a static front page, a specially styled <strong>condensed posts</strong> section and a <strong>food menu</strong> section will be displayed on the page.
	p You can set a position or disable these sections in <strong>"Layout" section</strong> of the <a href="#customizer">theme customizer</a>.
