dt <a href="https://wordpress.org/plugins/ns-featured-posts/">NS Featured Posts</a>
dd Marking your posts as featured ones creates a banner slideshow on your front page.

dt <a href="https://wordpress.org/plugins/restaurant-reservations/">Restaurant Reservations</a>
dd Accept restaurant reservations and table bookings online. Quickly confirm or reject bookings, send email notifications, set booking times and more.
