- title   = prefix.content + 'Recipes';
- id      = 'recipes';
- nav[id] = title;

+section( title, id )
	p #[+plus] This functionality is available via <a href="#webman-amplifier"><strong>WebMan Amplifier</strong></a> plugin and works only with <strong>Plus</strong> version of the theme.

	p This is an extension for the standard posts and Food Menu posts.

	p If you want to display a recipe on a post or Food Menu item page, just set the recipe setup boxes on post edit page in WordPress dashboard. The <strong>required</strong> field to set for the recipe to display is <strong>"Instrucions"</strong> - if this field is not set up, recipe won't display on the post page.

	p Each recipe setup field is self explanatory or contains a description to help you understand what it does and how it displays.

	p <strong>Ingredients</strong> are being stored as WordPress taxonomy (similar to tags), so, for example, you can even display them in a tag cloud on your website. When you start typing the ingredient name, the stored ingredient names will be suggested to you, otherwise, if the system doesn't recognize the new ingredient name, it will store it for future reference.
