dt Sidebar
dd
	p This widget area is displayed on all pages and posts. If you don't want to display a sidebar on a page, please use a "Fullwidth page" page template.


dt #[+plus] Custom Banner
dd
	p Use this widget area to display a custom banner or slider on the front page.


dt Front Page Widgets
dd
	p These widgets are displayed below the banner area on front page.


dt Footer Widgets
dd
	p Display widgets in footer area of the website. Widgets will be aligned into columns automatically depending on the number of widgets in the widget area. If you set more than 3 widgets in this widget area, they will be spread into 3 columns, and masonry layout will apply.
