dt "Fullwidth page"
dd
	p By default, all the pages display with a sidebar. However, if you would like to display a page full width, with no sidebar, use this page template. It is useful template for page builder pages.

	p Do not forget to set up your custom <code>H1</code> heading in this case.


dt "Food menu"
dd
	p Use this page template to display a whole food menu of your restaurant, or just a specific section (with its subsections). Please note that you need to have <a href="#jetpack">Jetpack plugin</a> installed and activated to use Food Menu functionality.

	p Also, please note that each food menu section title will get linked to the corresponding archive page. You can disable this linking in <strong>"Food Menu" section</strong> of the <a href="#customizer">theme customizer</a>.
