/* FILE: content/blocks/_columns.scss */

.row,
.columns {
	--gap: #{ $ratio + rem };

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: var(--gap);
}

.column {
	flex: 1 1 auto;
	width: 100%;

	h4 {
		margin-bottom: 1rem;
		font-size: var(--typography_font_size_S_em);
		letter-spacing: .05em;
		text-transform: uppercase;
	}

	ul, ol {
		list-style-position: inside;
	}

	ul {
		list-style-type: circle;
	}
}

@include media( map_get( $breakpoint, 'm' ) ) {

	@for $j from 2 through 4 {
		$selectors: ();

		@for $i from 1 through $j {
			$selector  : '.column:nth-child(' + $i + '):nth-last-child(' + ( $j - $i + 1 ) + ')';
			$selectors : append( $selectors, $selector, comma );
		}

		#{ $selectors } {
			width: calc( #{ percentage( math.div( 1, $j ) ) } - var(--gap) / #{$j} );
		}
	}
}
