/* FILE: content/blocks/_image.scss */

figure {
	position: relative;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	text-align: center;
	border-radius: var(--border_radius);

	&:not(.is-plain) {
		@extend %shaded_background;
		border: 1em solid transparent;

		@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
			border-width: 2em;
		}

		body &::before {
			left: -1em;
			right: -1em;
			top: -1em;
			bottom: -1em;

			@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
				left: -2em;
				right: -2em;
				top: -2em;
				bottom: -2em;
			}
		}

		.alert & {
			border-width: 1em;

			&::before {
				left: -1em;
				right: -1em;
				top: -1em;
				bottom: -1em;
			}
		}
	}

	img {
		border-radius: var(--border_radius);
		box-shadow: var(--drop_shadow_alert);
	}

	.note {
		margin-top: 1em;
		font-size: .75em;
	}
}

figcaption {
	padding: 1em .5em;
	font-size: .9em;
	font-style: italic;
	background: #222;
	color: #fff;
	border-radius: var(--border_radius);

	@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
		padding-left: 1em;
		padding-right: 1em;
	}

	a {
		color: inherit;
	}
}

img {
	height: auto;
	font-style: italic;
}

map {
	@extend %screen_reader_hiding;
}

area {

	&:focus {
		outline: 3px solid var(--color_accent);
	}
}
