/* FILE: content/accessibility/_skip-links.scss */

.skip-link-site-menu {
	position: fixed;
	display: block;
	width: 100%;
	top: 0;
	padding: 1em 2em;
	text-align: center;
	text-decoration: none;
	background: var(--color_nav_background);
	color: var(--color_nav_text);
	box-shadow: var(--box_shadow--small);
	z-index: 5;

	@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
		display: inline-block;
		width: auto;

		&:not(:focus) {
			@include screen_reader_hiding();
		}

	}

}
