+sub_section( 'Featured Posts', 'posts-featured' )
	p These posts will display twice the size of the normal post on posts list pages (such as blog page or archive pages). To set up featured posts, please install and activate the <a href="https://wordpress.org/plugins/ns-featured-posts/"><strong>NS Featured Posts</strong> plugin</a> and mark selected posts as featured.
