dt Sidebar
dd
	p Is displayed on all posts. If you want to display a sidebar on a page, please use a <a href="#beaver-builder"><strong>Beaver Builder</strong></a> page builder plugin.


dt Footer Widgets
dd
	p Displays widgets in footer area of the website. Widgets will be aligned into columns automatically depending on the number of widgets in the widget area. If you set more than 3 widgets (for website content width less than <code>1100px</code> or 4 widgets for wider website content width) in this widget area, they will be spread into 3 columns, and masonry layout will apply.
