:root {
  --color_accent: #0aac8e;
  --color_accent_text: #fff;
  --color_mark: rgba(10, 172, 142, 0.1);
  --color_button_background: #0aac8e;
  --color_button_text: #fff;
  --color_header_background: #fff;
  --color_header_text: #1a1c1e;
  --color_nav_background: #2a2c2e;
  --color_nav_text: #dadcde;
  --color_nav_border: rgba(218, 220, 222, var(--border_opacity));
  --color_content_background: #f1f3f5;
  --color_content_headings: #1a1c1e;
  --color_content_text: #6a6c6e;
  --color_content_border: rgba(106, 108, 110, var(--border_opacity));
}