block plugins/recommended/abs
	+plugin_link( 'https://wordpress.org/plugins/additional-block-styles/' )

	p Provides additional block styles.

	if true === config.compatibility.block_styles
		+warning( 'Duplicate styles', 'h4' )
			p If <a href="#block-styles">your theme already provides block styles</a>, the styles from this plugin will be <em>added</em> only (no block style is being <em>replaced</em>), so you might experience some duplicate block styles.
			p Toggle specific block styles in plugin options in #[+mark( 'nav', 'Settings', 'Abs' )].
