h4( id="beaver-themer" ).
	<strong>Beaver Themer</strong><br>
	<small>(<a href="https://www.wpbeaverbuilder.com/beaver-themer/?fla=67">https://www.wpbeaverbuilder.com/beaver-themer/</a>)</small>

p This is a paid add-on for <a href="#beaver-builder">Beaver Builder</a> plugin which lets you <strong>create custom layouts</strong> for <strong>archive</strong> pages, template an entire <strong>post type</strong>, <strong>404</strong> and <strong>search results</strong> pages, and create parts like <strong>headers and footers</strong>. An effective theme builder!

p This theme is <strong>100% compatible</strong> with this flexible, advanced plugin so you can <strong>create any website you like with no coding</strong> at all! Read more about Beaver Themer at <a href="https://www.wpbeaverbuilder.com/beaver-themer/?fla=67">the plugin website</a>.
