dt#beaver-builder Beaver Builder
dd
	p.plugin-page <a href="https://wordpress.org/plugins/beaver-builder-lite-version/">Plugin page &rarr;</a>

	p If you need a page builder plugin to create complex page layouts with ease with a <strong>front-end drag and drop editor</strong>, I highly recommend using the Beaver Builder plugin. The plugin is available both in free Lite version and payed Pro version. The theme is 100% compatible with this plugin.

	p For more info on the plugin please visit the <a href="https://www.wpbeaverbuilder.com?fla=67">Beaver Builder website</a> where you can also find the instructional videos for this page builder plugin.

	p When you <a href="#webman-amplifier">install a <strong>WebMan Amplifier</strong> plugin</a>, it will enhance the free (and also the paid) version of Beaver Builder with <strong>custom theme page builder elements</strong>. You can then create the exact same website as <a href="https://themedemos.webmandesign.eu/#{config.slug}">the theme demo website</a> with a free Beaver Builder only!

	p <strong>The theme is fully compatible also with <a href="#beaver-themer">Beaver Themer</a> to create your own custom header, footer, post, archive, config.&hellip; layouts!</strong> Check out the <a href="#beaver-themer">plugin information below</a>.

	+info( 'WebMan Templates' )
		p If you are using Beaver Builder page builder, you can benefit from predefined theme page builder row templates. Just install and activate the <strong>WebMan Templates</strong> plugin and all the predefined templates will be available in Beaver Builder when you edit the page. The plugin automatic installation will be suggested to you after you activate the theme, alternatively you can <a href="https://wordpress.org/plugins/webman-templates/">install the plugin via your WordPress dashboard</a>.

	+tip( 'Tutorials' )
		p <strong>Tutorials</strong>: If you are new to Beaver Builder page builder, you can <a href="https://vimeo.com/beaverbuilder">watch instructional videos</a> (check out <a href="https://www.wpbeaverbuilder.com/6-beaver-builder-tutorial-videos-awesome-community/?fla=67">alternative courses</a>), or read the plugin's <a href="http://kb.wpbeaverbuilder.com/?fla=67">knowledge base</a>.
