h4( id="breadcrumbs-navxt" ).
	<strong>Breadcrumbs NavXT</strong><br>
	<small>(<a href="https://wordpress.org/plugins/breadcrumb-navxt/">https://wordpress.org/plugins/breadcrumb-navxt/</a>)</small>

p With this plugin you can create a perfect <a href="http://en.wikipedia.org/wiki/Breadcrumb_%28navigation%29">breadcrumbs navigation</a>.

p Read the instructions on <a href="#breadcrumbs">custom plugin setup below</a>.
