dt#breadcrumb-navxt Breadcrumb NavXT
dd
	p.plugin-page <a href="https://wordpress.org/plugins/breadcrumb-navxt/">Plugin page &rarr;</a>

	p With this plugin you can create a perfect <a href="http://en.wikipedia.org/wiki/Breadcrumb_%28navigation%29">breadcrumbs navigation</a>.

	p Read the instructions on <a href="#breadcrumbs">custom plugin setup below</a>.
