+recommend( 'Breadcrumb NavXT', 'breadcrumb-navxt' )
	p.plugin-page <a href="https://wordpress.org/plugins/breadcrumb-navxt/">Plugin page &rarr;</a>

	p Create a perfect <abbr title="Search Engine Optimization">SEO</abbr> friendly and flexible <a href="https://en.wikipedia.org/wiki/Breadcrumb_navigation">breadcrumbs navigation</a> with help of Breadcrumb NavXT plugin.
