+recommend( 'Envato Market', 'envato-market' )
	p.plugin-page <a href="https://envato.com/market-plugin/">Plugin page &rarr;</a>

	p As you've <a href="#{config.url.themeforest}">obtained the theme from ThemeForest</a> (Envato Market), you can use Envato Market plugin to enable <a href="#update">automatic theme updates</a>.
