h4( id="envato-market" ).
	<strong>Envato Market</strong><br>
	<small>(<a href="https://envato.com/market-plugin/">https://envato.com/market-plugin/</a>)</small>

p If you <a href="http://themeforest.net/user/webmandesign/portfolio">obtained the theme from ThemeForest</a>, you can use this plugin for easy <a href="#update">automatic theme updates</a>.
