dt#envato-market Envato Market
dd
	p.plugin-page <a href="https://envato.com/market-plugin/">Plugin page &rarr;</a>

	p If you <a href="http://themeforest.net/user/webmandesign/portfolio">obtained the theme from ThemeForest</a>, you can use this plugin for easy <a href="#update">automatic theme updates</a>.
