block plugins/recommended/envato-market
	+plugin_link( 'https://envato.com/market-plugin/' )

	p As you've <a href="#{config.url.themeforest}">obtained the theme from ThemeForest</a> (Envato Market), you can use Envato Market plugin to enable <a href="#update">automatic theme updates</a>.
