+plugin_link( 'https://wordpress.org/plugins/wc-theme-integration/' )

p Using <a href="#woocommerce">WooCommerce</a> plugin? Don't forget to install and activate also this one! It provides <strong>deeper design integration for WooCommerce</strong> with your theme.
