dt#integration-wc Theme Integration for WooCommerce
dd
	p.plugin-page <a href="https://wordpress.org/plugins/wc-theme-integration/">Plugin page &rarr;</a>

	p Provides deeper design integration for WooCommerce in the theme.
