+recommend( 'Jetpack', 'jetpack' )
	+plugin_link( 'https://wordpress.org/plugins/jetpack/' )

	p Jetpack plugin contains <strong>a lot of useful tools and functionality</strong> for your website. Among others, there are portfolio and testimonials management, extra editor blocks, social network sharing functionality, content delivery network to speed up your website, site verification functionality, and others.

	p For more info about the plugin features and functionality please visit the <a href="https://jetpack.com/">plugin website</a> and <a href="https://jetpack.com/support/">documentation</a>.

	p <em>(Please note that you will need to <a href="https://jetpack.com/support/getting-started-with-jetpack/">connect your Jetpack powered website</a> with your WordPress.com user account so the plugin can provide all its functionality.)</em>
