h4( id="jetpack" ).
	<strong>Jetpack</strong><br>
	<small>(<a href="https://wordpress.org/plugins/jetpack/">https://wordpress.org/plugins/jetpack/</a>)</small>

p This plugin was built by <a href="http://automattic.com/">Automattic</a> (the company behind the WordPress) and contains a lot of very useful tools for your website.

p To choose some of the features included in this plugin: <strong>tiled galleries</strong>, image lightbox zooming effect, contact form, extra widgets, infinite scroll, better search, <strong>social networks sharing buttons</strong>, <strong>related posts display</strong>, <abbr title="Content Delivery Network">CDN</abbr>, site verification and others.

p Please note that you will need to <a href="https://jetpack.com/support/getting-started-with-jetpack/?aff=6509&cid=588078">connect your Jetpack powered website</a> once the plugin is active to use its features. For more info on the plugin usage and functionality please visit the <a href="http://jetpack.me/"><strong>Jetpack.me</strong></a> website.

p This theme also supports advanced Jetpack features such as <a href="#portfolio"><strong>Portfolio</strong></a> and <a href="testimonials"><strong>Testimonials</strong></a> content types and <a href="http://easycaptures.com/fs/uploaded/1196/7847277416.png">customizer content options</a> (found under <strong><em>Appearance &rarr; Customize &rarr; Content Options</em></strong>).

+warning( 'Infinite scroll issue', 'h5' )
	p If you are using Jetpack's Infinite Scroll feature and also using some post reordering plugin, <a href="https://support.webmandesign.eu/forums/topic/infinite-scroll-problem/">you might experience a compatibility issue</a>. Please note that such issue is related to plugins incompatibility, not a theme. Contact your plugin support for possible solution.
