dt#content-aware-sidebars Content Aware Sidebars
dd
	p.plugin-page <a href="https://wordpress.org/plugins/content-aware-sidebars/">Plugin page &rarr;</a>

	p For creating unlimited number of widget areas (sidebars) and using them anywhere on the website.

	p This plugin is actually also suitable for <strong>controlling and altering your website layout</strong> with ease. Here are some example usecases:

	ul
		li
			p <strong>Want to remove a sidebar from certain page(s)?</strong>

			p Just create a new custom widget area (let's call it <em>"Empty"</em>) and set it to replace the <a href="#sidebars"><em>"Sidebar"</em> widget area</a> on the specific pages. Once you leave this new widget area empty, with no widgets in it, the sidebar will simply not be displayed on the affected pages.

			p <strong>Tip:</strong> If you only want to display sidebar on some pages, you can use reverse logic: leave the theme's "Sidebar" empty and create a "Sidebar with widgets" using the plugin and set it to display on the specific pages only.

		li
			p <strong>Want to display a different widgets in intro section on certain page?</strong>

			p Just create a new custom widget area (let's call it <em>"About page intro widgets"</em>, for example) and set it to replace the <a href="#sidebars"><em>"Intro Widgets"</em> widget area</a> on the specific page (the <em>"About"</em>, for example). Then go ahead and add some widgets into the <em>"About page intro widgets"</em> area in #[+mark( 'nav', 'Appearance', 'Widgets' )].

	p Alternatively, you can also <a href="https://wordpress.org/plugins/search/sidebars/">try using a similar plugin</a>.

	+tip( 'Controlling a single widget' )
		p If you would like to control a single widget display instead of the whole widget area, you can use <a href="https://jetpack.com/support/widget-visibility/?aff=6509&cid=588078"><strong>Jetpack</strong> plugin's "Widget Visibility" feature</a> (or try <a href="https://wordpress.org/plugins/widget-options/"><strong>Widget Options</strong> plugin</a>).
