h4( id="wp-subtitle" ).
	<strong>WP Subtitle</strong><br>
	<small>(<a href="https://wordpress.org/plugins/wp-subtitle/">https://wordpress.org/plugins/wp-subtitle/</a>)</small>

p You can easily add posts and pages subtitles with this plugin.
