h4( id="webman-amplifier" ).
	<strong>WebMan Amplifier</strong><br>
	<small>(<a href="https://wordpress.org/plugins/webman-amplifier/">https://wordpress.org/plugins/webman-amplifier/</a>)</small>

p This plugin extends the theme's functionality with additional content types, custom icon font, metaboxes, shortcodes (with page builder compatibility) and custom widgets.

p It also provides seamless integration with <a href="#beaver-builder"><strong>Beaver Builder</strong></a> page builder plugin.

p This is essential plugin to provide advanced functionality for the theme and you will be prompted to install it after theme activation.

+warning( 'Inaccessible elements', 'h5' )
	p Please note that <strong>WM Accordion</strong> and <strong>WM Tabs</strong> page builder modules/shortcodes provided by WebMan Amplifier plugin are not accessible elements currently and are not recommended for use on accessible websites! They can be replaced with <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details">HTML <code>&lt;details></code> tag</a> if needed.

	p Please don't forget to <a href="https://support.webmandesign.eu/accessibility/">test your accessible websites</a> thoroughly.
