h4( id="webman-tempaltes" ).
	<strong>WebMan Templates</strong><br>
	<small>(<a href="https://wordpress.org/plugins/webman-templates/">https://wordpress.org/plugins/webman-templates/</a>)</small>

p <strong>If you are using Beaver Builder page builder</strong>, you can also install and activate WebMan Templates plugin which contains a collection of pre-designed row templates for the page builder.

p It allows creating interesting page layouts fast and with ease.
