+recommend( 'WooCommerce', 'woocommerce' )
	p.plugin-page <a href="https://wordpress.org/plugins/woocommerce/">Plugin page &rarr;</a>

	p Use WooCommerce plugin to <strong>build an eCommerce website</strong>. This theme works great with this most popular eCommerce platform.

	p If you are new to WooCommerce, check out the thorough <a href="https://docs.woocommerce.com/">plugin documentation</a>.
