+recommend( 'WooCommerce', 'woocommerce' )
	+plugin_link( 'https://wordpress.org/plugins/woocommerce/' )

	p Use WooCommerce plugin to <strong>build an eCommerce website</strong>. This theme works great with this most popular eCommerce platform.

	p If you are new to WooCommerce, check out the thorough <a href="https://docs.woocommerce.com/">plugin documentation</a>.
