block plugins/recommended/woocommerce
	+plugin_link( 'https://wordpress.org/plugins/woocommerce/' )

	p Use WooCommerce plugin to <strong>build an eCommerce website</strong>. This theme works great with this most popular eCommerce platform.

	p If you are new to WooCommerce, check out the thorough <a href="https://docs.woocommerce.com/">plugin documentation</a>.

	if true === config.compatibility.accessibility
		+tip( 'Improve WooCommerce accessibility', 'h4' )
			p If you would like to improve WooCommerce accessibility, please instal additional <a href="https://wordpress.org/plugins/wc-a11y/">Improving WooCommerce Accessibility</a> plugin.
