dt#woocommerce WooCommerce
dd
	p.plugin-page <a href="https://wordpress.org/plugins/woocommerce/">Plugin page &rarr;</a>

	p WooCommerce is the world's most favorite eCommerce solution that allows you to sell anything, beautifully.

	p This theme is fully compatible with WooCommerce e-commerce plugin out of the box, so you can start selling immediately. Just install, activate and setup the plugin and you are ready to go!

	p Once you set up your main shop page, by <a href="#custom-fields">tweaking its options</a> and/or <a href="#pages">setting the page template</a>, you can actually change the layout and appearance of all shop archive pages. Additional shop related settings can be found in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Shop' )].

	p Since WordPress 4.7 you can set a custom <a href="#page-templates">post type page template</a> for WooCommerce config.. It supports "With intro widgets" and "No intro" page templates.

	+tip( 'Tutorials' )
		p If you are new to WooCommerce, you can <a href="https://docs.woocommerce.com/document/woocommerce-101-video-series/?aff=6509&cid=588078">watch instructional <strong>WooCommerce 101 video series</strong></a>, or read the <a href="https://docs.woocommerce.com/documentation/plugins/woocommerce/?aff=6509&cid=588078">plugin's documentation</a>.

	+tip( 'Dynamic WooCommerce page title' )
		p When using a <a href="#beaver-builder">page builder</a> and <a href="#page-templates">hiding the default page title</a> on a special WooCommerce pages (such as Cart, Checkout and My Account page), you loose the ability to adapt your custom page title to an actual page being displayed (such as when previewing orders on your "My Account" page, the page title should read "Orders" instead).

		p This theme resolves this issue by introducing a special <code>%wc_title%</code> placeholder you can use in page or page builder content to display a dynamic page title.
