- title   = 'Posts';
- id      = 'posts';
- nav[id] = title;

+section( title, id )

<h2 id="posts">Posts</h2>
	<div class="section indented">

		<div class="row">

			<div class="col-sm-12 col-md-6">

				<h3>Post Excerpt</h3>

				<p>Post excerpt will be displayed in posts list. If no excerpt is set, a portion of post content will take its place in posts list (if set, until <a href="http://codex.wordpress.org/Customizing_the_Read_More" target="_blank"><code>&lt;!--more--></code> tag</a>).</p>
				<p>If you set the <a href="http://codex.wordpress.org/Customizing_the_Read_More" target="_blank">"Read more" tag</a> inside the post content and you also set a post excerpt, first the post excerpt followed with post content (until "Read More" tag) will be displayed in posts list.</p>

				<div class="alert alert-warning">
					<h4>WordPress older then version 5:</h4>
					<p>If the "Excerpt" field is not displayed on a post edit screen, please enable it in the <a href="http://www.wpbeginner.com/glossary/screen-options/" target="_blank"><strong>"Screen Options"</strong></a> tab in the upper right corner of the screen.</p>
				</div>

				<div class="alert alert-info">
					<h4>Tip: Changing excerpt size</h4>
					<p>The default WordPress excerpt size is set to <a href="https://codex.wordpress.org/Excerpt#Excerpt.2C_automatic_excerpt.2C_and_teaser" target="_blank">55 words</a> (reduced by the theme to 40 words). If you would like to change this, use this code in your <a href="#child-theme">child theme's <code>functions.php</code> file</a>:</p>
					<pre class="mt-s">
function child_theme_excerpt_length( $length ) {
return 20; // Now we set the excerpt to 20 words.
}
add_filter( 'excerpt_length', 'child_theme_excerpt_length', 20 );</pre>
				</div>

				<div class="alert alert-info">
					<p><strong>TIP:</strong> You can use <a href="#plugins-others"><strong>Rich Text Excerpts</strong> plugin</a> for rich formatted excerpts.</p>
				</div>

				<div class="alert alert-info">
					<p><strong>TIP:</strong> If you are displaying posts with <strong>WM Posts / Custom Posts</strong> page builder element, you can modify the layout with <a href="#css-classes">helper CSS classes</a>.</p>
				</div>

			</div>

			<div class="col-sm-12 col-md-6">

				<h3>Post Page Templates</h3>

					<p>Since WordPress 4.7 you can set a custom <a href="#page-templates">post type page template</a> for posts, too. It supports "With intro widgets" and "No intro" page templates.</p>

				<h3>Table of Contents on Parted Post</h3>

					<p>If you are setting up a multipage post (using a "Page break" button in visual editor, or <code>&lt;!–nextpage–></code> tag in "Text" tab of visual editor), the automatic table of contents will be generated for the post/page for you.</p>
					<p>All you need to do is to set up a post parts titles at the top of each post part (so, immediately after <code>&lt;!–nextpage–></code> tag) with <strong>H2 heading</strong>.</p>

				<h3>Blog Styles</h3>

					<p>This theme comes preset with multiple blog styles. You can set them globally for your posts archive pages in theme options in <strong><em>Appearance &rarr; Customize &rarr; Theme Options &rarr; Blog</em></strong></p>

				<h3>Archive Title Prefix</h3>

					<p>By default WordPress adds some general caption, prefix to the archive page title, such as "Category:" in front of a category name on category archive page. You can disable these using <a href="https://wordpress.org/plugins/archive-title/" target="_blank">Archive Title</a> plugin.</p>

			</div>

		</div>

	</div>
