+tip()
	ol
		li It is recommended to install the theme demo content into an <strong>empty, fresh WordPress site</strong> only. Otherwise it might mess up your existing content! (If you are testing a website on your own computer and not your existing website, you can always <a href="https://wordpress.org/plugins/search/reset/">reset your WordPress</a> to fresh state.

		li Please note that the theme demo contains a lot of pages. You will certainly end up not using most of them. In that case it is highly recommended to <strong>delete the pages, posts, custom posts and media that you no longer need</strong> on your website. It improves your website <a href="#seo">SEO</a>, <a href="#speed">speed</a> and relevance.

+important( 'Demo Images and Other Media Quality' )
	p Please understand that <strong>demo images, audio and video files are <em>low</em> quality</strong> due to copyright protection and you should replace them with your own, <a href="#credits">properly licensed images</a>.

p For detailed instructions regarding theme demo content import please visit <strong><a href="https://github.com/webmandesign/demo-content/tree/master/#{config.slug}/">theme demo files repository at GitHub</a></strong>.
