+tip()
	ol
		li It is recommended to install demo content on <strong>empty, fresh WordPress site</strong>. Otherwise it might mess up your existing content! (If you are <a href="https://support.webmandesign.eu/testing-a-theme-on-your-computer/">testing a website on your own computer</a> and not your existing live website, you can always <a href="https://wordpress.org/plugins/search/reset/">reset your WordPress</a> to a fresh state.

		li Please note that theme demo contains a lot of pages. You will certainly end up not using most of them. In that case it is strongly recommended to <strong>delete the leftover content you no longer need</strong> on your website. It improves your website performance and relevance.

+important( 'Images and Media Quality' )
	p Please understand that <strong>demo images, audio and video files are of <em>low</em> quality</strong>. This is due to copyright protection. You should replace them with your own, <a href="#credits">properly licensed images</a> that fit your website project the best anyway.

p For detailed instructions regarding theme demo content import please visit <strong><a href="https://github.com/webmandesign/demo-content/tree/master/#{config.slug}/">theme demo files repository at GitHub</a></strong>.
