block demo/about
	p The theme allows you to import a demo content, which matches <a href="#{config.url.demo}">theme demo website</a>. Then you can simply change the imported demo content to your needs and build your website faster that way - <em>no need to start from scratch</em>.

	p Before you import the theme demo content, please check these important notes:

	+tip( 'Delete leftovers' )
		p Please note that theme demo contains a lot of pages. You will certainly end up not using most of them. In that case it is strongly recommended to <strong>delete the leftover content you no longer need</strong> on your website. It improves your website performance and relevance.

	+important( 'Install on fresh WordPress' )
		p It is recommended to install demo content on <strong>empty, fresh WordPress site</strong>. Otherwise it might mess up your existing content! (If you are <a href="#{config.url.testing}">testing a website on your own computer</a> and not your existing live website, you can always <a href="https://wordpress.org/plugins/search/reset/">reset your WordPress</a> to a fresh state.

	+danger( 'Images and media quality' )
		p Please understand that <strong>demo images, audio and video files are of <em>low</em> quality</strong>. This is due to copyright protection. You should replace them with your own, <a href="#credits">properly licensed images</a> that fit your website project the best anyway.

	p And now, for detailed instructions about how to import theme demo content please visit <strong><a href="https://github.com/webmandesign/demo-content/tree/master/#{config.slug}/">demo content repository at GitHub</a></strong> (where it is kept up to date).
