p For detailed instructions regarding theme demo content import please visit <strong><a href="https://github.com/webmandesign/demo-content/tree/master/#{config.slug}/">theme demo files repository at GitHub</a></strong>.
