block demo/starter_content
	+sub_section( 'Starter Content' )
		p This theme supports and contains its own <a href="https://make.wordpress.org/core/2016/11/30/starter-content-for-themes-in-4-7/">WordPress starter content</a> for easy and fast small website deployment.

		p The starter content is displayed in the <a href="#customizer">theme customizer</a> <strong>on clear WordPress installation only</strong>. Once you save the customizer settings, the starter content will be ported into your website automatically then.

		p If you have already created some posts or pages beforehand, you will not see the theme starter content in theme customizer.

		p Please note that <strong>this is only a very basic starter content</strong> suitable for small websites and if you want a more robust solution, install the full theme demo content instead.
