block demo/starter_content
	+sub_section( 'Starter Content' )
		p This theme supports and contains its own <a href="https://make.wordpress.org/core/2016/11/30/starter-content-for-themes-in-4-7/">WordPress starter content</a> for easy and fast (small) website deployment.

		p Starter content is displayed in <a href="#customizer">theme customizer</a>on fresh WordPress installation only. Once you save the customizer settings, the starter content will be ported into your website automatically.

		p If you have already created some content beforehand, the starter content will not be available for you in <a href="#customizer">customizer</a>.
