block editor/abs
	+sub_section( 'Additional Block Styles plugin' )
		p You can further change block appearance with suplemental block styles provided by <a href="https://wordpress.org/plugins/additional-block-styles/"><strong>Additional Block Styles</strong> plugin</a>. Simply choose your preferred style from block options and you are done.

		block editor/abs/image
			+image( 'core/editor/apply-block-style.webp', 'Applying a block style' )
