include about.pug
if true === config.compatibility.block_patterns
	include patterns.pug
if true === config.compatibility.block_styles
	include styles.pug
if true === config.compatibility.block_variations
	include variations.pug
else
	include abs.pug
