- title   = prefix.content + 'Church';
- id      = 'church';
- nav[id] = title;

+section( title, id )
	p With help of <a href="#church-content">Church Content plugin</a> you can add multiple useful custom post types to your church website.

	p <a href="https://churchthemes.com/guides/user/content/sermons/">"<strong>Sermons</strong>"</a> allow you to add, organize, and display your church sermons.

	p <a href="https://churchthemes.com/guides/user/content/events/">"<strong>Events</strong>"</a> allow you to manage your church events. The theme displays Events on their archive page ordered by the date of the actual event, set in event options. (So, the publish date of the Event post does not matter here.) The past Events (older than the current date) are not displayed by default, only if website visitor chooses to display them via a dropdown selector on top of Events list on post type archive page.

	p <a href="https://churchthemes.com/guides/user/content/people/">"<strong>People</strong>"</a> allows you to manage your church staff team. The theme provides you with a dedicated <a href="#page-templates">"Team" page template</a> which displays list of People below the page content. There is a greyscale filter applied on person photo in the list of People posts when not hovering the image with mouse cursor.

	p <a href="https://churchthemes.com/guides/user/content/locations/">"<strong>Locations</strong>"</a> allow you to manage your church locations. The theme provides you with a dedicated <a href="#page-templates">"Locations" page template</a> which displays list of Locations below the page content.

	p You can display all of these custom post types on your site by adding their respectable archive page link to <a href="#navigation">the navigation</a>.

	p The number of posts displayed on post type archive page can be managed via #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Church Content' )].

	+tip( 'Renaming the post type' )
		p If you would like to rename this post type, use the <a href="https://wordpress.org/plugins/cpt-editor/"><strong>Custom Post Type Editor</strong></a> plugin. To rename the custom taxonomies related to this post type, use the <a href="https://wordpress.org/plugins/rename-taxonomies/"><strong>Rename Taxonomies</strong></a> plugin.

	+tip( 'Custom posts order' )
		p For custom posts order you can use a plugin, such as <a href="https://wordpress.org/plugins/intuitive-custom-post-order/"><strong>Intuitive Custom Post Order</strong></a>.
