dt Primary
dd
	p This is the main navigation in the header of the website.
	p Menu in this location can be nested and hierarchically organized (up to 4 levels deep) and you can also use a <a href="#megamenu">simple megamenu functionality</a> here.
	p It is also mobile-ready menu and, if needed, mobile functionality can be disabled at #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Others' )].

	p This theme also supports menu item description text:

	+image( 'https://easycaptures.com/fs/uploaded/1625/2527621325.png', 'Setting up menu item description text.' )
