+plugin_link( 'https://wordpress.org/plugins/church-theme-content/' )

p This plugin provides an interface for <a href="#church">managing <strong>sermons</strong>, <strong>events</strong>, <strong>people</strong> (staff) and <strong>locations</strong></a>. Please <a href="https://churchthemes.com/guides/user/plugins/church-content/">see the plugin documentation for more info</a>.
