dt Sidebar
dd
	p Default sidebar displayed on blog, archive, search results and single post pages. If there are no widgets in this sidebar, it won't be displayed and the page content will take the full width.
