dt "Team"
dd
	p Displays list of people below the page content. This page template is available only after activating a supported plugin that provides "People" post type, such as <a href="#church-content">Church Content plugin</a>.
