dt "Locations"
dd
	p Displays list of locations below the page content. This page template is available only after activating a supported plugin that provides "Locations" post type, such as <a href="#church-content">Church Content plugin</a>.
