//
// Documentation stylesheet setup
//

$font_family_body : 'Merriweather Sans', sans-serif;
$font_family_headings : 'Merriweather', serif;

$content_width    : 1200px;
$nav_item_padding : .38em;

$color_header_bg : #0a0825;
$color_logo      : #fff;

$color_sidebar_bg  : #26244c;
$color_sidebar_txt : #b6b4dc;
$color_sidebar_bd  : rgba( #b6b4dc, .30 );

$color_nav_active_bg  : #bb060f;
$color_nav_active_txt : #fff;

$color_intro_bg  : #0a0825;
$color_intro_txt : #fff;

$color_content_txt     : #444444;
$color_content_bd      : rgba( #444444, .30 );
$color_content_heading : #111111;

$color_figure_bg : #fff;

$color_anatomy_heading      : #0e0e0f;
$color_anatomy_bd           : #dededf;
$color_anatomy_active_bg    : #ce1e0f;
$color_anatomy_active_txt   : #fff;
$color_anatomy_inactive_bg  : #dededf;
$color_anatomy_inactive_txt : #2e2e2f;

$color_footer_bg  : $color_header_bg;
$color_footer_txt : #999;
$color_footer_lnk : $color_logo;
