h3#anatomy-basics.counter-reset-numbers <strong>Basics</strong> <small>(site container, header, intro, footer)</small>

- var topic_href = "anatomy-basics"
- var index = 0;

// http://www.image-map.net/
+map( 'https://www.dropbox.com/s/sfohffd2ophphda/anatomy-basics.jpg', 'Theme anatomy: Basics' )
	area( href="#"+topic_href+"-1"  coords="1127,209,1199,0"   title="1. Site layout and site borders" )
	area( href="#"+topic_href+"-2"  coords="2,17,1200,109"     title="2. Header" )
	area( href="#"+topic_href+"-3"  coords="64,142,142,48"     title="3. Logo" )
	area( href="#"+topic_href+"-4"  coords="528,141,142,52"    title="4. Primary menu" )
	area( href="#"+topic_href+"-5"  coords="1009,160,1123,52"  title="5. Social Links menu" )
	area( href="#"+topic_href+"-6"  coords="73,10,1123,51"     title="6. Header Widgets" )
	area( href="#"+topic_href+"-7"  coords="34,166,1128,527"   title="7. Intro section" )
	area( href="#"+topic_href+"-8"  coords="158,294,678,368"   title="8. Page title" )
	area( href="#"+topic_href+"-9"  coords="673,367,158,418"   title="9. Subtitle" )
	area( href="#"+topic_href+"-10" coords="157,507,687,422"   title="10. Excerpt" )
	area( href="#"+topic_href+"-11" coords="26,541,1174,691"   title="11. Intro Widgets" )
	area( href="#"+topic_href+"-12" coords="35,696,1163,728"   title="12. Breadcrumbs" )
	area( href="#"+topic_href+"-13" coords="17,740,1178,923"   title="13. Content" )
	area( href="#"+topic_href+"-14" coords="23,1033,1169,963"  title="14. Footer menu" )
	area( href="#"+topic_href+"-15" coords="21,1037,1182,1260" title="15. Footer Secondary Widgets" )
	area( href="#"+topic_href+"-16" coords="25,1265,1181,1541" title="16. Footer" )
	area( href="#"+topic_href+"-17" coords="22,1545,1182,1612" title="17. Credits" )
	area( href="#"+topic_href+"-18" coords="161,1066,716,1228" title="18. Widget width" )
	area( href="#"+topic_href+"-12" coords="23,926,1176,960"   title="12. Breadcrumbs" )
	area( href="#"+topic_href+"-18" coords="159,1294,496,1458" title="18. Widget width" )
	area( href="#"+topic_href+"-5"  coords="229,1482,978,1540" title="5. Social Links menu" )

p <small>(Click the item below to reveal more info. Click the image to preview a bigger size.)</small>

+details( 'Site layout and site borders', topic_href+'-'+(++index) )
	p Can be <a href="#customizer">customized</a> in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Layout' )]. You can set boxed or fullwidth layout, set custom website width, set website borders.
	p Colors of site borders are inherited from default WordPress website background setup (#[+mark( 'nav', 'Appearance', 'Customize', 'Background' )]).
	p You can also <a href="#fonts">use any font</a> on the website.
	p All the theme related customization options can be found in <a href="#customizer">#[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options' )]</a>.
	+back_to( 'image', topic_href )

+details( 'Header', topic_href+'-'+(++index) )
	p Colors can be <a href="#customizer">customized</a> in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Colors: Header' )].
	p Layout (making it sticky, fullwidth or boxed) can be customized in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Layout' )].
	+back_to( 'image', topic_href )

+details( 'Logo', topic_href+'-'+(++index) )
	p Can be <a href="#customizer">customized</a> in #[+mark( 'nav', 'Appearance', 'Customize', 'Site Identity' )]. Don't forget to define your logo image dimensions.
	+back_to( 'image', topic_href )

+details( 'Primary menu', topic_href+'-'+(++index) )
	p This is a <a href="#navigation">primary menu location</a>.
	p Can be <a href="#customizer">customized</a> in #[+mark( 'nav', 'Appearance', 'Customize', 'Menus' )].
	+back_to( 'image', topic_href )

+details( 'Social Links menu', topic_href+'-'+(++index) )
	p This is a <a href="#social-links">social links menu location</a>.
	p Can be <a href="#customizer">customized</a> in #[+mark( 'nav', 'Appearance', 'Customize', 'Menus' )].
	p Once you set the social links menu correctly, you can also display social links anywhere on the website using "Custom Menu" widget.
	p When using <a href="#woocommerce">WooCommerce plugin</a>, there will be a shopping cart displayed in the header (after you set up your cart and checkout page) next to social links on wide screens, which can be controlled in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Shop' )] subsequently.
	+back_to( 'image', topic_href )

+details( 'Header Widgets', topic_href+'-'+(++index) )
	p A <a href="#sidebars">widget area</a>, its content can be set in #[+mark( 'nav', 'Appearance', 'Customize', 'Widgets' )].
	p Colors can be <a href="#customizer">customized</a> in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Colors: Header' )].
	p You can control the appearance with <a href="#manage-sidebars">Content Aware Sidebars plugin</a>.
	+back_to( 'image', topic_href )

+details( 'Intro section', topic_href+'-'+(++index) )
	p A specially styled, main, dominant <a href="#pages">page title section</a>. You can control its display with <a href="#pages">page template</a> or <a href="#custom-fields">custom fields</a>.
	p Colors can be <a href="#customizer">customized</a> in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Colors: Intro' )].
	p Background image is taken from page or post featured image, or a <a href="#custom-fields">custom field</a>, or a WordPress header image (#[+mark( 'nav', 'Appearance', 'Customize', 'Header' )]).
	+back_to( 'image', topic_href )

+details( 'Page title', topic_href+'-'+(++index) )
	p Displays a page, post, custom post type, archive page, search results page title.
	p If you want to disable this title, use a <a href="#pages">page template</a> or <a href="#custom-fields">custom fields</a>.
	+back_to( 'image', topic_href )

+details( 'Subtitle', topic_href+'-'+(++index) )
	p Please use <a href="https://wordpress.org/plugins/wp-subtitle/"><strong>WP Subtitle</strong> plugin</a> to allow this feature.
	+back_to( 'image', topic_href )

+details( 'Excerpt', topic_href+'-'+(++index) )
	p Displays <a href="#posts">post</a> or <a href="#pages">page</a> excerpt or archive page description (a taxonomy term description, such as category description, or author biographical info, if previewing an author archive).
	+back_to( 'image', topic_href )

+details( 'Intro Widgets', topic_href+'-'+(++index) )
	p A <a href="#sidebars">widget area</a>, its content can be set in #[+mark( 'nav', 'Appearance', 'Customize', 'Widgets' )].
	p Colors can be <a href="#customizer">customized</a> in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Colors: Intro' )].
	p You can control the appearance with a <a href="#pages">page template</a> or a <a href="#custom-fields">custom field</a> and <a href="#manage-sidebars">Content Aware Sidebars plugin</a>.
	+back_to( 'image', topic_href )

+details( 'Breadcrumbs', topic_href+'-'+(++index) )
	p Use a plugin to display <a href="#breadcrumbs">breadcrumbs navigation</a>.
	+back_to( 'image', topic_href )

+details( 'Content', topic_href+'-'+(++index) )
	p A content area - displays page, post and custom post content, page builder content, blog and other posts listings.
	p Colors can be <a href="#customizer">customized</a> in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Colors: Content' )].
	+back_to( 'image', topic_href )

+details( 'Footer menu', topic_href+'-'+(++index) )
	p This is a <a href="#navigation">footer menu location</a>. It displays a search form automatically.
	p Can be <a href="#customizer">customized</a> in #[+mark( 'nav', 'Appearance', 'Customize', 'Menus' )].
	p Colors of this area are inherited from Footer area.
	+back_to( 'image', topic_href )

+details( 'Footer Secondary Widgets', topic_href+'-'+(++index) )
	p A <a href="#sidebars">widget area</a>, its content can be set in #[+mark( 'nav', 'Appearance', 'Customize', 'Widgets' )].
	p Colors can be <a href="#customizer">customized</a> in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Colors: Footer' )].
	p You can control the appearance with <a href="#manage-sidebars">Content Aware Sidebars plugin</a>.
	+back_to( 'image', topic_href )

+details( 'Footer', topic_href+'-'+(++index) )
	p Colors can be <a href="#customizer">customized</a> in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Colors: Footer' )].
	p Layout (making it fullwidth or boxed) can be customized in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Layout' )].
	p Main content of footer consist of <a href="#sidebars">Footer Widgets area</a>, where you can add widgets in #[+mark( 'nav', 'Appearance', 'Customize', 'Widgets' )].
	p You can control the appearance with <a href="#manage-sidebars">Content Aware Sidebars plugin</a>.
	+back_to( 'image', topic_href )

+details( 'Credits', topic_href+'-'+(++index) )
	p Content can be <a href="#customizer">customized</a> in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Texts' )].
	p Colors can be customized in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Colors: Footer' )].
	+back_to( 'image', topic_href )

+details( 'Widget width', topic_href+'-'+(++index) )
	p You can alter the width of a widget in horizontal widget area using <a href="#plugins-others"><strong>Widget CSS Classes</strong> plugin</a>.
	+back_to( 'image', topic_href )

+back_to( 'topics', '#anatomy' )
