+sub_section( 'Blog Styles' )
	p This theme comes preset with multiple blog styles. You can set them globally for your posts archive pages in theme options in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Blog' )].
