dt "Blank"
dd
	p Displays only page content and so it's best suited for creating landing pages. There is no site header, no page intro title section (no <code>h1</code> heading tag), and no site footer on this template.


dt "With intro widgets"
dd
	p There is an additional <a href="#sidebars"><em>"Intro Widgets"</em> widget area</a> displayed in the intro section of this page template. No intro widgets are displayed when the intro section is not displayed on the page or there are no widgets set in <em>"Intro Widgets"</em> sidebar.


dt "No intro"
dd
	p Use this page template to remove the page intro title section (when you want to set up your own). Only the page content will be displayed.

	p For standard pages, the title will be <a href="#accessibility">accessibly</a> hidden.

	p On the other hand, if you are using Beaver Builder page builder, please, <strong>do not forget</strong> to set up your custom <code>h1</code> heading, as it is being completely removed from the page HTML in this case. The same applies for pages that you <a href="#any-page-builder">set to be ready for any other page builder</a>.


dt "With sidebar"
dd
	p By default, there is no sidebar is displayed on pages. However, if you would like to display a sidebar on a page, use this page template with it.


dt "List child pages"
dd
	p Please set this page template <strong>for a parent page only</strong>.

	p It will display a list of child pages below the actual (parent) page content. You can tweak each child page display by <a href="#custom-fields">setting the corresponding page options</a>.

	p There will be a page <strong>featured image</strong> (you can then even set a different intro image displayed on the actual page with a dedicated <a href="#custom-fields">custom field</a>), page <strong>title</strong>, page <strong>excerpt</strong> and optional <strong>"Continue reading" button</strong> displayed. "Continue reading" button is displayed only if the page has some content.

	p To set up a child page excerpt please use the "Excerpt" field on page edit screen.

	p If you would like to custom order your child pages, use <a href="https://codex.wordpress.org/Pages_Add_New_Screen">page "Order" attribute</a>. Or you can <a href="#plugins-others">use a plugin</a> for this, such as <em>Nested Pages</em> or <em>Intuitive Custom Post Order</em>.


dt "Project layout"
dd
	p This is a special custom post type template for displaying Project content in a traditional way. Read more under <a href="#project-templates">"Projects" section</a>.
