block faq/answer/faq-template-parts

	p With this theme you can edit all theme layouts, and thus customize the website fully to your needs. Although users might jump into editing theme <a href="#site-editor-templates">templates</a> directly, we think there is a better way.

	p All of the theme templates consist of <a href="#site-editor-template-parts">template parts</a>. <strong>Template parts</strong> are global areas (such as site header, footer, comments area,…), sections reused across multiple theme templates. Modifying a template part <em>will apply your updates to all of its occurrences across all templates</em> at once.

	h4 Example

	p If you want to change your site header design, you don't need to edit site header area in each theme <a href="#site-editor-templates">template</a> individually. Simply edit the <em>"<strong>Header</strong>"</em> <a href="#site-editor-template-parts">template part</a> and your changes will apply to all templates automatically.

	p <a href="#site-editor-template-parts">→ <strong>How to edit template parts</strong></a>
