/* FILE: content/entry/_content.scss */

.entry {
	max-width: var(--content_width);
	padding: calc( var(--white_space) / 2 ) 0;
	margin: var(--white_space) auto;
	margin-right: 0;
	// transition: outline-color 5s;

	&::after {
		content: '';
		clear: both;
		display: table;
		table-layout: fixed;
	}

	&:focus {
		outline: 0;
		// outline-offset: 1em;
		// outline-color: transparent;
	}

	&-title {
		padding: 2rem;
		margin-left: -2rem;
		margin-right: -4vw;
		margin-bottom: var(--white_space);
		background: var(--color_nav_background);
		color: var(--color_nav_text);
		border-width: 1px;
		border-style: solid;
		border-radius: var(--border_radius);
		border-top-#{right}-radius: 0;
		border-bottom-#{right}-radius: 0;

		+ .entry-section {
			padding-top: 0;
		}

	}

	&-section {
		padding-top: calc( var(--white_space) / 2 );
		margin-top: calc( var(--white_space) / 2 );
	}

}
