/* FILE: content/entry/_intro.scss */

.intro {
	position: relative;
	padding: var(--white_space) 6vw calc( 1.5 * var(--white_space) );
	margin-left: calc( -1 * var(--content_padding) );
	margin-right: calc( -1 * var(--content_padding) );
	font-weight: 500;
	background: var(--color_intro_background);
	color: var(--color_intro_text);
	overflow: hidden;

	&-content{
		max-width: var(--content_width);
		margin: 0 auto;
		margin-left: 0;
	}

	.screenshot {
		display: block;
		width: var(--screenshot_height);
		height: var(--screenshot_height);
		margin-top: calc( -.5 * var(--white_space) );
		margin-bottom: 2em;
		border-radius: calc( var(--screenshot_height) / 6 );
		box-shadow: var(--box_shadow--small);
		transform: rotate( 15deg );
		transition: transform .3s, border-radius .3s, width .3s;
		overflow: hidden;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			transform: rotate( -15deg ) scale( 1.2 );
			transition: transform .3s;
		}

		&:hover,
		&:focus {
			// 4:3 aspect ratio.
			width: calc( var(--screenshot_height) / 3 * 4 );
			border-radius: 0;
			transform: none;

			img {
				transform: none;
			}

		}

	}

	h1 {
		color: inherit;

		a {
			text-decoration: none;
		}

		small {
			display: block;
			font-size: .5em;
			font-weight: 400;

			@include media( map_get( $breakpoint, 'xxl' ) ) {
				font-size: $ratio_min +em;
			}

		}

	}

	a {
		color: inherit;
	}

	.thank-you {
		margin-top: calc( var(--white_space) / 2 );
	}

	.svg-icon {
		margin-right: 0;
		margin-bottom: $ratio_min +em;
	}

}
