block faq/answer/font

	+tip( 'Use WordPress fonts library', 'h4' )
		p When using a block theme, you can upload your custom fonts using WordPress native <a href="#site-editor-styles-typography">fonts library</a>.
		p In such case, <strong>step #1 in the procedure below is obsolete</strong>.

	p By default, the theme supports any <a href="https://fonts.google.com/">Google Fonts</a> font out of the box. So, if you want to use a font family from Google Fonts, simply set it up in font family option fields in <strong>Appearance → Customize → Theme Options → Typography</strong>.

	p But if you want to use a <strong>custom</strong> font (a purchased premium font, or font not available at Google Fonts) follow this procedure:

	ol.is-steps
		li Use a plugin to upload your custom font to your website, such as <a href="https://wordpress.org/plugins/custom-fonts/"><strong>Custom Fonts</strong> plugin</a>. (Or upload it by other means, such as via a child theme or <a href="#child-theme-plugin">child theme plugin</a>.)
		li Disable <strong>Appearance → Customize → Theme Options → Typography → "Enable theme Google Fonts loading"</strong> option.
		li Set font family fields in <strong>Appearance → Customize → Theme Options → Typography</strong> to use your custom font family. (These fields take a value valid for <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/font-family">CSS <code>font-family</code> property</a>.)
