block faq/answer/font

	p By default, the theme supports any <a href="https://fonts.google.com/">Google Fonts</a> font out of the box. So, if you want to use a font family from Google Fonts, simply set it up in font family option fields in <strong>Appearance → Customize → Theme Options → Typography</strong>.

	p But if you want to use a <strong>custom</strong> font (a purchased premium font, or font not available at Google Fonts) follow this procedure:

	ol.is-steps
		li
			if true === config.compatibility.fse
				+tip( 'Use WordPress fonts library!', 'h4' )(style="margin-bottom:1em")
					p When using a block theme, you can upload your custom fonts using WordPress native <a href="#site-editor-styles-typography">fonts library</a>.

			p Use a plugin to upload font file(s) to your website, such as <a href="https://wordpress.org/plugins/custom-fonts/"><strong>Custom Fonts</strong> plugin</a>. (Or upload it by other means, such as via a <a href="#child-theme-plugin">child theme or plugin</a>.)

		li
			p Disable <strong>Appearance → Customize → Theme Options → Typography → "Enable theme Google Fonts loading"</strong> option.
		li
			p Set font family fields in <strong>Appearance → Customize → Theme Options → Typography</strong> to use your custom font family. <br><small><em>(These fields take a value valid for <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/font-family">CSS <code>font-family</code> property</a>.)</em></small>
