block faq/answer/font

	p By default, the theme supports any <a href="https://fonts.google.com/">Google Fonts</a> font out of the box. So, if you want to use a font family from Google Fonts, simply set it up in font family option fields in <strong>Appearance → Customize → Theme Options → Typography</strong>.

	p But if you want to use a <strong>custom</strong> font (a purchased premium font, or font not available at Google Fonts) follow this procedure:

	ol.is-steps
		li
			p Upload custom fonts into your website using WordPress native <a href="https://wordpress.org/documentation/article/the-font-library/">fonts library</a>:

			p #[+mark( 'nav', 'Appearance', 'Fonts' )]
				if true === config.compatibility.fse
					| <br>or #[+mark( 'nav', 'Appearance', 'Editor', 'Styles', 'Typography', 'Fonts: <img src="../0app/assets/images/icons/fse-manage-fonts.svg" style="width:1.382em" alt="" /> button' )]
					| <br> (The <img src="../0app/assets/images/icons/fse-manage-fonts.svg" style="width:1.382em" alt="" /> button is called <em>"Manage fonts"</em> button.)

			p (Or you can upload it by other means, such as via a <a href="#child-theme-plugin">child theme or a plugin</a>. But using WordPress fonts library is the easiest way.)

		li
			p Disable <strong>Appearance → Customize → Theme Options → Typography → "Enable theme Google Fonts loading"</strong> option.

			p (Disabling this option is optional if you are uploading your fonts via WordPress fonts library. The theme will recognize such.)

		li
			p Set font family fields in <strong>Appearance → Customize → Theme Options → Typography</strong> to use your custom font family. <br><small><em>(These fields take a value valid for <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/font-family">CSS <code>font-family</code> property</a>.)</em></small>

			p (If you've uploaded your fonts via WordPress fonts library, theme will recognize such fonts and offers them to you as an option to select/set.)
