block faq/answer/helper-classes
	p This theme predefines some useful modifier CSS classes for you. You can use them <a href="https://vimeo.com/523023071">in block editor</a>, in page builder, or however you find useful. These classes modify appearance of your website elements and blocks.

	p For full up-to-date list of helper modifier CSS classes and instructions on how to use them refer to the <a href="#{config.url.css_classes}">theme demo website</a>.

	+image( 'https://easycaptures.com/fs/uploaded/1625/0906150526.png', 'Adding custom CSS class onto block' )

	+video( 'https://vimeo.com/523023071' ) Using CSS classes in block editor.

