block faq/answer/margin
	p The theme applies vertical margin on blocks to provide automatic harmonious spacing. Sometimes you may need to remove this gap between sections.

	p To remove the gap, null-out the vertical margin (set the value to <code>0</code>, "None") of the block in block editor (or element in page builder).

	p Specifically, usually the <em>top</em> margin needs to be removed, but this depends on your theme styles.

	p Here is how you can set vertical margin in block editor:

	block faq/answer/margin/image
		+image( 'core/faq/margin.webp', 'Removing block vertical margin' )
