block faq/answer/margin
	p The theme applies vertical margin on elements to provide automatic harmonious spacing. Sometimes you may need to remove this gap between rows of columns with a background, for example.

	p To remove the gap, null out (set value to zero, <code>0</code>) vertical margin (usually top margin) of the block in block editor, or element in your page builder.

	p Here is how you can set top margin in block editor:

	+image( 'https://easycaptures.com/fs/uploaded/1635/1043957511.png', 'Setting block top margin to zero' )
