block faq/answer/seo
	p This theme is coded semantically, with best <abbr title="Search Engine Optimization">SEO</abbr> practices in mind.

	p You can push your SEO performance even further with help of additional plugins such as <a href="https://wordpress.org/plugins/wordpress-seo/">Yoast SEO</a>. You can also integrate support for <a href="https://kinsta.com/blog/schema-markup-wordpress/">microformats</a> with a plugin such as <a href="https://wordpress.org/plugins/schema/">Schema</a>.

	+video( 'https://webdesign.tutsplus.com/courses/wordpress-seo-without-plugins' ) Free video course about basic WordPress SEO.
