+warning( 'Important!' )
	p <strong>Please note that <a href="https://www.webmandesign.eu/reference/#links-support">we do not provide support for custom theme modifications</a>!</strong>

	p You are responsible for all the changes you apply to the theme on your website.

	p If you don't feel comfortable enough coding, please, <a href="https://support.webmandesign.eu/modifications/">consider hiring someone who could help</a>.

include child-theme.pug
include hooks.pug
