+sub_section( 'Predefined Widget Areas' )
	p The content of widget areas can be customized in #[+mark( 'nav', 'Appearance', 'Customize', 'Widgets' )] or #[+mark( 'nav', 'Appearance', 'Widgets' )]. The theme predefines these widget areas:

	dl.list-default
		block sidebars/list

include manage.pug
