+sub_section( 'Predefined Widget Areas' )
	p The content of widget areas can be customized in <strong><em>Appearance &rarr; Customize &rarr; Widgets</em></strong> or <strong><em>Appearance &rarr; Widgets</em></strong>. The theme predefines these widget areas:

	dl
		block sidebars/list

include manage.pug
