block sidebars/about
	+sub_section( 'Predefined Widget Areas' )
		p The content of widget areas (sidebars) can be customized in #[+mark( 'nav', 'Appearance', 'Widgets' )] or #[+mark( 'nav', 'Appearance', 'Customize', 'Widgets' )]. The theme predefines these widget areas:

		dl.list-default.has-quoted-terms
			block sidebars/list
				dt &mdash; no areas found &mdash;
				dd It seems your theme does not support sidebars and widgets.
