+sub_section( 'Custom sidebars & website layout control' )
	p You can create a custom widget areas (sidebars) and use them anywhere on the website with a help of <a href="https://wordpress.org/plugins/content-aware-sidebars/"><strong>Content Aware Sidebars</strong></a> plugin.

	p That way you can control even displaying of the sidebar, effectively altering the page layout - limitless options, great flexibility!
