//-
//- Configuration object:
//-
-
	var config = {
		//- Theme attributes:
		name          : "Q'tron",
		slug          : 'qtron',
		screenshot    : 'https://themedemos.webmandesign.eu/qtron/wp-content/themes/qtron/screenshot.jpg',
		is_free       : false,
		source        : 'other', //- Available values: wporg/envato/github/other
		compatibility : {
			accessibility         : false,
			theme_builder         : false,
			block_patterns        : false,
			block_styles          : false,
			megamenu_fullwidth    : false,
			megamenu_disable_link : false,
			rtl                   : false,
		},
		version : {
			wp  : '4.8',
			php : '5.6',
		},

		url : {
			'info'        : 'https://creativemarket.com/webmandesign/205619-Qtron-Business-Portfolio-WP-Theme',
			'css_classes' : 'https://themedemos.webmandesign.eu/qtron/custom-css-classes/',
		},

		//- Content sections:
		//- For custom content see below.
		content : [
			//- For the list of core contents refer to `0app/includes/content.pug`.
			//- Basically, these match sub-folder names in `0app/includes/content`.
			//- Reorder these how you please.
			'wordpress',
			'install',
			'update',
			'demo',
			'pages',
			'posts',
			'cpt/wmamp',
			'menu',
			'social',
			'sidebars',
			'customizer',
			'localization',
			'plugins',
			'faq',
			'mods',
			'references',
		],

		//- Recommended plugins list:
		//- For custom content see below.
		plugins : {
			//- For the list of core recommended plugin refer to `0app/includes/content.pug`.
			//- Reorder these how you please.
			'beaver-builder'        : 'Beaver Builder',
			'classic-widgets'       : 'Classic Widgets',
			'jetpack'               : 'Jetpack',
			'one-click-demo-import' : 'One Click Demo Import',
			'webman-amplifier'      : 'WebMan Amplifier',
			'manage-sidebars'       : 'Content Aware Sidebars',
		},
		tgmpa : true,

		imageNote : 'core',

		//- Default FAQ list:
		faq : [
			// 'any-page-builder',
			'image-sizes',
			'css-classes',
			'seo',
			'speed',
			'css',
		],
	};

//-
//- Custom content:
//- This has to be here, after all the above variables declarations.
//-
include includes/_custom-content.pug
