- title   = 'Social Links';
- id      = 'social-links';
- nav[id] = title;

+section( title, id )

<h2 id="social-links">Social Links</h2>
	<div class="section indented">

		<h3 id="social">Adding Social Network Links and Icons</h3>

		<div class="row">

			<div class="col-sm-12 col-md-8">

				<p>Social icons linked to your social network profiles can be displayed anywhere on the website. But beforehand you must <a href="#menu">create and set up a social links menu</a>:</p>
				<ol>
					<li>Go to <strong><em>Appearance &rarr; Menus</em></strong> in the WordPress admin.</li>
					<li>Click <em>create a new menu</em> link.</li>
					<li>Give the menu a name, such as "Social Menu".</li>
					<li>Click <strong>[Create Menu]</strong> button.</li>
					<li>Click the <em>Custom Links</em> header on the left side of the page.</li>
					<li>Type a link (such as <code>https://www.facebook.com/webmandesigneu</code>) to one of your social profiles in the <em>URL</em> field.</li>
					<li>Give the link a title by typing the name of the service into the <em>Link Text</em> field.</li>
					<li>Click <strong>[Add to Menu]</strong>.</li>
					<li>Repeat the above steps to add additional social profiles.</li>
					<li>In the <em>Menu Settings</em> section at the bottom, check the "Social Links" box for <em>Theme locations</em>.</li>
					<li>Click <strong>[Save Menu]</strong> button.</li>
				</ol>
				<p>Adding your social links as a custom menu allows you to sort your profiles and add as many as you want.</p>

				<p>
					The theme displays icons as SVG images. For full list of supported icons please refer to <code>assets/images/svg</code> folder of your theme.
				</p>

				<p>For links starting with <code>mailto:</code> an <em>envelope</em> icon is applied. For unrecognized links a <em>link chain</em> icon is used.</p>

				<div class="alert alert-info">
					<h4>Multiple social links menus</h4>
					<p>If you want to set multiple social links menus and display them on various locations of your website, you can force the social links appearance for each menu by appending <code>[soc]</code> into a menu title.</p>
				</div>

				<div class="alert alert-warning">
					<h4>Can I use a custom social icon?</h4>
					<p>If you want to set a custom social icon, please read <a href="https://support.webmandesign.eu/how-to-set-a-custom-social-icon/" target="_blank">dedicated support article</a>.</p>
				</div>

			</div>

			<div class="col-sm-12 col-md-4">

				<p>Feel free to use a WordPress native <strong>Navigation Menu</strong> widget to display social menu anywhere on your website.</p>

				<a href="http://easycaptures.com/fs/uploaded/1003/1928993217.png" target="_blank">
					<img src="http://easycaptures.com/fs/uploaded/1003/1928993217.png" alt="Using Navigation Menu widget to display social network icons" title="Using Navigation Menu widget to display social network icons" class="frame" />
				</a>

			</div>

		</div>

		<h3 id="sharing" class="mt-s">Social sharing buttons</h3>

		<p>If you want to add a social sharing buttons to your website to allow your visitors to share your content, please consider enabling the <a href="https://jetpack.com/support/sharing/?aff=6509&cid=588078" target="_blank">Sharing module</a> of <a href="#jetpack">Jetpack plugin</a>.</p>

	</div>
