p As you can apply a custom CSS classes almost on all shortcodes used by the theme, there are some <strong>special classes</strong> that will style the content for you or add a specific layout. You can use these predefined CSS classes (plus you can easily define your own ones):

+image( 'https://www.dropbox.com/s/8u4k9jciim63d83/beaver-builder-class.jpg', 'Selecting custom predefined CSS class easily in Beaver Builder page builder' )

dl.list-default
	dt CSS3 Animation classes
	dd The theme applies CSS3 animation of <a href="https://animate.style/">Animate.css</a> library. Please apply these animation with <code>animation-</code> class prefix (so, the full class would look like <code>animation-ANYMATION_TYPE</code>). This way the animation will be applied only when the element becomes visible on the screen. Example: <code>animation-sectionFlip</code>.

	dt Frame classes: <br><code>frame</code>, <code>frame-items</code>
	dd Applies a border and a small padding around the item or items. With multi item shortcodes please apply the <code>frame-items</code> class on the shortcode itself to style its items (like posts or, testimonials, for example).

	dt Shadow classes: <br><code>drop-shadow</code>, <code>drop-shadow-items</code>, <code>inner-shadow</code>, <code>inner-shadow-items</code>, <code>bottom-shadow</code>, <code>bottom-shadow-items</code>
	dd Applies different kind of shadows on item or items. With multi item shortcodes please apply the <code>SHADOW-items</code> class on the shortcode itself to style its items (like posts or, testimonials, for example).

	dt Text classes: <br><code>uppercase</code>
	dd Make the text uppercase.

	dt Text align classes: <br><code>text-left</code>, <code>text-center</code>, <code>text-right</code>, <code>mobile-text-left</code>, <code>mobile-text-right</code>
	dd Align the text with these classes. If you apply mobile classes, you can control the text alignment on both desktops and mobiles.

	dt Apply on posts lists shortcodes: <br><code>masonry</code>
	dd Enables masonry layout on Content Modules, Posts or Testimonial shortcodes.

	dt Apply on Content Modules: <br><code>text-center</code>, <code>small-icons</code>, <code>no-icon-background</code>
	dd These classes are useful for icon modules: <code>text-center</code> will apply centered layout on content module with icon above the module text. <code>small-icons</code> make the content module icon smaller. <code>no-icon-background</code> will remove the background from the content module icon.

	dt Apply on tabs: <br><code>center-tabs</code>
	dd Use on top tabs to center them out.

	dt Apply on testimonials: <br><code>text-center</code>
	dd Creates large text-centered testimonials.

	dt Apply on widget areas: <br><code>widget-columns</code>
	dd Puts the widgets in the widget area in a row.

