dt Primary Menu
dd
	p This is the main navigation area in the header of the website. The menu can be nested and hierarchically organised.


dt One page template menu overrides
dd
	p You can set up a custom menu for "One page" template. This menu will override the main navigation menu for that specific page.
