+sub_section( 'Page Settings Tab' )

	p Each page contains a setting tabs with advanced page options. Just click the <strong><em>"Settings"</em> tab</strong> (and others) above the page content editor (if you enable a page builder, the page settings tab will be displayed in metabox below) and you will be able to set several different page options, depending on what page template is being used.

	+image( 'https://dl.dropboxusercontent.com/s/eu10p7bagd49bvz/page-settings-general.png', 'Setting a general page options' )



+sub_section( 'Page Builder' )

	p The theme is fully compatible with the best front-end page builder plugin for WordPress, the <a href="#beaver-builder">Beaver Builder</a>, which will help you create a complex page layouts with ease! Please, don't forget to set up a <strong>"Fullwidth sections" page layout</strong> when using a page builder!



+sub_section( 'Setting Up a Page Template' )

	ol
		li On page edit screen choose one of predefined page templates in <strong>Page attributes</strong> metabox on the right.
		li Once you set the page template, notice how <strong>page options tabs</strong> changed to offer you only the options related to specific page template.

	+image( 'https://dl.dropboxusercontent.com/s/79764016m4if6v6/page-template-selection.png', 'Setting a page template' )

	dl.list-default
		include templates.pug
