+tip( 'Classic widgets interface' )
	p WordPress 5.8 introduced a new block-based interface to widgets and sidebars management screen. As this may be confusing and possibly even cause incompatibility issues in some cases, you can consider reverting back the interface with <a href="https://wordpress.org/plugins/classic-widgets/"><strong>Classic Widgets</strong> plugin</a>.

+sub_section( 'Predefined Widget Areas' )
	p Widget areas can be used as sidebars, displayed using a shortcode or displayed in predefined website areas, such as footer. Their content can be customized in #[+mark( 'nav', 'Appearance', 'Widgets' )] or #[+mark( 'nav', 'Appearance', 'Customize', 'Widgets' )].
