dt "Default"
dd
	p In <strong>page options tabs</strong> you can set these options:
	p <strong>Settings</strong> tab: For fullwidth sections please set the "Fullwidth section" option from the <strong>"Page layout"</strong> dropdown.
	p <strong>Slider</strong> tab: You can set a custom special slider (use any custom slider plugin) or featured image.


dt "Blank"
dd
	p This page template displays no header and footer, only the page content. The page content is centered on the screen. Blank page template is best suited for under construction pages or special landing pages. It has no options to set.


dt "Blog"
dd
	p With this theme you can set several blogs. Just use this page template and set its options:
	+image( 'https://dl.dropboxusercontent.com/s/pa1jp7ycdkobpo2/page-settings-blog.png', 'Setting a blog page options' )


dt "One page"
dd
	p You can set a custom menu for this page template. The special scrolling JavaScript will be used to scroll to the sections of this page.
	p Don't forget to set up a HTML ID attribute for the sections of the page as otherwise your anchor navigation won't work. The best is to set up the ID attribute on page builder rows.
	p In <strong>page options tabs</strong> you can set these options:
	+image( 'https://dl.dropboxusercontent.com/s/llt3av50go3090y/page-settings-onepage.png', 'Setting a one page options' )
	+image( 'https://dl.dropboxusercontent.com/s/v6ow0ng5k9g5qs6/anchor-navigation.png', 'Setting up an anchor in website menu' )
