/* FILE: content/blocks/_video.scss */

.link-video {
	--pseudo_background_opacity: .15;
	@extend %shaded_background;
	position: relative;
	padding: 1em;
	font-size: .9em;
	background: var( --color_accent, var(--color_palette_blue) );
	color: var( --color_accent_text, #fff );
	border: 2px solid;
	border-top-width: .618em;
	border-color: var( --color_accent, var(--color_palette_blue) );
	border-radius: var(--border_radius);
	box-shadow: none;
	transition: box-shadow .3s;

	@include media( map_get( $breakpoint, 'm' ) ) {
		padding: 1em 2em;
	}

	&:hover,
	&:focus-within {
		box-shadow: var(--box_shadow--large);
	}

	.label {
		margin-right: $ratio_min + rem;
		font-weight: 700;
		text-transform: uppercase;
	}

	a {
		display: block;
		color: inherit;

		@include media( map_get( $breakpoint, 'm' ) ) {
			display: inline;
		}

	}

	.alert & {
		padding-left: 1em;
		padding-right: 1em;

		&:not(:first-child) {
			margin-top: $ratio + em;
		}

		&:not(:last-child) {
			margin-bottom: $ratio + em;
		}

	}

}
