+sub_section( 'Featured Posts', 'posts-featured' )
	p This theme contains a built in featured posts functionality. Once you assign posts to your featured post tag, 3 most recent featured posts will be displayed above posts list on your blog page (as can be seen in <a href="https://themedemos.webmandesign.eu/michelle/news/">theme demo website</a>).

	+video( 'https://vimeo.com/523023158' ) How to set up featured posts?
