ol.list-answers
	block faq/answers/list
		each question, id in config.faq
			li
				+answer( question, id )
					case id
						when 'any-page-builder': include answer/page-builder.pug
						when 'css': include answer/css.pug
						when 'css-classes': include answer/helper-classes.pug
						when 'font': include answer/font.pug
						when 'faq-template-parts': include answer/faq-template-parts.pug
						when 'image-sizes': include answer/images.pug
						when 'margin': include answer/margin.pug
						when 'seo': include answer/seo.pug
						when 'speed': include answer/performance.pug
						default
							block faq/answers/list/item
							- break
