h3#anatomy-basics.counter-reset-numbers <strong>Basics</strong> <small>(site container, header, intro, footer)</small>

- var topic_href = "anatomy-basics"
- var index = 0;

// http://www.image-map.net/
+map( 'https://www.dropbox.com/s/bda5pyuiwy0hklm/basics.jpg', 'Theme anatomy: Basics' )
	area( href="#"+topic_href+"-6"  coords="1162,1828,1316,1936" title="6. Social Links menu" )
	area( href="#"+topic_href+"-20" coords="27,1798,1579,1918"   title="20. Credits" )
	area( href="#"+topic_href+"-19" coords="283,1535,1321,1770"  title="19. Footer Widgets" )
	area( href="#"+topic_href+"-18" coords="287,1362,1315,1511"  title="18. Footer Secondary Widgets" )
	area( href="#"+topic_href+"-17" coords="208,1276,1315,1347"  title="17. Footer menu" )
	area( href="#"+topic_href+"-16" coords="287,1186,1309,1273"  title="16. Breadcrumbs" )
	area( href="#"+topic_href+"-15" coords="25,1177,1578,1792"   title="15. Footer" )
	area( href="#"+topic_href+"-14" coords="27,913,1575,1169"    title="14. Content" )
	area( href="#"+topic_href+"-13" coords="295,674,618,831"     title="13. Enhanced Text widget" )
	area( href="#"+topic_href+"-12" coords="33,609,1575,899"     title="12. Intro Widgets" )
	area( href="#"+topic_href+"-11" coords="935,459,1264,594"    title="11. Excerpt" )
	area( href="#"+topic_href+"-10" coords="293,498,524,583"     title="10. Subtitle" )
	area( href="#"+topic_href+"-9"  coords="292,405,607,501"     title="9. Page title" )
	area( href="#"+topic_href+"-8"  coords="25,196,1575,600"     title="8. Intro section" )
	area( href="#"+topic_href+"-7"  coords="248,20,1329,74"      title="7. Header Widgets" )
	area( href="#"+topic_href+"-6"  coords="1212,107,1311,199"   title="6. Social Links menu" )
	area( href="#"+topic_href+"-5"  coords="1021,105,1184,200"   title="5. Secondary menu" )
	area( href="#"+topic_href+"-4"  coords="509,91,868,197"      title="4. Primary menu" )
	area( href="#"+topic_href+"-3"  coords="287,87,492,204"      title="3. Logo" )
	area( href="#"+topic_href+"-2"  coords="95,187,1581,68"      title="2. Header" )
	area( href="#"+topic_href+"-1"  coords="2,102,95,1"          title="1. Site layout" )

p <small>(Click the item below to reveal more info. Click the image to preview a bigger size.)</small>

+details( 'Site layout', topic_href+'-'+(++index) )
	p Can be <a href="#customizer">customized</a> in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Layout' )]. You can set boxed or fullwidth layout, set custom website width.
	p You can also <a href="#fonts">use any font</a> on the website.
	p All the theme related customization options can be found in <a href="#customizer">#[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options' )]</a>.
	+back_to( 'image', topic_href )

+details( 'Header', topic_href+'-'+(++index) )
	p Colors can be <a href="#customizer">customized</a> in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Colors: Header' )].
	p Layout (making it sticky during scrolling up, fullwidth or boxed) can be customized in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Layout' )].
	+back_to( 'image', topic_href )

+details( 'Logo', topic_href+'-'+(++index) )
	p Can be <a href="#customizer">customized</a> in #[+mark( 'nav', 'Appearance', 'Customize', 'Site Identity' )]. Don't forget to define your logo image max height.
	+back_to( 'image', topic_href )

+details( 'Primary menu', topic_href+'-'+(++index) )
	p This is a mobile-ready <a href="#navigation">primary menu location</a>.
	p Can be <a href="#customizer">customized</a> in #[+mark( 'nav', 'Appearance', 'Customize', 'Menus' )].
	p If you want to disable the mobile menu functionality, you can do so in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Others', '"Disable mobile navigation"' )].
	+back_to( 'image', topic_href )

+details( 'Secondary menu', topic_href+'-'+(++index) )
	p This is a <a href="#navigation">secondary menu location</a>.
	p Can be <a href="#customizer">customized</a> in #[+mark( 'nav', 'Appearance', 'Customize', 'Menus' )].
	+back_to( 'image', topic_href )

+details( 'Social Links menu', topic_href+'-'+(++index) )
	p This is a <a href="#social-links">social links menu location</a>.
	p Can be <a href="#customizer">customized</a> in #[+mark( 'nav', 'Appearance', 'Customize', 'Menus' )].
	p Once you set the social links menu correctly, you can also display social links anywhere on the website using "Custom Menu" widget.
	+back_to( 'image', topic_href )

+details( 'Header Widgets', topic_href+'-'+(++index) )
	p A <a href="#sidebars">widgetized area</a>, its content can be set in #[+mark( 'nav', 'Appearance', 'Customize', 'Widgets' )].
	p Colors can be <a href="#customizer">customized</a> in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Colors: Header' )].
	p You can control the appearance with <a href="#content-aware-sidebars">Content Aware Sidebars plugin</a>.
	+back_to( 'image', topic_href )

+details( 'Intro section', topic_href+'-'+(++index) )
	p A specially styled, main, dominant <a href="#page-intro">page title section</a>. You can control its display with <a href="#page-templates">page template</a> or <a href="#custom-fields">custom fields</a>.
	p Colors can be <a href="#customizer">customized</a> in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Colors: Intro' )].
	p For information about displaying intro image and/or video please read <a href="#page-intro">section about page intro</a>.
	+back_to( 'image', topic_href )

+details( 'Page title', topic_href+'-'+(++index) )
	p Displays a page, post, custom post type, archive page, search results page title.
	p If you want to disable this title, use a <a href="#page-templates">page template</a> or <a href="#custom-fields">custom fields</a>.
	+back_to( 'image', topic_href )

+details( 'Subtitle', topic_href+'-'+(++index) )
	p Please use <a href="https://wordpress.org/plugins/wp-subtitle/"><strong>WP Subtitle</strong> plugin</a> to allow this feature.
	+back_to( 'image', topic_href )

+details( 'Excerpt', topic_href+'-'+(++index) )
	p Displays <a href="#posts">post</a> or <a href="#page-excerpt">page excerpt</a> or archive page description (a taxonomy term description, such as category description, or author biographical info, if previewing an author archive).
	+back_to( 'image', topic_href )

+details( 'Intro Widgets', topic_href+'-'+(++index) )
	p A <a href="#sidebars">widgetized area</a>, its content can be set in #[+mark( 'nav', 'Appearance', 'Customize', 'Widgets' )].
	p Colors can be <a href="#customizer">customized</a> in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Colors: Intro' )].
	p You can control the appearance with a <a href="#page-templates">page template</a> or a <a href="#custom-fields">custom field</a> and <a href="#content-aware-sidebars">Content Aware Sidebars plugin</a>.
	+back_to( 'image', topic_href )

+details( 'Enhanced Text widget', topic_href+'-'+(++index) )
	p The theme <a href="#sidebars-enhancements">enhances Text widget</a> with a custom icon and/or featured image setup fields.
	+back_to( 'image', topic_href )

+details( 'Content', topic_href+'-'+(++index) )
	p A content area - displays page, post and custom post content, page builder content, blog and other posts listings.
	p Colors can be <a href="#customizer">customized</a> in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Colors: Content' )].
	+back_to( 'image', topic_href )

+details( 'Footer', topic_href+'-'+(++index) )
	p Footer area of the website.
	p Colors and background image can be <a href="#customizer">customized</a> in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Colors: Footer' )].
	p Layout (making it fullwidth or boxed) can be customized in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Layout' )].
	+back_to( 'image', topic_href )

+details( 'Breadcrumbs', topic_href+'-'+(++index) )
	p Use a plugin to display <a href="#breadcrumbs">breadcrumbs navigation</a>.
	p If Breadcrumb NavXT plugin is installed and activated, you can control the breadcrumbs display in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Layout' )].
	+back_to( 'image', topic_href )

+details( 'Footer menu', topic_href+'-'+(++index) )
	p This is a <a href="#navigation">footer menu location</a>. It displays a search form automatically.
	p Can be <a href="#customizer">customized</a> in #[+mark( 'nav', 'Appearance', 'Customize', 'Menus' )].
	p Colors of this area are inherited from Footer area.
	+back_to( 'image', topic_href )

+details( 'Footer Secondary Widgets', topic_href+'-'+(++index) )
	p A <a href="#sidebars">widgetized area</a>, its content can be set in #[+mark( 'nav', 'Appearance', 'Customize', 'Widgets' )].
	p Colors can be <a href="#customizer">customized</a> in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Colors: Footer' )].
	p You can control the appearance with <a href="#content-aware-sidebars">Content Aware Sidebars plugin</a>.
	+back_to( 'image', topic_href )

+details( 'Footer Widgets', topic_href+'-'+(++index) )
	p Main content of footer consist of <a href="#sidebars">Footer Widgets area</a>, where you can add widgets in #[+mark( 'nav', 'Appearance', 'Customize', 'Widgets' )].
	p You can control the appearance with <a href="#content-aware-sidebars">Content Aware Sidebars plugin</a>.
	+back_to( 'image', topic_href )

+details( 'Credits', topic_href+'-'+(++index) )
	p Content can be <a href="#customizer">customized</a> in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Texts' )].
	p Colors of this area are inherited from Footer area.
	+back_to( 'image', topic_href )

+back_to( 'topics', '#anatomy' )
