ol#anatomy-topics.list-topics
	li
		a( href="#anatomy-basics" ) <strong>Basics</strong> (site container, header, intro, footer)
	li
		a( href="#anatomy-page" ) <strong>Page</strong> content
	li
		a( href="#anatomy-archives" ) <strong>Blog</strong>, archives, search results
	li
		a( href="#anatomy-post" ) <strong>Post</strong> content
	li
		a( href="#anatomy-cpt" ) <strong>Custom post</strong> types
	li
		a( href="#anatomy-shop" ) <strong>Shop</strong> content

mixin back_to( target = 'topics', href )
	if -1 == href.indexOf( '#' )
		- href = '#'+href
	if 'topics' === target
		p
			br
			a( href=href ) &uarr; Back to topics list
	else if 'image' === target
		p
			small
				a( href=href ) &uarr; Back to image
