- title   = prefix.content + 'Content Modules';
- id      = 'content-modules';
- nav[id] = title;

+section( title, id )
	p This custom post type is provided via <a href="#webman-amplifier"><strong>WebMan Amplifier</strong></a> plugin.

	p Content Modules can be used as a reusable content injection to various website areas. They can be styled as <strong>icon boxes</strong>, so they are perfect for your services, features or benefits presentation.

	+tip( 'Modifications' )
		p You can modify the layout of this post type display with <a href="#css-classes">helper CSS classes</a>.

	+tip( 'Renaming the post type' )
		p If you would like to rename this post type, use the <a href="https://wordpress.org/plugins/cpt-editor/"><strong>Custom Post Type Editor</strong></a> plugin. To rename the custom taxonomies related to this post type, use the <a href="https://wordpress.org/plugins/rename-taxonomies/"><strong>Rename Taxonomies</strong></a> plugin.

	+tip( 'Custom posts order' )
		p For custom posts order you can use a plugin, such as <a href="https://wordpress.org/plugins/intuitive-custom-post-order/"><strong>Intuitive Custom Post Order</strong></a>.
