li
	+answer( 'Custom icons set', 'icons' )

		p The theme comes bundled with 2 icons sets:

		dl.list-default
			dt <strong>Utility icons</strong>
			dd
				p The utility icons set is used by the theme internally to provide icons for post meta information, for example. These icons can not be changed easily, you can override them with custom CSS code only. The theme uses <a href="http://genericons.com/"><strong>Genericons</strong> icon set</a> as the utility icons.

			dt <strong>Content icons</strong>
			dd
				p Thanks to help of <a href="#webman-amplifier"><strong>WebMan Amplifier</strong></a> plugin, you can use a set of custom content icons, which can be changed under #[+mark( 'nav', 'Appearance', 'Icon Font' )] in your WordPress dashboard using a <a href="http://fontello.com/"><strong>Fontello</strong> online icon fonts generator</a>. These icons are then available to set in <a href="#content-modules">Content Modules</a> posts or for use anywhere on the website (just grab the icon-specific "Instant HTML" when hovering over an icon in #[+mark( 'nav', 'Appearance', 'Icon Font' )] page).

				p By default, the theme provides its own custom content icons set best suited for the theme usage purpose. If you import your own Fontello icons set, this will override the default theme icons. In case you <em>just want to add a new icons</em> to the theme's predefined set, please import the theme's <code>icelander/assets/fonts/fontello/config.json</code> file into Fontello icons font generator first (as seen in the picture below) and then select your additional icons or import your custom icons SVG into Fontello (read instructions on <a href="https://github.com/fontello/fontello/wiki">how to use Fontello</a>).

				+image( 'https://easycaptures.com/fs/uploaded/1026/5529117955.jpg', 'Importing config.json file into Fontello.com icons font generator' )
