p The theme is 100% compatible with <a href="#beaver-builder"><strong>Beaver Builder</strong> page builder</a> plugin. It is the <em>only</em> page builder plugin in which there is integration for custom theme content modules. If you are using other page builder, you will need to <a href="https://github.com/webmandesign/webman-amplifier/wiki">use shortcodes</a>.

p The theme was also tested and is working perfectly fine with other page builders and should be compatible with <strong>any</strong> decently coded page builder plugin.

p To ensure layout compatibility there is a convenient <strong>"Page builder layout" metabox</strong> (<a href="https://easycaptures.com/fs/uploaded/1021/5112036139.png" title="Metabox to modify a page or post layout. Can be found in the sidebar of page or post edit screen.">preview &raquo;</a>) where you can set <a href="#custom-fields">special custom fields</a> to prepare the page or post layout for use with your page builder. As every page builder works differently, you will need to set these options to your needs. Also, please note that when you are using Beaver Builder, this metabox is not available as the plugin works automagically without it.
