li
	+answer( 'How to add shopping cart icon', 'cart' )

		p To add shopping cart icon into your website header, or floating shopping cart popup to your website, check the <a href="#woocommerce">information about <strong>WooCommerce</strong> plugin</a>.
