+sub_section( 'Outdented Page Content' )
	p By default the theme displays the page content in 2 columns: <strong>H2 level headings in first</strong> and all the <strong>other page content in second</strong> column. This is to make the layout of the page not only prettier, but also <a href="#accessibility">more readable</a>.

	p If you, however, decide you would like to use more traditional, single column, fullwidth page content layout, you can set this in theme options in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Layout', 'Content' )].
