dt <a href="https://wordpress.org/plugins/wp-subtitle/">WP Subtitle</a>
dd You can easily add posts and pages subtitles with this plugin.

dt <a href="https://wordpress.org/plugins/woocommerce-menu-bar-cart/">Menu Cart for WooCommerce</a>
dd Displays a shopping cart button in the navigation bar.
