h4 How to display shopping cart?

p You can display shopping cart in <a href="#navigation">your website navigation</a>, or as a popup using an additional plugin. Here are some solutions we recommend:

ul
	li
		| <a href="https://wordpress.org/plugins/woocommerce-menu-bar-cart/"><strong>Menu Cart for WooCommerce</strong></a><br>
		| Use this plugin if you want to display a shopping cart icon in your website menu.<br>
		| For example, you can display the cart in <a href="#navigation">"Secondary" navigation</a> in site header.<br><br>
	li
		| <a href="https://github.com/jameskoster/woocommerce-cart-tab/releases"><strong>WooCommerce Cart Tab</strong></a> <small>(was available at <a href="https://wordpress.org/plugins/woocommerce-cart-tab/">WordPress plugin repository</a>)</small><br>
		| <a href="https://themedemos.webmandesign.eu/icelander/">Theme demo website</a> uses this plugin to display floating cart when customer adds a product to the cart. This solution creates clean, distraction-free design and displays the cart only when it is needed.<br>
		| Unfortunately, this plugin is no longer available for download via <a href="https://wordpress.org/plugins/woocommerce-cart-tab/">WordPress plugins repository<a>, but you can still <a href="https://github.com/jameskoster/woocommerce-cart-tab/releases">download it at GitHub</a>.<br><br>
		| If you would like to use a plugin from WordPress plugin repository, try <a href="https://wordpress.org/plugins/side-cart-woocommerce/"><strong>Side Cart Woocommerce</strong></a> instead, or any <a href="https://wordpress.org/plugins/search/woocommerce+cart/">similar plugin</a>.
