dt Sidebar
dd
	p This widget area is displayed on all posts, archive and search results pages, unless you leave it empty, with no widgets in it. If you want to display a sidebar on a page, use a <a href="#page-templates">"With sidebar" page template</a>. If you want to remove a sidebar from certain page(s) only, use <a href="#content-aware-sidebars">Content Aware Sidebars plugin</a> for that.


dt Header Widgets
dd
	p Use this widget area to display information in the website header area. It's useful for placing a search form and additional links (menu), for example.


dt Intro Widgets
dd
	p Use this widget area to display additional information in the <a href="#pages">intro section of the page</a>. If you want to display intro widgets also on archive pages, you can enable this in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Layout', 'Intro' )].


dt Footer Widgets
dd
	p Displays widgets in footer area of the website. This is actually your main footer section.


dt Footer Secondary Widgets
dd
	p Additional footer widgets can be used to display information above the Footer Widgets area.


dt Shop Sidebar
dd
	p (A <a href="#woocommerce">WooCommerce</a> specific widget area.) This widget area is displayed on shop page and product archive pages. It basically replaces default sidebar on those pages to make it easier to set up a shop-specific sidebar. If there are no widgets in this sidebar, it won't be displayed and shop page will take the full width.


dt Product
dd
	p (A <a href="#woocommerce">WooCommerce</a> specific widget area.) This widget area is displayed on single product page, just above the related products list.


dt Before Products List
dd
	p (A <a href="#woocommerce">WooCommerce</a> specific widget area.) This widget area is displayed on shop archive pages before the products list. It is especially suitable for <a href="https://docs.woocommerce.com/document/woocommerce-widgets/">WooCommerce filtering widgets</a>.
