:root {

	--color_accent: #dc1e35;
	--color_accent_text: #fff;
	--color_mark: #{ rgba( #dc1e35, .1 ) };
	--color_button_background: #dc1e35;
	--color_button_text: #fff;

	--color_header_background: #fffefe;
	--color_header_text: #242323;

	--color_nav_background: #242323;
	--color_nav_text: #e4e3e3;
	--color_nav_border: #{ rgba( #e4e3e3, var(--border_opacity) ) };

	--color_content_background: #fdfcfc;
	--color_content_headings: #242323;
	--color_content_text: #6f6e6e;
	--color_content_border: #{ rgba( #6f6e6e, var(--border_opacity) ) };

}
