/* FILE: content/reset/_reset.scss */

html {
	box-sizing: border-box;
	overflow-y: scroll;
	// overscroll-behavior: none;
	// scroll-behavior: smooth; // Do not use this as we need immediate jump due to mobile nav.

	// @media (prefers-reduced-motion: reduce) {
	// 	scroll-behavior: auto;
	// }

}

* {
	border-color: inherit;

	&,
	&::before,
	&::after {
		box-sizing: inherit;
	}

}
