- title   = 'Navigational Menus';
- id      = 'navigation';
- nav[id] = title;

+section( title, id )

<h2 id="navigation">Navigational Menus</h2>
	<div class="section indented">

		<h3>Using Navigational Menus</h3>

			<p><strong>#{theme_name}</strong> supports WordPress Menus, so you can easily create custom navigational menus directly in <strong><em>Appearance &rarr; Menus</em></strong>.</p>
			<p>Custom menus may contain links to pages, categories, custom links or other content types (use the <a href="http://www.wpbeginner.com/glossary/screen-options/" target="_blank"><strong>"Screen Options"</strong></a> tab in upper right corner of the screen to decide which content types to show on the menu edit screen).</p>
			<p>You can specify a different navigation label for a menu item as well as other attributes. The theme supports menu item description text. To display menus on website you need to assign them to a menu locations or use a <strong>Navigation Menu</strong> widget.</p>

			<p>The theme allows you to create as many menus as you want. However these menus can be placed into predefined locations only. The theme defines these menu locations:</p>

			<dl>
				<dt><strong>Primary</strong></dt>
				<dd>
					The main navigation area in the header of the website displayed next to site logo. Can be nested and hierarchically organized (up to 4 levels deep) and you can use a <a href="#megamenu">megamenu</a> here. This is mobile-ready main site navigation menu, but you can disable the mobile menu in <strong>Appearance → Customize → Theme Options → Others</strong> if needed.
				</dd>

				<dt><strong>Secondary</strong></dt>
				<dd>
					The secondary navigation area displays on the right side of the header, before social links menu. This menu can not be nested or hierarchically organized. It is only a secondary, complementary navigation to primary menu and will be displayed as is on mobile device.

					The secondary navigation area displays on the right side of the header. Can be nested and hierarchically organized (up to 2 levels deep). It is only a secondary, complementary navigation to primary menu and will be displayed as is on mobile device. Ideal for displaying your e-shop cart (using <a href="https://wordpress.org/plugins/woocommerce-menu-bar-cart/" target="_blank"><strong>WooCommerce Menu Cart</strong></a> plugin, for example). When this menu is not set, social links menu is displayed in the header instead of it.
				</dd>

				<dt><strong>Footer</strong></dt>
				<dd>
					Menu in the footer area of the website. This menu can not be nested or hierarchically organized. A search form is displayed aside this menu area.
				</dd>

				<dt><strong>Social Links</strong></dt>
				<dd>
					Please read the <a href="#social-links">"Social Links" documentation section</a> below for more info.
				</dd>
			</dl>

		<div class="row">

			<div class="col-sm-12 col-md-6">

				<h3 id="menu">Creating a Menu</h3>

					<p>Please follow the <a href="http://codex.wordpress.org/WordPress_Menu_User_Guide" target="_blank">instructions in WordPress codex on how to create menus</a>.</p>
					<p>Helpful tutorial: <a href="#wordpress">WordPress video tutorials</a>.</p>

					<div class="alert alert-info">
						<h4>Tip: <br>Opening submenu to reverse direction</h4>
						<p>You can use a special <code>reverse-expand</code> CSS class on a menu item if you want its sub-menu to open to the other side than the theme's default.</p>
						<p><small>For this functionality you will need enable <em>CSS Classes</em> attributes in <a href="http://www.wpbeginner.com/glossary/screen-options/" target="_blank"><strong>"Screen Options"</strong></a> tab in the upper right corner of the screen.</small></p>
					</div>

					<div class="alert alert-warning">
						<h4>Tip: <br>Post type archive link</h4>
						<p>You can add any custom post type archive page link into the menu. <a href="http://easycaptures.com/fs/uploaded/1023/6040881305.png" target="_blank">Please see the image for the instructions &raquo;</a></p>
					</div>

			</div>

			<div class="col-sm-12 col-md-6">

				<h3>Menu Item Icon</h3>

					<p>To set up menu icons please use a HTML directly in the menu "Navigation Label" such as <code class="wrap">&lt;span class="icon-class" aria-hidden="true">&lt;/span> Menu label</code> (icon classes can be found in <strong><em>Appearance &rarr; Icon Font</em></strong> - you need to have <a href="#webman-amplifier">WebMan Amplifier plugin</a> installed and activated).</p>
					<img src="http://easycaptures.com/fs/uploaded/1021/3849696617.png" alt="Setting up a menu item icon" title="Setting up a menu item icon" class="frame" />

			</div>

		</div>

		<h3 id="megamenu">Megamenu</h3>

			<div class="row">

				<div class="col-sm-12 col-md-6">

					<div class="alert alert-warning">
						For this functionality you will need to set the menu item <em>CSS Classes</em> attributes. To enable this attribute, check it in <a href="http://www.wpbeginner.com/glossary/screen-options/" target="_blank"><strong>"Screen Options"</strong></a> tab in the upper right corner of the screen.
					</div>

					<p class="uppercase">With built in simple megamenu functionality you can display submenu items laid out into multiple columns.</p>

					<ol>
						<li>
							<p>To create a megamenu from submenu items just set a <code>megamenu</code> class on the <strong style="color: #c66a53;">1st level menu item</strong>. This <strong style="color: #c66a53;">1st level menu item</strong> essentially becomes a wrapper and trigger for your megamenu. Number of columns will be set automatically.</p>
							<img src="https://www.dropbox.com/s/6d62gfzxs018bmv/megamenu-1.png?dl=1" class="frame" alt="" title="Megamenu 1st level menu item display on the website" />
						</li>
						<li>
							<p>Then the <strong style="color: #0aac8e;">2nd level menu items</strong> (first children) becomes captions/titles/headings of the megamenu columns.</p>

							<div class="alert alert-info">
								<p><strong>TIP:</strong> You can hide any menu item by <a href="http://easycaptures.com/fs/uploaded/892/0953422549.png" target="_blank">applying a <code>hide</code> class</a> on it. This is great for hiding megamenu column captions.</p>
							</div>

							<img src="https://www.dropbox.com/s/g1vp0m5o9e58mna/megamenu-2.png?dl=1" class="frame" alt="" title="Megamenu 2nd level menu item display on the website" />
						</li>
						<li>
							<p>Finally, the <strong style="color: #3b89af;">3rd level menu items</strong> (second children) within your megamenu are the actual column menu items. So, you should set these for each column (for each 2nd level menu item).</p>
							<img src="https://www.dropbox.com/s/oh6f8hpsahfh2qp/megamenu-3.png?dl=1" class="frame" alt="" title="Megamenu 3rd level menu item display on the website" />
						</li>
					</ol>

				</div>

				<div class="col-sm-12 col-md-6">

					<a href="https://www.dropbox.com/s/2y5kw9kg3uip9k5/megamenu-setup.png" target="_blank">
						<img src="https://www.dropbox.com/s/2y5kw9kg3uip9k5/megamenu-setup.png?dl=1" class="frame" alt="" title="Megamenu setup - read below for instructions" />
					</a>

				</div>

			</div>

	</div>
