h3#anatomy-shop.counter-reset-numbers <strong>Shop</strong> content

- var topic_href = "anatomy-shop"
- var index = 0;

p You need <a href="#woocommerce"><strong>WooCommerce</strong> plugin</a> to enable this functionality.

// http://www.image-map.net/
+map( 'https://www.dropbox.com/s/61th4nuwhlppdta/shop-content.jpg', 'Theme anatomy: Shop content' )
	area( href="#"+topic_href+"-1"  coords="0,52,1200,153"      title="1. Intro section" )
	area( href="#"+topic_href+"-2"  coords="40,170,335,264"     title="2. Shop page content" )
	area( href="#"+topic_href+"-3"  coords="38,281,344,723"     title="3. Products list" )
	area( href="#"+topic_href+"-4"  coords="353,170,560,605"    title="4. Shop Sidebar" )
	area( href="#"+topic_href+"-5"  coords="636,181,889,400"    title="5. Featured image" )
	area( href="#"+topic_href+"-6"  coords="639,481,925,400"    title="6. Product gallery" )
	area( href="#"+topic_href+"-7"  coords="1163,244,934,426"   title="7. Product short description" )
	area( href="#"+topic_href+"-8"  coords="890,177,1073,243"   title="8. Sharing buttons" )
	area( href="#"+topic_href+"-9"  coords="695,539,1102,481"   title="9. Product tabs" )
	area( href="#"+topic_href+"-10" coords="680,764,1111,544"   title="10. Product description" )
	area( href="#"+topic_href+"-11" coords="607,777,1191,1046"  title="11. Up-sell products" )
	area( href="#"+topic_href+"-12" coords="611,1056,1191,1331" title="12. Related products" )
	area( href="#"+topic_href+"-13" coords="85,886,481,985"     title="13. Checkout guide" )
	area( href="#"+topic_href+"-14" coords="82,1277,498,987"    title="14. Cart and Checkout page" )
	area( href="#"+topic_href+"-15" coords="76,1349,517,1720"   title="15. My Account page" )

p <small>(Click the item below to reveal more info. Click the image to preview a bigger size.)</small>

+details( 'Intro section', topic_href+'-'+(++index) )
	p <strong>Product archive pages</strong> (such as a product category page) intro section display is set according to your <a href="https://docs.woocommerce.com/document/woocommerce-pages/"><strong>Shop page</strong></a> setup.
	p <strong>Single product page</strong> intro section contains shop breadcrumbs navigation, product title, product price. It does not display a product featured image. If you want to display an image in intro section on single product page, you need to use a dedicated <a href="#custom-fields">custom field</a>.
	p If you would like to display subtitles for products, use <a href="https://wordpress.org/plugins/wp-subtitle/"><strong>WP Subtitle</strong> plugin</a>.
	+back_to( 'image', topic_href )

+details( 'Shop page content', topic_href+'-'+(++index) )
	p You can set a custom content for your <a href="https://docs.woocommerce.com/document/woocommerce-pages/">shop page</a>. The content will be displayed above the products list on main products archive page then.
	+back_to( 'image', topic_href )

+details( 'Products list', topic_href+'-'+(++index) )
	p If you set widgets in <a href="#sidebars">"Shop Sidebar"</a> there will be a sidebar displayed on all product archive pages and products will be displayed in 2 columns instead of 3.

	<p class="uppercase"><strong>Product categories list</strong>
	p If you are displaying product categories, the theme conveniently separates categories from products list (which is a WooCommerce default display) for you, displaying categories first.
	p Please note that you need to have a <em>"Show categories & products"</em> set for <strong>Shop Page Displays</strong> (and <em>"Show subcategories & products"</em> set for <strong>Default Category Display</strong>) in your <a href="https://docs.woocommerce.com/document/configuring-woocommerce-settings/">WooCommerce products display settings</a> for this feature to be enabled.
	+back_to( 'image', topic_href )

+details( 'Shop Sidebar', topic_href+'-'+(++index) )
	p The <a href="#sidebars">Shop sidebar</a> is displayed on product archive pages only if you set some widgets in it.
	p There is no sidebar displayed on single product page to reduce a clutter and focus visitor on the product details and purchase action.
	p Shop Sidebar is a <a href="#sidebars">widgetized area</a>, its content can be set in #[+mark( 'nav', 'Appearance', 'Customize', 'Widgets' )].
	+back_to( 'image', topic_href )

+details( 'Featured image', topic_href+'-'+(++index) )
	p Product featured image is displayed in products list, as well as on single product page. It is the main image displaying your product, so please make sure you always set it up.
	p Please see FAQ section for more <a href="#image-sizes">information on image sizes</a>.
	+back_to( 'image', topic_href )

+details( 'Product gallery', topic_href+'-'+(++index) )
	p If you would like to display more images of the product, use a <a href="https://docs.woocommerce.com/document/adding-product-images-and-galleries/">product image gallery</a>.
	p Please see FAQ section for more <a href="#image-sizes">information on image sizes</a>.
	p The theme is also compatible with <a href="https://wordpress.org/plugins/woocommerce-product-image-flipper/"><strong>WooCommerce Product Image Flipper</strong> plugin</a> which displays the additional image (the first one from product image gallery) when hovering a product in products listing. The theme changes the hover effect of the plugin to a custom one, though.
	+back_to( 'image', topic_href )

+details( 'Product short description', topic_href+'-'+(++index) )
	p Set this on your product edit screen. Please see <a href="https://docs.woocommerce.com/document/managing-products/">WooCommerce documentation</a> for more info.
	+back_to( 'image', topic_href )

+details( 'Sharing buttons', topic_href+'-'+(++index) )
	p To enable product sharing buttons, please use <a href="#jetpack"><strong>Jetpack</strong></a> plugin's <a href="https://jetpack.com/support/sharing/">sharing module</a>.
	+back_to( 'image', topic_href )

+details( 'Product tabs', topic_href+'-'+(++index) )
	p Set this on your product edit screen. Please see <a href="https://docs.woocommerce.com/document/managing-products/">WooCommerce documentation</a> for more info.
	+back_to( 'image', topic_href )

+details( 'Product description', topic_href+'-'+(++index) )
	p Set this on your product edit screen. Please see <a href="https://docs.woocommerce.com/document/managing-products/">WooCommerce documentation</a> for more info.
	p Please note that the product description width is set for best readability. If you would like to override this, use a page builder to build the product description content.
	p You can also use a <a href="#beaver-builder">page builder</a> to create some interesting product description layouts. You can use <a href="#any-page-builder">any page builder</a> plugin (but we recommend using powerful, optimized and easy to use <a href="#beaver-builder"><strong>Beaver Builder</strong> page builder plugin</a>), but please note that you will probably need to <strong>enable the page builder for WordPress posts</strong> first. (For Beaver Builder go to #[+mark( 'nav', 'Settings', 'Page Builder', 'Post Types' )].) Also, please note that before enabling page builder on the specific product, you <strong>have to add some text to product description (content area) first</strong>.
	+back_to( 'image', topic_href )

+details( 'Up-sell products', topic_href+'-'+(++index) )
	p Set this on your product edit screen. Please see <a href="https://docs.woocommerce.com/document/related-products-up-sells-and-cross-sells/">WooCommerce documentation</a> for more info.
	+back_to( 'image', topic_href )

+details( 'Related products', topic_href+'-'+(++index) )
	p Set this on your product edit screen. Please see <a href="https://docs.woocommerce.com/document/related-products-up-sells-and-cross-sells/">WooCommerce documentation</a> for more info.
	+back_to( 'image', topic_href )

+details( 'Checkout guide', topic_href+'-'+(++index) )
	p The theme provides a convenient checkout guide displaying steps of purchase process on a <a href="https://docs.woocommerce.com/document/woocommerce-pages/">cart page, checkout page</a> and order received page.
	p You can enable or disable it in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Shop' )].
	+back_to( 'image', topic_href )

+details( 'Cart and Checkout page', topic_href+'-'+(++index) )
	p Once you set these pages according to <a href="https://docs.woocommerce.com/document/woocommerce-pages/">WooCommerce documentation</a>, you can treat the cart and checkout page the same way as <a href="#pages">other WordPress pages</a>.
	+back_to( 'image', topic_href )

+details( 'My Account page', topic_href+'-'+(++index) )
	p Please see <a href="https://docs.woocommerce.com/document/woocommerce-pages/">WooCommerce documentation</a> for more info on how to set up this page.
	+back_to( 'image', topic_href )

+back_to( 'topics', '#anatomy' )
