dt Primary
dd
	p This is the main navigation in the header of the website.
	p Menu in this location can be nested and hierarchically organized (up to 4 levels deep) and you can also use a <a href="#megamenu">simple megamenu functionality</a> here.
	p It is also mobile-ready menu and, if needed, mobile functionality can be disabled at #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Others' )].


dt Secondary
dd
	p The secondary navigation area displays on the right side of the header, before social links menu.
	p This menu can not be nested or hierarchically organized. It is only a secondary, complementary navigation to primary menu and will be displayed as is on mobile device.


dt Social Links
dd
	p Please read the <a href="#social-links">"Social Links" documentation section</a> below for more info.
