+sub_section( 'Outdented Page Content' )
	+important( 'Not applicable with block editor' )
		p This theme was created before advanced <a href="#editor">block editor</a> was included in WordPress. It introduced outdented content to make it more interesting and <a href="#accessibility">readable</a> and such layout was not easily recreatable with <a href="https://wordpress.org/plugins/classic-editor/">classic editor</a>.
		p If you are using <a href="#editor">block editor</a> on your website nowadays, you can ignore this info and/or disable the outdented content in theme options as described below.

	p By default the theme displays the page content in 2 columns: <strong>H2 level headings in first</strong> and all the <strong>other page content in second</strong> column. This is to make the layout of the page not only prettier, but also <a href="#accessibility">more readable</a>.

	p If you, however, decide you would like to use more traditional, single column, fullwidth page content layout, you can set this in theme options in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Layout', 'Content' )].
