dt Sidebar
dd
	p This widget area is displayed on all posts, archive and search results pages, unless you leave it empty, with no widgets in it.
	p If you want to display a sidebar on a page, use a <a href="#page-templates">"With sidebar" page template</a>.
	p If you want to remove a sidebar from certain page(s) only, use a <a href="#manage-sidebars">sidebar management plugin</a> for that.


dt Intro Widgets
dd
	p Use this widget area to display additional information in the <a href="#page-intro">intro section of the page</a>. If you want to display intro widgets also on archive pages, you can enable this in #[+mark( 'nav', 'Appearance', 'Customize', 'Theme Options', 'Layout', 'Intro' )].


dt Footer Widgets
dd
	p Displays widgets in footer area of the website. This is actually your main footer section.


dt Shop Sidebar
dd
	p (A <a href="#woocommerce">WooCommerce</a> specific widget area.)
	p This widget area is displayed on shop page and product archive pages. It basically replaces default sidebar on those pages to make it easier to set up a shop-specific sidebar.
	p If there are no widgets in this sidebar, it won't be displayed and shop page will take the full width.
