:root {
  --color_accent: #273a7d;
  --color_mark: rgba(39, 58, 125, 0.1);
  --color_button_background: #273a7d;
  --color_button_text: #fefeff;
  --color_header_background: #fefeff;
  --color_header_text: #232324;
  --color_nav_background: #0f1732;
  --color_nav_text: #d3d3d4;
  --color_nav_border: rgba(211, 211, 212, var(--border_opacity));
  --color_content_background: #fefeff;
  --color_content_headings: #232324;
  --color_content_text: #535354;
  --color_content_border: rgba(83, 83, 84, var(--border_opacity));
}

.intro {
  isolation: isolate;
}
.intro::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("includes/bg.png");
  background-position: 50% 50%;
  background-size: cover;
  mix-blend-mode: multiply;
  opacity: 0.6;
  z-index: -1;
}

.entry-title {
  color: #fff;
}