h3#anatomy-page.counter-reset-numbers <strong>Page</strong> content

p <small>(Click the item below to reveal more info. Click the image to preview a bigger size.)</small>

+details( 'Homepage and Blog page', 'anatomy-page-' )
	p Set up your website <a href="#pages">front and blog page</a> in WordPress <strong><em>Appearance &raquo; Customize &raquo; Static Front Page</em></strong> settings (or in <strong><em>Settings &raquo; Reading</em></strong>).

+details( 'Page featured image', 'anatomy-page-' )
	p Page featured image is displayed in <a href="#page-intro">intro section</a>. On front page this can be <a href="#page-intro">replaced with video background</a>. Also, please note that front page displays intro section in different style - <a href="#page-intro">read more in Pages section of this documentation</a>.
	p Featured image is also displayed in the list of child pages. Please see <a href="#page-templates">"List child pages" page template</a> for more details.
	p Please see FAQ section for more <a href="#image-sizes">information on image sizes</a>.

+details( 'Page excerpt', 'anatomy-page-' )
	p If you set a <a href="#page-excerpt">page excerpt</a>, this will be displayed in intro section of the page.
	p Excerpt is also used in a list of child pages. Please see <a href="#page-templates">"List child pages" page template</a> for more details.

+details( 'Intro Widgets', 'anatomy-page-' )
	p A <a href="#widgets">widgetized area</a>, its content can be set in <strong><em>Appearance &raquo; Customize &raquo; Widgets</em></strong>.
	p Colors can be <a href="#customizer">customized</a> in <strong><em>Appearance &raquo; Customize &raquo; Theme Options &raquo; Colors: Intro</em></strong>.
	p You can control the appearance with a <a href="#page-templates">page template</a> or a <a href="#custom-fields">custom field</a> and <a href="#content-aware-sidebars">Content Aware Sidebars plugin</a>.

+details( 'Page content & sidebar', 'anatomy-page-' )
	p For more info please see <a href="#pages">Pages</a> section of this user manual.
	p You can optionally <a href="#page-templates">display a sidebar on a page</a>, which is a <a href="#widgets">widgetized area</a> and its content can be set in <strong><em>Appearance &raquo; Customize &raquo; Widgets</em></strong>.
	p If you would like to replace sidebar on a specific page with a different one or just remove it, use <a href="#content-aware-sidebars"><strong>Content Aware Sidebars</strong> plugin</a>. It is a great way to control and alter your website layout.

+details( 'Child pages list', 'anatomy-page-' )
	p Please see <a href="#page-templates">"List child pages" page template</a> for more details.

+details( 'Page templates & Page builder', 'anatomy-page-' )
	p There are various <a href="#page-templates">page templates</a> available for use with this theme. Such as when you're creating a special landing page and would like to remove header and footer from the page use the <a href="#page-templates">"Blank" page template</a>.
	p For creating a more complex page layouts please use a (<a href="#page-builder">any</a>) page builder plugin (we recommend using powerful, optimized and easy to use <a href="#beaver-builder"><strong>Beaver Builder</strong> page builder plugin</a>).

p <br><a href="#anatomy">&uarr; Back to anatomy topic selection</a>
