h3#anatomy-basics.counter-reset-numbers <strong>Basics</strong> <small>(site container, header, intro, footer)</small>

p <small>(Click the item below to reveal more info. Click the image to preview a bigger size.)</small>

+details( 'Site layout', 'anatomy-basics-' )
	p Can be <a href="#customizer">customized</a> in <strong><em>Appearance &raquo; Customize &raquo; Theme Options &raquo; Layout</em></strong>. You can set boxed or fullwidth layout, set custom website width.
	p You can also <a href="#fonts">use any font</a> on the website.
	p All the theme related customization options can be found in <a href="#customizer"><strong><em>Appearance &raquo; Customize &raquo; Theme Options</em></strong></a>.

+details( 'Header', 'anatomy-basics-' )
	p Colors can be <a href="#customizer">customized</a> in <strong><em>Appearance &raquo; Customize &raquo; Theme Options &raquo; Colors: Header</em></strong>.
	p Layout (making it sticky during scrolling up, fullwidth or boxed) can be customized in <strong><em>Appearance &raquo; Customize &raquo; Theme Options &raquo; Layout</em></strong>.

+details( 'Logo', 'anatomy-basics-' )
	p Can be <a href="#customizer">customized</a> in <strong><em>Appearance &raquo; Customize &raquo; Site Identity</em></strong>. Don't forget to define your logo image max height.

+details( 'Primary menu', 'anatomy-basics-' )
	p This is a mobile-ready <a href="#navigation">primary menu location</a>.
	p Can be <a href="#customizer">customized</a> in <strong><em>Appearance &raquo; Customize &raquo; Menus</em></strong>.
	p If you want to disable the mobile menu functionality, you can do so in <strong><em>Appearance &raquo; Customize &raquo; Theme Options &raquo; Others &raquo; "Disable mobile navigation"</em></strong>.

+details( 'Secondary menu', 'anatomy-basics-' )
	p This is a <a href="#navigation">secondary menu location</a>.
	p Can be <a href="#customizer">customized</a> in <strong><em>Appearance &raquo; Customize &raquo; Menus</em></strong>.

+details( 'Social Links menu', 'anatomy-basics-' )
	p This is a <a href="#social-links">social links menu location</a>.
	p Can be <a href="#customizer">customized</a> in <strong><em>Appearance &raquo; Customize &raquo; Menus</em></strong>.
	p Once you set the social links menu correctly, you can also display social links anywhere on the website using "Custom Menu" widget.

+details( 'Header Widgets', 'anatomy-basics-' )
	p A <a href="#widgets">widgetized area</a>, its content can be set in <strong><em>Appearance &raquo; Customize &raquo; Widgets</em></strong>.
	p Colors can be <a href="#customizer">customized</a> in <strong><em>Appearance &raquo; Customize &raquo; Theme Options &raquo; Colors: Header</em></strong>.
	p You can control the appearance with <a href="#content-aware-sidebars">Content Aware Sidebars plugin</a>.

+details( 'Intro section', 'anatomy-basics-' )
	p A specially styled, main, dominant <a href="#page-intro">page title section</a>. You can control its display with <a href="#page-templates">page template</a> or <a href="#custom-fields">custom fields</a>.
	p Colors can be <a href="#customizer">customized</a> in <strong><em>Appearance &raquo; Customize &raquo; Theme Options &raquo; Colors: Intro</em></strong>.
	p For information about displaying intro image and/or video please read <a href="#page-intro">section about page intro</a>.

+details( 'Page title', 'anatomy-basics-' )
	p Displays a page, post, custom post type, archive page, search results page title.
	p If you want to disable this title, use a <a href="#page-templates">page template</a> or <a href="#custom-fields">custom fields</a>.

+details( 'Subtitle', 'anatomy-basics-' )
	p Please use <a href="#wp-subtitle"><strong>WP Subtitle</strong> plugin</a> to allow this feature.

+details( 'Excerpt', 'anatomy-basics-' )
	p Displays <a href="#posts">post</a> or <a href="#page-excerpt">page excerpt</a> or archive page description (a taxonomy term description, such as category description, or author biographical info, if previewing an author archive).

+details( 'Intro Widgets', 'anatomy-basics-' )
	p A <a href="#widgets">widgetized area</a>, its content can be set in <strong><em>Appearance &raquo; Customize &raquo; Widgets</em></strong>.
	p Colors can be <a href="#customizer">customized</a> in <strong><em>Appearance &raquo; Customize &raquo; Theme Options &raquo; Colors: Intro</em></strong>.
	p You can control the appearance with a <a href="#page-templates">page template</a> or a <a href="#custom-fields">custom field</a> and <a href="#content-aware-sidebars">Content Aware Sidebars plugin</a>.

+details( 'Enhanced Text widget', 'anatomy-basics-' )
	p The theme <a href="#widgets-enhancements">enhances Text widget</a> with a custom icon and/or featured image setup fields.

+details( 'Content', 'anatomy-basics-' )
	p A content area - displays page, post and custom post content, page builder content, blog and other posts listings.
	p Colors can be <a href="#customizer">customized</a> in <strong><em>Appearance &raquo; Customize &raquo; Theme Options &raquo; Colors: Content</em></strong>.

+details( 'Footer', 'anatomy-basics-' )
	p Footer area of the website.
	p Colors and background image can be <a href="#customizer">customized</a> in <strong><em>Appearance &raquo; Customize &raquo; Theme Options &raquo; Colors: Footer</em></strong>.
	p Layout (making it fullwidth or boxed) can be customized in <strong><em>Appearance &raquo; Customize &raquo; Theme Options &raquo; Layout</em></strong>.

+details( 'Breadcrumbs', 'anatomy-basics-' )
	p Use a plugin to display <a href="#breadcrumbs">breadcrumbs navigation</a>.
	p If Breadcrumb NavXT plugin is installed and activated, you can control the breadcrumbs display in <strong><em>Appearance &raquo; Customize &raquo; Theme Options &raquo; Layout</em></strong>.

+details( 'Footer menu', 'anatomy-basics-' )
	p This is a <a href="#navigation">footer menu location</a>. It displays a search form automatically.
	p Can be <a href="#customizer">customized</a> in <strong><em>Appearance &raquo; Customize &raquo; Menus</em></strong>.
	p Colors of this area are inherited from Footer area.

+details( 'Footer Secondary Widgets', 'anatomy-basics-' )
	p A <a href="#widgets">widgetized area</a>, its content can be set in <strong><em>Appearance &raquo; Customize &raquo; Widgets</em></strong>.
	p Colors can be <a href="#customizer">customized</a> in <strong><em>Appearance &raquo; Customize &raquo; Theme Options &raquo; Colors: Footer</em></strong>.
	p You can control the appearance with <a href="#content-aware-sidebars">Content Aware Sidebars plugin</a>.

+details( 'Footer Widgets', 'anatomy-basics-' )
	p Main content of footer consist of <a href="#widgets">Footer Widgets area</a>, where you can add widgets in <strong><em>Appearance &raquo; Customize &raquo; Widgets</em></strong>.
	p You can control the appearance with <a href="#content-aware-sidebars">Content Aware Sidebars plugin</a>.

+details( 'Credits', 'anatomy-basics-' )
	p Content can be <a href="#customizer">customized</a> in <strong><em>Appearance &raquo; Customize &raquo; Theme Options &raquo; Texts</em></strong>.
	p Colors of this area are inherited from Footer area.

p <br><a href="#anatomy">&uarr; Back to anatomy topic selection</a>
