h3#anatomy-archives.counter-reset-numbers <strong>Blog</strong>, archives, search results

p <small>(Click the item below to reveal more info. Click the image to preview a bigger size.)</small>

+details( 'Blog page', 'anatomy-archives-' )
	p By default <a href="#wordpress">WordPress</a> displays blog posts listing on your website homepage. If you would like to set up a static homepage and use a different page for a blog posts listing, set it up in <a href="#pages"><strong><em>Appearance &raquo; Customize &raquo; Static Front Page</em></strong></a> settings (or in <strong><em>Settings &raquo; Reading</em></strong>).
	p The style of blog and archive page posts listing can be set in <strong><em>Appearance &raquo; Customize &raquo; Theme Options &raquo; Blog</em></strong>.

+details( 'Archive page title', 'anatomy-archives-' )
	p Intro section on archive pages display the archive title and archive description (a taxonomy term description, such as category description, or author biographical info, if it is an author archive).
	p You can customize the archive title using <a href="https://wordpress.org/plugins/archive-title/">Archive Title</a> plugin.

+details( 'Featured media', 'anatomy-archives-' )
	p By default all posts display a post featured image.
	p Please see FAQ section for more <a href="#image-sizes">information on image sizes</a>.

+details( 'Post title and subtitle', 'anatomy-archives-' )
	p Title of the post.
	p If you would like to display subtitles, use <a href="#wp-subtitle"><strong>WP Subtitle</strong> plugin</a>.

+details( 'Post meta', 'anatomy-archives-' )
	p Such as post publish date, post author name, number of comments...

+details( 'Post excerpt', 'anatomy-archives-' )
	p Automatic WordPress <a href="#posts">post excerpt</a> can be overridden per post basis.

+details( 'Sidebar', 'anatomy-archives-' )
	p The theme displays sidebar on each single post page, single custom post type page, blog page, archive page and search results page.
	p Sidebar is a <a href="#widgets">widgetized area</a>, its content can be set in <strong><em>Appearance &raquo; Customize &raquo; Widgets</em></strong>.
	p If you would like to replace sidebar on a specific page with a different one or just remove it, use <a href="#content-aware-sidebars"><strong>Content Aware Sidebars</strong> plugin</a>. It is a great way to control and alter your website layout.

+details( 'Search results', 'anatomy-archives-' )
	p This page has a special layout, different from post archive pages (depending on the blog style you have chosen, actually), to allow for easier scanning.
	p In case you need to refine your search, there is a search form conveniently displayed on top of search results listing.
	p Each post type displays differently in search results page.

p <br><a href="#anatomy">&uarr; Back to anatomy topic selection</a>
