h3#anatomy-cpt.counter-reset-numbers <strong>Custom post</strong> types

p You need <a href="#webman-amplifier"><strong>WebMan Amplifier</strong> plugin</a> to enable this functionality.

p <small>(Click the item below to reveal more info. Click the image to preview a bigger size.)</small>

+details( 'Archive pages', 'anatomy-cpt-' )
	p The theme is compatible with <a href="#webman-amplifier"><strong>WebMan Amplifier</strong> plugin</a>, which allows you to use several different custom post types: <a href="#projects">Projects</a>, <a href="#staff">Staff</a>, <a href="#testimonials">Testimonials</a>, <a href="#content-modules">Content Modules</a>.
	p While Content Modules is a helper post type with no archive page, the theme can display <a href="#projects">Projects</a>, <a href="#staff">Staff</a> and <a href="#testimonials">Testimonials</a> posts archive pages.
	p Projects can be even <a href="#projects">displayed in different style</a>.
	p (Other post types can be added by a different plugins. If you want to sell products, please use <a href="#woocommerce"><strong>WooCommerce</strong> plugin</a>.)

+details( 'Taxonomy filters', 'anatomy-cpt-' )
	p <a href="#projects">Projects</a> and <a href="#staff">Staff</a> posts display a filter from their taxonomies on archive pages.
	p A taxonomy can also display on specific posts in the custom post type posts list. This depends on the custom post type and on the taxonomies you have assigned to it (such as project category, project tags, staff department or specialty).

+details( 'Post featured image', 'anatomy-cpt-' )
	p It is displayed differently for each custom post type. We suggest to set them for each post.
	p You can <a href="#custom-fields">disable it on single post page or use a custom one</a>.
	p Please see FAQ section for more <a href="#image-sizes">information on image sizes</a>.

+details( 'Post title', 'anatomy-cpt-' )
	p By default the Testimonial posts display their title as a cite source. You can override this by setting a custom source, though.
	p If you would like to display subtitles, use <a href="#wp-subtitle"><strong>WP Subtitle</strong> plugin</a>.

+details( 'Post excerpt', 'anatomy-cpt-' )
	p Custom post excerpt is displayed in intro section on all custom post type single pages (except for <a href="#testimonials">Testimonials</a>).
	p <a href="#staff">Staff</a> post excerpt is displayed also in posts listing, and if the Staff post contains some content, a "Nice to meet you!" button is displayed too. After clicking the button you get to single Staff post page.
	p <a href="#projects">Project</a> post does not display excerpt in posts listing.

+details( 'Post content', 'anatomy-cpt-' )
	p <a href="#projects">Project</a> or <a href="#staff">Staff</a> post content. You can <a href="#formats">use "Formats" button</a> for some special styles.
	p With <a href="#projects">Project</a> post type you can also use a special <a href="#project-templates">"Project layout" post type template</a> to display the project content and media in a specific way.
	p You can also use a <a href="#beaver-builder">page builder</a> to create some interesting post layouts.

+details( 'Page builder', 'anatomy-cpt-' )
	p For creating a more complex custom post layouts please use a (<a href="#page-builder">any</a>) page builder plugin (we recommend using powerful, optimized and easy to use <a href="#beaver-builder"><strong>Beaver Builder</strong> page builder plugin</a>).
	p Please note that you will probably need to <strong>enable the custom post type in your page builder settings</strong> first! (For Beaver Builder go to <strong><em>Settings &raquo; Page Builder &raquo; Post Types</em></strong>.)
	p If you would like to remove the intro section for the custom post type, use a <a href="#page-templates">post type page template</a> or a specific <a href="#custom-fields">custom field</a>.

+details( 'Sharing buttons', 'anatomy-cpt-' )
	p To enable custom post sharing buttons, please use <a href="#jetpack"><strong>Jetpack</strong></a> plugin's <a href="https://jetpack.com/support/sharing/">sharing module</a>.

+details( 'Posts navigation', 'anatomy-cpt-' )
	p Displays links to previous and next post.

+details( 'Sidebar', 'anatomy-cpt-' )
	p The theme displays sidebar on each single custom post type page and archive page.
	p Sidebar is a <a href="#widgets">widgetized area</a>, its content can be set in <strong><em>Appearance &raquo; Customize &raquo; Widgets</em></strong>.
	p If you would like to replace sidebar on a specific post with a different one or just remove it, use <a href="#content-aware-sidebars"><strong>Content Aware Sidebars</strong> plugin</a>. It is a great way to control and alter your website layout.

p <br><a href="#anatomy">&uarr; Back to anatomy topic selection</a>
