dt Shop Sidebar
dd
	p (A <a href="#woocommerce">WooCommerce</a> specific widget area.) This widget area is displayed on shop page and product archive pages. If there are no widgets in this sidebar, it won't be displayed and shop page will take the full width.
