dt "With intro widgets"
dd
	p There is an additional <a href="#widgets"><em>"Intro Widgets"</em> widget area</a> displayed in the intro section of this page template. No intro widgets are displayed when the intro section is not displayed on the page or there are no widgets set in <em>"Intro Widgets"</em> sidebar.
