dt "List child pages"
dd
	p Please set this page template <strong>for a parent page only</strong>.

	p It will display a list of child pages below the actual (parent) page content. You can tweak each child page display by <a href="#custom-fields">setting the corresponding page options</a>.

	p There will be a page <strong>featured image</strong> (you can then even set a different intro image displayed on the actual page with a dedicated <a href="#custom-fields">custom field</a>), page <strong>title</strong>, page <strong>excerpt</strong> and optional <strong>"Continue reading" button</strong> displayed. "Continue reading" button is displayed only if the page has some content.

	p To set up a child page excerpt please use the "Excerpt" field on page edit screen.

	p If you would like to custom order your child pages, use <a href="https://codex.wordpress.org/Pages_Add_New_Screen">page "Order" attribute</a>. Or you can <a href="#plugins-others">use a plugin</a> for this, such as <em>Nested Pages</em> or <em>Intuitive Custom Post Order</em>.
