%screen_reader_hiding {
	@include screen_reader_hiding();
}

%shaded_background {
	// Do not use `color-mix()` here
	// as we adapt the background color in notification boxes.
	isolation: isolate;

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		background-color: currentColor;
		border-radius: inherit;
		opacity: var(--pseudo_background_opacity);
		z-index: -1;
	}
}
