+sub_section( 'Page Excerpt' )
	p The theme adds support for excerpts also to WordPress pages. Page excerpt will be displayed in page intro section as well as in other list, such as search results. (Watch <a href="https://vimeo.com/523023144">video tutorial on how to set up excerpt</a>.)
