+sub_section( 'Page Excerpt' )
	p The theme adds support for excerpts also to WordPress pages. Page excerpt will be displayed in page intro section as well as in child pages list (read more in section about <a href="#page-templates">page templates</a>).
