+sub_section( 'Setting Up Home and Blog Page' )
	ol
		li
			p Navigate to #[+mark( 'nav', 'Appearance', 'Customize', 'Homepage Settings' )] (or you can also do this at #[+mark( 'nav', 'Settings', 'Reading' )]).

		li
			p For "Your homepage displays" option set <em>"A static page"</em>.

		li
			p Select your homepage and posts page from dropdown lists. Posts page becomes your blog page.

	+tip( 'Take advantage of live preview', 'h4' )
		p Doing this in <a href="#customizer">customizer</a> gives you live preview of your changes.
