h3 Setting Up a Home and Blog Page

ol
	li
		p In WordPress admin navigate to <strong><em>Appearance &rarr; Customize &rarr; Homepage Settings</em></strong> (or to <strong><em>Settings &rarr; Reading</em></strong>).

	li
		p For <em>"Your homepage displays"</em> option set <em>"A static page (select below)"</em>.

	li
		p Select the homepage from dropdown list. This page will become your home/front page.<br>
		Select the posts page from dropdown list. This page will become your blog page.

+tip()
	p You can also do this in <a href="#customizer">Customizer</a> where you get live preview of your settings.
