+sub_section( 'Setting Up Home and Blog Page' )
	ol
		li
			p In WordPress admin navigate to #[+mark( 'nav', 'Appearance', 'Customize', 'Homepage Settings' )] (or to #[+mark( 'nav', 'Settings', 'Reading' )]).

		li
			p For <em>"Your homepage displays"</em> option set <em>"A static page (select below)"</em>.

		li
			p Select the homepage from dropdown list, then select posts page (which will become your blog page).

	+tip( 'Take advantage of live preview' )
		p You can also do this in <a href="#customizer">Customizer</a> where you get live preview of your changes.
