block pages/intro
	+sub_section( 'Page Intro', 'page-intro' )
		block pages/intro/info
			p Page intro is basically a main title area of the page. Appearance of this section can be set in <a href="#customizer">customizer</a>.

			p If you would like to remove the intro section (to set up your own page title directly in page content) use a dedicated <a href="page-templates">page template</a>.

			p By default page intro displays <strong>image</strong>, <strong>title</strong> and <strong>excerpt</strong>:

		dl.list-default
			block pages/intro/list
				dt Excerpt
				dd
					p.
						Excerpt content depends on the page you are on.
						<br>
						If it is an actual WordPress Page or Post (or any custom post type) you can <a href="https://vimeo.com/523023144">set it in dedicated <em>"Excerpt"</em> field</a>.
						<br>
						On taxonomy archive page (such as post category or tag) it displays term description which you can set in WordPress admin area.
						<br>
						If you also want to display a description text for a custom post type archive page, <a href="https://wordpress.org/plugins/post-type-archive-descriptions/">use a plugin for that</a>.

				dt Image
				dd
					p.
						Intro image is taken from your website header images that can be set in #[+mark( 'nav', 'Appearance', 'Customize', 'Header Media' )].
						<br>
						This image can be subsequently overridden by setting up a post/page featured image..
