block pages/templates
	+sub_section( 'Templates', 'page-templates' )
		block pages/templates/info
			p You can use all of the templates below on any publicly accessible post type.

		dl.list-default
			block pages/templates/list
