block pages/templates
	h3( id="page-templates" ) Page & Post Templates

	block pages/templates/info
		p You can use all of the templates below on any publicly accessible post type.

	dl
		block pages/templates/list
