/* FILE: content/menu/_active-menu-item.scss */

.site-menu {

	.is-active {

		@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
			font-weight: 700;
			background: var(--color_nav_background_active);
			color: var(--color_nav_text_active);

			&::before {
				opacity: 1;
			}

		}

	}

}
