/* FILE: content/menu/_primary.scss */

.site-menu {
	position: relative;
	padding: var(--white_space) 0;
	background: var(--color_nav_background);
	color: var(--color_nav_text);
	border-color: var(--color_nav_border);
	box-shadow: var(--drop_shadow_nav);
	z-index: 10;

	@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
		width: var(--menu_width);
		z-index: 0;
	}

	ul {
		padding: 1em 0;
		margin: 0;
		list-style: none;

		@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
			position: sticky;
			max-height: 100vh;
			top: 0;
			overflow-y: auto;
		}
	}

	li {

		&:not(:first-child) {
			border-top-width: 1px;
			border-top-style: solid;
		}
	}

	a {
		display: block;
		position: relative;
		padding: 1.5vh var(--content_padding);
		text-decoration: none;
		color: inherit;
		transition: background .15s, color .15s;

		&:not(.is-active) {

			&:hover,
			&:focus {
				background: var(--color_nav_background_hover);
				color: var(--color_nav_text_hover);
			}
		}

		&::before {
			content: '\2192'; // &rarr;
			speak: none;
			position: absolute;
			right: calc( 100% - 4vw );
			top: 49%;
			margin-right: 1em;
			opacity: 0;
			transform: translateY( -50% );
			transition: opacity .15s;
		}

		> svg,
		> strong {
			font-size: .75em;
		}

		strong {
			text-transform: uppercase;

			span {
				@extend %screen_reader_hiding;
			}
		}

		&:not(.is-active):not(:hover):not(:focus) {

			.prefix-content {
				color: var(--color_nav_prefix_content);
			}

			.prefix-customizing {
				color: var(--color_nav_prefix_customizing);
			}
		}
	}
}
