block plugins/recommended/beaver-builder
	+plugin_link( 'https://wordpress.org/plugins/beaver-builder-lite-version/' )

	p If you need a page builder with a <strong>front-end drag and drop</strong> experience, I highly recommend using Beaver Builder plugin.

	p If you are new to this page builder please check <a href="https://www.wpbeaverbuilder.com/6-beaver-builder-tutorial-videos-awesome-community/">instructional videos</a> and plugin's extensive <a href="https://docs.wpbeaverbuilder.com/">knowledge base</a>.

	+tip( 'Support WebMan Design', 'h4' )
		p By purchasing premium <a href="https://www.wpbeaverbuilder.com/fla/67/"><strong>Beaver Builder</strong> products via our link</a> we receive a share of your purchase. That way you can support WebMan Design for free! Thank you!
		p
			strong <a href="https://www.wpbeaverbuilder.com/fla/67/" title="&hellip;and support WebMan Design. Thank you!">» Purchase Beaver Builder ↗</a>
