block plugins/recommended/classic-widgets
	+plugin_link( 'https://wordpress.org/plugins/classic-widgets/' )

	p Restores the previous WordPress widgets settings screens. Sidebars and widgets are not going to be used in fully block themes in the future, so if your website still uses sidebars, it is better to use this plugin to enable classic user interface.
