block plugins/recommended/improve-search
	+plugin_link( 'https://wordpress.org/plugins/improving-search-form-accessibility/' )

	p Fixes <a href="#{config.url.accessibility}">common accessibility issue</a> with WordPress search form.
